Repository iotaledger/iota, changes with the owners that .github/CODEOWNERS names for each.
All owners: @iotaledger/l1-core, @iotaledger/boxfish, @iotaledger/tooling, @kodemartin, @miker83z, @iotaledger/dev-tools, @iotaledger/devx, @luca-moser, @lzpap, @fijter

feat(apps-ui-kit): Add Navbar organism.
  apps/ui-kit/src/lib/components/molecules/navbar-item/NavbarItem.tsx
  apps/ui-kit/src/lib/components/organisms/navbar/Navbar.tsx
  apps/ui-kit/src/lib/components/organisms/navbar/index.ts
  apps/ui-kit/src/storybook/stories/organisms/Navbar.stories.tsx
Owners: @iotaledger/boxfish, @iotaledger/tooling

chore: menu restructure for getting started
  docs/content/operator/telemetry/iota-metrics.mdx
  docs/content/operator/telemetry/iota-telemetry.mdx
  docs/content/operator/telemetry/telemetry-subscribers.mdx
  docs/content/references/research-papers.mdx
  docs/content/sidebars/about-iota.js
  docs/content/sidebars/operator.js
  docs/content/sidebars/references.js
Owners: @iotaledger/devx

feat(crates): remove iota-common
  .github/crates-filters.yml
  Cargo.lock
  Cargo.toml
  crates/iota-common/Cargo.toml
  crates/iota-common/src/authority_aggregation.rs
  crates/iota-common/src/lib.rs
Owners: @iotaledger/l1-core

fix(iota-core): fixed the out of gas scenarios
  crates/iota-core/src/unit_tests/gas_tests.rs
Owners: @iotaledger/l1-core

chore: more menu refactors and adjusted coin pages
  docs/content/about-iota/about-iota.mdx
  docs/content/about-iota/components.mdx
  docs/content/about-iota/iota-architecture/consensus.mdx
  docs/content/about-iota/iota-architecture/iota-security.mdx
  docs/content/about-iota/tokenomics/iota-coin.mdx
  docs/content/about-iota/tokenomics/smr-coin.mdx
  docs/content/sidebars/about-iota.js
Owners: @iotaledger/devx

.github/CODEOWNERS:

# Default fallback, if no other path below this matches someone from the `move` team has to review
* @iotaledger/l1-core

# Everything within the SDK folder 
/sdk/ @iotaledger/boxfish @iotaledger/l1-core @iotaledger/tooling

# Changes to the genesis builder should be approved by Konstantinos or Mirko at least
/crates/iota-genesis-builder/ @kodemartin @miker83z

# dev-tools team
/crates/iota/ @iotaledger/dev-tools
/crates/iota-sdk/ @iotaledger/dev-tools

# Frontend apps to be looked after by Boxfish Studio or the tooling team
/apps/ @iotaledger/boxfish @iotaledger/tooling
/dapps/ @iotaledger/boxfish @iotaledger/tooling
/linting/ @iotaledger/boxfish @iotaledger/tooling
/.husky/ @iotaledger/boxfish @iotaledger/tooling
/.changeset/ @iotaledger/boxfish @iotaledger/tooling
.eslintrc.js @iotaledger/boxfish @iotaledger/tooling
.lintstagedrc.json @iotaledger/boxfish @iotaledger/tooling
.npmrc @iotaledger/boxfish @iotaledger/tooling
.prettierignore @iotaledger/boxfish @iotaledger/tooling
graphql.config.ts @iotaledger/boxfish @iotaledger/tooling
package.json @iotaledger/boxfish @iotaledger/tooling
pnpm-lock.yaml @iotaledger/boxfish @iotaledger/tooling
pnpm-workspace.yaml @iotaledger/boxfish @iotaledger/tooling
prettier.config.js @iotaledger/boxfish @iotaledger/tooling
turbo.json @iotaledger/boxfish @iotaledger/tooling
vercel.json @iotaledger/boxfish @iotaledger/tooling

# Docs are for DevEx to approve upon
/docs/ @iotaledger/devx
# Override ownership of Boxfish Studio and the tooling team for the following files
/docs/**/package.json @iotaledger/devx
/docs/**/vercel.json @iotaledger/devx

# Protect this CODEOWNERS file, with some fallback in case of unavailability
/.github/CODEOWNERS @luca-moser @lzpap @miker83z @fijter
