Repository iotaledger/iota, changes with the owners that .github/CODEOWNERS names for each.
All owners: @iotaledger/l1-core, @iotaledger/core-node, @iotaledger/core-consensus, @iotaledger/boxfish, @iotaledger/tooling, @kodemartin, @miker83z, @valeriyr, @iotaledger/l1-core-infra, @iotaledger/devops-admin, @iotaledger/dev-tools, @iotaledger/devx, @msarcev, @alexsporn, @thibault-martinez, @DaughterOfMars, @fijter, @Dr-Electron, @luca-moser, @lzpap, @muXxer

fix(workflow): use correct python command
  .github/actions/diffs/action.yml
  .github/workflows/_rust_lints.yml
Owners: @msarcev, @alexsporn, @thibault-martinez, @DaughterOfMars, @fijter, @Dr-Electron

feat(scripts): add `--skip-dprint` option
  .github/workflows/_rust_lints.yml
  scripts/cargo_sort/cargo_sort.py
Owners: @msarcev, @alexsporn, @thibault-martinez, @DaughterOfMars, @fijter, @Dr-Electron, @muXxer

fix(workflow): manually check the staging area for diffs
  .github/workflows/_rust_lints.yml
Owners: @msarcev, @alexsporn, @thibault-martinez, @DaughterOfMars, @fijter, @Dr-Electron

fix(script): fix getting package name from Cargo.toml
  scripts/cargo_sort/cargo_sort.py
Owners: @muXxer

fix(node): format Cargo.toml files
  Cargo.toml
  crates/iota-types/Cargo.toml
  iota-execution/Cargo.toml
Owners: @iotaledger/l1-core, @iotaledger/core-node, @iotaledger/core-consensus, @miker83z, @valeriyr

fix(docs/getting-started): minor refactoring, remove duplicates
  docs/content/developer/getting-started/build-test.mdx
  docs/content/developer/getting-started/create-a-package.mdx
Owners: @iotaledger/devx

feat(scripts): add README
  scripts/cargo_sort/README.md
  scripts/cargo_sort/cargo_sort.py
  scripts/cargo_sort/run.sh
Owners: @muXxer

fix error message, remove unused imports
  crates/iota/src/unit_tests/validator_tests.rs
  iota-execution/latest/iota-move-natives/src/validator.rs
  iota-execution/v0/iota-move-natives/src/validator.rs
Owners: @iotaledger/dev-tools, @miker83z, @valeriyr

chore(*): fix clippy::manual_inspect
  crates/iota-metrics/src/metered_channel.rs
  crates/iota-metrics/src/monitored_mpsc.rs
  iota-execution/cut/src/plan.rs
  iota-execution/latest/iota-adapter/src/temporary_store.rs
  iota-execution/latest/iota-move-natives/src/dynamic_field.rs
  iota-execution/latest/iota-verifier/src/verifier.rs
  iota-execution/v0/iota-adapter/src/temporary_store.rs
  iota-execution/v0/iota-move-natives/src/dynamic_field.rs
  iota-execution/v0/iota-verifier/src/verifier.rs
Owners: @iotaledger/l1-core, @iotaledger/core-node, @iotaledger/core-consensus, @miker83z, @valeriyr

Update crates/iota/src/validator_commands.rs
  crates/iota/src/validator_commands.rs
Owners: @iotaledger/dev-tools

Fix workflow job name
  .github/workflows/_rust_lints.yml
Owners: @msarcev, @alexsporn, @thibault-martinez, @DaughterOfMars, @fijter, @Dr-Electron

Add comments and use result
  crates/iota/src/unit_tests/validator_tests.rs
Owners: @iotaledger/dev-tools

add openssl license
  deny.toml
Owners: @iotaledger/l1-core, @iotaledger/core-node, @iotaledger/core-consensus

fix(iota-rosetta): fix test_pay_with_gas_budget_fail
  crates/iota-rosetta/tests/gas_budget_tests.rs
Owners: @iotaledger/l1-core, @iotaledger/core-node, @iotaledger/core-consensus

fix: kickoff apps-ui-kit setup
  apps/wallet-dashboard/app/dashboard/layout.tsx
  apps/wallet-dashboard/package.json
  apps/wallet-dashboard/tailwind.config.ts
  pnpm-lock.yaml
Owners: @iotaledger/boxfish, @iotaledger/tooling

fix format
  apps/wallet-dashboard/tailwind.config.ts
Owners: @iotaledger/boxfish, @iotaledger/tooling

feat(tooling-sdk): Sync json/graphql rpc schema changes to TS SDK
  sdk/graphql-transport/src/generated/queries.ts
  sdk/graphql-transport/src/mappers/validator.ts
  sdk/graphql-transport/src/queries/getCurrentEpoch.graphql
  sdk/move-bytecode-template/Cargo.lock
  sdk/typescript/package.json
  sdk/typescript/src/client/types/generated.ts
  sdk/typescript/src/graphql/generated/2024.10/schema.graphql
  sdk/typescript/src/graphql/generated/2024.10/tada-env.d.ts
Owners: @iotaledger/boxfish, @iotaledger/l1-core, @iotaledger/tooling

fix(e2e-test): Fast fix by adapting TestNConnIP
  crates/iota-e2e-tests/tests/traffic_control_tests.rs
Owners: @iotaledger/l1-core, @iotaledger/core-node, @iotaledger/core-consensus

chore(*): clippy::needless_borrows_for_generic_args
  crates/iota-core/src/traffic_controller/nodefw_client.rs
  crates/iota-genesis-builder/src/stardust/test_outputs/stardust_mix.rs
  crates/iota-source-validation/src/toolchain.rs
Owners: @iotaledger/core-node, @iotaledger/core-consensus, @kodemartin, @miker83z, @iotaledger/l1-core

fix(devx): edit iota-101 create coins
  docs/content/developer/iota-101/create-coin/create-coin.mdx
  docs/content/developer/iota-101/create-coin/in-game-token.mdx
  docs/content/developer/iota-101/create-coin/loyalty.mdx
  docs/content/developer/iota-101/create-coin/regulated.mdx
Owners: @iotaledger/devx

fix: replace protocolPubKey with authorityPubKey
  sdk/graphql-transport/src/generated/queries.ts
  sdk/graphql-transport/src/methods.ts
  sdk/graphql-transport/src/queries/getCommitteeInfo.graphql
Owners: @iotaledger/boxfish, @iotaledger/l1-core, @iotaledger/tooling

.github/CODEOWNERS:

# Default fallback, if no other path below this matches
* @iotaledger/l1-core @iotaledger/core-node @iotaledger/core-consensus

# Everything within the SDK folder
/sdk/ @iotaledger/boxfish @iotaledger/l1-core @iotaledger/tooling

# Changes to the genesis builder should be approved by Konstantinos or Mirko at least
/crates/iota-genesis-builder/ @kodemartin @miker83z

# vm-language team
/iota-execution/ @miker83z @valeriyr
/external-crates/ @miker83z @valeriyr

# l1-core-infra team
/docker/ @iotaledger/l1-core-infra @iotaledger/core-node @iotaledger/devops-admin
/crates/iota-json-rpc*/ @iotaledger/l1-core-infra
/crates/iota-graphql*/ @iotaledger/l1-core-infra
/crates/iota-indexer/ @iotaledger/l1-core-infra

# core-node team
/crates/iota-archival/ @iotaledger/core-node
/crates/iota-authority-aggregation/ @iotaledger/core-node @iotaledger/core-consensus
/crates/iota-config/ @iotaledger/core-node
/crates/iota-core/ @iotaledger/core-node @iotaledger/core-consensus
/crates/iota-network/ @iotaledger/core-node
/crates/iota-network-stack/ @iotaledger/core-node
/crates/iota-node/ @iotaledger/core-node
/crates/iota-types/ @iotaledger/core-node @iotaledger/l1-core
/crates/iota-protocol-config/ @iotaledger/core-node @iotaledger/l1-core
/crates/iota-protocol-config-macros/ @iotaledger/core-node @iotaledger/l1-core
/crates/iota-rest-api/ @iotaledger/core-node @iotaledger/l1-core-infra
/crates/iota-snapshot/ @iotaledger/core-node
/crates/iota-storage/ @iotaledger/core-node

# core-consensus team
/consensus/ @iotaledger/core-consensus
/narwhal/ @iotaledger/core-consensus

# dev-tools team
/crates/iota/ @iotaledger/dev-tools
/crates/iota-open-rpc/ @iotaledger/dev-tools
/crates/iota-open-rpc-macros/ @iotaledger/dev-tools
/crates/iota-sdk/ @iotaledger/dev-tools
/crates/iota-transaction-builder/ @iotaledger/dev-tools

# Frontend apps to be looked after by Boxfish Studio or the tooling team
/apps/ @iotaledger/boxfish @iotaledger/tooling
/dapps/ @iotaledger/boxfish @iotaledger/tooling
/linting/ @iotaledger/boxfish @iotaledger/tooling
/.husky/ @iotaledger/boxfish @iotaledger/tooling
/.changeset/ @iotaledger/boxfish @iotaledger/tooling
.eslintrc.js @iotaledger/boxfish @iotaledger/tooling
.lintstagedrc.json @iotaledger/boxfish @iotaledger/tooling
.npmrc @iotaledger/boxfish @iotaledger/tooling
.prettierignore @iotaledger/boxfish @iotaledger/tooling
graphql.config.ts @iotaledger/boxfish @iotaledger/tooling
package.json @iotaledger/boxfish @iotaledger/tooling
pnpm-workspace.yaml @iotaledger/boxfish @iotaledger/tooling
prettier.config.js @iotaledger/boxfish @iotaledger/tooling
turbo.json @iotaledger/boxfish @iotaledger/tooling
vercel.json @iotaledger/boxfish @iotaledger/tooling

# Docs are for DevEx to approve upon
/docs/ @iotaledger/devx
# Override ownership of Boxfish Studio and the tooling team for the following files
/docs/**/package.json @iotaledger/devx
/docs/**/vercel.json @iotaledger/devx

# CI Taskforce
/.github/actions/ @msarcev @alexsporn @thibault-martinez @DaughterOfMars @fijter @Dr-Electron
/.github/workflows/ @msarcev @alexsporn @thibault-martinez @DaughterOfMars @fijter @Dr-Electron

# Protect this CODEOWNERS file, with some fallback in case of unavailability
/.github/CODEOWNERS @luca-moser @lzpap @miker83z @fijter

# Scripts
/scripts/dependency_graphs/ @muXxer
/scripts/cargo_sort/ @muXxer
/scripts/codesearch/ @muXxer
/scripts/slipstream/ @muXxer

# Disable code ownership for these auto-generated files
/Cargo.lock
/pnpm-lock.yaml
