Repository iotaledger/iota, pull requests merged in 2024-12, with the labels that each got.

#4299 fix(docker): grafana local config + private network
  docker/grafana-local/README.md
  docker/grafana-local/docker-compose.yaml
  docker/grafana-local/prometheus.yaml
Labels: consensus

#4313 Fix: Cannot find rates for staking pool
  crates/iota-graphql-rpc/src/server/exchange_rates_task.rs
  crates/iota-graphql-rpc/src/types/validator.rs
  crates/iota-indexer/src/apis/governance_api.rs
  crates/iota-json-rpc/src/governance_api.rs
Labels: sc-platform, infrastructure

#4318 feat(ci): PR team labeler
  .github/workflows/labeler.yml
Labels: sc-platform, dev-tools

#4317 chore(ci): clean version pin comments
  .github/actions/diffs/action.yml
  .github/actions/turbo-diffs/action.yml
  .github/workflows/_cargo_deny.yml
  .github/workflows/_docs_lint.yml
  .github/workflows/_docusaurus.yml
  .github/workflows/_e2e.yml
  .github/workflows/_execution_cut.yml
  .github/workflows/_external_rust_tests.yml
  .github/workflows/_ledgernano.yml
  .github/workflows/_move_ide.yml
  .github/workflows/_move_tests.yml
  .github/workflows/_rust.yml
  .github/workflows/_rust_lints.yml
  .github/workflows/_rust_tests.yml
  .github/workflows/_turborepo.yml
  .github/workflows/_typos.yml
  .github/workflows/apps_backend_deploy.yml
  .github/workflows/apps_explorer_deploy.yml
  .github/workflows/apps_ui_kit_deploy.yml
  .github/workflows/apps_wallet_dashboard_deploy.yml
  .github/workflows/apps_wallet_nightly_build.yml
  .github/workflows/apps_wallet_prod_build.yml
  .github/workflows/apps_wallet_rc_build.yml
  .github/workflows/build_nightly.yml
  .github/workflows/changesets.yml
  .github/workflows/changesets_ci.yml
  .github/workflows/changesets_ci_comment.yml
  .github/workflows/changesets_publish.yml
  .github/workflows/crate_docs.yml
  .github/workflows/develop_ci_slack_report.yml
  .github/workflows/hierarchy.yml
  .github/workflows/labeler.yml
  .github/workflows/links_checker.yml
  .github/workflows/nightly.yml
  .github/workflows/preview_wiki.yml
  .github/workflows/release.yml
  .github/workflows/release_docker.yml
  .github/workflows/release_notes_monitor.yml
  .github/workflows/release_wiki.yml
  .github/workflows/simulator_nightly.yml
  .github/workflows/split_cluster.yml
  .github/workflows/stale.yml
  .github/workflows/tag.yml
Labels: sc-platform, dev-tools

#4331 chore(ci): ignore boxfish from team-labeler
  .github/workflows/labeler.yml
Labels: sc-platform, dev-tools

#4249 feat(tooling): fix logo/avatar/icon image, move to core and cleanup debris
  apps/core/src/components/coin/CoinIcon.tsx
  apps/core/src/components/icon/ImageIcon.tsx
  apps/core/src/hooks/stake/useValidatorInfo.tsx
  apps/explorer/src/components/IotaTokenCard.tsx
  apps/explorer/src/components/owned-coins/CoinIcon.tsx
  apps/explorer/src/components/owned-coins/OwnedCoinView.tsx
  apps/explorer/src/components/owned-coins/index.ts
  apps/explorer/src/components/ui/ImageIcon.tsx
  apps/explorer/src/components/ui/index.ts
  apps/explorer/src/components/validator/ValidatorMeta.tsx
  apps/explorer/src/lib/ui/utils/generateValidatorsTableColumns.tsx
  apps/explorer/src/pages/transaction-result/transaction-summary/BalanceChanges.tsx
  apps/explorer/src/pages/transaction-result/transaction-summary/ObjectDisplay.tsx
  apps/wallet/src/ui/app/components/receipt-card/TxnAmount.tsx
Labels: tooling, wallet, explorer

#4178 cherry pick: (rest-api): Avoid panic in append_info_headers
  crates/iota-rest-api/src/response.rs
Labels: node, core-protocol

#4341 chore(ci): ignore firefly in team labeler
  .github/workflows/labeler.yml
Labels: sc-platform, dev-tools

#4323 feat(sdk): add wallet extension id to dapp-kit
  sdk/dapp-kit/src/constants/walletDefaults.ts
Labels: tooling, ts-sdk

#4233 chore(docs) : Add faucet urls to network overview tabs.
  docs/site/src/components/NetworkInfo/index.tsx
  docs/site/src/components/constant.tsx
Labels: documentation, dx-improvement, devx

#4296 fix(tooling-wallet): Fix staking with ledger
  apps/core/src/hooks/stake/index.ts
  apps/core/src/hooks/stake/useStakingGasBudgetEstimation.ts
  apps/wallet/src/ui/app/WalletSigner.ts
  apps/wallet/src/ui/app/staking/stake/StakeForm.tsx
Labels: tooling, wallet

#4205 chore(sdk): improve npm documentation
  apps/explorer/README.md
  apps/wallet-dashboard/README.md
  apps/wallet-dashboard/package.json
  apps/wallet/README.md
  bridge/evm/README.md
  dapps/kiosk-cli/index.js
  sdk/bcs/README.md
  sdk/create-dapp/README.md
  sdk/dapp-kit/README.md
  sdk/graphql-transport/README.md
  sdk/kiosk/README.md
  sdk/ledgerjs-hw-app-iota/README.md
  sdk/typescript/README.md
  sdk/wallet-standard/README.md
Labels: tooling, ts-sdk, explorer

#3521 chore(ci): make Coverage CI run successfully
  .github/workflows/cargo_llvm_cov.yml
  scripts/simtest/simtest-cov.sh
Labels: sc-platform, dev-tools, explorer

#4319 feat(ci): tone down node logs
  .github/workflows/_e2e.yml
Labels: github_actions, tooling

#4182 feat(devx): Split and Edit full node guide
  docker/fullnode/README.md
  docs/content/_snippets/node-hardware-requirements.mdx
  docs/content/_snippets/warning-advanced-instructions-node-setup.mdx
  docs/content/about-iota/iota-architecture/iota-architecture.mdx
  docs/content/developer/advanced/custom-indexer.mdx
  docs/content/developer/exchange-integration/exchange-integration.mdx
  docs/content/operator/data-management.mdx
  docs/content/operator/genesis.mdx
  docs/content/operator/iota-full-node.mdx
  docs/content/operator/iota-full-node/docker.mdx
  docs/content/operator/iota-full-node/monitoring-and-pruning.mdx
  docs/content/operator/iota-full-node/overview.mdx
  docs/content/operator/iota-full-node/source.mdx
  docs/content/operator/operator.mdx
  docs/content/operator/validator-operation/ansible/README.mdx
  docs/content/sidebars/operator.js
  docs/site/src/pages/index.js
  docs/site/static/json/node-operators/iota-full-node/node-setup.json
  docs/site/static/json/node-operators/iota-full-node/overview.json
  docs/site/static/json/node-operators/iota-full-node/pruning.json
Labels: documentation

#4333 fix(move-analyzer-extension): update documents and image
  external-crates/move/crates/move-analyzer/editors/code/CONTRIBUTING.md
  external-crates/move/crates/move-analyzer/editors/code/README.md
  external-crates/move/crates/move-analyzer/editors/code/images/move.png
Labels: sc-platform, vm-language

#4345 feat(dashboard): polish header
  apps/wallet-dashboard/app/(protected)/layout.tsx
Labels: tooling, wallet-dashboard

#4328 fix(wallet): Proper check of tx result after signing
  apps/wallet/src/background/Transactions.ts
  apps/wallet/tests/sites-to-cs-api.spec.ts
  apps/wallet/tests/sites-to-cs-messaging.spec.ts
Labels: tooling, wallet

#4267 refactor(wallet-ci): Use `action-gh-release` action
  .github/workflows/apps_wallet_prod_build.yml
Labels: tooling

#4252 fix(wallet-dashboard): sending max amount doesn't send the correct amount
  apps/wallet-dashboard/components/Dialogs/SendToken/SendTokenDialog.tsx
  apps/wallet-dashboard/components/Dialogs/SendToken/constants/index.ts
  apps/wallet-dashboard/components/Dialogs/SendToken/interfaces/index.ts
  apps/wallet-dashboard/components/Dialogs/SendToken/views/EnterValuesFormView.tsx
  apps/wallet-dashboard/components/Dialogs/SendToken/views/ReviewValuesFormView.tsx
  apps/wallet/src/ui/app/pages/home/transfer-coin/SendTokenForm.tsx
Labels: tooling, wallet-dashboard

#4168 refactor(tooling): remove debris from `tailwind.configs`
  apps/core/tailwind.config.ts
  apps/explorer/src/components/footer/Footer.tsx
  apps/explorer/src/components/gas-breakdown/GasBreakdown.tsx
  apps/explorer/src/components/layout/CookieConsent.css
  apps/explorer/src/components/module/PkgModulesWrapper.tsx
  apps/explorer/src/components/module/module-functions-interaction/LinkGroup.tsx
  apps/explorer/src/components/network/NetworkSelector.tsx
  apps/explorer/src/components/object/ObjectFieldsCard.tsx
  apps/explorer/src/components/owned-coins/OwnedCoins.tsx
  apps/explorer/src/components/owned-objects/ThumbnailsView.tsx
  apps/explorer/src/components/search/Search.tsx
  apps/explorer/src/components/transactions/TxForID.module.css
  apps/explorer/src/components/ui/Link.tsx
  apps/explorer/src/components/ui/VerticalList.tsx
  apps/explorer/src/components/ui/modal/Modal.tsx
  apps/explorer/src/index.css
  apps/explorer/src/pages/object-result/views/ObjectView.module.css
  apps/explorer/src/pages/transaction-result/TransactionData.tsx
  apps/explorer/src/pages/transaction-result/TransactionResult.module.css
  apps/explorer/src/pages/transaction-result/TransactionView.tsx
  apps/explorer/tailwind.config.ts
  apps/wallet/src/ui/app/components/PasswordInputDialog.tsx
  apps/wallet/src/ui/app/components/accounts/EditableAccountName.tsx
  apps/wallet/src/ui/app/pages/approval-request/transaction-request/DescriptionList.tsx
  apps/wallet/src/ui/app/pages/home/kiosk-details/index.tsx
  apps/wallet/tailwind.config.ts
Labels: tooling, wallet, explorer

#4360 feat(wallet-dashboard): add missing media type field in visual asset details
  apps/wallet-dashboard/components/Dialogs/Assets/views/DetailsView.tsx
Labels: tooling, wallet-dashboard

#4368 fix(explorer): fix validator initials logo overflow
  apps/explorer/src/lib/ui/utils/generateValidatorsTableColumns.tsx
Labels: tooling, explorer

#4230 chore(docs) : Add validator requirements tab snippet.
  docs/content/_snippets/validator-requirements-tab.mdx
  docs/content/about-iota/FAQ.mdx
  docs/content/operator/validator-config.mdx
Labels: documentation, dx-improvement, devx

#4208 fix(docs) : fix css for CTF component.
  docs/site/src/components/CTF/ctf-verifier.tsx
Labels: documentation, dx-documentation, dx-improvement, devx

#4356 feat(wallet): polish darkmode
  apps/wallet/src/ui/app/pages/approval-request/SignMessageRequest.tsx
  apps/wallet/src/ui/app/shared/ButtonConnectedTo.tsx
  apps/wallet/src/ui/app/shared/transaction-summary/index.tsx
Labels: tooling, wallet

#4156 feat(move/examples): implementation of kiosk marketplace extension using kiosk rules
  docs/examples/move/nft_marketplace/Move.toml
  docs/examples/move/nft_marketplace/README.md
  docs/examples/move/nft_marketplace/sources/clothing_store.move
  docs/examples/move/nft_marketplace/sources/marketplace_extension.move
  docs/examples/move/nft_marketplace/sources/rental_extension.move
  docs/examples/move/nft_marketplace/tests/marketplace_extension_tests.move
  docs/examples/move/nft_marketplace/tests/rental_extension_tests.move
  docs/examples/move/nft_marketplace/tests/utils.move
Labels: sc-platform, vm-language

#4352 show correct burnt amount in SystemEpochInfoEventV1
  crates/iota-framework/packages/iota-system/sources/iota_system_state_inner.move
Labels: research, core-protocol

#4286 feat(iota, iota-sdk): add IotaEnv::faucet, update gas url consts
  crates/iota-sdk/src/iota_client_config.rs
  crates/iota-sdk/src/lib.rs
  crates/iota/src/client_commands.rs
Labels: sc-platform, dev-tools

#4340 feat(wallet-dasboard): style vesting schedule
  apps/ui-kit/src/lib/components/organisms/dialog/Dialog.tsx
  apps/wallet-dashboard/app/(protected)/vesting/page.tsx
  apps/wallet-dashboard/components/Dialogs/index.ts
  apps/wallet-dashboard/components/Dialogs/vesting/VestingScheduleBox.tsx
  apps/wallet-dashboard/components/Dialogs/vesting/VestingScheduleDialog.tsx
  apps/wallet-dashboard/components/Dialogs/vesting/index.ts
  apps/wallet-dashboard/lib/utils/vesting/vesting.spec.ts
  apps/wallet-dashboard/lib/utils/vesting/vesting.ts
Labels: tooling, wallet-dashboard

#4306 chore(iota-vscode): update dependencies
  external-crates/move/crates/move-analyzer/editors/code/package-lock.json
  external-crates/move/crates/move-analyzer/editors/code/package.json
Labels: tooling

#4013 fix(devx): Unified all documentation links to docs.iota.org
  crates/iota-indexer/README.md
  crates/iota-json-rpc-api/src/indexer.rs
  crates/iota-json-rpc-api/src/transaction_builder.rs
  crates/iota-open-rpc/spec/openrpc.json
  crates/iota-sdk/README.md
  crates/iota-storage/src/object_store/http/mod.rs
  docs/README.md
  docs/content/references/contribute/code-of-conduct.mdx
  docs/content/references/contribute/contribute-to-iota-repos.mdx
  docs/content/references/contribute/style-guide.mdx
  docs/content/sidebars/references.js
  scripts/slipstream/config_slipstream.json
  sdk/typescript/src/client/types/params.ts
Labels: documentation, devx

#3256 Add Identity docs
  docs/content/_snippets/not-available-on-testnet.mdx
  docs/content/developer/developer.mdx
  docs/content/iota-identity/contribute.mdx
  docs/content/iota-identity/explanations/about-identity-objects.mdx
  docs/content/iota-identity/explanations/decentralized-identifiers.mdx
  docs/content/iota-identity/explanations/verifiable-credentials.mdx
  docs/content/iota-identity/explanations/verifiable-presentations.mdx
  docs/content/iota-identity/getting-started/rust.mdx
  docs/content/iota-identity/how-tos/decentralized-identifiers/create.mdx
  docs/content/iota-identity/how-tos/decentralized-identifiers/delete.mdx
  docs/content/iota-identity/how-tos/decentralized-identifiers/resolve.mdx
  docs/content/iota-identity/how-tos/decentralized-identifiers/update.mdx
  docs/content/iota-identity/how-tos/domain-linkage/create-and-verify.mdx
  docs/content/iota-identity/how-tos/key-storage.mdx
  docs/content/iota-identity/how-tos/verifiable-credentials/create.mdx
  docs/content/iota-identity/how-tos/verifiable-credentials/revocation.mdx
  docs/content/iota-identity/how-tos/verifiable-credentials/selective-disclosure.mdx
  docs/content/iota-identity/how-tos/verifiable-credentials/zero-knowledge-selective-disclosure.mdx
  docs/content/iota-identity/how-tos/verifiable-presentations/create-and-validate.mdx
  docs/content/iota-identity/index.mdx
  docs/content/references/iota-identity/iota-did-method-spec.mdx
  docs/content/references/iota-identity/overview.mdx
  docs/content/references/iota-identity/revocation-bitmap-2022.mdx
  docs/content/references/iota-identity/revocation-timeframe-2024.mdx
  docs/content/sidebars/identity.js
  docs/content/sidebars/ts-sdk.js
  docs/site/docusaurus.config.js
  docs/site/package.json
  docs/site/sidebars.js
  pnpm-lock.yaml
Labels: documentation, identity

#4144 feat(docs): Allow custom components before DocItems
  docs/site/configs/preContent.tsx
  docs/site/src/theme/DocItem/index.tsx
  docs/site/src/theme/MDXContent/index.tsx
Labels: devx

#4382 Update Identity banner
  docs/site/configs/preContent.tsx
Labels: identity

#4373 feat(wallet & dashboard): fix review & send icon
  apps/wallet-dashboard/components/Dialogs/SendToken/views/ReviewValuesFormView.tsx
  apps/wallet/src/ui/app/components/receipt-card/TxnAmount.tsx
Labels: tooling, wallet, wallet-dashboard

#4385 feat(docs): add an IOTA Move VS Code extension link to the documentation
  docs/content/developer/getting-started/iota-environment.mdx
Labels: documentation, sc-platform, vm-language

#4344 feat(wallet-dashboard): style migration overview homepage
  apps/apps-backend/src/features/features.controller.ts
  apps/wallet-dashboard/app/(protected)/home/page.tsx
  apps/wallet-dashboard/app/(protected)/migrations/page.tsx
  apps/wallet-dashboard/app/globals.css
  apps/wallet-dashboard/components/MigrationOverview.tsx
  apps/wallet-dashboard/components/index.ts
  apps/wallet-dashboard/hooks/index.ts
  apps/wallet-dashboard/hooks/useGetStardustMigratableObjects.ts
Labels: tooling, wallet-dashboard

#4396 fix(iota, iota-replay): fix test_profiler test by unignoring it and pass valid tx_digest
  crates/iota-replay/src/replay.rs
  crates/iota/src/unit_tests/profiler_tests.rs
Labels: sc-platform, vm-language

#4435 fix(docs): updated port list with 8081 tcp
  nre/validator_tasks.md
Labels: documentation, node, core-protocol

#4384 chore(*): fix clippy 1.83's `needless_lifetimes`
  crates/iota-cluster-test/src/config.rs
  crates/iota-common/src/sync/notify_read.rs
  crates/iota-core/src/consensus_adapter.rs
  crates/iota-graphql-rpc/src/data/pg.rs
  crates/iota-indexer/src/handlers/tx_processor.rs
  crates/iota-json-rpc-types/src/displays/transaction_displays.rs
  crates/iota-metrics/src/guards.rs
  crates/iota-metrics/src/histogram.rs
  crates/iota-metrics/src/metered_channel.rs
  crates/iota-metrics/src/monitored_mpsc.rs
  crates/iota-package-resolver/src/lib.rs
  crates/iota-replay/src/displays/gas_status_displays.rs
  crates/iota-replay/src/displays/transaction_displays.rs
  crates/iota-transactional-test-runner/src/test_adapter.rs
  crates/iota/src/client_ptb/ast.rs
  crates/iota/src/client_ptb/token.rs
  crates/iota/src/displays/dry_run_tx_block.rs
  crates/iota/src/displays/gas_cost_summary.rs
  crates/iota/src/displays/ptb_preview.rs
  crates/iota/src/displays/status.rs
  crates/iota/src/displays/summary.rs
  crates/typed-store/src/rocks/iter.rs
  crates/typed-store/src/rocks/keys.rs
  crates/typed-store/src/rocks/mod.rs
  crates/typed-store/src/rocks/safe_iter.rs
  crates/typed-store/src/rocks/tests.rs
  crates/typed-store/src/rocks/values.rs
  crates/typed-store/src/sally/mod.rs
  crates/typed-store/src/test_db.rs
  iota-execution/latest/iota-adapter/src/programmable_transactions/context.rs
  iota-execution/latest/iota-adapter/src/programmable_transactions/execution.rs
  iota-execution/latest/iota-adapter/src/programmable_transactions/linkage_view.rs
  iota-execution/latest/iota-adapter/src/temporary_store.rs
  iota-execution/latest/iota-adapter/src/type_layout_resolver.rs
  iota-execution/latest/iota-move-natives/src/object_runtime/mod.rs
  iota-execution/latest/iota-move-natives/src/object_runtime/object_store.rs
  iota-execution/latest/iota-verifier/src/id_leak_verifier.rs
  iota-execution/src/latest.rs
Labels: sc-platform, dev-tools

#4354 feat(iota-protocol-config): make comment more clear
  crates/iota-protocol-config/src/lib.rs
Labels: l2-smart-contract

#3739 protocol upgrade (v2): Burn slashed rewards (phase RD 1) + changes to system epoch info event
  crates/iota-e2e-tests/tests/snapshot_tests.rs
  crates/iota-e2e-tests/tests/snapshots/snapshot_tests__body_fn.snap
  crates/iota-framework-snapshot/bytecode_snapshot/2/0x0000000000000000000000000000000000000000000000000000000000000001
  crates/iota-framework-snapshot/bytecode_snapshot/2/0x0000000000000000000000000000000000000000000000000000000000000002
  crates/iota-framework-snapshot/bytecode_snapshot/2/0x0000000000000000000000000000000000000000000000000000000000000003
  crates/iota-framework-snapshot/bytecode_snapshot/2/0x000000000000000000000000000000000000000000000000000000000000000b
  crates/iota-framework-snapshot/bytecode_snapshot/2/0x000000000000000000000000000000000000000000000000000000000000107a
  crates/iota-framework-snapshot/manifest.json
  crates/iota-framework/packages/iota-system/sources/iota_system_state_inner.move
  crates/iota-framework/packages/iota-system/sources/validator_set.move
  crates/iota-framework/packages/iota-system/tests/rewards_distribution_tests.move
  crates/iota-framework/packages_compiled/iota-system
  crates/iota-framework/published_api.txt
  crates/iota-indexer/tests/rpc-tests/governance_api.rs
  crates/iota-indexer/tests/rpc-tests/read_api.rs
  crates/iota-open-rpc/spec/openrpc.json
  crates/iota-protocol-config/src/lib.rs
  crates/iota-protocol-config/src/snapshots/iota_protocol_config__test__Mainnet_version_2.snap
  crates/iota-protocol-config/src/snapshots/iota_protocol_config__test__Testnet_version_2.snap
  crates/iota-protocol-config/src/snapshots/iota_protocol_config__test__version_2.snap
  crates/iota-swarm-config/tests/snapshots/snapshot_tests__genesis_config_snapshot_matches.snap
  crates/iota-swarm-config/tests/snapshots/snapshot_tests__populated_genesis_snapshot_matches-2.snap
Labels: research, tokenomics, core-protocol

#4303 feat(wallet-dashboard): style staked vesting overview
  apps/core/src/components/stake/StakedCard.tsx
  apps/core/src/hooks/index.ts
  apps/core/src/hooks/useStakeRewardStatus.ts
  apps/wallet-dashboard/app/(protected)/layout.tsx
  apps/wallet-dashboard/app/(protected)/vesting/page.tsx
  apps/wallet-dashboard/components/index.ts
  apps/wallet-dashboard/components/staked-timelock-object/StakedTimelockObject.tsx
  apps/wallet-dashboard/components/staked-timelock-object/index.ts
  apps/wallet-dashboard/lib/interfaces/vesting.interface.ts
  apps/wallet-dashboard/lib/utils/vesting/vesting.spec.ts
  apps/wallet-dashboard/lib/utils/vesting/vesting.ts
Labels: tooling, wallet-dashboard

#4314 feat(iota-genesis-builder): add address swap map for swapping origin addresses to destination during the migration process
  Cargo.lock
  crates/iota-genesis-builder/Cargo.toml
  crates/iota-genesis-builder/src/main.rs
  crates/iota-genesis-builder/src/stardust/migration/executor.rs
  crates/iota-genesis-builder/src/stardust/migration/migration.rs
  crates/iota-genesis-builder/src/stardust/migration/tests/basic.rs
  crates/iota-genesis-builder/src/stardust/migration/tests/mod.rs
  crates/iota-genesis-builder/src/stardust/migration/verification/alias.rs
  crates/iota-genesis-builder/src/stardust/migration/verification/basic.rs
  crates/iota-genesis-builder/src/stardust/migration/verification/foundry.rs
  crates/iota-genesis-builder/src/stardust/migration/verification/mod.rs
  crates/iota-genesis-builder/src/stardust/migration/verification/nft.rs
  crates/iota-genesis-builder/src/stardust/migration/verification/util.rs
  crates/iota-genesis-builder/src/stardust/types/address_swap_map.rs
  crates/iota-genesis-builder/src/stardust/types/mod.rs
Labels: sc-platform, vm-language

#4445 feat(wallet-dashboard): add loading screen
  apps/wallet-dashboard/app/page.tsx
Labels: tooling, wallet-dashboard

#4464 fix: Override package.json ownership in external crates
  .github/CODEOWNERS
Labels: devx

#4441 chore(ci): remove `tag-docker-hub-images`
  .github/workflows/release.yml
Labels: sc-platform, dev-tools

#4329 feat(dashboard): add migration overview
  apps/wallet-dashboard/app/(protected)/migrations/page.tsx
  apps/wallet-dashboard/lib/utils/migration.ts
Labels: tooling, wallet-dashboard

#4468 fix(pnpm): Fix `critical` npm dependabot alerts
  apps/explorer/package.json
  apps/wallet/package.json
  pnpm-lock.yaml
Labels: tooling, explorer

#4446 feat: bump iota to v0.8.0-alpha
  Cargo.lock
  Cargo.toml
  crates/iota-graphql-e2e-tests/tests/call/simple.exp
  crates/iota-open-rpc/spec/openrpc.json
Labels: sc-platform

#4145 Update introduction.mdx
  docs/content/developer/iota-move-ctf/introduction.mdx
Labels: documentation

#4482 chore(explorer): only show max 15 elents in the activity table
  apps/explorer/src/pages/home/Home.tsx
Labels: tooling, explorer

#4479 fix(ui-kit): only call onClick if `Card` is not disabled
  apps/ui-kit/src/lib/components/molecules/card/Card.tsx
Labels: tooling, apps-ui-kit, wallet

#4434 feat(sdk): add kiosk rules package id to .env.defaults
  .changeset/silly-bulldogs-divide.md
  sdk/.env.defaults
Labels: tooling, ts-sdk

#4454 fix(tooling-dashboard): improve stake wizard
  apps/wallet-dashboard/components/Dialogs/Staking/StakeDialog.tsx
Labels: tooling, wallet-dashboard

#4473 fix(ci): use dedicated rosetta config dir
  .github/actions/diffs/action.yml
  .github/scripts/rosetta/setup.sh
  .github/workflows/_rosetta.yml
  .github/workflows/_rust_tests.yml
  .github/workflows/hierarchy.yml
Labels: sc-platform, infrastructure

#4487 refactor(wallet-dashboard): Clean up unused components
  apps/wallet-dashboard/components/transactions/StakeTransactionCard.tsx
  apps/wallet-dashboard/components/transactions/UnstakeTransactionCard.tsx
  apps/wallet-dashboard/components/transactions/index.ts
  sdk/typescript/src/version.ts
Labels: tooling

#4490 fix(iota-genesis-builder): address_swap_map_path becomes optional
  crates/iota-genesis-builder/src/main.rs
Labels: sc-platform, vm-language

#4456 fix(devx): fix move.toml and build-test.mdx
  docs/content/developer/getting-started/build-test.mdx
  examples/move/first_package/Move.toml
Labels: documentation, dx-documentation, devx

#3716 Port glossary over from current Wiki
  docs/content/about-iota/iota-architecture/iota-security.mdx
  docs/content/about-iota/iota-architecture/transaction-lifecycle.mdx
  docs/content/operator/genesis.mdx
  docs/content/operator/iota-full-node/overview.mdx
  docs/content/operator/observability.mdx
  docs/content/operator/validator-committee.mdx
  docs/content/references/iota-compared.mdx
  docs/content/references/iota-glossary.mdx
  docs/content/references/research-papers.mdx
  docs/site/config/jargon.js
  docs/site/docusaurus.config.js
  docs/site/package.json
  docs/site/src/components/Glossary/index.tsx
  docs/site/src/css/custom.css
  pnpm-lock.yaml
Labels: documentation, devx

#4404 fix[docs]: Swizzle CodeBlock to allow multiple CodeBlocks to coexist
  docs/site/docusaurus.config.js
  docs/site/src/theme/CodeBlock/index.tsx
Labels: devx

#4455 Fix admonitions
  docs/content/_snippets/info-high-traffic.mdx
  docs/content/_snippets/warn-ml-rpcs.mdx
  docs/content/references/iota-api.mdx
  docs/content/references/iota-api/rpc-best-practices.mdx
  docs/content/references/ts-sdk/typescript/index.mdx
Labels: documentation, devx

#4451 fix(docs): Fix architecture diagram and questions
  docs/content/developer/getting-started/getting-started.mdx
  docs/content/developer/getting-started/local-network.mdx
  docs/site/static/img/concepts/execution-architecture/dark/iota-architecture.svg
  docs/site/static/img/concepts/execution-architecture/iota-architecture.svg
  docs/site/static/json/developer/getting-started/connect.json
  docs/site/static/json/developer/getting-started/create-a-package.json
  docs/site/static/json/developer/getting-started/local-network.json
Labels: documentation, devx

#4466 fix(devx): FIx URLs in References Overview
  docs/content/references/references.mdx
Labels: documentation, devx

#4496 fix(ci): iota-rosetta validation
  .github/scripts/rosetta/setup.sh
  crates/iota-rosetta/resources/rosetta_cli.json
Labels: sc-platform, infrastructure

#4469 fix(pnpm): Fix `high` npm dependabot alerts
  package.json
  pnpm-lock.yaml
Labels: tooling

#4467 fix sidebar highlights
  docs/site/src/components/API/api-ref/refnav.js
  docs/site/src/css/custom.css
Labels: dx-improvement, devx

#4430 chore(CI): Refactor and re-enable simulator nightly
  .github/workflows/_rust_tests.yml
  .github/workflows/nightly.yml
  .github/workflows/simulator_nightly.yml
Labels: sc-platform, dev-tools

#4422 feat(wallet-dashboard): Add tx details state to the end of send coin flow
  apps/core/src/hooks/index.ts
  apps/core/src/hooks/useRecognizedPackages.ts
  apps/explorer/src/components/owned-coins/OwnedCoins.tsx
  apps/explorer/src/hooks/index.ts
  apps/explorer/src/hooks/useResolveVideo.ts
  apps/explorer/src/pages/transaction-result/TransactionData.tsx
  apps/explorer/src/pages/transaction-result/TransactionView.tsx
  apps/explorer/src/pages/transaction-result/transaction-summary/index.tsx
  apps/wallet-dashboard/components/Dialogs/SendToken/SendTokenDialog.tsx
  apps/wallet-dashboard/components/Dialogs/SendToken/views/EnterValuesFormView.tsx
  apps/wallet-dashboard/components/Dialogs/SendToken/views/ReviewValuesFormView.tsx
  apps/wallet-dashboard/components/Dialogs/SendToken/views/TransactionDetailsView.tsx
  apps/wallet-dashboard/components/Dialogs/SendToken/views/index.ts
  apps/wallet-dashboard/components/Dialogs/transaction/TransactionDetailsLayout.tsx
  apps/wallet-dashboard/components/Dialogs/transaction/index.ts
  apps/wallet-dashboard/components/transactions/TransactionTile.tsx
  apps/wallet-dashboard/hooks/index.ts
  apps/wallet-dashboard/hooks/useTransferTransaction.ts
Labels: tooling, explorer, wallet-dashboard

#4503 feat(wallet-dashboard): improve dark/light mode
  apps/core/src/components/buttons/ThemeSwitcher.tsx
  apps/core/src/components/buttons/index.ts
  apps/explorer/src/components/header/Header.tsx
  apps/explorer/src/components/header/index.ts
  apps/wallet-dashboard/app/(protected)/components/top-nav/TopNav.tsx
  apps/wallet-dashboard/app/(protected)/layout.tsx
  apps/wallet-dashboard/app/page.tsx
Labels: tooling, explorer, wallet-dashboard

#4433 feat(wallet-dashboard): show tx details in unstaking flow
  apps/wallet-dashboard/components/Dialogs/Staking/StakeDialog.tsx
  apps/wallet-dashboard/components/Dialogs/Staking/views/UnstakeView.tsx
Labels: tooling, wallet-dashboard

#4453 fix(devx): Fix links and feedback
  docs/content/_snippets/info-BST-2f1.mdx
  docs/content/about-iota/iota-architecture/epochs.mdx
  docs/content/operator/iota-full-node/overview.mdx
  nre/docker/README.md
  nre/validator_tasks.md
  nre/validator_tool.md
Labels: documentation, devx

#4465 feat(devx): Update event docs
  docs/content/developer/iota-101/using-events.mdx
  docs/content/sidebars/developer.js
Labels: documentation, devx

#4447 task(devx): Switch to algolia search
  docs/site/docusaurus.config.js
  docs/site/package.json
  pnpm-lock.yaml
Labels: documentation, devx

#4519 chore(ts-sdk): regenerate graphql and json rpc to update comments
  sdk/typescript/src/client/types/params.ts
Labels: tooling, ts-sdk

#4510 feat(wallet-dashboard): style migration flow
  apps/wallet-dashboard/app/(protected)/migrations/page.tsx
  apps/wallet-dashboard/app/(protected)/vesting/page.tsx
  apps/wallet-dashboard/components/Dialogs/MigrationDialog.tsx
  apps/wallet-dashboard/components/Dialogs/SendToken/SendTokenDialog.tsx
  apps/wallet-dashboard/components/Dialogs/index.ts
  apps/wallet-dashboard/components/Popup/Popup.tsx
  apps/wallet-dashboard/components/Popup/PopupProvider.tsx
  apps/wallet-dashboard/components/Popup/Popups/MigratePopup.tsx
  apps/wallet-dashboard/components/Popup/index.ts
  apps/wallet-dashboard/components/VirtualList.tsx
  apps/wallet-dashboard/components/account-balance/AccountBalance.tsx
  apps/wallet-dashboard/components/index.ts
  apps/wallet-dashboard/contexts/PopupContext.ts
  apps/wallet-dashboard/contexts/index.ts
  apps/wallet-dashboard/hooks/index.ts
  apps/wallet-dashboard/hooks/usePopups.ts
  apps/wallet-dashboard/lib/utils/migration/groupMigrationObjects.ts
  apps/wallet-dashboard/lib/utils/migration/groupStardustObjectsByMigrationStatus.ts
  apps/wallet-dashboard/providers/AppProviders.tsx
Labels: tooling, wallet-dashboard

#4529 fix(explorer): Fix `not a correct flattenable data` for string arguments in txs
  apps/explorer/src/pages/transaction-result/programmable-transaction-view/utils.ts
Labels: tooling, explorer

#4525 refactor(dashboard): Update NextJS to 14.2.15
  apps/wallet-dashboard/package.json
  pnpm-lock.yaml
Labels: tooling

#4530 chore(ci): print git status in simtest clippy.sh
  scripts/simtest/clippy.sh
  scripts/simtest/simtest-cov.sh
Labels: sc-platform, dev-tools

#4420 feat(wallet-dashboard): add supply increase vesting overview to homepage
  apps/core/src/hooks/useCountdownByTimestamp.ts
  apps/wallet-dashboard/app/(protected)/home/page.tsx
  apps/wallet-dashboard/app/(protected)/vesting/page.tsx
  apps/wallet-dashboard/app/globals.css
  apps/wallet-dashboard/components/SupplyIncreaseVestingOverview.tsx
  apps/wallet-dashboard/components/index.ts
  apps/wallet-dashboard/hooks/index.ts
  apps/wallet-dashboard/hooks/useGetSupplyIncreaseVestingObjects.ts
Labels: tooling, wallet-dashboard

#4502 feat(wallet-dashboard): polish homepage scroll
  apps/wallet-dashboard/app/(protected)/home/page.tsx
  apps/wallet-dashboard/app/globals.css
  apps/wallet-dashboard/components/coins/MyCoins.tsx
  apps/wallet-dashboard/components/transactions/TransactionsOverview.tsx
Labels: tooling, wallet-dashboard

#4483 fix(wallet-dashboard, tooling-core): review staking numbers for bigints
  apps/core/src/components/stake/StakedCard.tsx
  apps/core/src/components/transaction/info/UnstakeTransactionInfo.tsx
  apps/core/src/utils/getStakeIotaByIotaId.ts
  apps/wallet-dashboard/components/Dialogs/vesting/VestingScheduleBox.tsx
  apps/wallet-dashboard/components/staked-timelock-object/StakedTimelockObject.tsx
  apps/wallet-dashboard/components/transactions/TransactionAmount.tsx
  apps/wallet-dashboard/lib/constants/vesting.constants.ts
  apps/wallet-dashboard/lib/interfaces/timelock.interface.ts
  apps/wallet-dashboard/lib/interfaces/vesting.interface.ts
  apps/wallet-dashboard/lib/utils/timelock.ts
  apps/wallet-dashboard/lib/utils/vesting/vesting.spec.ts
  apps/wallet-dashboard/lib/utils/vesting/vesting.ts
Labels: tooling, wallet-dashboard

#4509 feat(wallet-dashboard): add settings menu and network switcher
  apps/wallet-dashboard/app/(protected)/components/top-nav/TopNav.tsx
  apps/wallet-dashboard/components/Dialogs/index.ts
  apps/wallet-dashboard/components/Dialogs/settings/SettingsDialog.tsx
  apps/wallet-dashboard/components/Dialogs/settings/enums/index.ts
  apps/wallet-dashboard/components/Dialogs/settings/enums/view.enums.ts
  apps/wallet-dashboard/components/Dialogs/settings/hooks/index.ts
  apps/wallet-dashboard/components/Dialogs/settings/hooks/useSettingsDialog.ts
  apps/wallet-dashboard/components/Dialogs/settings/index.ts
  apps/wallet-dashboard/components/Dialogs/settings/views/NetworkSelectorView.tsx
  apps/wallet-dashboard/components/Dialogs/settings/views/SettingsListView.tsx
  apps/wallet-dashboard/components/Dialogs/settings/views/index.ts
  apps/wallet-dashboard/providers/AppProviders.tsx
Labels: tooling, wallet-dashboard

#4531 feat(wallet): improve dapp account selection in darkmode
  apps/wallet/src/ui/app/components/accounts/AccountIcon.tsx
  apps/wallet/src/ui/app/pages/accounts/WelcomePage.tsx
Labels: tooling, wallet

#4527 fix(wallet-dashboard): stardust timelocked/unmigratabale item grouping
  apps/wallet-dashboard/app/(protected)/migrations/page.tsx
  apps/wallet-dashboard/components/migration/MigrationObjectsPanel.tsx
  apps/wallet-dashboard/hooks/useGetStardustMigratableObjects.ts
  apps/wallet-dashboard/lib/constants/migration.constants.ts
  apps/wallet-dashboard/lib/utils/migration/groupStardustObjectsByMigrationStatus.ts
Labels: tooling, wallet-dashboard

#4478 fix(pnpm): Fix npm medium alerts
  apps/ui-kit/package.json
  apps/wallet/package.json
  package.json
  pnpm-lock.yaml
Labels: tooling

#4535 chore(bin_version): don't concatenate GIT_REVISION if empty
  crates/bin-version/src/lib.rs
Labels: sc-platform, dev-tools

#4449 feat(wallet-dashboard): add tx details state to the end of send visual asset flow
  apps/wallet-dashboard/app/(protected)/assets/page.tsx
  apps/wallet-dashboard/components/Dialogs/Assets/AssetDialog.tsx
  apps/wallet-dashboard/components/Dialogs/Assets/constants/AssetsDialogView.ts
  apps/wallet-dashboard/components/Dialogs/Assets/views/DetailsView.tsx
  apps/wallet-dashboard/components/Dialogs/Assets/views/SendView.tsx
Labels: tooling, wallet-dashboard

#4548 fix(wallet-dashboard): clear queries on network change
  apps/wallet-dashboard/providers/AppProviders.tsx
Labels: tooling, wallet-dashboard

#4506 docs(ledger): manual installation for deprecated devices
  docs/content/about-iota/iota-wallet/how-to/integrate-ledger.mdx
Labels: documentation, sc-platform, dev-tools

#4552 chore(wallet): bump to v0.4.0
  apps/wallet/package.json
Labels: tooling

#4537 feat(wallet-dashboard): Improve release process
  .github/workflows/_vercel_deploy.yml
  .github/workflows/apps_wallet_dashboard_deploy.yml
  apps/wallet-dashboard/app/page.tsx
  apps/wallet-dashboard/components/Dialogs/settings/views/SettingsListView.tsx
  apps/wallet-dashboard/next.config.mjs
Labels: tooling

#4550 fix(explorer): fix selected network style
  apps/explorer/src/components/network/NetworkSelector.tsx
  apps/ui-kit/src/lib/components/atoms/list-item/ListItem.tsx
Labels: tooling, explorer

#4526 Simplify the filters by using nested iterators
  crates/iota-e2e-tests/tests/full_node_migration_tests.rs
  crates/iota-genesis-builder/src/main.rs
  crates/iota-genesis-builder/src/stardust/migration/migration.rs
  crates/iota-genesis-builder/src/stardust/process_outputs.rs
Labels: sc-platform, dev-tools

#4439 fix: Fix broken links
  crates/iota-json-rpc-types/src/iota_object.rs
  crates/iota-move-build/src/lib.rs
  crates/iota-open-rpc/spec/openrpc.json
  sdk/typescript/src/client/types/generated.ts
Labels: devx

#4561 fix(explorer): fix incorrect unit in homepage reference gas price
  apps/explorer/src/components/home-metrics/OnTheNetwork.tsx
Labels: tooling, explorer

#4549 fix(docs): Fix feedback form UI
  docs/site/src/components/FeedbackForm/index.tsx
  docs/site/src/components/FeedbackForm/styles.css
Labels: documentation, dx-documentation, dx-improvement, devx

#4429 fix(CI): Fix move tests workflow and add additional tests that use examples
  .github/workflows/_move_tests.yml
  crates/iota-core/src/unit_tests/authority_aggregator_tests.rs
  crates/iota-core/src/unit_tests/execution_driver_tests.rs
  crates/iota-json-rpc-tests/tests/read_api.rs
  crates/iota-json-rpc-tests/tests/transaction_builder_api.rs
  crates/iota-json/src/tests.rs
  crates/iota-rosetta/src/unit_tests/balance_changing_tx_tests.rs
Labels: sc-platform, dev-tools

#4547 feat(wallet-dashboard): add tx details state to the end of migration flow
  apps/wallet-dashboard/app/(protected)/migrations/page.tsx
  apps/wallet-dashboard/components/Dialogs/MigrationDialog.tsx
  apps/wallet-dashboard/components/Dialogs/index.ts
  apps/wallet-dashboard/components/Dialogs/migration/MigrationDialog.tsx
  apps/wallet-dashboard/components/Dialogs/migration/enums/index.ts
  apps/wallet-dashboard/components/Dialogs/migration/enums/view.enums.ts
  apps/wallet-dashboard/components/Dialogs/migration/index.ts
  apps/wallet-dashboard/components/Dialogs/migration/views/ConfirmMigrationView.tsx
  apps/wallet-dashboard/components/Dialogs/migration/views/index.ts
  apps/wallet-dashboard/components/migration/MigrationObjectLoading.tsx
  apps/wallet-dashboard/components/migration/MigrationObjectsPanel.tsx
  apps/wallet-dashboard/components/migration/index.ts
Labels: tooling, wallet-dashboard

#4569 feat(wallet): fix darkmode in Review & send view
  apps/wallet/src/ui/app/components/receipt-card/TxnAmount.tsx
Labels: tooling, wallet

#4389 feat(iota-e2e-tests): Include object snapshot generation and address swap in migration test
  crates/iota-e2e-tests/tests/full_node_migration_tests.rs
  crates/iota-e2e-tests/tests/migration/address_swap.csv
  crates/iota-e2e-tests/tests/migration/stardust_object_snapshot.bin
  crates/iota-e2e-tests/tests/migration/test_hornet_full_snapshot.bin
  crates/iota-genesis-builder/src/main.rs
  crates/iota-genesis-builder/src/stardust/migration/migration.rs
  crates/iota-genesis-builder/src/stardust/mod.rs
  crates/iota-genesis-builder/src/stardust/process_outputs.rs
Labels: sc-platform, vm-language

#4575 feat(explorer): display only the top 10 validators in homepage
  apps/explorer/src/components/top-validators-card/TopValidatorsCard.tsx
Labels: tooling, explorer

#4470 [iota-analytics-indexer] Add README.md
  crates/iota-analytics-indexer/README.md
Labels: sc-platform, infrastructure

#4574 fix(wallet-dashboard): other assets
  apps/core/src/constants/coins.constants.ts
  apps/wallet-dashboard/app/(protected)/assets/page.tsx
  apps/wallet-dashboard/components/tiles/AssetTileLink.tsx
  apps/wallet-dashboard/components/tiles/NonVisualAssetTile.tsx
Labels: tooling, explorer, wallet-dashboard

#4363 fix(wallet-ci): Properly generate the changelog upon prod releases
  .github/workflows/apps_wallet_prod_build.yml
Labels: tooling, wallet

#4589 fix(ts-sdk): Update typography light theme line height
  .changeset/warm-eagles-count.md
  sdk/dapp-kit/src/themes/lightTheme.ts
Labels: tooling

#4587 fix(docs): Add missing framework docs
  crates/iota-framework/tests/build-system-packages.rs
Labels: devx

#4443 fix(docs): use constants file for urls everywhere in docs
  docs/content/_snippets/iota-evm/oracles_contract_data.mdx
  docs/content/developer/advanced/custom-indexer.mdx
  docs/content/developer/getting-started/get-coins.mdx
  docs/content/operator/iota-full-node/source.mdx
Labels: documentation, dx-documentation, devx

#4576 fix(docs): Fix broken link in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: documentation, node, core-protocol

#4611 fix(CI): Fix move tests multiline command
  .github/workflows/_move_tests.yml
  .github/workflows/nightly.yml
Labels: sc-platform, dev-tools

#4553 refactor(wallet-dashboard): cleanup usage of `addNotification` and debris
  apps/wallet-dashboard/app/(protected)/layout.tsx
  apps/wallet-dashboard/app/(protected)/vesting/page.tsx
  apps/wallet-dashboard/components/Dialogs/Assets/AssetDialog.tsx
  apps/wallet-dashboard/components/Dialogs/SendToken/SendTokenDialog.tsx
  apps/wallet-dashboard/components/Dialogs/Staking/views/EnterAmountView.tsx
  apps/wallet-dashboard/components/Dialogs/Staking/views/EnterTimelockedAmountView.tsx
  apps/wallet-dashboard/components/Dialogs/unstake/views/UnstakeTimelockedObjectsView.tsx
  apps/wallet-dashboard/components/Dialogs/unstake/views/UnstakeView.tsx
  apps/wallet-dashboard/components/Notifications/Notifications.tsx
  apps/wallet-dashboard/components/index.ts
  apps/wallet-dashboard/hooks/index.ts
  apps/wallet-dashboard/hooks/useNotifications.ts
  apps/wallet-dashboard/stores/notificationStore.ts
Labels: tooling, wallet-dashboard

#4603 fix(explorer): improve tx timestamp on homepage
  apps/explorer/src/lib/ui/utils/generateTransactionsTableColumns.tsx
Labels: tooling, explorer

#4591 fix(wallet): improve fetching visual assets on higher numbered pages
  apps/wallet/src/ui/app/pages/home/nfts/index.tsx
Labels: tooling, wallet

#4607 chore(tooling): update labeler for tooling related PRs
  .github/labeler.yml
Labels: tooling

#4632 Recommend IOTA Move extension for VS Code
  .vscode/extensions.json
Labels: node, core-protocol

#4613 feat(wallet): polish assets screen loader
  apps/wallet/src/ui/app/pages/home/nfts/index.tsx
Labels: tooling, wallet

#4616 chore: replace `*/iota/blob/main` with `*/iota/blob/develop`
  CONTRIBUTING.md
  chocolatey/iota.nuspec
  crates/iota-types/src/README.md
  docs/content/developer/advanced/onchain-randomness.mdx
  docs/content/developer/getting-started/local-network.mdx
  docs/content/developer/iota-101/move-overview/patterns/hot-potato.mdx
  docs/content/developer/iota-101/move-overview/patterns/id-pointer.mdx
  docs/content/developer/iota-101/move-overview/patterns/transferable-witness.mdx
  docs/content/developer/iota-101/objects/object-model.mdx
  docs/content/developer/iota-101/objects/object-ownership/immutable.mdx
  docs/site/docusaurus.config.js
  nre/validator_tasks.md
  sdk/typescript/README.md
Labels: documentation, sc-platform, dev-tools, ts-sdk

#4643 feat(iota-types): remove outdated event tests
  crates/iota-types/src/unit_tests/event_filter_tests.rs
Labels: sc-platform, dev-tools

#4585 feat(docker): Add support for arm64 and amd64 builds for jemalloc
  .github/workflows/release_docker.yml
  docker/iota-bridge-indexer/Dockerfile
  docker/iota-indexer-tidb/Dockerfile
  docker/iota-indexer/Dockerfile
  docker/iota-node/Dockerfile
Labels: node, core-protocol
