Repository iotaledger/iota, pull requests merged in 2024-11, with the labels that each got.

#4104 fix(tooling): Update cross-spawn to fix pnpm audit
  package.json
  pnpm-lock.yaml
Labels: team-tooling

#4118 fix(wallet): Add missing wallet build nightly task
  turbo.json
Labels: team-tooling

#4125 refactor(ci): Remove CI debugging logs from Turorepo workflow
  .github/workflows/_turborepo.yml
Labels: team-tooling

#4112 feat(devx) - Add CTF on testnet
  docs/content/developer/developer.mdx
  docs/content/developer/getting-started/getting-started.mdx
  docs/content/developer/iota-move-ctf/challenge_1.mdx
  docs/content/developer/iota-move-ctf/challenge_2.mdx
  docs/content/developer/iota-move-ctf/challenge_3.mdx
  docs/content/developer/iota-move-ctf/challenge_4.mdx
  docs/content/developer/iota-move-ctf/challenge_5.mdx
  docs/content/developer/iota-move-ctf/challenge_6.mdx
  docs/content/developer/iota-move-ctf/challenge_7.mdx
  docs/content/developer/iota-move-ctf/challenge_8.mdx
  docs/content/developer/iota-move-ctf/introduction.mdx
  docs/content/sidebars/developer.js
Labels: documentation

#4108 feat: remove private repository ssh workarounds
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  .github/workflows/release_docker.yml
  Cargo.lock
  Cargo.toml
  crates/iota-proc-macros/Cargo.toml
  crates/iota-rosetta/docker/iota-rosetta-devnet/Dockerfile
  crates/iota-rosetta/docker/iota-rosetta-devnet/build.sh
  crates/iota-rosetta/docker/iota-rosetta-local/Dockerfile
  crates/iota-rosetta/docker/iota-rosetta-local/build.sh
  crates/iota/tests/cli_tests.rs
  deny.toml
  docker/deterministic-canary/Dockerfile
  docker/deterministic-canary/build.sh
  docker/iota-bridge-indexer/Dockerfile
  docker/iota-bridge-indexer/build.sh
  docker/iota-graphql-rpc/Dockerfile
  docker/iota-graphql-rpc/build.sh
  docker/iota-indexer-tidb/Dockerfile
  docker/iota-indexer-tidb/build.sh
  docker/iota-indexer/Dockerfile
  docker/iota-indexer/build.sh
  docker/iota-node-deterministic/Dockerfile
  docker/iota-node-deterministic/build.sh
  docker/iota-node/Dockerfile
  docker/iota-node/build.sh
  docker/iota-services/Dockerfile
  docker/iota-services/build.sh
  docker/iota-source-service/Dockerfile
  docker/iota-source-service/build.sh
  docker/iota-tools/Dockerfile
  docker/iota-tools/build.sh
  docker/iota/Dockerfile
  docker/iota/build.sh
  docker/pg-services-local/README.md
  external-crates/move/crates/move-package/tests/test_sources/nested_deps_git_local/Move.toml
  scripts/simtest/cargo-simtest
  scripts/simtest/config-patch
Labels: team-core-node

#4126 fix(wallet): Handle case where timestamp is undefined in transaction-card
  apps/wallet/src/ui/app/components/transactions-card/index.tsx
Labels: team-tooling

#4143 chore(wallet): bump wallet to v0.3.1
  apps/wallet/package.json
Labels: team-tooling, wallet

#4141 feat(ui-kit): update checkbox so it is more clear when is not checked
  apps/ui-kit/src/lib/components/atoms/checkbox/Checkbox.tsx
  apps/wallet/src/ui/app/pages/accounts/ImportLedgerAccountsPage.tsx
Labels: team-tooling, apps-ui-kit, wallet

#3807 feat(wallet-dashboard): style send entry screen
  apps/core/package.json
  apps/core/src/components/Inputs/AddressInput.tsx
  apps/core/src/components/Inputs/SendTokenFormInput.tsx
  apps/core/src/components/Inputs/index.ts
  apps/core/src/components/coin/CoinIcon.tsx
  apps/core/src/components/coin/CoinSelector.tsx
  apps/core/src/components/coin/index.ts
  apps/core/src/components/icon/ImageIcon.tsx
  apps/core/src/components/icon/index.ts
  apps/core/src/components/index.ts
  apps/core/src/forms/index.ts
  apps/core/src/forms/token.ts
  apps/core/src/hooks/index.ts
  apps/core/src/hooks/useGasBudgetEstimation.ts
  apps/core/src/index.ts
  apps/core/src/utils/validation/createTokenValidation.ts
  apps/core/src/utils/validation/createValidationSchemaSendTokenForm.ts
  apps/core/src/utils/validation/index.ts
  apps/wallet-dashboard/components/Dialogs/SendToken/SendTokenDialog.tsx
  apps/wallet-dashboard/components/Dialogs/SendToken/constants/index.ts
  apps/wallet-dashboard/components/Dialogs/SendToken/index.ts
  apps/wallet-dashboard/components/Dialogs/SendToken/interfaces/index.ts
  apps/wallet-dashboard/components/Dialogs/SendToken/views/EnterValuesFormView.tsx
  apps/wallet-dashboard/components/Dialogs/SendToken/views/ReviewValuesFormView.tsx
  apps/wallet-dashboard/components/Dialogs/SendToken/views/index.ts
  apps/wallet-dashboard/components/Dialogs/index.ts
  apps/wallet-dashboard/components/Dropdown.tsx
  apps/wallet-dashboard/components/Popup/Popups/SendCoinPopup/SendCoinPopup.tsx
  apps/wallet-dashboard/components/Popup/Popups/SendCoinPopup/views/EnterValuesFormView.tsx
  apps/wallet-dashboard/components/Popup/Popups/SendCoinPopup/views/index.ts
  apps/wallet-dashboard/components/Popup/Popups/index.ts
  apps/wallet-dashboard/components/account-balance/AccountBalance.tsx
  apps/wallet-dashboard/components/coins/CoinIcon.tsx
  apps/wallet-dashboard/components/coins/CoinItem.tsx
  apps/wallet-dashboard/components/coins/MyCoins.tsx
  apps/wallet-dashboard/components/coins/index.ts
  apps/wallet-dashboard/components/index.ts
  apps/wallet-dashboard/hooks/useSendCoinTransaction.ts
  apps/wallet-dashboard/package.json
  apps/wallet/src/ui/app/components/active-coins-card/CoinItem.tsx
  apps/wallet/src/ui/app/components/address-input/index.tsx
  apps/wallet/src/ui/app/components/index.ts
  apps/wallet/src/ui/app/components/receipt-card/TxnAmount.tsx
  apps/wallet/src/ui/app/pages/home/nft-transfer/TransferNFTForm.tsx
  apps/wallet/src/ui/app/pages/home/transfer-coin/FormInput.tsx
  apps/wallet/src/ui/app/pages/home/transfer-coin/SendTokenForm.tsx
  apps/wallet/src/ui/app/pages/home/transfer-coin/index.tsx
  apps/wallet/src/ui/app/redux/slices/iota-objects/Coin.ts
  pnpm-lock.yaml
Labels: team-tooling, wallet-dashboard

#4146 feat(wallet): fix tooltip text of `Total Staked` of Wallet
  apps/wallet/src/ui/app/staking/stake/ValidatorFormDetail.tsx
Labels: team-tooling, wallet

#4066 fix(explorer): type format in object view
  apps/explorer/src/pages/object-result/views/ObjectView.tsx
  apps/ui-kit/src/lib/components/molecules/display-stats/DisplayStats.tsx
Labels: team-tooling, apps-ui-kit, explorer

#4174 feat(iota, docs): update validator commands docs
  crates/iota/src/validator_commands.rs
  docs/content/references/cli/cheatsheet.mdx
  docs/content/references/cli/validator.mdx
Labels: documentation, team-dev-tools

#4176 fix(devx): fix typo
  docs/content/developer/evm-to-move/creating-token.mdx
  docs/content/developer/evm-to-move/evm-to-move.mdx
Labels: documentation, team-devx

#3787 feat(wallet-dashboard): add styles for Review & Send screen
  apps/core/src/components/Inputs/SendTokenFormInput.tsx
  apps/core/src/components/coin/CoinIcon.tsx
  apps/core/src/components/coin/CoinItem.tsx
  apps/core/src/components/coin/CoinSelector.tsx
  apps/core/src/components/coin/index.ts
  apps/core/src/hooks/useGasBudgetEstimation.ts
  apps/ui-kit/src/lib/components/organisms/dialog/Dialog.tsx
  apps/wallet-dashboard/app/globals.css
  apps/wallet-dashboard/components/Dialogs/SendToken/SendTokenDialog.tsx
  apps/wallet-dashboard/components/Dialogs/SendToken/constants/index.ts
  apps/wallet-dashboard/components/Dialogs/SendToken/interfaces/index.ts
  apps/wallet-dashboard/components/Dialogs/SendToken/views/EnterValuesFormView.tsx
  apps/wallet-dashboard/components/Dialogs/SendToken/views/ReviewValuesFormView.tsx
  apps/wallet-dashboard/components/ExplorerLink.tsx
  apps/wallet-dashboard/components/coins/MyCoins.tsx
  apps/wallet-dashboard/components/coins/index.ts
  apps/wallet-dashboard/components/index.ts
  apps/wallet-dashboard/tailwind.config.ts
  apps/wallet/src/ui/app/components/DAppInfoCard.tsx
  apps/wallet/src/ui/app/components/active-coins-card/CoinItem.tsx
  apps/wallet/src/ui/app/components/active-coins-card/index.tsx
  apps/wallet/src/ui/app/components/index.ts
  apps/wallet/src/ui/app/components/iota-apps/IotaApp.tsx
  apps/wallet/src/ui/app/components/receipt-card/TxnAmount.tsx
  apps/wallet/src/ui/app/pages/home/tokens/TokenLink.tsx
  apps/wallet/src/ui/app/shared/image-icon/index.tsx
  apps/wallet/src/ui/app/shared/transaction-summary/cards/BalanceChanges.tsx
  apps/wallet/src/ui/app/shared/transaction-summary/cards/objectSummary/ObjectChangeDisplay.tsx
  apps/wallet/src/ui/app/staking/home/StakedCard.tsx
  apps/wallet/src/ui/app/staking/validators/ValidatorLogo.tsx
Labels: team-tooling, wallet-dashboard

#4172 feat(iota-transaction-builder): add more doc comments
  crates/iota-transaction-builder/src/lib.rs
Labels: team-dev-tools

#3908 feat(wallet-dashboard): Add migration PTB
  apps/core/src/constants/migration.constants.ts
  apps/core/src/utils/index.ts
  apps/core/src/utils/migration/createMigrationTransaction.ts
  apps/core/src/utils/migration/index.ts
  apps/core/src/utils/migration/types.ts
  apps/wallet-dashboard/components/Popup/Popups/MigratePopup.tsx
  apps/wallet-dashboard/hooks/useMigrationTransaction.ts
  apps/wallet-dashboard/lib/interfaces/index.ts
  apps/wallet-dashboard/lib/interfaces/migration.interface.ts
  apps/wallet-dashboard/lib/utils/migration.ts
Labels: team-tooling, wallet-dashboard

#4058 feat(wallet): update pending styles to complete darkmode support
  apps/core/src/components/coin/CoinIcon.tsx
  apps/core/src/components/coin/CoinItem.tsx
  apps/core/src/components/coin/CoinSelector.tsx
  apps/core/src/components/icon/ImageIcon.tsx
  apps/wallet/src/ui/app/components/DAppPermissionList.tsx
  apps/wallet/src/ui/app/components/NoData.tsx
  apps/wallet/src/ui/app/components/Overlay.tsx
  apps/wallet/src/ui/app/components/PageTemplate.tsx
  apps/wallet/src/ui/app/components/PasswordInputDialog.tsx
  apps/wallet/src/ui/app/components/SummaryCard.tsx
  apps/wallet/src/ui/app/components/SummaryPanel.tsx
  apps/wallet/src/ui/app/components/accounts/AccountItem.tsx
  apps/wallet/src/ui/app/components/accounts/ImportRecoveryPhraseForm.tsx
  apps/wallet/src/ui/app/components/error-boundary/index.tsx
  apps/wallet/src/ui/app/components/iota-apps/DisconnectApp.tsx
  apps/wallet/src/ui/app/components/iota-apps/IotaApp.tsx
  apps/wallet/src/ui/app/components/iota-apps/IotaAppEmpty.tsx
  apps/wallet/src/ui/app/components/ledger/ConnectLedgerModal.tsx
  apps/wallet/src/ui/app/components/menu/content/WalletSettingsMenuList.tsx
  apps/wallet/src/ui/app/components/menu/content/index.tsx
  apps/wallet/src/ui/app/components/navigation/index.tsx
  apps/wallet/src/ui/app/components/nft-display/index.tsx
  apps/wallet/src/ui/app/components/receipt-card/TxnAmount.tsx
  apps/wallet/src/ui/app/components/user-approve-container/index.tsx
  apps/wallet/src/ui/app/pages/accounts/BackupMnemonicPage.tsx
  apps/wallet/src/ui/app/pages/accounts/ImportLedgerAccountsPage.tsx
  apps/wallet/src/ui/app/pages/accounts/ImportPassphrasePage.tsx
  apps/wallet/src/ui/app/pages/accounts/WelcomePage.tsx
  apps/wallet/src/ui/app/pages/accounts/forgot-password/RecoverManyPage.tsx
  apps/wallet/src/ui/app/pages/accounts/manage/AccountGroup.tsx
  apps/wallet/src/ui/app/pages/accounts/manage/AccountGroupItem.tsx
  apps/wallet/src/ui/app/pages/home/assets/HiddenAssetsProvider.tsx
  apps/wallet/src/ui/app/pages/home/nft-details/index.tsx
  apps/wallet/src/ui/app/pages/home/tokens/TokenStakingOverview.tsx
  apps/wallet/src/ui/app/pages/home/tokens/coin-balance/index.tsx
  apps/wallet/src/ui/app/pages/home/tokens/icon-link/index.tsx
  apps/wallet/src/ui/app/pages/restricted/index.tsx
  apps/wallet/src/ui/app/shared/ButtonConnectedTo.tsx
  apps/wallet/src/ui/app/shared/card-layout/index.tsx
  apps/wallet/src/ui/app/shared/dapp-status/index.tsx
  apps/wallet/src/ui/app/shared/header/Header.tsx
  apps/wallet/src/ui/app/shared/page-main-layout/PageMainLayout.tsx
  apps/wallet/src/ui/app/staking/validators/StatsDetail.tsx
  apps/wallet/src/ui/assets/images/no_data.svg
  apps/wallet/src/ui/assets/images/no_data_darkmode.svg
  apps/wallet/src/ui/styles/global.scss
Labels: team-tooling, wallet

#4064 feat(wallet): add theme route and polish view
  apps/core/src/components/providers/ThemeProvider.tsx
  apps/core/src/enums/theme.enums.ts
  apps/wallet/src/ui/app/components/menu/content/ThemeSettings.tsx
  apps/wallet/src/ui/app/components/menu/content/WalletSettingsMenuList.tsx
  apps/wallet/src/ui/app/components/menu/content/index.tsx
Labels: team-tooling, wallet

#4190 feat(ui-kit): fix dialog overlay
  apps/ui-kit/src/lib/components/organisms/dialog/Dialog.tsx
Labels: team-tooling, apps-ui-kit

#4153 feat(explorer): polish validators view and bring back actions in Table
  apps/explorer/src/components/top-validators-card/TopValidatorsCard.tsx
  apps/explorer/src/pages/validators/Validators.tsx
  apps/ui-kit/src/lib/components/organisms/table/Table.tsx
Labels: team-tooling, apps-ui-kit, explorer

#4199 fix(workflows): don't require SSH secrets anymore
  .github/workflows/_rust.yml
Labels: team-dev-tools

#4151 feat(wallet): Allow ledger address verification
  apps/wallet/src/ui/app/pages/home/tokens/ReceiveTokensDialog.tsx
Labels: team-tooling, wallet

#3832 feat(wallet-dashboard): style selected stake
  apps/core/src/components/coin/CoinIcon.tsx
  apps/core/src/constants/staking.constants.ts
  apps/core/src/hooks/stake/index.ts
  apps/core/src/hooks/stake/useStakeTxnInfo.ts
  apps/core/src/hooks/stake/useValidatorInfo.tsx
  apps/core/src/hooks/useGetStakingValidatorDetails.ts
  apps/core/src/utils/stake/createValidationSchema.ts
  apps/core/src/utils/stake/index.ts
  apps/wallet-dashboard/app/(protected)/staking/page.tsx
  apps/wallet-dashboard/components/Dialogs/StakeDetails/StakeDetailsDialog.tsx
  apps/wallet-dashboard/components/Dialogs/StakeDetails/index.ts
  apps/wallet-dashboard/components/Dialogs/StakeDetails/views/StakeDetailsView.tsx
  apps/wallet-dashboard/components/Dialogs/StakeDetails/views/index.ts
  apps/wallet-dashboard/components/Dialogs/Staking/StakeDialog.tsx
  apps/wallet-dashboard/components/Dialogs/Staking/hooks/useStakeDialog.ts
  apps/wallet-dashboard/components/Dialogs/Staking/index.ts
  apps/wallet-dashboard/components/Dialogs/Staking/views/DetailsView.tsx
  apps/wallet-dashboard/components/Dialogs/Staking/views/EnterAmountView.tsx
  apps/wallet-dashboard/components/Dialogs/Staking/views/Layout.tsx
  apps/wallet-dashboard/components/Dialogs/Staking/views/SelectValidatorView.tsx
  apps/wallet-dashboard/components/Dialogs/Staking/views/StakedInfo.tsx
  apps/wallet-dashboard/components/Dialogs/Staking/views/UnstakeView.tsx
  apps/wallet-dashboard/components/Dialogs/Staking/views/Validator.tsx
  apps/wallet-dashboard/components/Dialogs/Staking/views/index.ts
  apps/wallet-dashboard/components/Dialogs/Unstake/index.ts
  apps/wallet-dashboard/components/Dialogs/Unstake/views/index.ts
  apps/wallet-dashboard/components/Dialogs/index.ts
  apps/wallet-dashboard/components/staking-overview/StartStaking.tsx
  apps/wallet/src/shared/constants.ts
  apps/wallet/src/ui/app/components/receipt-card/StakeTxnInfo.tsx
  apps/wallet/src/ui/app/staking/home/StakedCard.tsx
  apps/wallet/src/ui/app/staking/stake/StakingCard.tsx
Labels: team-tooling, wallet-dashboard

#4192 feat(explorer): reduce space of owned objects if there isn't many
  apps/explorer/src/components/owned-coins/OwnedCoins.tsx
  apps/explorer/src/components/owned-objects/OwnedObjects.tsx
  apps/explorer/src/pages/address-result/AddressResult.tsx
Labels: team-tooling, explorer

#4158 feat(explorer): improve darkmode colors for transaction page
  apps/explorer/src/components/gas-breakdown/GasBreakdown.tsx
  apps/explorer/src/components/transactions/ProgTxnBlockCard.tsx
  apps/explorer/src/components/ui/SplitPanes.tsx
  apps/explorer/src/components/ui/collapsible/CollapsibleCard.tsx
  apps/explorer/src/pages/transaction-result/programmable-transaction-view/Transaction.tsx
  apps/explorer/src/pages/transaction-result/transaction-summary/BalanceChanges.tsx
Labels: team-tooling, explorer

#4041 feat(explorer): add theme switcher
  apps/explorer/src/components/ThemedIotaLogo.tsx
  apps/explorer/src/components/footer/Footer.tsx
  apps/explorer/src/components/gas-breakdown/GasBreakdown.tsx
  apps/explorer/src/components/header/Header.tsx
  apps/explorer/src/components/header/ThemeSwitcher.tsx
  apps/explorer/src/components/header/index.ts
  apps/explorer/src/components/index.ts
  apps/explorer/src/components/layout/Layout.tsx
  apps/explorer/src/components/layout/PageLayout.tsx
  apps/explorer/src/components/module/PkgModulesWrapper.tsx
  apps/explorer/src/components/object/ObjectFieldsCard.tsx
  apps/explorer/src/components/search/Search.tsx
  apps/explorer/src/components/transactions/ProgTxnBlockCard.tsx
  apps/explorer/src/components/ui/ProgressBar.tsx
  apps/explorer/src/components/ui/RingChart.tsx
  apps/explorer/src/components/ui/SplitPanes.tsx
  apps/explorer/src/components/ui/collapsible/CollapsibleCard.tsx
  apps/explorer/src/index.css
  apps/explorer/src/pages/epochs/EpochDetail.tsx
  apps/explorer/src/pages/epochs/stats/ValidatorStatus.tsx
  apps/explorer/src/pages/transaction-result/programmable-transaction-view/Transaction.tsx
  apps/explorer/src/pages/transaction-result/transaction-summary/BalanceChanges.tsx
  apps/explorer/tailwind.config.ts
  apps/ui-kit/src/lib/components/molecules/search/Search.tsx
Labels: team-tooling, explorer

#4077 chore(docs) : Add markdown table to dev cheat sheet
  docs/content/developer/dev-cheat-sheet.mdx
Labels: documentation, dx-documentation, dx-improvement, team-devx

#4237 feat(wallet-dashboard): Enable wallet autoconnect
  apps/wallet-dashboard/providers/AppProviders.tsx
Labels: team-tooling, wallet-dashboard

#4152 feat(explorer): add missing darkmode colors to the homepage
  apps/explorer/src/components/AddressesCardGraph.tsx
  apps/explorer/src/components/AreaGraph.tsx
  apps/explorer/src/components/GraphTooltipContent.tsx
  apps/explorer/src/components/StatisticsPanel.tsx
  apps/explorer/src/components/TransactionsCardGraph.tsx
  apps/explorer/src/components/top-packages/TopPackagesCard.tsx
  apps/explorer/src/components/ui/FilterList.tsx
Labels: team-tooling, explorer

#4148 feat(explorer): add darkmode support to footer
  apps/explorer/src/components/footer/Footer.tsx
  apps/explorer/src/components/footer/Legal.tsx
Labels: team-tooling, explorer

#4140 feat(ui-kit): improve UI Kit components darkmode
  apps/ui-kit/src/lib/components/atoms/loading-indicator/LoadingIndicator.tsx
  apps/ui-kit/src/lib/components/atoms/panel/Panel.tsx
  apps/ui-kit/src/lib/components/molecules/account/Account.tsx
  apps/ui-kit/src/lib/components/molecules/input/input.classes.ts
  apps/ui-kit/src/lib/styles/index.css
Labels: team-tooling, apps-ui-kit

#4127 feat(explorer): add darkmode theme to `SyntaxHighlighter`
  apps/explorer/src/components/module/PkgModulesWrapper.tsx
  apps/explorer/src/components/syntax-highlighter/SyntaxHighlighter.tsx
Labels: team-tooling, explorer

#4236 feat(workflows): remove release-notes-check
  .github/workflows/hierarchy.yml
Labels: team-dev-tools

#4240 Fix `ZeroOnChainAddressSpecifiedFailure` typo
  crates/iota-source-validation/src/error.rs
  crates/iota-source-validation/src/lib.rs
Labels: team-dev-tools

#4164 Revert `AuthorityStore` deprecated functions to fix `AuthorityStore::multi_get_transaction_checkpoint`
  crates/iota-core/src/authority.rs
  crates/iota-core/src/authority/authority_store.rs
  crates/iota-core/src/authority/authority_store_pruner.rs
  crates/iota-core/src/authority/authority_store_tables.rs
  crates/iota-core/src/checkpoints/checkpoint_executor/mod.rs
  crates/iota-core/src/execution_cache.rs
  crates/iota-core/src/execution_cache/passthrough_cache.rs
  crates/iota-core/src/execution_cache/proxy_cache.rs
  crates/iota-core/src/execution_cache/writeback_cache.rs
  crates/iota-json-rpc-tests/tests/read_api.rs
  crates/iota-json-rpc/src/authority_state.rs
  crates/iota-json-rpc/src/coin_api.rs
  crates/iota-json-rpc/src/read_api.rs
  crates/iota-storage/src/http_key_value_store.rs
  crates/iota-storage/src/key_value_store.rs
  crates/iota-storage/tests/key_value_tests.rs
  crates/iota-tool/src/db_tool/mod.rs
Labels: team-core-node

#2269 fix(iota-replay): sandbox snapshots are outdated due to rename
  crates/iota-replay/Cargo.toml
  crates/iota-replay/examples/make_sandbox_snapshot.rs
  crates/iota-replay/examples/move/tx_instance/Move.toml
  crates/iota-replay/examples/move/tx_instance/sources/tx_instance.move
  crates/iota-replay/examples/move/tx_instance/sources/tx_instance_upgrade.move
  crates/iota-replay/tests/README.md
  crates/iota-replay/tests/regression_replay.rs
  crates/iota-replay/tests/sandbox_snapshots/4fxF3X4N8D6JGByWdbJvCCv1iuoT8GSEhXgPHJnzNHWP.json
  crates/iota-replay/tests/sandbox_snapshots/7qq4W43TqHg9tQPMvdAFW4Tz6J88KnPppBPR1hNKmQAd.json
  crates/iota-replay/tests/sandbox_snapshots/B9jn6GZsPebSEX6fp9rV7U6k6sZrgokgkGpFMEE6x7Us.json
  crates/iota-replay/tests/sandbox_snapshots/ozN2rhczEUC39poaeVYxMN6b6TEAjiFX7jFSQFhbKmL.json
Labels: team-vm-language

#4234 feat(explorer): add darkmode support
  apps/explorer/src/components/AddressesCardGraph.tsx
  apps/explorer/src/components/AreaGraph.tsx
  apps/explorer/src/components/GraphTooltipContent.tsx
  apps/explorer/src/components/StatisticsPanel.tsx
  apps/explorer/src/components/ThemedIotaLogo.tsx
  apps/explorer/src/components/TransactionsCardGraph.tsx
  apps/explorer/src/components/footer/Footer.tsx
  apps/explorer/src/components/footer/Legal.tsx
  apps/explorer/src/components/gas-breakdown/GasBreakdown.tsx
  apps/explorer/src/components/header/Header.tsx
  apps/explorer/src/components/header/ThemeSwitcher.tsx
  apps/explorer/src/components/header/index.ts
  apps/explorer/src/components/index.ts
  apps/explorer/src/components/layout/Layout.tsx
  apps/explorer/src/components/layout/PageLayout.tsx
  apps/explorer/src/components/module/PkgModulesWrapper.tsx
  apps/explorer/src/components/object/ObjectFieldsCard.tsx
  apps/explorer/src/components/owned-objects/SmallThumbnailsView.tsx
  apps/explorer/src/components/search/Search.tsx
  apps/explorer/src/components/syntax-highlighter/SyntaxHighlighter.tsx
  apps/explorer/src/components/top-packages/TopPackagesCard.tsx
  apps/explorer/src/components/transactions/ProgTxnBlockCard.tsx
  apps/explorer/src/components/ui/FilterList.tsx
  apps/explorer/src/components/ui/ProgressBar.tsx
  apps/explorer/src/components/ui/RingChart.tsx
  apps/explorer/src/components/ui/SplitPanes.tsx
  apps/explorer/src/components/ui/collapsible/CollapsibleCard.tsx
  apps/explorer/src/index.css
  apps/explorer/src/pages/epochs/EpochDetail.tsx
  apps/explorer/src/pages/epochs/stats/ValidatorStatus.tsx
  apps/explorer/src/pages/transaction-result/programmable-transaction-view/Transaction.tsx
  apps/explorer/src/pages/transaction-result/transaction-summary/BalanceChanges.tsx
  apps/explorer/src/pages/validators/Validators.tsx
  apps/explorer/tailwind.config.ts
  apps/ui-kit/src/lib/components/atoms/loading-indicator/LoadingIndicator.tsx
  apps/ui-kit/src/lib/components/atoms/panel/Panel.tsx
  apps/ui-kit/src/lib/components/molecules/account/Account.tsx
  apps/ui-kit/src/lib/components/molecules/input/input.classes.ts
  apps/ui-kit/src/lib/components/molecules/search/Search.tsx
  apps/ui-kit/src/lib/styles/index.css
Labels: team-tooling, explorer

#4038 feat(wallet): improve displaying assets
  apps/wallet-dashboard/app/(protected)/assets/page.tsx
  apps/wallet-dashboard/components/AssetsList.tsx
  apps/wallet/src/ui/app/pages/home/nfts/index.tsx
Labels: team-tooling, wallet

#3954 feat(wallet): Make GH Releases for wallet production releases
  .github/workflows/apps_wallet_prod_build.yml
Labels: team-tooling, wallet

#4265 fix(tooling-general): Fix Apps Wallet prod build workflow
  .github/workflows/apps_wallet_prod_build.yml
Labels: team-tooling

#4173 fix(iota-indexer): fix failing test
  crates/iota-cluster-test/src/cluster.rs
  crates/iota-indexer/src/test_utils.rs
  crates/iota-indexer/tests/common/mod.rs
  crates/iota-indexer/tests/rpc-tests/read_api.rs
  crates/iota/src/iota_commands.rs
Labels: team-sc-platform, team-infra

#4243 fix(wallet): toast overlay connecting dapp buttons
  apps/wallet/src/ui/app/shared/toaster/index.tsx
Labels: team-tooling, wallet

#4247 fix(wallet, dashboard): use validator image when possible
  apps/wallet-dashboard/components/Dialogs/Staking/views/DetailsView.tsx
  apps/wallet-dashboard/components/Dialogs/Staking/views/Validator.tsx
  apps/wallet/src/ui/app/staking/validators/ValidatorLogo.tsx
Labels: team-tooling, wallet, wallet-dashboard

#4251 feat(dashboard): update activity page
  apps/wallet-dashboard/app/(protected)/activity/page.tsx
  apps/wallet-dashboard/app/(protected)/layout.tsx
  apps/wallet-dashboard/app/globals.css
Labels: team-tooling, wallet-dashboard

#4255 docs(ts-sdk): Update outdated TS SDK Docs
  dapps/kiosk-cli/index.js
  dapps/kiosk/src/context/KioskClientContext.tsx
  docs/content/developer/standards/wallet-standard.mdx
  docs/content/references/ts-sdk/kiosk/advanced-examples.mdx
  docs/content/references/ts-sdk/kiosk/kiosk-client/introduction.mdx
  docs/content/references/ts-sdk/kiosk/kiosk-client/kiosk-transaction/purchasing.mdx
Labels: documentation, team-tooling

#3978 feat(iota): don't require key generation for client.yaml if there is already one
  crates/iota/src/iota_commands.rs
Labels: team-dev-tools

#4135 Review iota-graphql test coverage
  crates/iota-graphql-e2e-tests/README.md
  crates/iota-graphql-e2e-tests/coverage/mutation/executeTransactionBlock.md
  crates/iota-graphql-e2e-tests/coverage/query/address.md
  crates/iota-graphql-e2e-tests/coverage/query/availableRange.md
  crates/iota-graphql-e2e-tests/coverage/query/chainIdentifier.md
  crates/iota-graphql-e2e-tests/coverage/query/checkpoint.md
  crates/iota-graphql-e2e-tests/coverage/query/checkpoints.md
  crates/iota-graphql-e2e-tests/coverage/query/coinMetadata.md
  crates/iota-graphql-e2e-tests/coverage/query/coins.md
  crates/iota-graphql-e2e-tests/coverage/query/dryRunTransactionBlock.md
  crates/iota-graphql-e2e-tests/coverage/query/epoch.md
  crates/iota-graphql-e2e-tests/coverage/query/events.md
  crates/iota-graphql-e2e-tests/coverage/query/latestPackage.md
  crates/iota-graphql-e2e-tests/coverage/query/object.md
  crates/iota-graphql-e2e-tests/coverage/query/objects.md
  crates/iota-graphql-e2e-tests/coverage/query/owner.md
  crates/iota-graphql-e2e-tests/coverage/query/package.md
  crates/iota-graphql-e2e-tests/coverage/query/packages.md
  crates/iota-graphql-e2e-tests/coverage/query/protocolConfig.md
  crates/iota-graphql-e2e-tests/coverage/query/serviceConfig.md
  crates/iota-graphql-e2e-tests/coverage/query/transactionBlock.md
  crates/iota-graphql-e2e-tests/coverage/query/transactionBlocks.md
  crates/iota-graphql-e2e-tests/coverage/query/type.md
  crates/iota-graphql-rpc/README.md
Labels: team-infra

#4226 feat(CI): add Move IDE Tests workflow
  .github/actions/diffs/action.yml
  .github/workflows/_move_ide.yml
  .github/workflows/hierarchy.yml
  external-crates/move/crates/move-analyzer/editors/code/scripts/create.sh
Labels: team-dev-tools

#4110 [iota-faucet] Enable the use of batched mode on faucet
  crates/iota-faucet/src/faucet/simple_faucet.rs
  crates/iota/tests/cli_tests.rs
Labels: team-infra

#4289 Fix `StructTag` conversion for `iotax_queryEvents` Indexer-RPC method
  crates/iota-indexer/src/indexer_reader.rs
  crates/iota-indexer/tests/rpc-tests/indexer_api.rs
Labels: team-infra

#4235 chore(*): bump rust toolchain to 1.82
  crates/iota-graphql-rpc-client/src/response.rs
  crates/iota-graphql-rpc-client/src/simple_client.rs
  crates/iota-replay/src/data_fetcher.rs
  crates/iota-replay/src/types.rs
  crates/iota-source-validation/src/error.rs
  crates/iota-source-validation/src/lib.rs
  rust-toolchain.toml
  scripts/generate_files/Dockerfile
Labels: team-dev-tools

#4248 fix(*): rustls RUSTSEC-2024-0399
  Cargo.lock
  Cargo.toml
  crates/iota-storage/Cargo.toml
Labels: team-dev-tools

#4213 feat: bump iota to v0.7.3-rc
  Cargo.lock
  Cargo.toml
  crates/iota-graphql-e2e-tests/tests/call/simple.exp
  crates/iota-open-rpc/spec/openrpc.json
  sdk/typescript/src/version.ts
Labels: sc-platform

#4294 fix(move-analyzer): change the publisher name
  external-crates/move/crates/move-analyzer/editors/code/package.json
  external-crates/move/crates/move-analyzer/editors/code/src/extension.ts
  external-crates/move/crates/move-analyzer/editors/code/tests/ext.test.ts
  external-crates/move/crates/move-analyzer/editors/code/tests/lsp.test.ts
Labels: vm-language

#4159 feat(core): Add hook with logic to check if an asset is 'Transferable'.
  apps/core/src/hooks/index.ts
  apps/core/src/hooks/useIsAssetTransferable.ts
  apps/core/src/utils/index.ts
  apps/core/src/utils/isAssetTransferable.ts
  apps/wallet-dashboard/app/(protected)/assets/[objectId]/page.tsx
  apps/wallet/src/ui/app/pages/home/nft-details/index.tsx
  apps/wallet/src/ui/app/pages/home/nft-transfer/index.tsx
Labels: tooling, wallet

#4309 fix(iota-types): `elided_named_lifetimes` 1.83 compiler warning
  crates/iota-types/src/crypto.rs
Labels: dev-tools

#4307 fix(explorer): validator info event query
  apps/core/src/hooks/useGetValidatorsEvents.ts
Labels: tooling, explorer

#4239 refactor(tooling): Split Theme into `Theme` and `ThemePreference`
  apps/core/src/components/providers/ThemeProvider.tsx
  apps/core/src/contexts/ThemeContext.tsx
  apps/core/src/enums/theme.enums.ts
  apps/explorer/src/components/header/ThemeSwitcher.tsx
  apps/wallet-dashboard/app/(protected)/layout.tsx
  apps/wallet-dashboard/app/page.tsx
  apps/wallet-dashboard/components/staking-overview/StartStaking.tsx
  apps/wallet-dashboard/providers/AppProviders.tsx
  apps/wallet/src/ui/app/components/menu/content/ThemeSettings.tsx
  apps/wallet/src/ui/app/components/menu/content/WalletSettingsMenuList.tsx
  apps/wallet/src/ui/index.tsx
Labels: tooling, explorer
