Repository iotaledger/iota, pull requests merged in 2025-01, with the labels that each got.

#4620 feat(wallet): review back buttons
  apps/wallet/src/ui/app/components/iota-apps/DisconnectApp.tsx
  apps/wallet/src/ui/app/pages/home/receipt/index.tsx
Labels: tooling, wallet

#4635 feat(wallet-dashboard): add available for staking in vesting view
  apps/wallet-dashboard/app/(protected)/vesting/page.tsx
Labels: tooling, wallet-dashboard

#4667 feat(wallet-dashboard): Temporarily skip failing vesting tests
  apps/wallet-dashboard/lib/utils/vesting/vesting.spec.ts
Labels: tooling, wallet-dashboard

#4614 fix(cli): correct switch env usage
  crates/iota/src/client_commands.rs
  docs/content/references/cli/client.mdx
Labels: documentation, sc-platform, dev-tools

#4609 chore: add rust examples to workspace
  Cargo.lock
  Cargo.toml
  examples/custom-indexer/rust/Cargo.toml
  examples/custom-indexer/rust/local_reader.rs
  examples/custom-indexer/rust/remote_reader.rs
  examples/tic-tac-toe/cli/Cargo.toml
  examples/tic-tac-toe/cli/src/board.rs
  examples/tic-tac-toe/cli/src/client.rs
  examples/tic-tac-toe/cli/src/command.rs
  examples/tic-tac-toe/cli/src/crypto.rs
  examples/tic-tac-toe/cli/src/game.rs
  examples/tic-tac-toe/cli/src/turn_cap.rs
Labels: sc-platform, dev-tools

#4637 feat(iota)!: show publicBase64Key without flag in `keytool show`
  crates/iota/src/keytool.rs
  crates/iota/src/unit_tests/keytool_tests.rs
  docs/content/references/cli/keytool.mdx
Labels: documentation, sc-platform, dev-tools

#4436 fix(docs): update bech32 conversion docs
  docs/content/developer/stardust/addresses.mdx
Labels: documentation, sc-platform, dev-tools

#4605 fix(cli): don't attempt connection for `client envs` command
  crates/iota/src/client_commands.rs
  crates/iota/src/iota_commands.rs
  crates/iota/tests/cli_tests.rs
Labels: sc-platform, dev-tools

#4696 feat(iota): add doc comments to client and wallet
  crates/iota-sdk/src/iota_client_config.rs
  crates/iota-sdk/src/wallet_context.rs
Labels: sc-platform, dev-tools

#4695 chore: Fix some compiler warnings from `#[expect]` tags on msim
  crates/iota-core/src/authority.rs
  crates/iota-core/src/authority/authority_store.rs
  crates/iota-core/src/epoch/randomness.rs
  crates/iota-network/build.rs
  crates/iota-network/src/randomness/mod.rs
  crates/iota-node/src/lib.rs
Labels: sc-platform, dev-tools

#4586 [iota-indexer]: Adapt transactions queries to lack of index on digest column
  crates/iota-indexer/src/indexer_reader.rs
Labels: sc-platform, infrastructure

#4606 feat(wallet, wallet-dashboard): Remove all links in asset details
  apps/core/src/hooks/useNftDetails.ts
  apps/wallet-dashboard/components/Dialogs/Assets/views/DetailsView.tsx
  apps/wallet/src/ui/app/pages/home/nft-details/index.tsx
Labels: tooling, wallet, wallet-dashboard

#4391 feat(node): Revert iota-proxy and update it to the latest upstream
  .github/crates-filters.yml
  Cargo.lock
  Cargo.toml
  crates/iota-config/src/node.rs
  crates/iota-node/src/main.rs
  crates/iota-node/src/metrics.rs
  crates/iota-proxy/Cargo.toml
  crates/iota-proxy/build.rs
  crates/iota-proxy/src/admin.rs
  crates/iota-proxy/src/config.rs
  crates/iota-proxy/src/consumer.rs
  crates/iota-proxy/src/data/config.yaml
  crates/iota-proxy/src/handlers.rs
  crates/iota-proxy/src/histogram_relay.rs
  crates/iota-proxy/src/lib.rs
  crates/iota-proxy/src/main.rs
  crates/iota-proxy/src/metrics.rs
  crates/iota-proxy/src/middleware.rs
  crates/iota-proxy/src/peers.rs
  crates/iota-proxy/src/prom_to_mimir.rs
  crates/iota-proxy/src/remote_write.rs
  crates/iota-swarm-config/src/node_config_builder.rs
  crates/iota-tls/Cargo.toml
  crates/iota-types/src/bridge.rs
  crates/prometheus-closure-metric/Cargo.toml
  docker/iota-proxy/Dockerfile
  docker/iota-proxy/build.sh
  nre/config/validator.yaml
  nre/ssfn_guide.md
Labels: node, core-protocol

#4704 fix(wallet-dashboard): Unskip and fix broken tests in vesting.spec.ts
  apps/wallet-dashboard/lib/constants/vesting.constants.ts
  apps/wallet-dashboard/lib/utils/vesting/buildMockedObjectsWithDynamicDateUtils.ts
  apps/wallet-dashboard/lib/utils/vesting/vesting.spec.ts
Labels: tooling, wallet-dashboard

#4711 fix: use workspace dependencies for custom-indexer since it is now added to the root Cargo.toml, else it takes the latest tag from git
  Cargo.lock
  examples/custom-indexer/rust/Cargo.toml
Labels: node, core-protocol

#4513 feat(iota-genesis-builder): create a Hornet snapshot filter framework + filter out voting outputs
  crates/iota-genesis-builder/src/main.rs
  crates/iota-genesis-builder/src/stardust/migration/migration.rs
  crates/iota-genesis-builder/src/stardust/process_outputs.rs
Labels: sc-platform, vm-language

#4707 Update proof-of-stake.mdx
  docs/content/about-iota/tokenomics/proof-of-stake.mdx
Labels: documentation, research, core-protocol

#4709 feat: bump version to 0.8.1-beta
  Cargo.lock
  Cargo.toml
  crates/iota-graphql-e2e-tests/tests/call/simple.exp
  crates/iota-open-rpc/spec/openrpc.json
Labels: node, core-protocol

#4703 fix(explorer): checkpoint total transactions
  apps/explorer/src/lib/ui/utils/generateCheckpointsTableColumns.tsx
Labels: tooling, explorer

#4346 feat(iota-genesis-builder): Add configurable delegator to genesis CLI
  crates/iota-config/src/genesis.rs
  crates/iota-e2e-tests/tests/full_node_migration_tests.rs
  crates/iota-genesis-builder/examples/snapshot_only_test_outputs.rs
  crates/iota-genesis-builder/src/lib.rs
  crates/iota-genesis-builder/src/stake.rs
  crates/iota-swarm-config/src/genesis_config.rs
  crates/iota-swarm-config/src/network_config_builder.rs
  crates/iota-swarm-config/tests/snapshots/snapshot_tests__genesis_config_snapshot_matches.snap
  crates/iota/src/genesis_ceremony.rs
  crates/iota/src/iota_commands.rs
  crates/iota/tests/cli_tests.rs
  crates/test-cluster/src/lib.rs
  docker/pg-services-local/docker-compose.yaml
Labels: sc-platform, vm-language

#4646 feat(wallet-dashboard): persist selected network
  apps/core/src/hooks/useLocalStorage.ts
  apps/core/src/utils/index.ts
  apps/core/src/utils/toTitleCase.ts
  apps/wallet-dashboard/app/(protected)/components/top-nav/TopNav.tsx
  apps/wallet-dashboard/components/Dialogs/settings/views/NetworkSelectorView.tsx
  apps/wallet-dashboard/components/Dialogs/settings/views/SettingsListView.tsx
  apps/wallet-dashboard/hooks/index.ts
  apps/wallet-dashboard/hooks/usePersistedNetwork.ts
  apps/wallet-dashboard/providers/AppProviders.tsx
Labels: tooling, wallet-dashboard

#4693 feat(wallet): Add formatting with subscripts to amounts with long decimals
  apps/core/src/hooks/__tests__/useFormatCoin.test.ts
  apps/core/src/utils/formatAmount.ts
  apps/wallet/src/ui/app/pages/home/tokens/coin-balance/index.tsx
Labels: tooling, wallet

#4649 feat(wallet/wallet-dashboard): display stake information even though validator fetch failed
  apps/core/src/components/stake/StakedCard.tsx
  apps/wallet-dashboard/components/Dialogs/Staking/views/DetailsView.tsx
  apps/wallet/src/ui/app/staking/delegation-detail/DelegationDetailCard.tsx
  apps/wallet/src/ui/app/staking/validators/ValidatorLogo.tsx
Labels: tooling, wallet, wallet-dashboard

#4631 feat(explorer): do not truncate object fields
  apps/explorer/src/components/object/FieldItem.tsx
Labels: tooling, explorer

#4641 fix(clippy): 1.83's `manual_div_ceil`
  crates/iota-rpc-loadgen/src/payload/rpc_command_processor.rs
  crates/iota-storage/src/sharded_lru.rs
  iota-execution/latest/iota-move-natives/src/crypto/bls12381.rs
  iota-execution/latest/iota-move-natives/src/crypto/ecdsa_k1.rs
  iota-execution/latest/iota-move-natives/src/crypto/ecdsa_r1.rs
  iota-execution/latest/iota-move-natives/src/crypto/ecvrf.rs
  iota-execution/latest/iota-move-natives/src/crypto/ed25519.rs
  iota-execution/latest/iota-move-natives/src/crypto/groth16.rs
  iota-execution/latest/iota-move-natives/src/crypto/hash.rs
Labels: sc-platform, dev-tools

#4640 feat(wallet-dashboard): display migration summary in migration confirmation view
  apps/wallet-dashboard/components/Dialogs/migration/views/ConfirmMigrationView.tsx
  apps/wallet-dashboard/components/migration/index.ts
Labels: tooling, wallet-dashboard

#4583 fix(docs): Fix CTF UI
  docs/site/src/components/CTF/ctf-verifier.tsx
Labels: documentation, dx-documentation, dx-improvement, devx

#4716 update(node): Update anemo to e609f7697e
  Cargo.lock
  Cargo.toml
  crates/iota-tool/Cargo.toml
Labels: node, core-protocol

#4701 feat(iota)!: remove legacy transfer-iota CLI command
  crates/iota-transaction-builder/src/utils.rs
  crates/iota/src/client_commands.rs
  crates/iota/tests/cli_tests.rs
  docs/content/developer/cryptography/transaction-auth/multisig.mdx
  docs/content/developer/cryptography/transaction-auth/offline-signing.mdx
  docs/content/developer/iota-101/transactions/sign-and-send-transactions.mdx
  docs/content/references/cli/cheatsheet.mdx
  docs/content/references/cli/client.mdx
  docs/site/static/json/developer/cryptography/offline-signing.json
Labels: documentation, sc-platform, dev-tools

#4723 fix(wallet-dashboard): sidebar icons
  apps/wallet-dashboard/lib/constants/routes.constants.ts
Labels: tooling, wallet-dashboard

#4579 chore(docs): Use lower case for full node
  docs/content/_snippets/info-high-traffic.mdx
  docs/content/_snippets/initialize-iota-client-cli.mdx
  docs/content/_snippets/warning-advanced-instructions-node-setup.mdx
  docs/content/developer/advanced/custom-indexer.mdx
  docs/content/developer/advanced/iota-repository.mdx
  docs/content/developer/cryptography.mdx
  docs/content/developer/cryptography/checkpoint-verification.mdx
  docs/content/developer/exchange-integration/exchange-integration.mdx
  docs/content/developer/iota-101/transactions/sponsored-transactions/use-sponsored-transactions.mdx
  docs/content/developer/standards/display.mdx
  docs/content/operator/archives.mdx
  docs/content/operator/data-management.mdx
  docs/content/operator/genesis.mdx
  docs/content/operator/indexer-functions.mdx
  docs/content/operator/iota-full-node/monitoring-and-pruning.mdx
  docs/content/operator/iota-full-node/overview.mdx
  docs/content/operator/iota-full-node/source.mdx
  docs/content/operator/operator.mdx
  docs/content/operator/snapshots.mdx
  docs/content/operator/validator-config.mdx
  docs/content/references/cli/client.mdx
  docs/content/references/event-query-and-subscription.mdx
  docs/content/references/exchange-integration-guide.mdx
  docs/content/ts-sdk/typescript/iota-client.mdx
  docs/site/src/pages/index.js
  docs/site/static/json/developer/advanced-topics/custom-indexer.json
  docs/site/static/json/developer/iota-101/transactions/sponsored-transactions/about-sponsored-transactions.json
  docs/site/static/json/node-operators/data-management.json
  docs/site/static/json/node-operators/iota-full-node/node-setup.json
  docs/site/static/json/node-operators/iota-full-node/overview.json
  docs/site/static/json/node-operators/iota-full-node/pruning.json
  docs/site/static/json/node-operators/snapshots.json
Labels: documentation, devx

#4633 feat(wallet-dashboard): improve date/time format
  apps/wallet-dashboard/components/dialogs/vesting/VestingScheduleBox.tsx
  apps/wallet-dashboard/components/transactions/TransactionTile.tsx
  apps/wallet-dashboard/lib/utils/time.ts
Labels: tooling, wallet-dashboard

#4602 feat(docs) : Add challenge 0
  docs/content/developer/iota-move-ctf/challenge_0.mdx
  docs/content/sidebars/developer.js
  docs/examples/move/ctf/challenge_0/Move.toml
  docs/examples/move/ctf/challenge_0/sources/leap_frog_nft.move
  docs/site/src/components/CTF/mint-leap-frog-nft.tsx
  docs/site/src/components/CTF/popup.tsx
  docs/site/src/utils/ctf-utils.ts
Labels: documentation, dx-documentation, devx

#4705 fix(gen-files): fix the Dockerfile to update the `openrpc` and `graphql` specs
  scripts/generate_files/Dockerfile
Labels: node, core-protocol

#4729 fix(iota-framework): removed extra assert from the `CoinManager::add_additional_metadata` function
  crates/iota-e2e-tests/tests/snapshot_tests.rs
  crates/iota-e2e-tests/tests/snapshots/snapshot_tests__body_fn.snap
  crates/iota-framework-snapshot/bytecode_snapshot/3/0x0000000000000000000000000000000000000000000000000000000000000002
  crates/iota-framework-snapshot/manifest.json
  crates/iota-framework/packages/iota-framework/sources/coin_manager.move
  crates/iota-framework/packages/iota-framework/tests/coin_manager_tests.move
  crates/iota-framework/packages_compiled/iota-framework
  crates/iota-swarm-config/tests/snapshots/snapshot_tests__populated_genesis_snapshot_matches-2.snap
Labels: sc-platform, vm-language

#4726 fix(iota-framework): `CoinManager` maximum supply check is fixed
  crates/iota-e2e-tests/tests/snapshot_tests.rs
  crates/iota-e2e-tests/tests/snapshots/snapshot_tests__body_fn.snap
  crates/iota-framework-snapshot/bytecode_snapshot/3/0x0000000000000000000000000000000000000000000000000000000000000002
  crates/iota-framework-snapshot/manifest.json
  crates/iota-framework/packages/iota-framework/sources/coin_manager.move
  crates/iota-framework/packages/iota-framework/tests/coin_manager_tests.move
  crates/iota-framework/packages_compiled/iota-framework
  crates/iota-json-rpc-tests/tests/coin_api.rs
  crates/iota-swarm-config/tests/snapshots/snapshot_tests__populated_genesis_snapshot_matches-2.snap
Labels: sc-platform, vm-language

#4715 fix(iota-framework): fixed `CoinManager` metadata immutability validation
  crates/iota-e2e-tests/tests/snapshot_tests.rs
  crates/iota-e2e-tests/tests/snapshots/snapshot_tests__body_fn.snap
  crates/iota-framework-snapshot/bytecode_snapshot/3/0x0000000000000000000000000000000000000000000000000000000000000001
  crates/iota-framework-snapshot/bytecode_snapshot/3/0x0000000000000000000000000000000000000000000000000000000000000002
  crates/iota-framework-snapshot/bytecode_snapshot/3/0x0000000000000000000000000000000000000000000000000000000000000003
  crates/iota-framework-snapshot/bytecode_snapshot/3/0x000000000000000000000000000000000000000000000000000000000000000b
  crates/iota-framework-snapshot/bytecode_snapshot/3/0x000000000000000000000000000000000000000000000000000000000000107a
  crates/iota-framework-snapshot/manifest.json
  crates/iota-framework/packages/iota-framework/sources/coin_manager.move
  crates/iota-framework/packages/iota-framework/tests/coin_manager_tests.move
  crates/iota-framework/packages_compiled/iota-framework
  crates/iota-json-rpc-tests/tests/coin_api.rs
  crates/iota-open-rpc/spec/openrpc.json
  crates/iota-protocol-config/src/lib.rs
  crates/iota-protocol-config/src/snapshots/iota_protocol_config__test__Mainnet_version_3.snap
  crates/iota-protocol-config/src/snapshots/iota_protocol_config__test__Testnet_version_3.snap
  crates/iota-protocol-config/src/snapshots/iota_protocol_config__test__version_3.snap
  crates/iota-swarm-config/tests/snapshots/snapshot_tests__genesis_config_snapshot_matches.snap
  crates/iota-swarm-config/tests/snapshots/snapshot_tests__populated_genesis_snapshot_matches-2.snap
Labels: sc-platform, vm-language

#4730 feat(dashboard): extract basic objects from all migration outputs
  apps/wallet-dashboard/app/(protected)/migrations/page.tsx
  apps/wallet-dashboard/lib/utils/migration/groupMigrationObjects.ts
Labels: tooling, wallet-dashboard

#4745 chore: upgrade `proptest-derive`
  Cargo.lock
  Cargo.toml
  external-crates/move/Cargo.toml
Labels: sc-platform, dev-tools

#4647 feat(iota)!: unordered optional `IotaClientCommands::NewAddress` arguments
  crates/iota-sdk/README.md
  crates/iota/src/client_commands.rs
  docs/content/developer/advanced/create-review-rating-dao-with-multisig.mdx
  docs/content/developer/cryptography/transaction-auth/keys-addresses.mdx
  docs/content/developer/cryptography/transaction-auth/multisig.mdx
  docs/content/developer/dev-cheat-sheet.mdx
  docs/content/developer/getting-started/get-address.mdx
  docs/content/developer/iota-101/transactions/sign-and-send-transactions.mdx
  docs/content/references/cli/cheatsheet.mdx
  docs/content/references/cli/client.mdx
  sdk/create-dapp/templates/react-e2e-counter/README.md
  sdk/typescript/test/unit/cryptography/ed25519-publickey.test.ts
  sdk/typescript/test/unit/cryptography/secp256k1-publickey.test.ts
  sdk/typescript/test/unit/cryptography/secp256r1-publickey.test.ts
Labels: documentation, sc-platform, dev-tools, ts-sdk

#4738 feat(iota-sdk): Add `build_mainnet` fn for convenience
  crates/iota-sdk/README.md
  crates/iota-sdk/examples/iota_client.rs
  crates/iota-sdk/src/lib.rs
Labels: sc-platform, dev-tools

#4608 feat(iota): Add shell completions
  Cargo.lock
  crates/iota/Cargo.toml
  crates/iota/src/completions.rs
  crates/iota/src/iota_commands.rs
  crates/iota/src/lib.rs
Labels: sc-platform, dev-tools

#4750 chore: fix more 1.83 lints
  crates/iota-core/src/authority_aggregator.rs
  crates/iota-core/src/authority_server.rs
  crates/iota-core/src/safe_client.rs
  crates/iota-graphql-rpc/src/types/cursor.rs
  crates/iota-types/src/effects/test_effects_builder.rs
Labels: sc-platform, dev-tools

#4706 fix(devx): Replace cargo run with cargo build in iota full node guides
  docs/content/operator/iota-full-node/source.mdx
Labels: documentation, devx

#4714 Add Identity Rebased Docs
  docs/content/iota-identity/explanations/about-identity-objects.mdx
  docs/content/iota-identity/explanations/authenticated-assets.mdx
  docs/content/sidebars/identity.js
Labels: documentation, identity

#4725 feat(examples): add move errors example
  examples/move/errors/Move.toml
  examples/move/errors/sources/errors.move
Labels: sc-platform, dev-tools

#4737 chore(iota): Pass the RPC error if estimating gas budget fails
  crates/iota/src/client_commands.rs
Labels: sc-platform, dev-tools

#4733 fix(wallet, wallet-dashboard): update the improvement of the date format
  apps/core/src/components/transaction/TransactionReceipt.tsx
  apps/core/src/hooks/useTimeAgo.ts
  apps/core/src/utils/formatDate.ts
  apps/core/src/utils/index.ts
  apps/wallet-dashboard/components/dialogs/vesting/VestingScheduleBox.tsx
  apps/wallet-dashboard/components/transactions/TransactionTile.tsx
  apps/wallet/src/ui/app/components/transactions-card/index.tsx
Labels: tooling, wallet, wallet-dashboard

#4642 fix(wallet-dashboard): expired assets owned by the return address should not be considered "with expiration"
  apps/wallet-dashboard/components/migration/migration-object-details-card/MigrationObjectDetailsCard.tsx
  apps/wallet-dashboard/hooks/useGroupedStardustObjects.ts
  apps/wallet-dashboard/lib/utils/migration/groupMigrationObjects.ts
Labels: tooling, wallet-dashboard

#4760 chore(iota): Add debug prints for execution time of a tx / dry run
  crates/iota/src/client_commands.rs
Labels: sc-platform, dev-tools

#4762 fix(explorer): address page show incorrect pagination range on the last page
  apps/explorer/src/components/owned-objects/OwnedObjects.tsx
Labels: tooling, explorer

#4645 feat(wallet-dashboard): do not allow timelocked staking if there are not enough funds
  apps/wallet-dashboard/app/(protected)/vesting/page.tsx
  apps/wallet-dashboard/components/Banner.tsx
  apps/wallet-dashboard/components/SupplyIncreaseVestingOverview.tsx
  apps/wallet-dashboard/hooks/useGetSupplyIncreaseVestingObjects.ts
Labels: tooling, wallet-dashboard

#4744 feat(wallet-dashboard): fix Native tokens types in migration summary
  apps/wallet-dashboard/components/dialogs/migration/views/ConfirmMigrationView.tsx
Labels: tooling, wallet-dashboard

#4712 fix(node): Merge bug fix from upstream changes: `event sending module relocation (#19672)`
  crates/iota-graphql-e2e-tests/tests/events/sending_module.exp
  crates/iota-graphql-e2e-tests/tests/events/sending_module.move
  crates/iota-open-rpc/spec/openrpc.json
  crates/iota-protocol-config/src/lib.rs
  iota-execution/latest/iota-adapter/src/programmable_transactions/execution.rs
Labels: node, core-protocol

#4763 chore(iota-indexer): fix typos in `IndexerMetrics`
  crates/iota-indexer/src/metrics.rs
Labels: infrastructure, research, core-protocol

#4769 fix(iota-framework): the `test_expiration_time_is_passed` timelock test fix
  crates/iota-framework/packages/iota-framework/tests/timelock/timelock_tests.move
Labels: sc-platform, vm-language

#4767 fix(iota): properly set `iota keytool` command --alias option
  crates/iota/src/keytool.rs
Labels: sc-platform, dev-tools

#4761 feat(iota): ignore chain id when using `--dump-bytecode-as-base64`
  crates/iota-move/src/build.rs
  crates/iota/src/iota_commands.rs
  crates/iota/tests/cli_tests.rs
Labels: sc-platform, dev-tools

#4570 feat(iota-data-ingestion-core): add README.md
  crates/iota-data-ingestion-core/README.md
Labels: sc-platform, infrastructure

#4639 chore(rust): bump to 1.83 (fixes `empty_line_after_outer_attr` and `empty_line_after_doc_comments`)
  consensus/config/src/committee.rs
  consensus/core/src/network/metrics_layer.rs
  consensus/core/src/test_dag_parser.rs
  crates/iota-core/src/authority/authority_per_epoch_store.rs
  crates/iota-faucet/src/metrics.rs
  crates/iota-keys/src/random_names.rs
  crates/iota-metrics/src/metered_channel.rs
  crates/iota-package-resolver/src/lib.rs
  crates/iota-protocol-config/src/lib.rs
  crates/iota-rosetta/src/block.rs
  crates/iota-rosetta/src/construction.rs
  crates/iota-rosetta/src/network.rs
  crates/iota-types/src/crypto.rs
  crates/iota-types/src/gas_model/tables.rs
  crates/iota/src/client_commands.rs
  crates/iota/src/unit_tests/profiler_tests.rs
  iota-execution/latest/iota-adapter/src/programmable_transactions/execution.rs
  iota-execution/latest/iota-adapter/src/programmable_transactions/linkage_view.rs
  iota-execution/latest/iota-move-natives/src/crypto/group_ops.rs
  iota-execution/latest/iota-move-natives/src/transfer.rs
  rust-toolchain.toml
  scripts/generate_files/Dockerfile
Labels: sc-platform, dev-tools

#4638 refactor: use `CancellationToken` for `IndexerExecutor`
  Cargo.lock
  crates/iota-analytics-indexer/src/main.rs
  crates/iota-data-ingestion-core/Cargo.toml
  crates/iota-data-ingestion-core/src/executor.rs
  crates/iota-data-ingestion-core/src/tests.rs
  crates/iota-data-ingestion/Cargo.toml
  crates/iota-data-ingestion/src/main.rs
  crates/iota-indexer-builder/Cargo.toml
  crates/iota-indexer-builder/src/iota_datasource.rs
  crates/iota-indexer/src/indexer.rs
  examples/custom-indexer/rust/Cargo.toml
  examples/custom-indexer/rust/local_reader.rs
Labels: sc-platform, infrastructure

#4764 feat(explorer): add burned and minted token amounts to ended epochs
  .github/workflows/_e2e.yml
  apps/apps-backend/src/features/features.controller.ts
  apps/core/src/enums/features.enums.ts
  apps/core/src/hooks/index.ts
  apps/core/src/hooks/useFeatureEnabledByNetwork.ts
  apps/explorer/src/pages/epochs/stats/EpochTopStats.tsx
Labels: tooling, explorer, apps-backend

#4521 feat(docs): mint ctf completion nft
  docs/content/developer/iota-move-ctf/challenge_1.mdx
  docs/content/developer/iota-move-ctf/challenge_2.mdx
  docs/content/developer/iota-move-ctf/challenge_3.mdx
  docs/content/developer/iota-move-ctf/challenge_4.mdx
  docs/content/developer/iota-move-ctf/challenge_5.mdx
  docs/content/developer/iota-move-ctf/challenge_6.mdx
  docs/content/developer/iota-move-ctf/challenge_7.mdx
  docs/content/developer/iota-move-ctf/challenge_8.mdx
  docs/site/src/components/CTF/ctf-verifier.tsx
  docs/site/src/components/CTF/popup.tsx
  docs/site/src/utils/ctf-utils.ts
Labels: documentation, dx-documentation, devx, wallet-dashboard

#4766 refactor(tooling-ci): connect vercel to git
  .github/CODEOWNERS
  .github/workflows/_vercel_deploy.yml
  .github/workflows/apps_backend_deploy.yml
  .github/workflows/apps_explorer_deploy.yml
  .github/workflows/apps_explorer_prod_deploy.yml
  .github/workflows/apps_ui_kit_deploy.yml
  .github/workflows/apps_wallet_dashboard_deploy.yml
  .github/workflows/apps_wallet_dashboard_prod_deploy.yml
  .github/workflows/hierarchy.yml
  scripts/tooling/vercel/ignore-build-step-base.sh
  scripts/tooling/vercel/ignore-build-step-previews.sh
  vercel.json
Labels: tooling

#4699 refactor(iota-transactional-test-runner): document `run-graphql` syntax
  crates/iota-transactional-test-runner/syntax.md
Labels: sc-platform, infrastructure

#4545 feat(identity): add documentation for Universal Resolver setup and usage
  docs/content/iota-identity/getting-started/universal-resolver.mdx
  docs/content/sidebars/identity.js
Labels: documentation, identity

#4370 feat(scripts): Add script to track upstream commits
  scripts/track_upstream_commits/README.md
  scripts/track_upstream_commits/python_venv_wrapper.sh
  scripts/track_upstream_commits/run.sh
  scripts/track_upstream_commits/track_upstream_commits.py
Labels: node, core-protocol

#4816 fix(docs): fix graphql URLs
  docs/content/developer/getting-started/graphql-rpc.mdx
  docs/content/developer/graphql-rpc.mdx
Labels: documentation, sc-platform, dev-tools

#4634 fix(wallet-dashboard): coin-metadata query address missing 0x for native tokens
  apps/wallet-dashboard/lib/utils/migration/groupMigrationObjects.ts
Labels: tooling, wallet-dashboard

#4567 chore(ci): remove redundant cargo action installs from workflows
  .github/workflows/_execution_cut.yml
  .github/workflows/_external_rust_tests.yml
  .github/workflows/_move_tests.yml
  .github/workflows/_rust_tests.yml
  .github/workflows/cargo_llvm_cov.yml
  .github/workflows/nightly.yml
Labels: sc-platform, dev-tools

#4837 fix(iota): Remove `nushell` completion support
  Cargo.lock
  crates/iota/Cargo.toml
  crates/iota/src/completions.rs
Labels: sc-platform, dev-tools

#4832 chore(wallet): fix typo
  apps/wallet/src/ui/app/pages/accounts/AddAccountPage.tsx
Labels: devx, wallet

#4814 fix(docs): re-enable move syntax highlighting
  docs/site/docusaurus.config.js
  docs/site/src/theme/prism-include-languages.js
Labels: devx

#4782 feat(wallet-dashboard): add React Query Devtools and invalidate migration transaction queries
  apps/wallet-dashboard/app/(protected)/migrations/page.tsx
  apps/wallet-dashboard/app/(protected)/vesting/page.tsx
  apps/wallet-dashboard/package.json
  apps/wallet-dashboard/providers/AppProviders.tsx
  pnpm-lock.yaml
Labels: tooling, wallet-dashboard

#4794 feat(wallet-dashboard): improve tx history and details
  apps/core/src/components/transaction/TransactionIcon.tsx
  apps/core/src/constants/timelock.constants.ts
  apps/core/src/interfaces/transactions.interfaces.ts
  apps/core/src/utils/transaction/getTransactionAction.ts
  apps/core/src/utils/transaction/index.ts
  apps/core/src/utils/transaction/isMigrationTransaction.ts
  apps/core/src/utils/transaction/isUnlockTimelockedObjectTransaction.ts
  apps/ui-icons/README.md
  apps/wallet-dashboard/lib/constants/routes.constants.ts
  apps/wallet-dashboard/lib/interfaces/index.ts
  apps/wallet-dashboard/lib/interfaces/transactions.interfaces.ts
Labels: tooling, wallet-dashboard

#4790 fix(devx) Add tags to pages on developer section of docs
  Cargo.lock
  docs/content/developer/advanced/asset-tokenization.mdx
  docs/content/developer/advanced/introducing-move-2024.mdx
  docs/content/developer/advanced/onchain-randomness.mdx
  docs/content/developer/cryptography/transaction-auth/keys-addresses.mdx
  docs/content/developer/evm-to-move/creating-nft.mdx
  docs/content/developer/evm-to-move/creating-token.mdx
  docs/content/developer/evm-to-move/tooling-apis.mdx
  docs/content/developer/iota-101/create-coin/create-coin.mdx
  docs/content/developer/iota-101/create-coin/in-game-token.mdx
  docs/content/developer/iota-101/create-coin/loyalty.mdx
  docs/content/developer/iota-101/create-coin/migrate-to-coin-manager.mdx
  docs/content/developer/iota-101/create-coin/regulated.mdx
  docs/content/developer/iota-101/nft/create-nft.mdx
  docs/content/developer/iota-101/nft/marketplace.mdx
  docs/content/developer/iota-101/nft/rent-nft.mdx
  docs/content/developer/iota-101/transactions/ptb/building-programmable-transaction-blocks-ts-sdk.mdx
  docs/content/developer/iota-101/transactions/ptb/coin-management.mdx
  docs/content/developer/iota-101/transactions/ptb/optimizing-gas-with-coin-merging.mdx
  docs/content/developer/iota-101/transactions/ptb/programmable-transaction-blocks-overview.mdx
  docs/content/developer/iota-101/transactions/ptb/programmable-transaction-blocks.mdx
  docs/content/developer/iota-101/transactions/ptb/simulating-references.mdx
  docs/content/developer/iota-101/transactions/sign-and-send-transactions.mdx
  docs/content/developer/iota-101/transactions/sponsored-transactions/about-sponsored-transactions.mdx
  docs/content/developer/iota-101/transactions/sponsored-transactions/use-sponsored-transactions.mdx
  docs/content/developer/iota-101/transactions/transactions.mdx
  docs/content/tags.yml
Labels: documentation, dx-improvement, devx

#4799 fix(CI): Fix Rosetta CI cross-contamination
  .github/scripts/rosetta/setup.sh
  .github/workflows/hierarchy.yml
Labels: sc-platform, dev-tools

#4884 fix(docs): fix testnet URL
  docs/content/developer/getting-started/connect.mdx
Labels: documentation, sc-platform, infrastructure

#4877 chore(cli)!: keytool improvements
  crates/iota/src/keytool.rs
Labels: sc-platform, dev-tools

#4803 remove(docker): remove unused images
  crates/iota-rosetta/README.md
  docker/deterministic-canary/Dockerfile
  docker/deterministic-canary/build.sh
  docker/iota-indexer-tidb/Dockerfile
  docker/iota-indexer-tidb/build.sh
  docker/iota-node-deterministic/Dockerfile
  docker/iota-node-deterministic/README.md
  docker/iota-node-deterministic/build.sh
  docker/iota-node-deterministic/images/image-1.png
  docker/iota-node-deterministic/images/image-2.png
  docker/iota-node-deterministic/images/image.png
  docker/iota-rosetta-devnet/Dockerfile
  docker/iota-rosetta-devnet/build.sh
  docker/iota-rosetta-devnet/docker-compose.yaml
  docker/iota-rosetta-devnet/remote/docker-compose.yaml
Labels: node, core-protocol

#4857 timelock set and misc suggestions
  crates/iota-genesis-builder/src/stardust/process_outputs.rs
  crates/iota-genesis-builder/src/stardust/types/output_header.rs
Labels: sc-platform, dev-tools

#4739 fix(iota-core): handle cost overflowing in shared object congestion tracker
  crates/iota-core/src/authority/shared_object_congestion_tracker.rs
Labels: node, core-protocol

#4876 fix(apps-ui-kit): release process not building
  .changeset/pretty-hounds-give.md
  apps/ui-icons/package.json
  apps/ui-kit/package.json
  apps/ui-kit/turbo.json
  pnpm-lock.yaml
Labels: tooling, apps-ui-kit

#4881 Add tags to SDKs and CLI Section on Dev Portal
  docs/content/references/cli/ceremony.mdx
  docs/content/references/cli/cheatsheet.mdx
  docs/content/references/cli/client.mdx
  docs/content/references/cli/console.mdx
  docs/content/references/cli/keytool.mdx
  docs/content/references/cli/move.mdx
  docs/content/references/cli/ptb.mdx
  docs/content/references/cli/validator.mdx
  docs/content/references/rust-sdk.mdx
  docs/content/tags.yml
  docs/content/ts-sdk/typescript/cryptography/keypairs.mdx
  docs/content/ts-sdk/typescript/cryptography/multisig.mdx
  docs/content/ts-sdk/typescript/faucet.mdx
  docs/content/ts-sdk/typescript/graphql.mdx
  docs/content/ts-sdk/typescript/hello-iota.mdx
  docs/content/ts-sdk/typescript/index.mdx
  docs/content/ts-sdk/typescript/install.mdx
  docs/content/ts-sdk/typescript/transaction-building/basics.mdx
  docs/content/ts-sdk/typescript/transaction-building/gas.mdx
  docs/content/ts-sdk/typescript/transaction-building/offline.mdx
  docs/content/ts-sdk/typescript/transaction-building/sponsored-transactions.mdx
Labels: documentation, dx-improvement, devx

#4792 feat(iota-genesis-builder): Add an AddressSwapSplit map for Hornet snapshot outputs
  crates/iota-e2e-tests/tests/full_node_migration_tests.rs
  crates/iota-e2e-tests/tests/migration/swap_split.csv
  crates/iota-genesis-builder/src/main.rs
  crates/iota-genesis-builder/src/stake.rs
  crates/iota-genesis-builder/src/stardust/migration/migration.rs
  crates/iota-genesis-builder/src/stardust/migration/tests/basic.rs
  crates/iota-genesis-builder/src/stardust/migration/tests/mod.rs
  crates/iota-genesis-builder/src/stardust/process_outputs.rs
  crates/iota-genesis-builder/src/stardust/test_outputs/alias_ownership.rs
  crates/iota-genesis-builder/src/stardust/test_outputs/delegator_outputs.rs
  crates/iota-genesis-builder/src/stardust/test_outputs/stardust_mix.rs
  crates/iota-genesis-builder/src/stardust/test_outputs/vesting_schedule_portfolio_mix.rs
  crates/iota-genesis-builder/src/stardust/types/address_swap_split_map.rs
  crates/iota-genesis-builder/src/stardust/types/mod.rs
  crates/iota-genesis-builder/src/stardust/types/output_header.rs
Labels: sc-platform, vm-language

#4906 feat(iota-sdk): Use default request type
  crates/iota-sdk/src/apis/quorum_driver.rs
Labels: sc-platform, dev-tools

#4610 feat(wallet-dashboard): show kiosk NFTs
  apps/core/src/components/index.ts
  apps/core/src/components/kiosk/KioskTile.tsx
  apps/core/src/components/kiosk/index.ts
  apps/core/src/components/nft/NftImage.tsx
  apps/core/src/components/nft/index.ts
  apps/wallet-dashboard/components/dialogs/assets/AssetDialog.tsx
  apps/wallet-dashboard/components/dialogs/assets/constants/assetsDialogView.ts
  apps/wallet-dashboard/components/dialogs/assets/views/DetailsView.tsx
  apps/wallet-dashboard/components/dialogs/assets/views/KioskDetailsView.tsx
  apps/wallet-dashboard/components/dialogs/assets/views/SendView.tsx
  apps/wallet-dashboard/components/dialogs/assets/views/index.ts
  apps/wallet-dashboard/components/tiles/AssetTileLink.tsx
  apps/wallet/src/ui/app/components/index.ts
  apps/wallet/src/ui/app/components/nft-display/index.tsx
Labels: tooling, wallet, wallet-dashboard

#4883 fix(vercel-script): update script to not `cd` into another folder
  scripts/tooling/vercel/ignore-build-step-previews.sh
Labels: tooling

#4934 fix(apps-ui-kit): improve `prepublishOnly` script by adding turbo
  apps/ui-kit/package.json
Labels: apps-ui-kit

#4728 feat(examples): add transfer to shared object example
  examples/move/transfer-to-shared-object/Move.toml
  examples/move/transfer-to-shared-object/sources/shared_coins.move
Labels: sc-platform, dev-tools

#4893 feat(iota): add data_ingestion_dir to iota start command
  crates/iota/src/iota_commands.rs
  crates/iota/tests/cli_tests.rs
Labels: sc-platform, dev-tools

#4781 fix(wallet): empty info box on shorter mnemonic
  apps/wallet/src/ui/app/components/accounts/ImportRecoveryPhraseForm.tsx
Labels: tooling, wallet

#4901 feat: add archive info for formal snapshots
  crates/iota-tool/src/commands.rs
Labels: devops-admin, devops

#4828 Fix get_all_balances returning zero objects count in fullnode
  crates/iota-indexer/tests/common/mod.rs
  crates/iota-indexer/tests/rpc-tests/coin_api.rs
  crates/iota-indexer/tests/rpc-tests/transaction_builder.rs
  crates/iota-json-rpc-tests/tests/coin_api.rs
  crates/iota-storage/src/indexes.rs
Labels: sc-platform, infrastructure

#4771 feat(ts-sdk:dapp-kit): Improve `connect-modal` style
  .changeset/mighty-pans-suffer.md
  sdk/dapp-kit/src/components/connect-modal/views/ConnectionStatus.tsx
  sdk/dapp-kit/src/components/connect-modal/views/GettingStarted.css.ts
  sdk/dapp-kit/src/components/connect-modal/views/GettingStarted.tsx
  sdk/dapp-kit/src/components/connect-modal/wallet-list/WalletList.css.ts
  sdk/dapp-kit/src/components/connect-modal/wallet-list/WalletList.tsx
  sdk/dapp-kit/src/themes/darkTheme.ts
Labels: tooling, ts-sdk

#4777 feat(dashboard): Refresh transactions history after send
  apps/wallet-dashboard/components/dialogs/send-token/SendTokenDialog.tsx
Labels: tooling, wallet-dashboard

#4786 refactor(tooling): Update usage of Sentry deprecated methods
  apps/core/src/api/SentryHttpTransport.ts
  apps/explorer/src/lib/utils/sentry.ts
  apps/wallet/src/ui/app/helpers/sentry.ts
  apps/wallet/src/ui/app/pages/home/transfer-coin/index.tsx
  apps/wallet/src/ui/app/staking/stake/StakingCard.tsx
Labels: tooling, wallet, explorer

#4879 feat(explorer): Render `vector<u8>` value types in tx inputs
  apps/explorer/src/pages/transaction-result/programmable-transaction-view/InputsCard.tsx
Labels: tooling, explorer

#4817 feat(devx): Update discord URLs, removed invalid snippet
  docs/content/_snippets/publish-to-devnet-with-coins.mdx
  docs/content/about-iota/FAQ.mdx
  docs/content/developer/advanced/introducing-move-2024.mdx
  docs/content/iota-identity/contribute.mdx
  docs/content/references/contribute/contribute-to-iota-repos.mdx
  docs/site/docusaurus.config.js
Labels: documentation, dx-documentation, devx

#4815 fix(docs): Removed custom-indexer URLs and added admonition
  docs/content/developer/advanced/custom-indexer.mdx
Labels: documentation, devx

#4501 chore(ci): stale PRs/issues label values
  .github/workflows/stale.yml
Labels: sc-platform, dev-tools

#4953 fix(CI): Fix ternary operator in slack CI
  .github/workflows/develop_ci_slack_report.yml
Labels: sc-platform, dev-tools

#4946 feat: Add docker configuration for checkpoints remote store
  docker/iota-data-ingestion/Dockerfile
  docker/iota-data-ingestion/README.md
  docker/iota-data-ingestion/build.sh
  docker/iota-data-ingestion/config/config.yaml
  docker/iota-data-ingestion/docker-compose.yaml
Labels: sc-platform, infrastructure

#4721 Fix (developer) docs: tool versions, troubleshooting, precisions, ... [](https://github.com/iotaledger/devx/issues/517)
  docs/content/developer/getting-started/local-network.mdx
Labels: documentation, node, core-protocol

#4960 fix(iota): fix PTB upgrade command
  crates/iota/src/client_ptb/builder.rs
Labels: sc-platform, dev-tools

#4874 Use same pattern for force_new_epoch in query_validator_epoch_info_event as in other tests
  crates/iota-indexer/tests/rpc-tests/indexer_api.rs
Labels: sc-platform, infrastructure

#4765 fix: Add EpochEnded error to be retryable
  crates/iota-core/src/unit_tests/authority_aggregator_tests.rs
  crates/iota-types/src/error.rs
Labels: node, core-protocol

#4823 chore: fix clippy 1.84 lints
  crates/iota-core/src/checkpoints/checkpoint_executor/mod.rs
  crates/iota-core/src/quorum_driver/tests.rs
  crates/iota-genesis-builder/src/stardust/native_token/package_builder.rs
  crates/iota-protocol-config-macros/src/lib.rs
  crates/iota-rest-api/src/response.rs
  crates/iota-source-validation/src/tests.rs
  crates/iota-swarm/src/memory/node.rs
  crates/iota-swarm/src/memory/swarm.rs
  crates/iota-transactional-test-runner/src/test_adapter.rs
  crates/iota-types/src/stardust/output/basic.rs
  crates/typed-store/src/rocks/mod.rs
  iota-execution/cut/src/plan.rs
Labels: sc-platform, dev-tools

#4957 fix(iota-keys): check alias uniqueness in alias update
  crates/iota-keys/src/keystore.rs
  crates/iota-keys/tests/tests.rs
Labels: sc-platform, dev-tools

#4751 chore(*): Use proper attributes for clap derives
  crates/iota-analytics-indexer/src/lib.rs
  crates/iota-aws-orchestrator/src/main.rs
  crates/iota-benchmark/src/options.rs
  crates/iota-bridge-cli/src/lib.rs
  crates/iota-bridge-indexer/src/main.rs
  crates/iota-bridge/src/main.rs
  crates/iota-cluster-test/src/config.rs
  crates/iota-core/src/generate_format.rs
  crates/iota-faucet/src/faucet/mod.rs
  crates/iota-genesis-builder/examples/build_stardust_genesis.rs
  crates/iota-genesis-builder/examples/build_stardust_genesis_from_s3.rs
  crates/iota-genesis-builder/examples/snapshot_add_test_outputs.rs
  crates/iota-genesis-builder/examples/snapshot_only_test_outputs.rs
  crates/iota-genesis-builder/src/main.rs
  crates/iota-graphql-rpc/src/commands.rs
  crates/iota-indexer/examples/index_genesis_transaction.rs
  crates/iota-indexer/src/lib.rs
  crates/iota-move-lsp/src/bin/move-analyzer.rs
  crates/iota-move/src/build.rs
  crates/iota-move/src/coverage.rs
  crates/iota-move/src/disassemble.rs
  crates/iota-move/src/lib.rs
  crates/iota-move/src/main.rs
  crates/iota-move/src/manage_package.rs
  crates/iota-move/src/migrate.rs
  crates/iota-move/src/new.rs
  crates/iota-move/src/unit_test.rs
  crates/iota-node/src/main.rs
  crates/iota-open-rpc/src/generate_json_rpc_spec.rs
  crates/iota-proxy/src/main.rs
  crates/iota-rosetta/src/main.rs
  crates/iota-rpc-loadgen/src/main.rs
  crates/iota-single-node-benchmark/src/command.rs
  crates/iota-surfer/src/main.rs
  crates/iota-tool/src/commands.rs
  crates/iota-transactional-test-runner/src/args.rs
  crates/iota/src/client_commands.rs
  crates/iota/src/client_ptb/ptb.rs
  crates/iota/src/console.rs
  crates/iota/src/fire_drill.rs
  crates/iota/src/genesis_ceremony.rs
  crates/iota/src/iota_commands.rs
  crates/iota/src/keytool.rs
  crates/iota/src/main.rs
  crates/iota/src/validator_commands.rs
  examples/tic-tac-toe/cli/src/client.rs
  examples/tic-tac-toe/cli/src/command.rs
  examples/tic-tac-toe/cli/src/main.rs
Labels: sc-platform, dev-tools

#4891 feat(wallet): add balance finder presentation view
  apps/apps-backend/src/features/features.controller.ts
  apps/wallet/src/ui/app/index.tsx
  apps/wallet/src/ui/app/pages/accounts/ProtectAccountPage.tsx
  apps/wallet/src/ui/app/pages/accounts/manage/RemoveDialog.tsx
  apps/wallet/src/ui/app/pages/accounts/manage/accounts-finder/AccountsFinderIntroPage.tsx
  apps/wallet/src/ui/assets/images/balance_finder_intro.svg
  apps/wallet/src/ui/assets/images/balance_finder_intro_darkmode.svg
Labels: tooling, wallet, apps-backend

#4928 fix(core): Fix crashes in execution_driver due to inability to execute transactions
  crates/iota-core/src/execution_cache/writeback_cache.rs
Labels: node, core-protocol

#4941 fix(core): Wait for all previous commits to be sent to consensus handler at startup
  consensus/core/src/authority_node.rs
  consensus/core/src/commit_consumer.rs
  crates/iota-core/src/consensus_manager/mysticeti_manager.rs
Labels: node, core-protocol

#4886 Merge from upstream: fix(node): Do not continue transaction execution attempts after epoch has ended
  crates/iota-core/src/execution_driver.rs
Labels: node, core-protocol

#4932 Merge from upstream: fix(node): Hold reconfig lock while handling transaction
  crates/iota-core/src/authority.rs
Labels: node, core-protocol

#4892 chore(ci): e2e changes
  .github/workflows/_e2e.yml
  .github/workflows/hierarchy.yml
Labels: sc-platform, dev-tools

#3926 feat(scripts): add script to update light client checkpoints
  crates/iota-light-client/src/utils.rs
  scripts/update_light_client_checkpoints.sh
Labels: node, core-protocol

#4966 chore: cleanup iota-data-ingestion docker folder structure
  dev-tools/iota-data-ingestion/README.md
  dev-tools/iota-data-ingestion/config/config.yaml
  dev-tools/iota-data-ingestion/docker-compose.yaml
  docker/iota-data-ingestion/Dockerfile
  docker/iota-data-ingestion/build.sh
  docker/iota-data-ingestion/docker-compose.yaml
Labels: node, core-protocol

#4747 feat(wallet,wallet-dashboard): show fiat balance
  apps/apps-backend/src/constants.ts
  apps/apps-backend/src/features/features.controller.ts
  apps/apps-backend/src/prices/prices.controller.ts
  apps/core/src/constants/coinTypeToFiatTokenName.constants.ts
  apps/core/src/constants/index.ts
  apps/core/src/enums/features.enums.ts
  apps/core/src/enums/fiatTokenName.enums.ts
  apps/core/src/enums/index.ts
  apps/core/src/hooks/index.ts
  apps/core/src/hooks/useGetFiatBalance.ts
  apps/core/src/hooks/useTokenPrice.ts
  apps/core/src/utils/formatBalanceToUSD.ts
  apps/core/src/utils/index.ts
  apps/explorer/src/components/IotaTokenCard.tsx
  apps/explorer/src/pages/home/Home.tsx
  apps/wallet-dashboard/components/account-balance/AccountBalance.tsx
  apps/wallet/src/ui/app/pages/home/tokens/coin-balance/index.tsx
Labels: tooling, wallet, explorer, wallet-dashboard, apps-backend

#4955 chore(*): Remove `test-utils` feature from `iota-types`
  crates/iota-archival/Cargo.toml
  crates/iota-bridge-indexer/Cargo.toml
  crates/iota-bridge/Cargo.toml
  crates/iota-config/Cargo.toml
  crates/iota-core/Cargo.toml
  crates/iota-data-ingestion-core/Cargo.toml
  crates/iota-data-ingestion/Cargo.toml
  crates/iota-genesis-builder/Cargo.toml
  crates/iota-json-rpc-types/Cargo.toml
  crates/iota-json-rpc-types/src/iota_event.rs
  crates/iota-json-rpc-types/src/iota_transaction.rs
  crates/iota-json-rpc/Cargo.toml
  crates/iota-json/Cargo.toml
  crates/iota-open-rpc/Cargo.toml
  crates/iota-proxy/Cargo.toml
  crates/iota-rpc-loadgen/Cargo.toml
  crates/iota-single-node-benchmark/Cargo.toml
  crates/iota-storage/Cargo.toml
  crates/iota-transactional-test-runner/Cargo.toml
  crates/iota-types/Cargo.toml
  crates/iota-types/src/base_types.rs
  crates/iota-types/src/crypto.rs
  crates/iota-types/src/gas_coin.rs
  crates/iota-types/src/lib.rs
  crates/iota-types/src/messages_checkpoint.rs
  crates/iota-types/src/stardust/coin_kind.rs
  crates/iota-types/src/transaction.rs
  crates/iota-types/src/zk_login_authenticator.rs
  crates/simulacrum/Cargo.toml
  crates/test-cluster/Cargo.toml
  crates/transaction-fuzzer/Cargo.toml
Labels: sc-platform, dev-tools

#4962 chore(CI): Gate long running e2e and graphql tests
  .github/actions/diffs/action.yml
  .github/workflows/_e2e.yml
  .github/workflows/_rust.yml
  .github/workflows/_rust_tests.yml
  .github/workflows/hierarchy.yml
Labels: sc-platform, dev-tools

#4831 chore(iota-graphql-rpc,move-vm-profiler,iota-node): Allow `unexpected_cfgs` and rework some macros
  crates/iota-graphql-rpc/src/data/pg.rs
  crates/iota-node/src/main.rs
  crates/iota/src/client_commands.rs
  external-crates/move/crates/move-vm-profiler/src/lib.rs
Labels: sc-platform, dev-tools

#4940 feat(node): Add `fatal!` and `debug_fatal!` macros
  Cargo.lock
  crates/iota-common/Cargo.toml
  crates/iota-common/src/lib.rs
  crates/iota-common/src/logging.rs
  crates/iota-core/src/execution_cache/object_locks.rs
Labels: node, core-protocol

#4970 fix: make slipstream script compatible with current repo state
  scripts/slipstream/config_slipstream.json
  scripts/slipstream/overwrites/narwhal/.clippy.toml
  scripts/slipstream/overwrites/v1.29.0/apps/wallet/turbo.json
  scripts/slipstream/overwrites/v1.29.0/turbo.json
  scripts/slipstream/overwrites/v1.32.2/dprint.json
  scripts/slipstream/overwrites/v1.32.2/pnpm-workspace.yaml
  scripts/slipstream/patches/clippy.patch
  scripts/slipstream/patches/copyright.patch
  scripts/slipstream/patches/gitignore.patch
  scripts/slipstream/patches/narwhal_clippy.patch
  scripts/slipstream/patches/pnpm-workspace.patch
  scripts/slipstream/patches/rustfmt.patch
  scripts/slipstream/patches/v1.30.0/iota-authority-aggregation-clone.patch
  scripts/slipstream/patches/v1.32.2/dprint.patch
  scripts/slipstream/patches_slipstream/fix_invalid_comments.patch
  scripts/slipstream/run_compare.sh
  scripts/slipstream/run_linters.sh
  scripts/slipstream/run_recompile_framework_packages.sh
  scripts/slipstream/run_slipstream.sh
  scripts/slipstream/slipstream.py
Labels: node, core-protocol

#4768 fix(consensus): fix amnesia recovery boot run
  consensus/core/src/commit_consumer.rs
  crates/iota-core/src/consensus_manager/mysticeti_manager.rs
  crates/iota-core/src/unit_tests/mysticeti_manager_tests.rs
Labels: node, core-protocol

#4899 fix(node): Fix logic for end-of-epoch checkpoint when dkg has failed
  crates/iota-core/src/authority/authority_per_epoch_store.rs
Labels: node, core-protocol

#4900 fix(node): Fix one more possible crash in execution_driver
  crates/iota-core/src/execution_driver.rs
Labels: node, core-protocol

#4898 fix(node) Remove `ContinueWithTimeout` in authority aggregation
  crates/iota-authority-aggregation/src/lib.rs
  crates/iota-core/src/unit_tests/authority_aggregator_tests.rs
Labels: node, core-protocol

#4897 fix(node): Fix retry logic in GCS and improve logging
  crates/iota-config/src/object_storage_config.rs
  crates/iota-snapshot/src/reader.rs
  crates/iota-storage/src/object_store/http/gcs.rs
  crates/iota-storage/src/object_store/mod.rs
Labels: node, core-protocol

#4971 chore: bump rust toolchain to 1.84
  rust-toolchain.toml
  scripts/generate_files/Dockerfile
Labels: sc-platform, dev-tools

#4979 feat(bin-version): add `-debug` suffix to VERSION
  crates/bin-version/src/lib.rs
Labels: sc-platform, dev-tools

#4757 Fix rare crash when a transaction executes after its shared object assignments have been deleted
  crates/iota-core/src/authority.rs
  crates/iota-core/src/authority/authority_per_epoch_store.rs
  crates/iota-core/src/transaction_input_loader.rs
  crates/iota-core/src/transaction_manager.rs
  crates/iota-core/src/unit_tests/authority_tests.rs
  crates/iota-single-node-benchmark/src/mock_storage.rs
  crates/iota-transactional-test-runner/src/lib.rs
  crates/iota-types/src/storage/mod.rs
Labels: node, core-protocol

#4929 Merge from upstream: fix(node): Terminate checkpoint builder before end of epoch
  crates/iota-core/src/checkpoints/mod.rs
Labels: node, core-protocol

#4968 fix(metrics): Reset some AuthorityMetrics on epoch change
  crates/iota-core/src/authority.rs
Labels: consensus, core-protocol

#4947 feat(config): Change config for admin interface from port to address
  crates/iota-config/data/fullnode-template.yaml
  crates/iota-config/src/node.rs
  crates/iota-node/src/admin.rs
  crates/iota-node/src/main.rs
  crates/iota-swarm-config/src/node_config_builder.rs
  crates/iota-swarm-config/tests/snapshot_tests.rs
  crates/iota-swarm-config/tests/snapshots/snapshot_tests__network_config_snapshot_matches.snap
  crates/iota-tool/src/db_tool/mod.rs
  crates/iota/src/iota_commands.rs
  dev-tools/iota-network/genesis/overlays/common.yaml
  dev-tools/iota-network/genesis/static/fullnode.yaml
  dev-tools/iota-private-network/bootstrap.sh
  dev-tools/iota-private-network/configs/fullnodes/backup.yaml
  dev-tools/iota-private-network/configs/fullnodes/fullnode.yaml
  dev-tools/iota-private-network/configs/validator-common.yaml
  nre/config/validator.yaml
Labels: node, core-protocol

#4977 fix(config): Refactor and apply client options to S3 and Azure builders
  crates/iota-config/src/object_storage_config.rs
  crates/iota-storage/src/object_store/http/s3.rs
Labels: node, core-protocol

#4975 Reject unsupported transaction filters in iotax_subscribeTransaction
  crates/iota-json-rpc-types/src/iota_transaction.rs
  crates/iota-json-rpc/src/indexer_api.rs
Labels: sc-platform, infrastructure

#4954 [iota-indexer] Remove mysql-feature gated code from indexer, ungate postgres-feature code
  Cargo.lock
  crates/iota-cluster-test/src/cluster.rs
  crates/iota-graphql-rpc/Cargo.toml
  crates/iota-graphql-rpc/src/context_data/db_data_provider.rs
  crates/iota-graphql-rpc/src/data/pg.rs
  crates/iota-graphql-rpc/src/test_infra/cluster.rs
  crates/iota-graphql-rpc/src/types/event/mod.rs
  crates/iota-indexer/Cargo.toml
  crates/iota-indexer/README.md
  crates/iota-indexer/examples/index_genesis_transaction.rs
  crates/iota-indexer/src/apis/coin_api.rs
  crates/iota-indexer/src/apis/extended_api.rs
  crates/iota-indexer/src/apis/governance_api.rs
  crates/iota-indexer/src/apis/indexer_api.rs
  crates/iota-indexer/src/apis/move_utils.rs
  crates/iota-indexer/src/apis/read_api.rs
  crates/iota-indexer/src/apis/transaction_builder_api.rs
  crates/iota-indexer/src/db.rs
  crates/iota-indexer/src/handlers/checkpoint_handler.rs
  crates/iota-indexer/src/handlers/objects_snapshot_processor.rs
  crates/iota-indexer/src/handlers/pruner.rs
  crates/iota-indexer/src/indexer.rs
  crates/iota-indexer/src/indexer_reader.rs
  crates/iota-indexer/src/lib.rs
  crates/iota-indexer/src/main.rs
  crates/iota-indexer/src/models/checkpoints.rs
  crates/iota-indexer/src/models/events.rs
  crates/iota-indexer/src/models/large_objects.rs
  crates/iota-indexer/src/models/mod.rs
  crates/iota-indexer/src/models/transactions.rs
  crates/iota-indexer/src/schema/mod.rs
  crates/iota-indexer/src/schema/mysql.rs
  crates/iota-indexer/src/store/mod.rs
  crates/iota-indexer/src/store/package_resolver.rs
  crates/iota-indexer/src/store/pg_indexer_analytical_store.rs
  crates/iota-indexer/src/store/pg_indexer_store.rs
  crates/iota-indexer/src/store/pg_partition_manager.rs
  crates/iota-indexer/src/system_package_task.rs
  crates/iota-indexer/src/test_utils.rs
  crates/iota-indexer/tests/common/mod.rs
  crates/iota-indexer/tests/ingestion_tests.rs
  crates/iota-indexer/tests/rpc-tests/coin_api.rs
  crates/iota-indexer/tests/rpc-tests/transaction_builder.rs
  crates/iota/src/iota_commands.rs
Labels: sc-platform, infrastructure

#4981 feat: update version to 0.9.1-beta
  Cargo.lock
  Cargo.toml
  crates/iota-graphql-e2e-tests/tests/call/simple.exp
  crates/iota-open-rpc/spec/openrpc.json
Labels: sc-platform, core-protocol

#4827 fix(wallet, wallet-dashboard): keep full precision in gas formatted amounts
  apps/core/src/components/gas/GasSummary.tsx
  apps/core/src/components/inputs/SendTokenFormInput.tsx
  apps/core/src/hooks/useTransactionData.ts
  apps/wallet-dashboard/components/dialogs/migration/views/ConfirmMigrationView.tsx
  apps/wallet-dashboard/components/dialogs/send-token/views/ReviewValuesFormView.tsx
  apps/wallet-dashboard/components/dialogs/staking/views/EnterAmountDialogLayout.tsx
  apps/wallet-dashboard/components/dialogs/unstake/views/UnstakeView.tsx
  apps/wallet/src/ui/app/hooks/useTransactionData.ts
  apps/wallet/src/ui/app/pages/home/transfer-coin/PreviewTransfer.tsx
Labels: tooling, wallet, wallet-dashboard

#4824 fix(wallet,wallet-dashboard): fix total stake/unstake amount in timelocks transaction summary
  apps/core/src/components/transaction/TransactionReceipt.tsx
  apps/core/src/components/transaction/details/StakeTransactionDetails.tsx
  apps/core/src/components/transaction/info/UnstakeTransactionInfo.tsx
  apps/core/src/utils/stake/getStakeDetailsFromEvent.ts
  apps/core/src/utils/stake/getStakeDetailsFromEvents.ts
  apps/core/src/utils/stake/getTransactionAmountForTimelocked.ts
  apps/core/src/utils/stake/getUnstakeDetailsFromEvent.ts
  apps/core/src/utils/stake/getUnstakeDetailsFromEvents.ts
  apps/core/src/utils/stake/index.ts
  apps/wallet-dashboard/app/(protected)/vesting/page.tsx
  apps/wallet-dashboard/components/transactions/TransactionTile.tsx
  apps/wallet/src/ui/app/components/transactions-card/index.tsx
Labels: tooling, wallet, wallet-dashboard

#4997 [indexer]: Finalize mysql/tidb cleanup
  crates/iota-indexer/migrations/mysql/2024-03-22-052019_events/down.sql
  crates/iota-indexer/migrations/mysql/2024-03-22-052019_events/up.sql
  crates/iota-indexer/migrations/mysql/2024-03-25-203621_objects/down.sql
  crates/iota-indexer/migrations/mysql/2024-03-25-203621_objects/up.sql
  crates/iota-indexer/migrations/mysql/2024-03-26-004025_transactions/down.sql
  crates/iota-indexer/migrations/mysql/2024-03-26-004025_transactions/up.sql
  crates/iota-indexer/migrations/mysql/2024-04-24-180008_checkpoints/down.sql
  crates/iota-indexer/migrations/mysql/2024-04-24-180008_checkpoints/up.sql
  crates/iota-indexer/migrations/mysql/2024-04-24-180207_epochs/down.sql
  crates/iota-indexer/migrations/mysql/2024-04-24-180207_epochs/up.sql
  crates/iota-indexer/migrations/mysql/2024-04-24-180249_packages/down.sql
  crates/iota-indexer/migrations/mysql/2024-04-24-180249_packages/up.sql
  crates/iota-indexer/migrations/mysql/2024-04-24-180418_tx_indices/down.sql
  crates/iota-indexer/migrations/mysql/2024-04-24-180418_tx_indices/up.sql
  crates/iota-indexer/migrations/mysql/2024-04-24-180727_display/down.sql
  crates/iota-indexer/migrations/mysql/2024-04-24-180727_display/up.sql
  crates/iota-indexer/migrations/mysql/2024-05-05-155158_obj_indices/down.sql
  crates/iota-indexer/migrations/mysql/2024-05-05-155158_obj_indices/up.sql
  crates/iota-indexer/src/store/mod.rs
  crates/iota-indexer/src/store/pg_indexer_store.rs
Labels: sc-platform, infrastructure

#4963 fix nightly simtests
  crates/iota-e2e-tests/tests/snapshot_tests.rs
  crates/iota-e2e-tests/tests/snapshots/snapshot_tests__body_fn.snap
  scripts/simtest/simtest-run.sh
Labels: node, core-protocol

#4969 fix(iota): fix type resolution for primitive type instantiations
  crates/iota-json-rpc-types/src/iota_transaction.rs
  crates/iota-json/src/lib.rs
  crates/iota-types/src/base_types.rs
  crates/iota/src/client_ptb/builder.rs
  crates/iota/tests/ptb_files/resolution/type_param_resolution.ptb
  crates/iota/tests/snapshots/ptb_files_tests__type_param_resolution.ptb.snap
Labels: sc-platform, dev-tools

#4989 task(devx): Add Tags - IOTA Wallet
  docs/content/about-iota/iota-wallet/FAQ.mdx
  docs/content/about-iota/iota-wallet/getting-started.mdx
  docs/content/about-iota/iota-wallet/how-to/basics.mdx
  docs/content/about-iota/iota-wallet/how-to/get-test-tokens.mdx
  docs/content/about-iota/iota-wallet/how-to/integrate-ledger.mdx
  docs/content/about-iota/iota-wallet/how-to/multi-account.mdx
  docs/content/about-iota/iota-wallet/how-to/stake.mdx
  docs/content/developer/getting-started/get-address.mdx
  docs/content/tags.yml
Labels: documentation, devx

#4959 feat(wallet): hint user about vesting in homepage
  apps/wallet/src/shared/constants.ts
  apps/wallet/src/ui/app/pages/home/tokens/OverviewHint.tsx
  apps/wallet/src/ui/app/pages/home/tokens/ReceiveTokensDialog.tsx
  apps/wallet/src/ui/app/pages/home/tokens/SupplyIncreaseVestingStakingDialog.tsx
  apps/wallet/src/ui/app/pages/home/tokens/TokensDetails.tsx
  apps/wallet/src/ui/assets/images/vested_staking_dialog.png
  apps/wallet/src/ui/assets/images/vested_staking_dialog_darkmode.png
Labels: tooling, wallet

#5007 task(devx): Remove Telemetry docs
  docs/content/operator/telemetry/_iota-telemetry.mdx
  docs/content/sidebars/operator.js
Labels: documentation, devx

#4819 docs(cli): add completions commands
  docs/content/references/cli.mdx
Labels: documentation, sc-platform, dev-tools

#5018 fix: `basic_read_cmd_snapshot_tests` by ignoring it
  crates/iota-e2e-tests/tests/snapshot_tests.rs
  crates/iota-e2e-tests/tests/snapshots/snapshot_tests__body_fn.snap
Labels: node, core-protocol

#5000 feat(wallet): update manage accounts to accomodate for legacy account sources and add legacy badge
  apps/wallet/src/background/accounts/isLegacyAccount.ts
  apps/wallet/src/ui/app/pages/accounts/manage/AccountGroup.tsx
  apps/wallet/src/ui/app/pages/accounts/manage/AccountGroupItem.tsx
  apps/wallet/src/ui/app/shared/page-main-layout/PageMainLayout.tsx
Labels: tooling, wallet
