Repository iotaledger/iota, pull requests merged in 2025-09, with the labels that each got.

#8412 feat(gRPC): remove unused import
  crates/iota/src/iota_commands.rs
Labels: node, core-protocol

#8408 feat: bump iota to v1.7.0-alpha
  Cargo.lock
  Cargo.toml
  crates/iota-graphql-e2e-tests/tests/call/simple.snap
  crates/iota-open-rpc/spec/openrpc.json
Labels: sc-platform, dev-tools

#8430 feat(iota-names): testnet deployment
  crates/iota-names/src/config.rs
Labels: sc-platform, dev-tools

#8401 feat(explorer): improve iota names ui in the explorer
  apps/explorer/src/components/owned-objects/SmallThumbnailsView.tsx
  apps/explorer/src/components/owned-objects/ThumbnailsView.tsx
  apps/explorer/src/components/ui/InternalLink.tsx
  apps/explorer/src/components/ui/PageHeader.tsx
  apps/explorer/src/components/ui/modal/ObjectModal.tsx
  apps/explorer/src/lib/ui/utils/generateObjectListColumns.tsx
  apps/explorer/src/lib/ui/utils/generateTransactionsTableColumns.tsx
  apps/explorer/src/pages/object-result/views/ObjectView.tsx
  apps/explorer/src/pages/transaction-result/transaction-summary/BalanceChanges.tsx
  apps/explorer/src/pages/transaction-result/transaction-summary/ObjectChanges.tsx
Labels: tooling, explorer

#8437 chore(ts-apps): Bump iota-names-sdk version used (0.3.0)
  apps/core/package.json
  apps/explorer/package.json
  apps/wallet-dashboard/package.json
  apps/wallet/package.json
  pnpm-lock.yaml
Labels: tooling, wallet, explorer, wallet-dashboard

#7815 fix(docs): added docs and examples for iota::test_scenario and utils …
  docs/content/developer/getting-started/build-test.mdx
  docs/content/developer/getting-started/create-a-module.mdx
  examples/move/first_package/sources/first_package.move
Labels: documentation, devrel

#8445 feat: bump iota to v1.6.1-rc
  Cargo.lock
  Cargo.toml
  crates/iota-graphql-e2e-tests/tests/call/simple.snap
  crates/iota-open-rpc/spec/openrpc.json
Labels: sc-platform, dev-tools

#8447 chore: Allow `RUSTSEC-2025-0055`
  deny.toml
  external-crates/move/deny.toml
Labels: sc-platform, dev-tools

#8456 upstream(iota-indexer): latency metrics for objects version
  crates/iota-indexer/src/metrics.rs
  crates/iota-indexer/src/store/pg_indexer_store.rs
Labels: sc-platform, infrastructure

#8444 fix(graphql): increase gas coin amount for dry runs
  crates/iota-core/src/authority.rs
  crates/iota-core/src/unit_tests/authority_tests.rs
Labels: sc-platform, dev-tools

#8461 feat: enable congestion tracker
  crates/iota-core/src/checkpoints/checkpoint_executor/mod.rs
Labels: research, core-protocol

#8453 upstream(indexer): commit checkpoints eagerly
  crates/iota-indexer/src/handlers/committer.rs
  crates/iota-indexer/tests/ingestion_tests.rs
Labels: sc-platform, infrastructure

#8479 feat(docs): Enhance health check documentation for consensus module
  docs/content/_snippets/operator/monitoring-health-metrics.mdx
Labels: documentation, consensus, core-protocol

#8460 feat(indexer): Merge optimistic indexing feature branch to develop
  crates/iota-indexer/diesel.toml
  crates/iota-indexer/migrations/pg/2025-05-29-072412_insertion-order-revisited/down.sql
  crates/iota-indexer/migrations/pg/2025-05-29-072412_insertion-order-revisited/up.sql
  crates/iota-indexer/src/apis/indexer_api.rs
  crates/iota-indexer/src/apis/mod.rs
  crates/iota-indexer/src/apis/read_api.rs
  crates/iota-indexer/src/apis/write_api.rs
  crates/iota-indexer/src/db.rs
  crates/iota-indexer/src/errors.rs
  crates/iota-indexer/src/handlers/checkpoint_handler.rs
  crates/iota-indexer/src/handlers/committer.rs
  crates/iota-indexer/src/handlers/mod.rs
  crates/iota-indexer/src/indexer.rs
  crates/iota-indexer/src/indexer_reader.rs
  crates/iota-indexer/src/lib.rs
  crates/iota-indexer/src/main.rs
  crates/iota-indexer/src/models/event_indices.rs
  crates/iota-indexer/src/models/events.rs
  crates/iota-indexer/src/models/macros.rs
  crates/iota-indexer/src/models/mod.rs
  crates/iota-indexer/src/models/objects.rs
  crates/iota-indexer/src/models/transactions.rs
  crates/iota-indexer/src/models/tx_indices.rs
  crates/iota-indexer/src/optimistic_indexing.rs
  crates/iota-indexer/src/rolling/error.rs
  crates/iota-indexer/src/rolling/extract.rs
  crates/iota-indexer/src/rolling/mod.rs
  crates/iota-indexer/src/rolling/persist.rs
  crates/iota-indexer/src/rolling/transform.rs
  crates/iota-indexer/src/schema.rs
  crates/iota-indexer/src/store/indexer_store.rs
  crates/iota-indexer/src/store/mod.rs
  crates/iota-indexer/src/store/pg_indexer_store.rs
  crates/iota-indexer/src/test_utils.rs
  crates/iota-indexer/tests/common/mod.rs
  crates/iota-indexer/tests/ingestion_tests.rs
  crates/iota-indexer/tests/rpc-tests/coin_api.rs
  crates/iota-indexer/tests/rpc-tests/indexer_api.rs
  crates/iota-indexer/tests/rpc-tests/read_api.rs
  crates/iota-indexer/tests/rpc-tests/transaction_builder.rs
  crates/iota-indexer/tests/rpc-tests/write_api.rs
Labels: sc-platform, infrastructure

#8501 fix(docs): fix function name for requesting IOTA from faucet
  docs/content/developer/getting-started/get-coins.mdx
Labels: documentation, devrel

#8574 fix: ptb arguments checking
  crates/iota-types/src/auth_context.rs
  iota-execution/latest/iota-adapter/src/programmable_transactions/execution.rs
Labels: sc-platform, vm-language

#8577 fix(auth_context): serialization uses TypeName instead of TypeInput
  crates/iota-types/src/auth_context.rs
  crates/iota-types/src/type_input.rs
Labels: sc-platform, vm-language

#8578 fix: Show the real required bytes length
  crates/iota-types/src/crypto.rs
Labels: l2-smart-contract

#8562 fix(explorer): Use `href` for the `link` field in the explorer object view
  apps/explorer/src/pages/object-result/views/ObjectView.tsx
Labels: tooling, explorer

#8588 feat(tx-test-runner): Add dev inspect and dry run tests
  crates/iota-adapter-transactional-tests/tests/dev_inspect/arbitrary_args.move
  crates/iota-adapter-transactional-tests/tests/dev_inspect/arbitrary_args.snap
  crates/iota-adapter-transactional-tests/tests/dev_inspect/conservation.move
  crates/iota-adapter-transactional-tests/tests/dev_inspect/conservation.snap
  crates/iota-adapter-transactional-tests/tests/dev_inspect/entry_checks.move
  crates/iota-adapter-transactional-tests/tests/dev_inspect/entry_checks.snap
  crates/iota-adapter-transactional-tests/tests/dev_inspect/unused_value_without_drop.move
  crates/iota-adapter-transactional-tests/tests/dev_inspect/unused_value_without_drop.snap
  crates/iota-adapter-transactional-tests/tests/dry_run/arbitrary_args.move
  crates/iota-adapter-transactional-tests/tests/dry_run/arbitrary_args.snap
  crates/iota-adapter-transactional-tests/tests/dry_run/conservation.move
  crates/iota-adapter-transactional-tests/tests/dry_run/conservation.snap
  crates/iota-adapter-transactional-tests/tests/dry_run/entry_checks.move
  crates/iota-adapter-transactional-tests/tests/dry_run/entry_checks.snap
  crates/iota-adapter-transactional-tests/tests/dry_run/gas_missing.move
  crates/iota-adapter-transactional-tests/tests/dry_run/gas_missing.snap
  crates/iota-adapter-transactional-tests/tests/dry_run/unused_value_without_drop.move
  crates/iota-adapter-transactional-tests/tests/dry_run/unused_value_without_drop.snap
  crates/iota-adapter-transactional-tests/tests/upgrade/basic.move
  crates/iota-adapter-transactional-tests/tests/upgrade/basic.snap
  crates/iota-transactional-test-runner/src/args.rs
  crates/iota-transactional-test-runner/src/test_adapter.rs
Labels: sc-platform, vm-language

#8595 feat(move-analyzer): disable building of `move-analyzer` binary in external crates
  external-crates/move/crates/move-analyzer/Cargo.toml
Labels: sc-platform, vm-language

#8585 feat(consensus): compress ancestor and ack references into a single vector
  crates/starfish/core/src/block_header.rs
Labels: consensus, core-protocol

#8600 feat(consensus): use u8 for authorityindex
  crates/starfish/config/src/committee.rs
  crates/starfish/core/src/authority_service.rs
  crates/starfish/core/src/block_header.rs
  crates/starfish/core/src/block_manager.rs
  crates/starfish/core/src/commit.rs
  crates/starfish/core/src/commit_vote_monitor.rs
  crates/starfish/core/src/core.rs
  crates/starfish/core/src/dag_state.rs
  crates/starfish/core/src/leader_schedule.rs
  crates/starfish/core/src/test_dag.rs
  crates/starfish/core/src/test_dag_builder.rs
  crates/starfish/core/src/test_dag_parser.rs
  crates/starfish/core/src/tests/pipelined_committer_tests.rs
  crates/starfish/core/src/tests/randomized_tests.rs
  crates/starfish/core/src/tests/universal_committer_tests.rs
  crates/starfish/core/src/transactions_synchronizer.rs
  crates/starfish/simtests/src/tests/simtests.rs
Labels: consensus, core-protocol

#8398 feat(starfish): refactor code in dag_state
  crates/starfish/core/src/authority_service.rs
  crates/starfish/core/src/dag_state.rs
  crates/starfish/core/src/metrics.rs
  crates/starfish/core/src/synchronizer.rs
Labels: consensus, core-protocol

#8529 feat(iota-core, iota-types): Introduction of EndOfPublishV2 transaction
  crates/iota-core/src/authority/authority_per_epoch_store.rs
  crates/iota-core/src/consensus_adapter.rs
  crates/iota-core/src/consensus_handler.rs
  crates/iota-core/src/consensus_validator.rs
  crates/iota-types/src/messages_consensus.rs
Labels: research, core-protocol

#8643 fix(grpc): correct license
  Cargo.lock
  crates/iota-grpc-api/Cargo.toml
Labels: node, core-protocol

#8620 fix(iota): Use provided sender over inferred sender
  crates/iota/src/client_commands.rs
Labels: sc-platform, dev-tools

#8618 feat(consensus, iota-core, iota-protocol-config): Add scorer protocol config
  consensus/core/src/scorer.rs
  crates/iota-core/src/authority/authority_per_epoch_store.rs
  crates/iota-core/src/consensus_handler.rs
  crates/iota-protocol-config/src/lib.rs
  crates/iota-types/src/iota_sdk_types_conversions.rs
Labels: research, core-protocol

#8636 feat(wallet): Show info message when keystone flow is awaiting for camera authorization
  apps/wallet/src/ui/app/components/keystone/KeystoneProvider.tsx
  apps/wallet/src/ui/app/hooks/useCheckCameraPermissionStatus.ts
  apps/wallet/src/ui/app/pages/accounts/ImportKeystone.tsx
Labels: tooling, wallet

#8615 feat(core): Add span to transaction/checkpoint lifecycle functions
  crates/iota-core/src/authority.rs
  crates/iota-core/src/authority/authority_per_epoch_store.rs
  crates/iota-core/src/checkpoints/checkpoint_output.rs
  crates/iota-core/src/checkpoints/mod.rs
  crates/iota-core/src/consensus_handler.rs
  crates/iota-core/src/execution_cache/proxy_cache.rs
  crates/iota-core/src/scoring_decision.rs
  crates/iota-core/src/signature_verifier.rs
  crates/iota-core/src/storage.rs
  crates/iota-core/src/transaction_orchestrator.rs
  crates/iota-json-rpc/src/balance_changes.rs
  crates/iota-json-rpc/src/transaction_execution_api.rs
  crates/iota-network/src/state_sync/mod.rs
  crates/iota-storage/src/write_path_pending_tx_log.rs
  crates/iota-transaction-checks/src/deny.rs
  crates/iota-transaction-checks/src/lib.rs
  crates/iota-types/src/deny_list_v1.rs
  crates/typed-store/src/rocks/mod.rs
  dev-tools/grafana-local/README.md
  dev-tools/grafana-local/docker-compose.yaml
  dev-tools/grafana-local/grafana-datasources-tempo.png
  dev-tools/grafana-local/tempo.yaml
  dev-tools/iota-private-network/README.md
  dev-tools/iota-private-network/docker-compose.yaml
Labels: node, core-protocol

#8647 fix(core-node): fix `IndexStore::get_transactions_by_move_function` bug
  crates/iota-core/src/jsonrpc_index.rs
Labels: node, core-protocol

#8639 feat(wallet): add multi account support for passkey accounts
  apps/wallet/src/background/accounts/passkeyAccount.ts
  apps/wallet/src/ui/app/components/accounts/AccountsFormContext.tsx
  apps/wallet/src/ui/app/helpers/passkeys.ts
  apps/wallet/src/ui/app/hooks/useCreateAccountsMutation.ts
  apps/wallet/src/ui/app/pages/accounts/ImportPasskeyPage.tsx
Labels: tooling, wallet

#8468 fix(explorer): Add tooltips to balance breakdown on address page
  apps/explorer/src/pages/address-result/AddressBalanceBreakdown.tsx
Labels: tooling, explorer

#8668 feat: bump version to v1.8.0-beta
  Cargo.lock
  Cargo.toml
  crates/iota-open-rpc/spec/openrpc.json
Labels: node, core-protocol

#8644 fix(framework-snapshot): Solve git fetch shallowness in check_manifest_against_tomls test
  crates/iota-framework-snapshot/tests/compatibility_tests.rs
Labels: sc-platform, vm-language

#8513 feat(graphql-rpc): Use optimistic indexing in Graphql
  Cargo.lock
  crates/iota-graphql-rpc/Cargo.toml
  crates/iota-graphql-rpc/src/mutation.rs
  crates/iota-graphql-rpc/src/server/builder.rs
  crates/iota-graphql-rpc/tests/e2e_tests.rs
  crates/iota-indexer/src/lib.rs
  crates/iota-indexer/src/optimistic_indexing.rs
  crates/iota-indexer/src/store/pg_indexer_store.rs
  sdk/graphql-transport/test/compatibility.test.ts
Labels: sc-platform, infrastructure, ts-sdk

#8641 feat(move-compiler): Add additional arity checks to typing stage
  external-crates/move/crates/move-compiler/src/typing/translate.rs
  external-crates/move/crates/move-compiler/tests/move_2024/typing/index_syntax_methods_miscalled.snap
  external-crates/move/crates/move-compiler/tests/move_check/borrows/unused_ref.snap
  external-crates/move/crates/move-compiler/tests/move_check/typing/module_call.snap
  external-crates/move/crates/move-compiler/tests/move_check/typing/module_call_complicated_rhs.snap
  external-crates/move/crates/move-compiler/tests/move_check/typing/module_call_wrong_arity.snap
Labels: sc-platform, vm-language

#8663 feat(Starfish): send Merkle root as transaction commitment
  Cargo.lock
  crates/starfish/config/Cargo.toml
  crates/starfish/config/src/crypto.rs
  crates/starfish/core/Cargo.toml
  crates/starfish/core/src/authority_node.rs
  crates/starfish/core/src/authority_service.rs
  crates/starfish/core/src/block_header.rs
  crates/starfish/core/src/commit.rs
  crates/starfish/core/src/core.rs
  crates/starfish/core/src/encoder.rs
  crates/starfish/core/src/lib.rs
  crates/starfish/core/src/network/mod.rs
  crates/starfish/core/src/network/test_network.rs
  crates/starfish/core/src/storage/rocksdb_store.rs
  crates/starfish/core/src/storage/store_tests.rs
  crates/starfish/core/src/subscriber.rs
  crates/starfish/core/src/test_dag_builder.rs
  crates/starfish/core/src/transactions_synchronizer.rs
Labels: consensus, core-protocol
