Repository iotaledger/iota, pull requests merged in 2025-06, with the labels that each got.

#7151 feat(iota): add `client remove-address` command
  crates/iota-keys/src/keystore.rs
  crates/iota-keys/tests/tests.rs
  crates/iota/src/client_commands.rs
  crates/iota/src/key_identity.rs
  crates/iota/tests/cli_tests.rs
  docs/content/references/cli/client.mdx
Labels: documentation, sc-platform, dev-tools

#5698 fix(docs): properly derive Ed25519 keypair from IOTA private key in example
  docs/content/ts-sdk/typescript/cryptography/keypairs.mdx
Labels: documentation

#7107 feat: add protocol version 9
  Cargo.lock
  Cargo.toml
  crates/iota-graphql-e2e-tests/tests/call/simple.snap
  crates/iota-open-rpc/spec/openrpc.json
  crates/iota-protocol-config/src/lib.rs
  crates/iota-protocol-config/src/snapshots/iota_protocol_config__test__Mainnet_version_9.snap
  crates/iota-protocol-config/src/snapshots/iota_protocol_config__test__Testnet_version_9.snap
  crates/iota-protocol-config/src/snapshots/iota_protocol_config__test__version_9.snap
  crates/iota-swarm-config/tests/snapshots/snapshot_tests__genesis_config_snapshot_matches.snap
  crates/iota-swarm-config/tests/snapshots/snapshot_tests__populated_genesis_snapshot_matches-2.snap
Labels: node, core-protocol

#6982 chore: add multiple PR templates for github
  .github/PULL_REQUEST_TEMPLATE/default_external_contributors.md
  .github/PULL_REQUEST_TEMPLATE/default_internal_contributors.md
  .github/PULL_REQUEST_TEMPLATE/infra.md
  .github/pull_request_template.md
Labels: enhancement, sc-platform, ci

#6952 upstream(node): Porting node team related upstream changes in range mainnet-1.32.2 to mainnet-1.33.3
  Cargo.lock
  Cargo.toml
  crates/iota-benchmark/src/workloads/shared_counter.rs
  crates/iota-benchmark/src/workloads/shared_object_deletion.rs
  crates/iota-config/src/node.rs
  crates/iota-core/src/authority/authority_per_epoch_store.rs
  crates/iota-core/src/authority/authority_store_tables.rs
  crates/iota-core/src/authority_aggregator.rs
  crates/iota-core/src/authority_server.rs
  crates/iota-core/src/checkpoints/checkpoint_executor/metrics.rs
  crates/iota-core/src/checkpoints/checkpoint_executor/mod.rs
  crates/iota-core/src/checkpoints/checkpoint_output.rs
  crates/iota-core/src/checkpoints/metrics.rs
  crates/iota-core/src/checkpoints/mod.rs
  crates/iota-core/src/consensus_adapter.rs
  crates/iota-core/src/consensus_handler.rs
  crates/iota-core/src/consensus_validator.rs
  crates/iota-core/src/mock_consensus.rs
  crates/iota-core/src/post_consensus_tx_reorder.rs
  crates/iota-core/src/quorum_driver/metrics.rs
  crates/iota-core/src/quorum_driver/mod.rs
  crates/iota-core/src/safe_client.rs
  crates/iota-core/src/transaction_orchestrator.rs
  crates/iota-http/Cargo.toml
  crates/iota-json-rpc-api/src/lib.rs
  crates/iota-json-rpc/src/coin_api.rs
  crates/iota-json-rpc/src/governance_api.rs
  crates/iota-json-rpc/src/indexer_api.rs
  crates/iota-json-rpc/src/read_api.rs
  crates/iota-metrics/src/lib.rs
  crates/iota-metrics/src/thread_stall_monitor.rs
  crates/iota-network-stack/Cargo.toml
  crates/iota-network-stack/src/client.rs
  crates/iota-network/src/state_sync/metrics.rs
  crates/iota-network/src/state_sync/mod.rs
  crates/iota-node/src/lib.rs
  crates/iota-storage/Cargo.toml
  crates/iota-storage/src/bin/http_kv_tool.rs
  crates/iota-storage/src/http_key_value_store.rs
  crates/iota-storage/tests/key_value_tests.rs
  crates/iota-swarm-config/src/node_config_builder.rs
  crates/iota-swarm-config/tests/snapshots/snapshot_tests__network_config_snapshot_matches.snap
  crates/iota-types/Cargo.toml
  crates/iota-types/src/messages_checkpoint.rs
  crates/iota-types/src/messages_consensus.rs
  crates/typed-store-derive/src/lib.rs
  crates/typed-store/src/metrics.rs
  crates/typed-store/src/rocks/mod.rs
  crates/typed-store/src/test_db.rs
  crates/typed-store/src/traits.rs
  dev-tools/grafana-local/dashboards/cluster-status-dashboard.json
  docs/content/_snippets/operator/monitoring-health-metrics.mdx
Labels: documentation, node, core-protocol

#6890 feat: port all passkey related changes
  crates/iota-core/benches/batch_verification_bench.rs
  crates/iota-core/src/authority/authority_per_epoch_store.rs
  crates/iota-core/src/generate_format.rs
  crates/iota-core/src/signature_verifier.rs
  crates/iota-core/src/unit_tests/batch_verification_tests.rs
  crates/iota-e2e-tests/tests/multisig_tests.rs
  crates/iota-e2e-tests/tests/passkey_e2e_tests.rs
  crates/iota-graphql-rpc/src/types/zklogin_verify_signature.rs
  crates/iota-open-rpc/spec/openrpc.json
  crates/iota-protocol-config/src/lib.rs
  crates/iota-protocol-config/src/snapshots/iota_protocol_config__test__version_9.snap
  crates/iota-rosetta/tests/end_to_end_tests.rs
  crates/iota-types/src/crypto.rs
  crates/iota-types/src/multisig.rs
  crates/iota-types/src/passkey_authenticator.rs
  crates/iota-types/src/signature.rs
  crates/iota-types/src/unit_tests/multisig_tests.rs
  crates/iota-types/src/unit_tests/passkey_authenticator_test.rs
  crates/iota-types/src/unit_tests/zk_login_authenticator_test.rs
  crates/iota/src/client_ptb/builder.rs
  crates/iota/src/keytool.rs
Labels: node, core-protocol

#7164 upstream(consensus): Re-execute single-writer pending consensus transactions at startup #20974
  crates/iota-core/src/authority.rs
  crates/iota-core/src/authority/authority_per_epoch_store.rs
  crates/iota-core/src/checkpoints/mod.rs
  crates/iota-node/src/lib.rs
Labels: consensus, core-protocol

#7173 upstream(consensus): Re-execution of pending certs must happen concurrently with consensus handling since there may be dependencies in either direction
  crates/iota-core/src/authority.rs
  crates/iota-core/src/checkpoints/checkpoint_executor/mod.rs
  crates/iota-node/src/lib.rs
Labels: consensus, core-protocol

#7183 upstream(consensus): change MockConsensusClient to return error on overflow instead of panic
  crates/iota-core/src/mock_consensus.rs
Labels: consensus, core-protocol

#7195 upstream(node): Porting node team related upstream changes in range mainnet-1.33.3 to mainnet-1.34.2
  Cargo.lock
  crates/iota-benchmark/src/drivers/bench_driver.rs
  crates/iota-benchmark/src/workloads/adversarial.rs
  crates/iota-common/Cargo.toml
  crates/iota-common/src/lib.rs
  crates/iota-common/src/metrics.rs
  crates/iota-core/src/authority_aggregator.rs
  crates/iota-core/src/quorum_driver/metrics.rs
  crates/iota-core/src/quorum_driver/mod.rs
  crates/iota-core/src/quorum_driver/tests.rs
  crates/iota-core/src/unit_tests/authority_aggregator_tests.rs
  crates/iota-json-rpc/src/error.rs
  crates/iota-node/Cargo.toml
  crates/iota-node/src/metrics.rs
  crates/iota-protocol-config/src/lib.rs
  crates/iota-proxy/src/admin.rs
  crates/iota-proxy/src/handlers.rs
  crates/iota-proxy/src/lib.rs
  crates/iota-proxy/src/peers.rs
  crates/iota-rest-api/src/error.rs
  crates/iota-types/src/error.rs
  crates/iota-types/src/object.rs
  crates/iota-types/src/quorum_driver_types.rs
Labels: node, core-protocol

#7052 fix(indexer, json-rpc): Support Coin Manager in `get_coin_metadata` RPC API
  crates/iota-indexer/src/indexer_reader.rs
  crates/iota-indexer/tests/common/mod.rs
  crates/iota-indexer/tests/data/coin_manager_coins/Move.toml
  crates/iota-indexer/tests/data/coin_manager_coins/sources/immutable_metadata_coin.move
  crates/iota-indexer/tests/data/coin_manager_coins/sources/normal_coin.move
  crates/iota-indexer/tests/data/dummy_modules_publish/sources/immutable_metadata_trusted_coin.move
  crates/iota-indexer/tests/data/dummy_modules_publish/sources/trusted_coin.move
  crates/iota-indexer/tests/data/migrate_to_coin_manager/Move.toml
  crates/iota-indexer/tests/data/migrate_to_coin_manager/sources/coin_manager_coin.move
  crates/iota-indexer/tests/data/migrate_to_coin_manager/sources/immutable_metadata_coin_manager_coin.move
  crates/iota-indexer/tests/rpc-tests/coin_api.rs
  crates/iota-json-rpc-types/src/iota_coin.rs
  crates/iota-json-rpc/src/coin_api.rs
  crates/iota-types/src/base_types.rs
  crates/iota-types/src/coin_manager.rs
Labels: sc-platform, infrastructure

#7197 upstream(node): Porting node team related upstream changes in range mainnet-1.34.2 to mainnet-1.35.4
  Cargo.lock
  crates/iota-common/src/metrics.rs
  crates/iota-config/src/node.rs
  crates/iota-config/src/p2p.rs
  crates/iota-core/src/authority.rs
  crates/iota-core/src/authority/authority_test_utils.rs
  crates/iota-core/src/authority/test_authority_builder.rs
  crates/iota-core/src/authority_server.rs
  crates/iota-core/src/execution_cache.rs
  crates/iota-core/src/execution_cache/object_locks.rs
  crates/iota-core/src/execution_cache/passthrough_cache.rs
  crates/iota-core/src/execution_cache/writeback_cache.rs
  crates/iota-core/src/generate_format.rs
  crates/iota-core/src/test_utils.rs
  crates/iota-core/src/traffic_controller/mod.rs
  crates/iota-core/src/unit_tests/authority_tests.rs
  crates/iota-core/src/unit_tests/transaction_deny_tests.rs
  crates/iota-core/tests/staged/iota.yaml
  crates/iota-e2e-tests/tests/reconfiguration_tests.rs
  crates/iota-e2e-tests/tests/traffic_control_tests.rs
  crates/iota-json-rpc/src/axum_router.rs
  crates/iota-network/Cargo.toml
  crates/iota-network/build.rs
  crates/iota-network/src/discovery/builder.rs
  crates/iota-network/src/discovery/mod.rs
  crates/iota-network/src/discovery/server.rs
  crates/iota-network/src/discovery/tests.rs
  crates/iota-network/src/utils.rs
  crates/iota-node/src/lib.rs
  crates/iota-open-rpc/spec/openrpc.json
  crates/iota-swarm-config/src/node_config_builder.rs
  crates/iota-swarm-config/tests/snapshots/snapshot_tests__network_config_snapshot_matches.snap
  crates/iota-swarm/src/memory/swarm.rs
  crates/iota-types/src/event.rs
  crates/iota-types/src/message_envelope.rs
  crates/iota-types/src/object.rs
  crates/iota-types/src/traffic_control.rs
  crates/iota-types/src/transaction.rs
  crates/shared-crypto/src/intent.rs
  crates/test-cluster/src/lib.rs
  dev-tools/iota-network/docker-compose-antithesis.yaml
Labels: node, core-protocol

#6803 feat(starfish): send full block
  crates/starfish/core/build.rs
  crates/starfish/core/src/authority_node.rs
  crates/starfish/core/src/authority_service.rs
  crates/starfish/core/src/base_committer.rs
  crates/starfish/core/src/block_header.rs
  crates/starfish/core/src/block_manager.rs
  crates/starfish/core/src/commit.rs
  crates/starfish/core/src/commit_observer.rs
  crates/starfish/core/src/commit_syncer.rs
  crates/starfish/core/src/core.rs
  crates/starfish/core/src/core_thread.rs
  crates/starfish/core/src/dag_state.rs
  crates/starfish/core/src/error.rs
  crates/starfish/core/src/leader_schedule.rs
  crates/starfish/core/src/leader_timeout.rs
  crates/starfish/core/src/linearizer.rs
  crates/starfish/core/src/network/mod.rs
  crates/starfish/core/src/network/network_tests.rs
  crates/starfish/core/src/network/test_network.rs
  crates/starfish/core/src/network/tonic_network.rs
  crates/starfish/core/src/storage/mem_store.rs
  crates/starfish/core/src/storage/mod.rs
  crates/starfish/core/src/storage/rocksdb_store.rs
  crates/starfish/core/src/storage/store_tests.rs
  crates/starfish/core/src/subscriber.rs
  crates/starfish/core/src/synchronizer.rs
  crates/starfish/core/src/test_dag.rs
  crates/starfish/core/src/test_dag_builder.rs
  crates/starfish/core/src/test_dag_parser.rs
  crates/starfish/core/src/tests/base_committer_tests.rs
  crates/starfish/core/src/tests/pipelined_committer_tests.rs
  crates/starfish/core/src/tests/randomized_tests.rs
  crates/starfish/core/src/tests/universal_committer_tests.rs
Labels: consensus, core-protocol, ci

#7185 upstream(consensus): rest: introduce alpha SubscriptionService for subscribing to checkpoints
  crates/iota-core/src/checkpoints/checkpoint_executor/mod.rs
  crates/iota-core/src/rest_index.rs
Labels: consensus, core-protocol

#7201 feat(starfish): eviction for linearizer
  crates/starfish/core/src/commit.rs
  crates/starfish/core/src/commit_observer.rs
  crates/starfish/core/src/dag_state.rs
  crates/starfish/core/src/linearizer.rs
Labels: consensus, core-protocol

#7089 feat(dapps-kit/wallet): Improve connect behaviour
  .changeset/gentle-bikes-accept.md
  apps/wallet/src/background/permissions.ts
  apps/wallet/src/ui/app/components/accounts/AccountItemApproveConnection.tsx
  apps/wallet/src/ui/app/components/accounts/AccountMultiSelect.tsx
  apps/wallet/src/ui/app/pages/site-connect/index.tsx
  sdk/dapp-kit/src/components/connect-modal/ConnectModal.tsx
Labels: tooling, wallet, ts-sdk

#7211 feat(tooling/ts-sdk): Add iota-names methods and queries
  .changeset/curvy-planets-lick.md
  sdk/graphql-transport/src/generated/queries.ts
  sdk/graphql-transport/src/queries/iotaNames.graphql
  sdk/typescript/src/client/client.ts
Labels: enhancement, tooling, ts-sdk

#7232 refactor(iota-names): Remove `PhantomData` from `iota_names::registry::Table`
  crates/iota-names/src/registry.rs
Labels: sc-platform, infrastructure

#7226 fix(explorer): fix copy icon not working on header of detail pages
  apps/explorer/src/components/ui/PageHeader.tsx
Labels: tooling, explorer

#7166 upstream(iota-core): Use finer grained buckets for consensus latency
  crates/iota-core/src/consensus_adapter.rs
Labels: consensus, core-protocol

#7121 feat(consensus): adapt metrics commit sync
  consensus/core/src/commit_syncer.rs
  consensus/core/src/metrics.rs
Labels: research, consensus, core-protocol

#7218 feat(iota-package-resolver): add a function to the package resolver to canonicalize a type
  crates/iota-package-resolver/src/lib.rs
  crates/iota-package-resolver/src/snapshots/iota_package_resolver__tests__cross_module_layout.snap
  crates/iota-package-resolver/src/snapshots/iota_package_resolver__tests__cross_package_layout.snap
  crates/iota-package-resolver/src/snapshots/iota_package_resolver__tests__multiple_linkage_contexts_layout.snap
  crates/iota-package-resolver/src/snapshots/iota_package_resolver__tests__relinking_layout_layout.snap
  crates/iota-package-resolver/src/snapshots/iota_package_resolver__tests__simple_type_layout.snap
  crates/iota-package-resolver/src/snapshots/iota_package_resolver__tests__upgraded_package_layout.snap
  crates/iota-package-resolver/src/snapshots/iota_package_resolver__tests__upgraded_package_non_defining_id_layout.snap
  crates/iota-package-resolver/src/snapshots/iota_package_resolver__tests__value_nesting_boundary_layout.snap
Labels: sc-platform, vm-language

#7092 chore(*): use `anyhow::bail!` if possible
  crates/iota-analytics-indexer/src/handlers/mod.rs
  crates/iota-analytics-indexer/src/lib.rs
  crates/iota-archival/src/lib.rs
  crates/iota-archival/src/reader.rs
  crates/iota-benchmark/src/bin/stress.rs
  crates/iota-benchmark/src/drivers/bench_driver.rs
  crates/iota-benchmark/src/util.rs
  crates/iota-benchmark/src/workloads/adversarial.rs
  crates/iota-bridge-cli/src/lib.rs
  crates/iota-bridge/src/config.rs
  crates/iota-bridge/src/e2e_tests/basic.rs
  crates/iota-bridge/src/lib.rs
  crates/iota-config/src/object_storage_config.rs
  crates/iota-core/src/authority.rs
  crates/iota-data-ingestion/src/workers/archival.rs
  crates/iota-faucet/src/faucet/simple_faucet.rs
  crates/iota-genesis-builder/src/stake.rs
  crates/iota-indexer-builder/tests/indexer_test_utils.rs
  crates/iota-indexer/src/lib.rs
  crates/iota-json-rpc-api/src/lib.rs
  crates/iota-json-rpc-types/src/iota_object.rs
  crates/iota-json/src/lib.rs
  crates/iota-keys/src/keypair_file.rs
  crates/iota-mainnet-unlocks/src/bin/generate_aggregated_data.rs
  crates/iota-mainnet-unlocks/src/store.rs
  crates/iota-metric-checker/src/lib.rs
  crates/iota-metric-checker/src/main.rs
  crates/iota-metric-checker/src/query.rs
  crates/iota-move/src/unit_test.rs
  crates/iota-network/src/randomness/mod.rs
  crates/iota-network/src/state_sync/mod.rs
  crates/iota-network/src/state_sync/tests.rs
  crates/iota-rpc-loadgen/src/payload/rpc_command_processor.rs
  crates/iota-sdk/examples/transaction_builder/tx_data.rs
  crates/iota-sdk/src/iota_client_config.rs
  crates/iota-sdk/src/wallet_context.rs
  crates/iota-snapshot/src/reader.rs
  crates/iota-storage/src/blob.rs
  crates/iota-tool/src/db_tool/index_search.rs
  crates/iota-tool/src/lib.rs
  crates/iota-transaction-builder/src/lib.rs
  crates/iota-transaction-builder/src/package.rs
  crates/iota-transaction-builder/src/stake.rs
  crates/iota-transactional-test-runner/src/test_adapter.rs
  crates/iota-types/src/base_types.rs
  crates/iota-types/src/digests.rs
  crates/iota-types/src/transaction.rs
  crates/iota/src/client_commands.rs
  crates/iota/src/client_ptb/ptb.rs
  crates/iota/src/displays/ptb_result.rs
  crates/iota/src/genesis_ceremony.rs
  crates/iota/src/iota_commands.rs
  crates/iota/src/keytool.rs
  crates/iota/src/name_commands.rs
  crates/iota/src/upgrade_compatibility/mod.rs
  crates/prometheus-closure-metric/src/lib.rs
Labels: sc-platform, dev-tools

#7015 feat(starfish) Keep track of acks
  crates/starfish/core/src/block_header.rs
  crates/starfish/core/src/block_manager.rs
  crates/starfish/core/src/core.rs
  crates/starfish/core/src/core_thread.rs
  crates/starfish/core/src/dag_state.rs
Labels: consensus, core-protocol

#7181 feat(starfish) Track who knows which block headers
  crates/starfish/core/src/dag_state.rs
Labels: consensus, core-protocol

#7242 fix(general): audit
  package.json
  pnpm-lock.yaml
Labels: tooling

#7229 feat(starfish): adjust block manager for full blocks
  crates/starfish/core/src/authority_service.rs
  crates/starfish/core/src/block_manager.rs
  crates/starfish/core/src/commit.rs
  crates/starfish/core/src/core.rs
  crates/starfish/core/src/dag_state.rs
  crates/starfish/core/src/data_manager.rs
  crates/starfish/core/src/network/mod.rs
  crates/starfish/core/src/storage/mod.rs
  crates/starfish/core/src/storage/store_tests.rs
  crates/starfish/core/src/synchronizer.rs
Labels: consensus, core-protocol

#7237 fix(indexer): ensure partition pruning in analytics queries
  crates/iota-indexer/migrations/pg/2025-06-02-122046_calculate_tx_count_metrics/down.sql
  crates/iota-indexer/migrations/pg/2025-06-02-122046_calculate_tx_count_metrics/up.sql
  crates/iota-indexer/migrations/pg/2025-06-05-054854_persist_address_analytics/down.sql
  crates/iota-indexer/migrations/pg/2025-06-05-054854_persist_address_analytics/up.sql
  crates/iota-indexer/src/processors/address_metrics_processor.rs
  crates/iota-indexer/src/store/indexer_analytics_store.rs
  crates/iota-indexer/src/store/pg_indexer_analytical_store.rs
Labels: sc-platform, infrastructure

#6922 upstream(node): Introduce the concept of stable and unstable apis
  Cargo.lock
  Cargo.toml
  crates/iota-config/Cargo.toml
  crates/iota-config/src/node.rs
  crates/iota-node/src/lib.rs
  crates/iota-rest-api/Cargo.toml
  crates/iota-rest-api/openapi/openapi.json
  crates/iota-rest-api/src/accept.rs
  crates/iota-rest-api/src/accounts.rs
  crates/iota-rest-api/src/checkpoints.rs
  crates/iota-rest-api/src/client/mod.rs
  crates/iota-rest-api/src/client/sdk.rs
  crates/iota-rest-api/src/coins.rs
  crates/iota-rest-api/src/error.rs
  crates/iota-rest-api/src/health.rs
  crates/iota-rest-api/src/info.rs
  crates/iota-rest-api/src/lib.rs
  crates/iota-rest-api/src/objects.rs
  crates/iota-rest-api/src/openapi.rs
  crates/iota-rest-api/src/transactions/execution.rs
  crates/iota-swarm-config/Cargo.toml
  crates/iota-swarm-config/src/node_config_builder.rs
  crates/iota-swarm-config/tests/snapshots/snapshot_tests__network_config_snapshot_matches.snap
  crates/iota-types/src/iota_sdk_types_conversions.rs
  crates/iota-types/src/lib.rs
Labels: node, core-protocol

#6770 feat(docs): Apply diataxis to move docs
  docs/content/sidebars/developer.js
Labels: documentation, devx

#7156 feat(docs): apply diataxis to iota-evm
  docs/content/sidebars/iota-evm.js
Labels: documentation, devx

#7258 fix(wallet,wallet-dashboard): avoid early return in Validator component
  apps/core/src/components/Validator.tsx
Labels: tooling, wallet, wallet-dashboard

#7305 feat(ci): improve changeset snapshot CI workflow
  .github/workflows/changesets-snapshot-release.yml
Labels: tooling, ci

#7319 refactor(iota-package-resolver): fix test names
  crates/iota-package-resolver/src/lib.rs
  crates/iota-package-resolver/src/snapshots/iota_package_resolver__tests__relinking_layout.snap
Labels: sc-platform, vm-language

#6979 fix(docs): Improve and fix wallet migration docs
  docs/content/_snippets/about-iota/iota-wallet/balance-finder.md
  docs/content/_snippets/about-iota/iota-wallet/wait.md
  docs/content/_snippets/about-iota/ledger_devices.mdx
  docs/content/about-iota/FAQ.mdx
  docs/content/about-iota/iota-wallet/FAQ.mdx
  docs/content/about-iota/iota-wallet/getting-started.mdx
  docs/content/about-iota/iota-wallet/how-to/import.mdx
  docs/content/about-iota/iota-wallet/how-to/import/balance-finder.mdx
  docs/content/about-iota/iota-wallet/how-to/import/ledger.mdx
  docs/content/about-iota/iota-wallet/how-to/import/legacy.mdx
  docs/content/about-iota/iota-wallet/how-to/import/migration.mdx
  docs/content/about-iota/iota-wallet/how-to/import/mnemonic.mdx
  docs/content/about-iota/iota-wallet/how-to/import/seed.mdx
  docs/content/about-iota/iota-wallet/how-to/integrate-ledger.mdx
  docs/content/about-iota/iota-wallet/how-to/multi-account.mdx
  docs/content/sidebars/about-iota.js
Labels: documentation, devx

#7278 chore: remove unused dependencies
  Cargo.lock
  crates/iota-archival/Cargo.toml
  crates/iota-data-ingestion/Cargo.toml
  crates/iota-types/Cargo.toml
Labels: sc-platform, dev-tools

#7331 feat(apps-ui-kit): add iota-names color palette and typography
  apps/ui-kit/package.json
  apps/ui-kit/src/lib/constants/colors.constants.ts
  apps/ui-kit/src/lib/styles/base.css
  apps/ui-kit/src/lib/styles/fonts.css
  apps/ui-kit/src/lib/styles/index.css
  apps/ui-kit/src/lib/tailwind/base.presets.ts
  apps/ui-kit/src/lib/tailwind/constants/fontFamily.constants.ts
  apps/ui-kit/src/lib/tailwind/constants/fontSizes.constants.ts
  apps/ui-kit/src/storybook/stories/design-tokens/colors.stories.mdx
  apps/wallet/src/ui/app/components/accounts/RecoverAccountsGroup.tsx
  pnpm-lock.yaml
Labels: tooling, apps-ui-kit, wallet, explorer, wallet-dashboard

#7011 fix(wallet): keep updating countdown message and disable 'unlock' button
  apps/core/src/constants/time.constants.ts
  apps/wallet/src/background/accounts/index.ts
  apps/wallet/src/shared/accounts.ts
  apps/wallet/src/shared/messaging/messages/payloads/methodPayload.ts
  apps/wallet/src/ui/app/background-client/index.ts
  apps/wallet/src/ui/app/components/accounts/PasswordInputDialog.tsx
Labels: tooling, wallet

#7355 refactor(apps-ui-kit): update atoms to apply new palettes (Badge-LabelText)
  apps/ui-kit/.storybook/main.ts
  apps/ui-kit/.storybook/preview.tsx
  apps/ui-kit/src/lib/components/atoms/badge/badge.classes.ts
  apps/ui-kit/src/lib/components/atoms/badge/badge.enums.ts
  apps/ui-kit/src/lib/components/atoms/button-segment/buttonSegment.classes.ts
  apps/ui-kit/src/lib/components/atoms/button/button.classes.ts
  apps/ui-kit/src/lib/components/atoms/checkbox/Checkbox.tsx
  apps/ui-kit/src/lib/components/atoms/header/Header.tsx
  apps/ui-kit/src/lib/components/atoms/info-box/InfoBox.tsx
  apps/ui-kit/src/lib/components/atoms/info-box/infoBox.classes.ts
  apps/ui-kit/src/lib/components/atoms/key-value-info/KeyValueInfo.tsx
  apps/ui-kit/src/lib/components/atoms/label-text/LabelText.tsx
  apps/ui-kit/src/lib/components/atoms/snackbar/snackbar.classes.ts
  apps/ui-kit/src/lib/styles/components.css
  apps/ui-kit/src/lib/styles/index.css
  apps/ui-kit/src/lib/tailwind/constants/customColors.constants.ts
Labels: tooling, apps-ui-kit

#7349 feat(apps-ui-kit): update atoms to apply new palettes (`LisItem` - `VisualAssetCard`)
  apps/ui-kit/src/lib/components/atoms/list-item/ListItem.tsx
  apps/ui-kit/src/lib/components/atoms/loading-indicator/LoadingIndicator.tsx
  apps/ui-kit/src/lib/components/atoms/panel/Panel.tsx
  apps/ui-kit/src/lib/components/atoms/radio-button/RadioButton.tsx
  apps/ui-kit/src/lib/components/atoms/secondary-text/SecondaryText.tsx
  apps/ui-kit/src/lib/components/atoms/skeleton/Skeleton.tsx
  apps/ui-kit/src/lib/components/atoms/toggle/toggle.classes.ts
  apps/ui-kit/src/lib/components/atoms/tooltip/Tooltip.tsx
  apps/ui-kit/src/lib/components/atoms/visual-asset-card/VisualAssetCard.tsx
  apps/ui-kit/src/lib/styles/components.css
  apps/ui-kit/src/lib/styles/index.css
Labels: tooling, apps-ui-kit

#7354 feat(apps-ui-kit): update molecules to apply new palettes
  apps/ui-kit/src/lib/components/molecules/account/Account.tsx
  apps/ui-kit/src/lib/components/molecules/address/Address.tsx
  apps/ui-kit/src/lib/components/molecules/card/CardAction.tsx
  apps/ui-kit/src/lib/components/molecules/card/CardBody.tsx
  apps/ui-kit/src/lib/components/molecules/card/card.classes.ts
  apps/ui-kit/src/lib/components/molecules/chip/chip.classes.ts
  apps/ui-kit/src/lib/components/molecules/display-stats/DisplayStats.tsx
  apps/ui-kit/src/lib/components/molecules/display-stats/displayStats.classes.ts
  apps/ui-kit/src/lib/components/molecules/dropdown/Dropdown.tsx
  apps/ui-kit/src/lib/components/molecules/input/Input.tsx
  apps/ui-kit/src/lib/components/molecules/input/TextArea.tsx
  apps/ui-kit/src/lib/components/molecules/input/input.classes.ts
  apps/ui-kit/src/lib/components/molecules/navbar-item/navbarItem.classes.ts
  apps/ui-kit/src/lib/components/molecules/search/Search.tsx
  apps/ui-kit/src/lib/components/molecules/search/search.classes.ts
  apps/ui-kit/src/lib/components/molecules/segmented-button/segmentedButton.classes.ts
  apps/ui-kit/src/lib/components/molecules/select/Select.tsx
  apps/ui-kit/src/lib/components/molecules/table-cell/TableCell.tsx
  apps/ui-kit/src/lib/components/molecules/table-header-cell/TableHeaderCell.tsx
  apps/ui-kit/src/lib/components/molecules/title/Title.tsx
  apps/ui-kit/src/lib/styles/components.css
  apps/ui-kit/src/lib/styles/index.css
Labels: tooling, apps-ui-kit

#7367 fix(consensus): Revert "feat(consensus): remove non smart ancestor selection logic"
  consensus/core/src/core.rs
Labels: consensus, core-protocol

#7359 feat(apps-ui-kit): update organisms to apply new palettes
  apps/ui-kit/src/lib/components/organisms/accordion/Accordion.tsx
  apps/ui-kit/src/lib/components/organisms/accordion/accordion.classes.ts
  apps/ui-kit/src/lib/components/organisms/dialog/Dialog.tsx
  apps/ui-kit/src/lib/components/organisms/navbar/Navbar.tsx
  apps/ui-kit/src/lib/components/organisms/navbar/NavbarSlideout.tsx
  apps/ui-kit/src/lib/components/organisms/table/Table.tsx
  apps/ui-kit/src/lib/styles/components.css
  apps/ui-kit/src/lib/styles/index.css
Labels: tooling, apps-ui-kit

#7377 feat(apps-ui-kit): update storybook after multi-theme
  apps/ui-kit/src/lib/styles/index.css
  apps/ui-kit/src/lib/tailwind/base.presets.ts
  apps/ui-kit/src/lib/tailwind/plugins.ts
  apps/ui-kit/src/storybook/stories/atoms/Skeleton.stories.tsx
  apps/ui-kit/src/storybook/stories/atoms/Tooltip.stories.tsx
  apps/ui-kit/src/storybook/stories/molecules/Account.stories.tsx
  apps/ui-kit/src/storybook/stories/molecules/Search.stories.tsx
Labels: tooling, apps-ui-kit

#7386 [cherrypick] fix(docs): fix identity refs path (#7327)
  docs/site/scripts/get-iota-identity-references.sh
Labels: consensus, core-protocol

#7356 fix(docs): fix the archive fallback information
  docs/content/operator/common/archives.mdx
Labels: documentation, devops-admin, devops

#7387 [cherrypick] fix(tooling/turbo): fix pnpm audit (#7242)
  package.json
  pnpm-lock.yaml
Labels: tooling

#7380 [cherry-pick] fix(consensus): Revert "feat(consensus): remove non smart ancestor selection logic"
  consensus/core/src/core.rs
Labels: consensus, core-protocol

#7388 feat: bump iota to v1.2.2
  Cargo.lock
  Cargo.toml
  crates/iota-open-rpc/spec/openrpc.json
Labels: sc-platform

#7392 feat: bump iota to v1.2.3
  Cargo.lock
  Cargo.toml
  crates/iota-graphql-e2e-tests/tests/call/simple.snap
  crates/iota-open-rpc/spec/openrpc.json
Labels: sc-platform

#7223 Protocol research/feat/score updates
  consensus/core/src/authority_service.rs
  consensus/core/src/block_verifier.rs
  consensus/core/src/core.rs
  consensus/core/src/metrics.rs
  crates/iota-node/src/lib.rs
Labels: research, core-protocol

#7383 feat(consensus): Disable consensus features on the mainnet and testnet
  consensus/core/src/core.rs
  crates/iota-protocol-config/src/lib.rs
  crates/iota-protocol-config/src/snapshots/iota_protocol_config__test__Mainnet_version_9.snap
  crates/iota-protocol-config/src/snapshots/iota_protocol_config__test__Testnet_version_9.snap
  crates/iota-protocol-config/src/snapshots/iota_protocol_config__test__version_9.snap
Labels: consensus, core-protocol

#7394 fix(node): prevent discovery private info leak
  crates/iota-network/src/discovery/server.rs
  crates/iota-network/src/discovery/tests.rs
Labels: node, core-protocol

#6517 upstream(indexer): Rework config and cli arguments
  crates/iota-graphql-rpc/src/data/pg.rs
  crates/iota-graphql-rpc/src/test_infra/cluster.rs
  crates/iota-indexer/Cargo.toml
  crates/iota-indexer/README.md
  crates/iota-indexer/src/config.rs
  crates/iota-indexer/src/db.rs
  crates/iota-indexer/src/handlers/objects_snapshot_handler.rs
  crates/iota-indexer/src/indexer.rs
  crates/iota-indexer/src/indexer_reader.rs
  crates/iota-indexer/src/lib.rs
  crates/iota-indexer/src/main.rs
  crates/iota-indexer/src/metrics.rs
  crates/iota-indexer/src/store/pg_indexer_store.rs
  crates/iota-indexer/src/test_utils.rs
  crates/iota-indexer/tests/common/mod.rs
  crates/iota-indexer/tests/rpc-tests/read_api.rs
  crates/iota-transactional-test-runner/src/args.rs
  crates/iota-transactional-test-runner/src/test_adapter.rs
Labels: sc-platform, infrastructure

#7336 chore(docs): Add Gas Station self-hosted notice
  docs/content/operator/gas-station/gas-station.mdx
Labels: documentation, identity

#7363 fix(indexer): handle system-state v1 in IndexerReader::get_epoch_iota_system_state
  crates/iota-indexer/src/indexer_reader.rs
Labels: sc-platform, infrastructure

#6878 feat(CLI)!: Split iota names `set-target-address`
  crates/iota/src/name_commands.rs
Labels: sc-platform, dev-tools

#7400 fix(ci): previous_tag in release notes generation
  .github/workflows/release.yml
Labels: sc-platform, dev-tools, ci

#7346 fix(iota-indexer): Return transactions that could not be resolved by the package resolver as of failing layouts
  crates/iota-json-rpc-types/src/iota_transaction.rs
Labels: sc-platform, infrastructure

#7444 upstream(node): Update fastcrypto
  Cargo.lock
  Cargo.toml
  crates/iota-core/src/authority/authority_per_epoch_store.rs
  crates/iota-core/src/consensus_validator.rs
  crates/iota-core/src/epoch/randomness.rs
  crates/iota-network/src/randomness/mod.rs
  crates/iota-network/src/randomness/tests.rs
  crates/iota-types/src/crypto.rs
  crates/iota-types/src/messages_consensus.rs
Labels: node, core-protocol

#7405 fix(ci): `external-crates` tests don't run on the CI
  .github/workflows/_rust_tests.yml
  external-crates/move/crates/move-cli/tests/build_tests/migration_names/args.exp
  scripts/ci_tests/rust_tests.sh
Labels: sc-platform, vm-language, ci

#7445 upstream(node): Add salt to TrafficSketch
  crates/iota-core/src/traffic_controller/policies.rs
Labels: node, core-protocol

#6280 feat(iota-core, iota-types)!: introduce gas price feedback mechanism for transactions cancelled due to congestion
  Cargo.lock
  Cargo.toml
  crates/iota-benchmark/src/workloads/batch_payment.rs
  crates/iota-benchmark/tests/simtest.rs
  crates/iota-core/src/authority/authority_per_epoch_store.rs
  crates/iota-core/src/authority/authority_store.rs
  crates/iota-core/src/authority/authority_store_pruner.rs
  crates/iota-core/src/authority/authority_store_tables.rs
  crates/iota-core/src/authority/shared_object_congestion_tracker.rs
  crates/iota-core/src/authority/shared_object_version_manager.rs
  crates/iota-core/src/unit_tests/authority_tests.rs
  crates/iota-core/src/unit_tests/congestion_control_tests.rs
  crates/iota-core/src/unit_tests/transaction_manager_tests.rs
  crates/iota-core/src/unit_tests/transfer_to_object_tests.rs
  crates/iota-core/tests/staged/iota.yaml
  crates/iota-genesis-builder/src/lib.rs
  crates/iota-genesis-builder/src/stardust/migration/migration.rs
  crates/iota-indexer/tests/rpc-tests/read_api.rs
  crates/iota-json-rpc-tests/tests/transaction_builder_api.rs
  crates/iota-open-rpc/spec/openrpc.json
  crates/iota-protocol-config/src/lib.rs
  crates/iota-protocol-config/src/snapshots/iota_protocol_config__test__Mainnet_version_10.snap
  crates/iota-protocol-config/src/snapshots/iota_protocol_config__test__Testnet_version_10.snap
  crates/iota-protocol-config/src/snapshots/iota_protocol_config__test__version_10.snap
  crates/iota-rest-api/openapi/openapi.json
  crates/iota-swarm-config/tests/snapshots/snapshot_tests__genesis_config_snapshot_matches.snap
  crates/iota-swarm-config/tests/snapshots/snapshot_tests__populated_genesis_snapshot_matches-2.snap
  crates/iota-transaction-checks/src/lib.rs
  crates/iota-types/src/base_types.rs
  crates/iota-types/src/execution_status.rs
  crates/iota-types/src/iota_sdk_types_conversions.rs
  crates/iota-types/src/storage/mod.rs
  crates/iota-types/src/transaction.rs
  crates/iota-types/src/unit_tests/base_types_tests.rs
  crates/iota-types/tests/staged/exec_failure_status.yaml
  iota-execution/cut/Cargo.toml
  iota-execution/latest/iota-adapter/src/execution_engine.rs
  iota-execution/latest/iota-adapter/src/temporary_store.rs
  iota-execution/latest/iota-move-natives/src/object_runtime/object_store.rs
Labels: enhancement, research, core-protocol

#7255 fix(docs): Update iotagraphqlclient schema
  docs/content/ts-sdk/typescript/graphql.mdx
Labels: documentation, devx

#7470 chore: temporarily ignore flaky `test_full_node_sync_flood_determinism`
  crates/iota-e2e-tests/tests/full_node_tests.rs
Labels: sc-platform, dev-tools

#7454 fix(ci): release notes from feature-branch with non-squashed commits
  scripts/release_notes/release_notes.py
Labels: sc-platform, dev-tools

#7439 refactor(ts-sdk): Sync ts-sdk with 'deserialize malformed types in tx'
  sdk/graphql-transport/src/generated/queries.ts
  sdk/typescript/src/client/types/generated.ts
  sdk/typescript/src/graphql/generated/2025.2/schema.graphql
Labels: documentation, tooling, ts-sdk

#7497 feat(workflows): use speculos docker image for testing
  .github/workflows/_ledgernano.yml
  sdk/ledgerjs-hw-app-iota/src/Iota.ts
Labels: sc-platform, dev-tools, ts-sdk, ci

#7360 upstream(indexer): fix system-state values at epoch table
  crates/iota-graphql-e2e-tests/tests/epoch/system_state.snap
  crates/iota-indexer/build.rs
  crates/iota-indexer/migrations/pg/2025-06-12-144204_fix-epoch-system-state/down.sql
  crates/iota-indexer/migrations/pg/2025-06-12-144204_fix-epoch-system-state/up.sql
  crates/iota-indexer/src/store/pg_indexer_store.rs
  crates/iota-indexer/src/types.rs
Labels: sc-platform, infrastructure

#7328 upstream(indexer): Break dependency between pruner and epoch watermark
  crates/iota-indexer/src/handlers/pruner.rs
Labels: sc-platform, infrastructure

#7513 chore(CLI): Improve error for invalid name segment length
  crates/iota/src/name_commands.rs
Labels: sc-platform, dev-tools

#7484 fix(node): remove known peers shuffling during discovery
  crates/iota-network/src/discovery/server.rs
Labels: node, core-protocol

#7369 feat(starfish): sending SerializedBlockBundles
  crates/starfish/core/build.rs
  crates/starfish/core/src/authority_service.rs
  crates/starfish/core/src/commit_syncer.rs
  crates/starfish/core/src/network/mod.rs
  crates/starfish/core/src/network/test_network.rs
  crates/starfish/core/src/network/tonic_network.rs
  crates/starfish/core/src/subscriber.rs
  crates/starfish/core/src/synchronizer.rs
Labels: consensus, core-protocol

#7514 chore(cli): better auction errors
  crates/iota/src/name_commands.rs
Labels: sc-platform, dev-tools

#7494 feat(consensus): Always fetch own blocks from a quorum and expect a quorum of subscriptions
  consensus/core/src/authority_node.rs
  consensus/core/src/authority_service.rs
  consensus/core/src/core.rs
  consensus/core/src/core_thread.rs
  consensus/core/src/leader_timeout.rs
  consensus/core/src/round_prober.rs
  consensus/core/src/synchronizer.rs
Labels: consensus, core-protocol

#7517 feat(tooling): update bridge after ui-kit multi-theme implementation
  apps/evm-bridge/src/App.tsx
  apps/evm-bridge/src/components/deposit/DepositForm.tsx
  apps/evm-bridge/src/components/layout/Footer.tsx
  apps/evm-bridge/src/components/layout/Header.tsx
  apps/evm-bridge/src/components/link/Link.tsx
  apps/evm-bridge/src/components/svgs/DirectionalArrows.tsx
  apps/evm-bridge/src/components/wallet-connect-input/WalletConnectInputButton.tsx
  apps/evm-bridge/src/globals.css
  apps/explorer/src/pages/transaction-result/transaction-summary/ObjectChanges.tsx
  apps/ui-kit/src/lib/components/atoms/media-fallback/MediaFallback.tsx
Labels: tooling, apps-ui-kit, explorer

#7532 fix(iota-data-ingestion-core): rustdoc & add missing release notes
  crates/iota-data-ingestion-core/src/reader/v2.rs
Labels: sc-platform, infrastructure

#7419 feat(apps-ui-kit): add iota names color variables to UI-KIT components
  apps/ui-kit/src/lib/components/atoms/key-value-info/KeyValueInfo.tsx
  apps/ui-kit/src/lib/components/molecules/visual-asset-card/VisualAssetCard.tsx
  apps/ui-kit/src/lib/components/organisms/dialog/Dialog.tsx
  apps/ui-kit/src/lib/styles/base.css
  apps/ui-kit/src/lib/styles/components.css
  apps/ui-kit/src/lib/styles/index.css
  pnpm-lock.yaml
  sdk/isc-sdk/examples/L1AddressL2funds.ts
  sdk/isc-sdk/examples/anchor.ts
  sdk/isc-sdk/examples/assetsBag.ts
  sdk/isc-sdk/examples/tokens.ts
Labels: tooling, apps-ui-kit, wallet, ts-sdk, explorer, wallet-dashboard

#7540 chore(ui-kit,explorer,core): update old classes after multi-theme
  apps/core/src/components/address-alias/AddressAlias.tsx
  apps/explorer/src/components/ui/InternalLink.tsx
  apps/explorer/src/components/ui/ObjectVideoImage.tsx
  apps/explorer/src/pages/object-result/views/ObjectView.tsx
  apps/ui-kit/src/storybook/blocks/Showcase.tsx
  apps/ui-kit/src/storybook/blocks/TypeSetItem.tsx
  apps/ui-kit/src/storybook/stories/components/VariableSpacingShowcase.tsx
Labels: tooling, apps-ui-kit, explorer

#7542 chore(apps-ui-kit): review ui components after multi theme
  apps/ui-kit/src/lib/styles/index.css
Labels: tooling, apps-ui-kit

#7536 chore: add dev-nodebug cargo profile
  Cargo.toml
Labels: sc-platform, infrastructure

#7408 feat(ts-sdk): add passkey signature support
  .changeset/gold-avocados-report.md
  pnpm-workspace.yaml
  sdk/typescript/keypairs/passkey/package.json
  sdk/typescript/package.json
  sdk/typescript/src/bcs/bcs.ts
  sdk/typescript/src/bcs/index.ts
  sdk/typescript/src/cryptography/signature-scheme.ts
  sdk/typescript/src/cryptography/signature.ts
  sdk/typescript/src/keypairs/passkey/index.ts
  sdk/typescript/src/keypairs/passkey/keypair.ts
  sdk/typescript/src/keypairs/passkey/publickey.ts
  sdk/typescript/src/keypairs/passkey/types.ts
  sdk/typescript/src/verify/verify.ts
  sdk/typescript/test/unit/cryptography/passkey.test.ts
Labels: tooling, ts-sdk

#7486 upstream(node): Reduce max transactions per block in simtests
  crates/iota-protocol-config/src/lib.rs
Labels: node, core-protocol

#7287 feat(wallet): apply new balance finder ux
  .changeset/curvy-suits-rhyme.md
  apps/core/src/components/Banner.tsx
  apps/core/src/components/index.ts
  apps/ui-kit/src/lib/components/molecules/chip/Chip.tsx
  apps/ui-kit/src/lib/components/molecules/chip/chip.enums.ts
  apps/ui-kit/src/lib/components/molecules/chip/index.ts
  apps/wallet-dashboard/app/(protected)/(feature-controlled)/vesting/page.tsx
  apps/wallet-dashboard/components/Banner.tsx
  apps/wallet-dashboard/components/MigrationOverview.tsx
  apps/wallet-dashboard/components/index.ts
  apps/wallet-dashboard/components/staking-overview/StartStaking.tsx
  apps/wallet/src/ui/app/components/accounts/AccountBalanceItem.tsx
  apps/wallet/src/ui/app/components/accounts/OffBalanceAddressesInfo.tsx
  apps/wallet/src/ui/app/components/accounts/index.ts
  apps/wallet/src/ui/app/pages/accounts/manage/AccountGroup.tsx
  apps/wallet/src/ui/app/pages/accounts/manage/accounts-finder/AccountsFinderIntroPage.tsx
  apps/wallet/src/ui/app/pages/accounts/manage/accounts-finder/AccountsFinderView.tsx
  apps/wallet/src/ui/app/pages/home/tokens/MigrationDialog.tsx
  apps/wallet/src/ui/app/pages/home/tokens/MissingFundsDialog.tsx
  apps/wallet/src/ui/app/pages/home/tokens/OverviewHint.tsx
  apps/wallet/src/ui/app/pages/home/tokens/SupplyIncreaseVestingStakingDialog.tsx
  apps/wallet/src/ui/app/pages/home/tokens/TokensDetails.tsx
  apps/wallet/src/ui/assets/images/balance_finder_intro.png
  apps/wallet/src/ui/assets/images/balance_finder_intro.svg
  apps/wallet/src/ui/assets/images/balance_finder_intro_darkmode.png
  apps/wallet/src/ui/assets/images/balance_finder_intro_darkmode.svg
  apps/wallet/src/ui/assets/images/migration_dialog.png
  apps/wallet/src/ui/assets/images/migration_dialog_darkmode.png
  apps/wallet/src/ui/assets/images/missing_funds.png
  apps/wallet/src/ui/assets/images/missing_funds_darkmode.png
  apps/wallet/src/ui/assets/images/vested_staking_dialog.png
  apps/wallet/src/ui/assets/images/vested_staking_dialog_darkmode.png
Labels: tooling, apps-ui-kit, wallet, wallet-dashboard

#7518 refactor(indexer): improve on disabling reindexing of optimistic transactions
  crates/iota-indexer/src/handlers/checkpoint_handler.rs
  crates/iota-indexer/src/handlers/mod.rs
  crates/iota-indexer/src/lib.rs
  crates/iota-indexer/src/models/objects.rs
  crates/iota-indexer/src/rolling/error.rs
  crates/iota-indexer/src/rolling/extract.rs
  crates/iota-indexer/src/rolling/mod.rs
  crates/iota-indexer/src/rolling/persist.rs
  crates/iota-indexer/src/rolling/transform.rs
  crates/iota-indexer/src/store/indexer_store.rs
  crates/iota-indexer/src/store/pg_indexer_store.rs
  crates/iota-indexer/tests/rpc-tests/read_api.rs
  crates/iota-indexer/tests/rpc-tests/write_api.rs
Labels: sc-platform, infrastructure

#7555 chore(evm-bridge): Add `"private": true,`
  apps/evm-bridge/package.json
Labels: tooling

#7556 fix: remove chrono pin
  Cargo.lock
  Cargo.toml
  crates/iota-analytics-indexer/Cargo.toml
Labels: sc-platform, dev-tools

#7426 feat(starfish): handle additional headers on receiving end
  crates/starfish/core/src/authority_service.rs
  crates/starfish/core/src/dag_state.rs
  crates/starfish/core/src/error.rs
  crates/starfish/core/src/metrics.rs
  crates/starfish/core/src/network/mod.rs
  crates/starfish/core/src/network/test_network.rs
  crates/starfish/core/src/subscriber.rs
Labels: consensus, core-protocol

#7563 fix(apps-ui-kit): remove unnecessary root light class and set default theme for MultiTheme
  apps/ui-kit/src/lib/styles/index.css
Labels: tooling, apps-ui-kit

#7519 fix(node): remove known peers shuffling during discovery (#7484)
  crates/iota-network/src/discovery/server.rs
Labels: node, core-protocol

#7450 upstream(node): Porting node team related upstream changes in range mainnet-1.37.4 to mainnet-1.38.4
  Cargo.lock
  Cargo.toml
  consensus/core/src/network/tonic_network.rs
  consensus/core/src/network/tonic_tls.rs
  crates/iota-benchmark/src/lib.rs
  crates/iota-core/Cargo.toml
  crates/iota-core/benches/batch_verification_bench.rs
  crates/iota-core/src/authority/authority_per_epoch_store.rs
  crates/iota-core/src/authority_client.rs
  crates/iota-core/src/authority_server.rs
  crates/iota-core/src/consensus_validator.rs
  crates/iota-core/src/epoch/randomness.rs
  crates/iota-core/src/signature_verifier.rs
  crates/iota-core/src/traffic_controller/metrics.rs
  crates/iota-core/src/traffic_controller/mod.rs
  crates/iota-core/src/traffic_controller/policies.rs
  crates/iota-core/src/transaction_orchestrator.rs
  crates/iota-core/src/unit_tests/authority_tests.rs
  crates/iota-core/src/unit_tests/batch_verification_tests.rs
  crates/iota-core/src/unit_tests/server_tests.rs
  crates/iota-core/src/unit_tests/transaction_tests.rs
  crates/iota-e2e-tests/tests/traffic_control_tests.rs
  crates/iota-json-rpc/src/axum_router.rs
  crates/iota-network-stack/Cargo.toml
  crates/iota-network-stack/src/client.rs
  crates/iota-network-stack/src/config.rs
  crates/iota-network-stack/src/server.rs
  crates/iota-network/src/randomness/mod.rs
  crates/iota-network/src/randomness/tests.rs
  crates/iota-node/src/lib.rs
  crates/iota-swarm/Cargo.toml
  crates/iota-swarm/src/memory/node.rs
  crates/iota-tls/src/lib.rs
  crates/iota-tls/src/verifier.rs
  crates/iota-tool/Cargo.toml
  crates/iota-tool/src/lib.rs
  crates/iota-types/src/committee.rs
  crates/iota-types/src/crypto.rs
  crates/iota-types/src/iota_system_state/epoch_start_iota_system_state.rs
  crates/iota-types/src/iota_system_state/iota_system_state_inner_v1.rs
  crates/iota-types/src/iota_system_state/iota_system_state_inner_v2.rs
  crates/iota-types/src/iota_system_state/iota_system_state_summary.rs
  crates/iota-types/src/iota_system_state/simtest_iota_system_state_inner.rs
  crates/iota-types/src/messages_consensus.rs
Labels: node, core-protocol

#7583 feat(ci): add more input pars to nightly tests
  .github/workflows/nightly.yml
  scripts/simtest/simtest-run.sh
Labels: node, core-protocol, ci

#7586 fix(node): fix clippy lint
  crates/iota-network-stack/src/server.rs
Labels: node, core-protocol

#7366 feat(docs): Add IOTA notarization wiki docs
  docs/content/developer/iota-identity/references/revocation-bitmap-2022.mdx
  docs/content/developer/iota-notarization/contribute.mdx
  docs/content/developer/iota-notarization/explanations/about-notarization.mdx
  docs/content/developer/iota-notarization/explanations/dynamic-notarization.mdx
  docs/content/developer/iota-notarization/explanations/locked-notarization.mdx
  docs/content/developer/iota-notarization/explanations/notarization-comparison.mdx
  docs/content/developer/iota-notarization/getting-started/local-network-setup.mdx
  docs/content/developer/iota-notarization/getting-started/rust.mdx
  docs/content/developer/iota-notarization/getting-started/wasm.mdx
  docs/content/developer/iota-notarization/how-tos/access-read-only-methods.mdx
  docs/content/developer/iota-notarization/how-tos/dynamic-notarizations/create.mdx
  docs/content/developer/iota-notarization/how-tos/dynamic-notarizations/destroy.mdx
  docs/content/developer/iota-notarization/how-tos/dynamic-notarizations/transfer.mdx
  docs/content/developer/iota-notarization/how-tos/dynamic-notarizations/update-metadata.mdx
  docs/content/developer/iota-notarization/how-tos/dynamic-notarizations/update-state.mdx
  docs/content/developer/iota-notarization/how-tos/locked-notarizations/create.mdx
  docs/content/developer/iota-notarization/how-tos/locked-notarizations/destroy.mdx
  docs/content/developer/iota-notarization/index.mdx
  docs/content/developer/iota-trust-framework.mdx
  docs/content/sidebars/developer.js
  docs/content/sidebars/notarization.js
  docs/content/tags.yml
  docs/site/docusaurus.config.js
  docs/site/static/img/banner/banner_notarization.svg
Labels: documentation, apps-ui-kit, wallet, ts-sdk, explorer, wallet-dashboard, apps-backend, identity, ci
