Repository iotaledger/iota, pull requests merged in 2025-05, with the labels that each got.

#6677 feat(docs): add mainnet endpoints
  docs/content/_snippets/iota-evm/oracles_contract_data.mdx
  docs/content/_snippets/mainnet-runs-stardust.mdx
  docs/content/_snippets/operator/try-rpc-endpoint.mdx
  docs/content/about-iota/about-iota.mdx
  docs/content/developer/advanced/custom-indexer.mdx
  docs/content/developer/getting-started/connect.mdx
  docs/content/developer/getting-started/get-coins.mdx
  docs/content/developer/network-overview.mdx
  docs/content/iota-evm/getting-started/contracts.mdx
  docs/content/iota-evm/how-tos/deploy-a-smart-contract.mdx
  docs/content/iota-evm/how-tos/send-funds-from-L1-to-L2.mdx
  docs/content/operator/full-node/source.mdx
  docs/content/ts-sdk/typescript/index.mdx
  docs/site/src/components/NetworkInfo/index.tsx
  docs/site/src/components/constant.tsx
Labels: documentation, devx

#6592 feat(docs): update ledger nano app name
  docs/content/about-iota/iota-wallet/how-to/integrate-ledger.mdx
Labels: documentation, sc-platform, dev-tools

#6688 chore(iota-names): remove `IotaNamesRegistration::image_url`
  crates/iota-graphql-rpc/src/types/iota_names_registration.rs
  crates/iota-names/src/lib.rs
  crates/iota/src/name_commands.rs
Labels: sc-platform, dev-tools

#6706 chore: fix clippy beta `io_other_error lint`
  crates/iota-core/src/authority_server.rs
Labels: sc-platform, dev-tools

#6704 Remove shimmer
  docs/content/iota-evm/how-tos/send-NFTs-across-chains.md
Labels: documentation, devx

#6674 feat(iota): update `iota start` help text
  crates/iota/src/iota_commands.rs
Labels: sc-platform, dev-tools

#6700 feat(iota-names): dynamically fetch subdomain proxy package
  crates/iota-indexer/src/lib.rs
  crates/iota-names/src/config.rs
  crates/iota/src/name_commands.rs
Labels: sc-platform, dev-tools

#6703 fix(wallet-dashboard): coin (different from gas) validation in send form
  apps/wallet-dashboard/components/dialogs/send-token/SendTokenDialog.tsx
Labels: tooling, wallet-dashboard

#6705 fix(wallet,wallet-dashboard): fallback to graphql client fetching coin metadata and block sending when missing
  .changeset/cool-islands-buy.md
  apps/core/package.json
  apps/core/src/components/inputs/SendTokenFormInput.tsx
  apps/core/src/contexts/IotaGraphQLClientContext.tsx
  apps/core/src/contexts/index.ts
  apps/core/src/hooks/useFormatCoin.ts
  apps/explorer/src/components/layout/Layout.tsx
  apps/wallet-dashboard/components/dialogs/send-token/views/EnterValuesFormView.tsx
  apps/wallet-dashboard/providers/AppProviders.tsx
  apps/wallet/src/ui/app/pages/home/transfer-coin/SendTokenForm.tsx
  apps/wallet/src/ui/index.tsx
  pnpm-lock.yaml
  sdk/typescript/src/client/network.ts
Labels: tooling, wallet, ts-sdk, explorer, wallet-dashboard

#6698 fix(wallet): display migration and assets pill properly in balance finder
  apps/wallet/src/ui/app/components/accounts/AccountBalanceItem.tsx
Labels: tooling, wallet

#6679 feat(wallet): keep only objects that match the supply increase label when fetching timelocks in homepage hint
  apps/core/src/utils/index.ts
  apps/core/src/utils/vesting/haveSupplyIncreaseLabel.ts
  apps/core/src/utils/vesting/index.ts
  apps/wallet/src/ui/app/components/accounts/AccountBalanceItem.tsx
  apps/wallet/src/ui/app/pages/home/tokens/TokensDetails.tsx
Labels: tooling, wallet

#6685 fix(explorer): incorrect scroll for owned objects
  .changeset/khaki-frogs-eat.md
  apps/explorer/src/components/owned-objects/ListView.tsx
  apps/explorer/src/components/ui/TableCard.tsx
  apps/explorer/src/components/ui/image/Image.tsx
  apps/ui-kit/src/lib/components/organisms/table/Table.tsx
Labels: tooling, apps-ui-kit, explorer

#6715 refactor(apps-core): Re-add long stale for `useCoinMetadata`
  apps/core/src/hooks/useFormatCoin.ts
Labels: tooling

#6676 feat(docs): add mainnet references
  docs/content/sidebars/references.js
  docs/site/.gitignore
  docs/site/docusaurus.config.js
  docs/site/package.json
  docs/site/scripts/get-iota-references.sh
  docs/site/src/components/API/api-ref/networkselect.js
  docs/site/src/components/API/index.js
  docs/site/src/utils/getopenrpcspecs.js
Labels: documentation, devx, ci

#6464 node-upstream-change([v1.33.3, v1.34.2)): Add error types
  crates/iota-benchmark/src/drivers/bench_driver.rs
Labels: node, core-protocol

#6723 feat(docs): add some explanation how to get the peer-id for the SSFN and Validator
  docs/content/operator/ssfn_guide.mdx
Labels: documentation, node, core-protocol

#6481 chore: update mainnet references
  crates/iota-move/src/manage_package.rs
  crates/iota-types/src/digests.rs
  docs/content/developer/iota-101/move-overview/package-upgrades/automated-address-management.mdx
  external-crates/move/crates/move-package/tests/test_lock_file.rs
Labels: documentation, sc-platform, dev-tools

#6736 Update version and mainnet chain id
  Cargo.lock
  Cargo.toml
  crates/iota-graphql-e2e-tests/tests/call/simple.exp
  crates/iota-move/src/manage_package.rs
  crates/iota-open-rpc/spec/openrpc.json
  crates/iota-types/src/digests.rs
  docs/content/developer/iota-101/move-overview/package-upgrades/automated-address-management.mdx
  external-crates/move/crates/move-package/tests/test_lock_file.rs
Labels: documentation, node, core-protocol

#6389 enhance(core): Optimize validator tx finalizer
  crates/iota-core/src/authority.rs
  crates/iota-core/src/authority/authority_per_epoch_store.rs
  crates/iota-core/src/validator_tx_finalizer.rs
Labels: node, core-protocol

#6518 cleanup(consensus): remove smart ancestor selection from Starfish
  crates/starfish/core/src/ancestor.rs
  crates/starfish/core/src/authority_service.rs
  crates/starfish/core/src/block_header.rs
  crates/starfish/core/src/block_manager.rs
  crates/starfish/core/src/broadcaster.rs
  crates/starfish/core/src/core.rs
  crates/starfish/core/src/core_thread.rs
  crates/starfish/core/src/dag_state.rs
  crates/starfish/core/src/decoder.rs
  crates/starfish/core/src/encoder.rs
  crates/starfish/core/src/leader_scoring.rs
  crates/starfish/core/src/leader_timeout.rs
  crates/starfish/core/src/lib.rs
  crates/starfish/core/src/metrics.rs
  crates/starfish/core/src/network/mod.rs
  crates/starfish/core/src/network/network_tests.rs
  crates/starfish/core/src/network/test_network.rs
  crates/starfish/core/src/network/tonic_network.rs
  crates/starfish/core/src/round_prober.rs
  crates/starfish/core/src/subscriber.rs
Labels: consensus, core-protocol

#6708 upstream(consensus): checkpoint builder can be aborted
  crates/iota-core/src/checkpoints/mod.rs
Labels: node, consensus, core-protocol

#6607 feat(consensus): remove round prober from starfish
  crates/starfish/core/src/authority_node.rs
  crates/starfish/core/src/authority_service.rs
  crates/starfish/core/src/broadcaster.rs
  crates/starfish/core/src/commit_syncer.rs
  crates/starfish/core/src/core.rs
  crates/starfish/core/src/core_thread.rs
  crates/starfish/core/src/leader_timeout.rs
  crates/starfish/core/src/lib.rs
  crates/starfish/core/src/metrics.rs
  crates/starfish/core/src/network/mod.rs
  crates/starfish/core/src/network/tonic_network.rs
  crates/starfish/core/src/round_prober.rs
  crates/starfish/core/src/subscriber.rs
  crates/starfish/core/src/synchronizer.rs
Labels: consensus, core-protocol

#6738 feat(ci): re-enable mainnet split-cluster check
  .github/actions/diffs/action.yml
  .github/workflows/_split_cluster.yml
Labels: sc-platform, dev-tools, ci

#6608 feat(consensus): remove leader schedule v1 from Starfish
  crates/starfish/core/src/core.rs
  crates/starfish/core/src/dag_state.rs
  crates/starfish/core/src/leader_schedule.rs
  crates/starfish/core/src/leader_scoring.rs
  crates/starfish/core/src/linearizer.rs
Labels: consensus, core-protocol

#6718 chore(iota-names): update devnet deployment
  crates/iota-names/src/config.rs
  crates/iota/src/name_commands.rs
Labels: sc-platform, dev-tools

#6488 feat(consensus): Allow enabling Starfish consensus in the node through env variable
  Cargo.lock
  crates/iota-config/src/node.rs
  crates/iota-core/Cargo.toml
  crates/iota-core/src/consensus_handler.rs
  crates/iota-core/src/consensus_manager/mod.rs
  crates/iota-core/src/consensus_manager/starfish_manager.rs
  crates/iota-core/src/consensus_types/consensus_output_api.rs
  crates/iota-core/src/consensus_validator.rs
  crates/iota-core/src/lib.rs
  crates/iota-core/src/starfish_adapter.rs
  crates/iota-core/src/unit_tests/starfish_manager_tests.rs
  crates/iota-types/Cargo.toml
  crates/iota-types/src/iota_system_state/epoch_start_iota_system_state.rs
  crates/starfish/core/src/synchronizer.rs
Labels: consensus, core-protocol

#6717 fix(docs): add os specifics steps/images for wallet guides
  docs/content/about-iota/iota-wallet/how-to/integrate-ledger.mdx
  docs/content/about-iota/iota-wallet/how-to/restore-account.mdx
  docs/site/static/img/about-iota/iota-wallet/how-to/restore-account/backup-seed-falafel.png
  docs/site/static/img/about-iota/iota-wallet/how-to/restore-account/backup-seed-menu-linux.png
  docs/site/static/img/about-iota/iota-wallet/how-to/restore-account/backup-seed-menu-macos.png
  docs/site/static/img/about-iota/iota-wallet/how-to/restore-account/backup-seed-menu-windows.png
  docs/site/static/img/about-iota/iota-wallet/how-to/restore-account/backup-seed-menu.png
  docs/site/static/img/about-iota/iota-wallet/how-to/restore-account/copy-seed.png
  docs/site/static/img/about-iota/iota-wallet/how-to/restore-account/copy-stronghold-location.png
  docs/site/static/img/about-iota/iota-wallet/how-to/restore-account/drag-and-drop-stronghold.png
  docs/site/static/img/about-iota/iota-wallet/how-to/restore-account/enter-password.png
Labels: documentation, devx

#6746 fix(wallet): fix private key copy message
  apps/wallet/src/ui/app/pages/accounts/ExportAccountPage.tsx
Labels: sc-platform, dev-tools, wallet

#6525 feat(iota): improve `register` command
  crates/iota/src/name_commands.rs
Labels: sc-platform, dev-tools, ci

#6754 fix: node health metrics command
  docs/content/_snippets/operator/monitoring-health-metrics.mdx
Labels: documentation, node, core-protocol

#6515 refactor(consensus): Fixing Starfish for pipeline enabled and one leader per round
  crates/iota-core/src/consensus_types/consensus_output_api.rs
  crates/starfish/core/src/base_committer.rs
  crates/starfish/core/src/block_header.rs
  crates/starfish/core/src/commit.rs
  crates/starfish/core/src/core.rs
  crates/starfish/core/src/linearizer.rs
  crates/starfish/core/src/test_dag_builder.rs
  crates/starfish/core/src/tests/base_committer_declarative_tests.rs
  crates/starfish/core/src/tests/base_committer_tests.rs
  crates/starfish/core/src/tests/pipelined_committer_tests.rs
  crates/starfish/core/src/tests/randomized_tests.rs
  crates/starfish/core/src/tests/universal_committer_tests.rs
  crates/starfish/core/src/universal_committer.rs
Labels: consensus, core-protocol

#6645 fix(data-ingestion-core)!: revisit iteration of historical data
  crates/iota-data-ingestion-core/src/history/reader.rs
Labels: sc-platform, infrastructure

#6687 upstream(consensus): remove high cardinality address label from safe client latency
  crates/iota-core/src/safe_client.rs
Labels: consensus, core-protocol

#6551 cleanup(consensus): remove linearizer_v2
  crates/starfish/core/src/block_header.rs
  crates/starfish/core/src/dag_state.rs
  crates/starfish/core/src/linearizer.rs
  crates/starfish/core/src/test_dag_builder.rs
  crates/starfish/simtests/src/tests/simtests.rs
Labels: consensus, core-protocol

#6733 fix(turbo): Patch `base-x` to 5.0.1
  package.json
  pnpm-lock.yaml
Labels: tooling

#6623 node-upstream-change([v1.32.2, v1.33.3)): Add caching for HttpKVStore
  Cargo.lock
  Cargo.toml
  crates/iota-config/src/node.rs
  crates/iota-node/src/lib.rs
  crates/iota-storage/Cargo.toml
  crates/iota-storage/src/bin/http_kv_tool.rs
  crates/iota-storage/src/http_key_value_store.rs
  crates/iota-storage/tests/key_value_tests.rs
  crates/iota-swarm-config/tests/snapshots/snapshot_tests__network_config_snapshot_matches.snap
Labels: node, core-protocol

#6390 Migrate users of iota_metrics Histogram to prometheus Histogram
  crates/iota-core/src/authority_aggregator.rs
  crates/iota-core/src/authority_server.rs
  crates/iota-core/src/checkpoints/checkpoint_executor/metrics.rs
  crates/iota-core/src/checkpoints/checkpoint_executor/mod.rs
  crates/iota-core/src/checkpoints/checkpoint_output.rs
  crates/iota-core/src/checkpoints/metrics.rs
  crates/iota-core/src/checkpoints/mod.rs
  crates/iota-core/src/consensus_adapter.rs
  crates/iota-core/src/quorum_driver/metrics.rs
  crates/iota-core/src/quorum_driver/mod.rs
  crates/iota-core/src/safe_client.rs
  crates/iota-core/src/transaction_orchestrator.rs
  crates/iota-json-rpc-api/src/lib.rs
  crates/iota-json-rpc/src/coin_api.rs
  crates/iota-json-rpc/src/governance_api.rs
  crates/iota-json-rpc/src/indexer_api.rs
  crates/iota-json-rpc/src/read_api.rs
  crates/iota-metrics/src/lib.rs
  crates/iota-network/src/state_sync/metrics.rs
  crates/iota-network/src/state_sync/mod.rs
  crates/iota-types/src/messages_checkpoint.rs
Labels: node, core-protocol

#6414 Refactor ConsensusTransactionKind
  crates/iota-core/src/authority/authority_per_epoch_store.rs
  crates/iota-core/src/consensus_adapter.rs
  crates/iota-core/src/consensus_handler.rs
  crates/iota-core/src/consensus_validator.rs
  crates/iota-core/src/mock_consensus.rs
  crates/iota-core/src/post_consensus_tx_reorder.rs
  crates/iota-types/src/messages_consensus.rs
Labels: node, core-protocol

#6440 Add metric for active time of monitored futures
  crates/iota-metrics/src/lib.rs
Labels: node, core-protocol

#6487 upstream-changes(zklogin/passkey): allow passkey in multisig
  crates/iota-core/benches/batch_verification_bench.rs
  crates/iota-core/src/authority/authority_per_epoch_store.rs
  crates/iota-core/src/signature_verifier.rs
  crates/iota-core/src/unit_tests/batch_verification_tests.rs
  crates/iota-e2e-tests/tests/multisig_tests.rs
  crates/iota-framework-snapshot/manifest.json
  crates/iota-graphql-rpc/src/types/zklogin_verify_signature.rs
  crates/iota-open-rpc/spec/openrpc.json
  crates/iota-protocol-config/src/lib.rs
  crates/iota-protocol-config/src/snapshots/iota_protocol_config__test__Testnet_version_7.snap
  crates/iota-protocol-config/src/snapshots/iota_protocol_config__test__version_7.snap
  crates/iota-types/src/crypto.rs
  crates/iota-types/src/multisig.rs
  crates/iota-types/src/signature.rs
  crates/iota-types/src/unit_tests/multisig_tests.rs
  crates/iota-types/src/unit_tests/zk_login_authenticator_test.rs
  crates/iota/src/keytool.rs
Labels: node, core-protocol

#6702 feat(consensus): Update block creation for Starfish
  crates/starfish/config/src/crypto.rs
  crates/starfish/core/src/block_header.rs
  crates/starfish/core/src/core.rs
  crates/starfish/core/src/dag_state.rs
Labels: consensus, core-protocol

#6771 chore(ts-sdk): add mainnet to .env.defaults
  .changeset/ninety-gifts-decide.md
  sdk/.env.defaults
Labels: tooling, ts-sdk

#6450 feat(cli): support serializing `iota::object::ID`
  crates/iota/src/client_ptb/ast.rs
Labels: sc-platform, dev-tools

#6762 upstream(consensus): update transaction outputs
  crates/iota-core/src/transaction_outputs.rs
Labels: consensus, core-protocol

#6753 upstream(consensus): Remove `GetSharedLocks` trait
  crates/iota-core/src/authority.rs
  crates/iota-core/src/authority/authority_per_epoch_store.rs
  crates/iota-core/src/checkpoints/checkpoint_executor/mod.rs
  crates/iota-core/src/transaction_input_loader.rs
  crates/iota-core/src/unit_tests/authority_tests.rs
  crates/iota-core/src/unit_tests/congestion_control_tests.rs
  crates/iota-single-node-benchmark/src/mock_storage.rs
  crates/iota-single-node-benchmark/src/single_node.rs
  crates/iota-types/src/storage/mod.rs
Labels: consensus, core-protocol

#6748 upstream(consensus): checkpoint service refactoring
  crates/iota-core/src/authority/authority_per_epoch_store.rs
  crates/iota-core/src/checkpoints/mod.rs
  crates/iota-core/src/unit_tests/mysticeti_manager_tests.rs
  crates/iota-node/src/lib.rs
Labels: consensus, core-protocol

#6697 feat: Add generalized method for getting all pages
  crates/iota-benchmark/src/lib.rs
  crates/iota-cluster-test/src/test_case/coin_index_test.rs
  crates/iota-json-rpc-tests/tests/coin_api.rs
  crates/iota-sdk/src/lib.rs
  crates/iota-sdk/src/wallet_context.rs
  crates/iota/src/client_commands.rs
  crates/iota/src/name_commands.rs
  crates/iota/src/validator_commands.rs
  crates/iota/tests/cli_tests.rs
Labels: sc-platform, dev-tools

#6775 refactor(docs): update faq with wallet questions and answers
  docs/content/about-iota/FAQ.mdx
Labels: documentation, dx-improvement, devx

#5763 feat(protocol-research): sequencer updates
  crates/iota-core/src/authority/authority_per_epoch_store.rs
  crates/iota-core/src/authority/shared_object_congestion_tracker.rs
  crates/iota-core/src/unit_tests/authority_tests.rs
  crates/iota-core/src/unit_tests/congestion_control_tests.rs
  crates/iota-open-rpc/spec/openrpc.json
  crates/iota-protocol-config/src/lib.rs
  crates/iota-protocol-config/src/snapshots/iota_protocol_config__test__version_7.snap
Labels: research, core-protocol

#6760 fix: wrong arg name in proof of possession command
  crates/iota-types/src/unit_tests/crypto_tests.rs
  crates/iota/src/validator_commands.rs
  docs/content/operator/validator-node/cli-validator-command.mdx
Labels: documentation, node, core-protocol

#6786 node-upstream-change([v1.32.2, v1.33.3)): Add a metric to track the number of managed files per column family in RocksDb
  crates/typed-store/src/metrics.rs
  crates/typed-store/src/rocks/mod.rs
Labels: documentation, node, core-protocol

#6694 feat(iota-indexer): add `reliability.md`
  crates/iota-indexer/reliability.md
Labels: sc-platform, infrastructure

#6805 feat(iota-names): get `IotaNamesConfig` from env
  Cargo.lock
  crates/iota-names/Cargo.toml
  crates/iota-names/src/config.rs
  crates/iota/src/name_commands.rs
Labels: sc-platform, dev-tools

#6788 fix(explorer): Fix generated table data dependencies array
  apps/explorer/src/pages/validators/Validators.tsx
Labels: tooling, explorer

#6809 feat(explorer): Add next epoch commission column to Validators
  apps/explorer/src/lib/ui/utils/generateValidatorsTableColumns.tsx
  apps/explorer/src/pages/validators/Validators.tsx
Labels: tooling, explorer

#6813 fix(explorer): Render active validator data over inactive if available
  apps/explorer/src/pages/validator/ValidatorDetails.tsx
Labels: tooling, explorer

#6814 Change navbar icon
  docs/site/static/logo/iota-logo.svg
Labels: documentation, devx

#6811 feat(explorer): add loading improvements
  apps/explorer/src/components/home-metrics/CurrentEpoch.tsx
  apps/explorer/src/components/home-metrics/OnTheNetwork.tsx
Labels: tooling, explorer

#6798 feat(docs): add nano s warning
  docs/content/about-iota/iota-wallet/how-to/integrate-ledger.mdx
Labels: documentation, sc-platform, dev-tools

#6822 feat(cli): Enable the move test tracing
  .github/workflows/release.yml
  scripts/homebrew/template.rb
Labels: ci

#6391 refactor(benchmark): Use collect from Iterator
  crates/iota-benchmark/src/workloads/adversarial.rs
Labels: node, core-protocol

#6765 feat(iota): Fail early when IOTA-Names auction bid is insufficient
  crates/iota/src/name_commands.rs
Labels: sc-platform, dev-tools

#6763 feat(wallet): add warning message to seed option in wallet restore
  apps/wallet/src/ui/app/components/accounts/ImportSeedForm.tsx
Labels: tooling, wallet

#6819 fix(explorer): Responsive explorer search bar
  apps/explorer/src/components/header/Header.tsx
  apps/explorer/src/components/layout/PageLayout.tsx
  apps/explorer/tailwind.config.ts
Labels: tooling, explorer

#6741 fix(wallet-dashboard): Show validator image in staked timelock objects
  apps/core/src/components/stake/StakedCard.tsx
  apps/wallet-dashboard/components/staked-timelock-object/StakedTimelockObject.tsx
Labels: tooling, wallet-dashboard

#6752 feat(wallet): fix overflow in connected accounts
  apps/wallet/src/ui/app/components/SummaryPanel.tsx
  apps/wallet/src/ui/app/components/iota-apps/DisconnectApp.tsx
Labels: tooling, wallet

#6839 feat(wallet): add get support option to wallet settings
  apps/core/src/constants/index.ts
  apps/core/src/constants/urls.constants.ts
  apps/wallet/src/ui/app/components/menu/content/WalletSettingsMenuList.tsx
Labels: tooling, wallet

#6755 feat(wallet): improve balance finder by clarifying `Keep Searching` button and showing derived addresses counter
  apps/wallet/src/ui/app/accounts-finder/accountsFinder.ts
  apps/wallet/src/ui/app/components/accounts/AccountBalanceItem.tsx
  apps/wallet/src/ui/app/hooks/useAccountsFinder.ts
  apps/wallet/src/ui/app/pages/accounts/manage/accounts-finder/AccountsFinderView.tsx
Labels: tooling, wallet

#6797 fix(wallet,wallet-dashboard): blinking reward not started
  apps/core/src/hooks/useGetNextEpochCommitteeMember.ts
  apps/wallet-dashboard/components/dialogs/staking/views/DetailsView.tsx
  apps/wallet/src/ui/app/staking/delegation-detail/DelegationDetailCard.tsx
Labels: tooling, wallet, wallet-dashboard

#6521 fix(ui-kit): Add basic eslint config
  .changeset/four-pets-love.md
  .eslintrc.js
  apps/explorer/src/components/module/PkgModulesWrapper.tsx
  apps/ui-kit/src/lib/components/atoms/badge/Badge.tsx
  apps/ui-kit/src/lib/components/atoms/button/button-variants/ButtonPill.tsx
  apps/ui-kit/src/lib/components/atoms/button/button-variants/ButtonUnstyled.tsx
  apps/ui-kit/src/lib/components/atoms/button/button-variants/buttonVariants.types.ts
  apps/ui-kit/src/lib/components/atoms/info-box/InfoBox.tsx
  apps/ui-kit/src/lib/components/atoms/key-value-info/KeyValueInfo.tsx
  apps/ui-kit/src/lib/components/atoms/label-text/LabelText.tsx
  apps/ui-kit/src/lib/components/atoms/list-item/ListItem.tsx
  apps/ui-kit/src/lib/components/atoms/tooltip/Tooltip.tsx
  apps/ui-kit/src/lib/components/molecules/account/Account.tsx
  apps/ui-kit/src/lib/components/molecules/card/CardBody.tsx
  apps/ui-kit/src/lib/components/molecules/display-stats/DisplayStats.tsx
  apps/ui-kit/src/lib/components/molecules/input/Input.tsx
  apps/ui-kit/src/lib/components/molecules/input/TextArea.tsx
  apps/ui-kit/src/lib/components/molecules/input/input.types.ts
  apps/ui-kit/src/lib/components/molecules/navbar-item/NavbarItemHorizontal.tsx
  apps/ui-kit/src/lib/components/molecules/navbar-item/NavbarItemVertical.tsx
  apps/ui-kit/src/lib/components/molecules/search/Search.tsx
  apps/ui-kit/src/lib/components/molecules/segmented-button/SegmentedButton.tsx
  apps/ui-kit/src/lib/components/molecules/table-cell/TableCell.tsx
  apps/ui-kit/src/lib/components/molecules/title/Title.tsx
  apps/ui-kit/src/lib/components/organisms/accordion/Accordion.tsx
  apps/ui-kit/src/lib/components/organisms/navbar/Navbar.tsx
  apps/ui-kit/src/lib/components/organisms/navbar/NavbarSlideout.tsx
  apps/ui-kit/src/lib/components/organisms/table/Table.tsx
  apps/ui-kit/src/lib/components/organisms/table/TableContext.tsx
  apps/ui-kit/src/lib/tailwind/base.presets.ts
  apps/ui-kit/src/lib/tailwind/constants/fontSizes.constants.ts
  apps/ui-kit/src/lib/tailwind/helpers.ts
  apps/ui-kit/src/lib/tailwind/types.ts
  apps/ui-kit/src/storybook/blocks/TypeSet.tsx
  apps/ui-kit/src/storybook/stories/atoms/Snackbar.stories.tsx
  apps/ui-kit/src/storybook/stories/molecules/Card.stories.tsx
  apps/ui-kit/src/storybook/stories/molecules/Dropdown.stories.tsx
  apps/ui-kit/src/storybook/stories/molecules/Input.stories.tsx
  apps/ui-kit/src/storybook/stories/molecules/Search.stories.tsx
  apps/ui-kit/src/storybook/stories/molecules/SegmentedButton.stories.tsx
  apps/ui-kit/src/storybook/stories/molecules/Select.stories.tsx
  apps/ui-kit/src/storybook/stories/organisms/Navbar.stories.tsx
Labels: tooling, apps-ui-kit, explorer

#6840 feat(iota): add `NameCommand::Availability`
  crates/iota-sdk/Cargo.toml
  crates/iota-sdk/src/apis/read.rs
  crates/iota/src/name_commands.rs
Labels: sc-platform, dev-tools

#6859 chore(iota): Fix CLI `iota-names` feature not enabling sdk feature
  crates/iota/Cargo.toml
Labels: sc-platform, dev-tools

#6791 node-upstream-change([v1.32.2, v1.33.3)): [rocksdb] add metric for num level 0 files
  crates/typed-store/src/metrics.rs
  crates/typed-store/src/rocks/mod.rs
Labels: node, core-protocol

#6862 fix(iota): fix extend expiration command
  crates/iota/src/name_commands.rs
Labels: sc-platform, dev-tools

#6877 node-upstream-change([v1.33.3, v1.34.2)): authority_aggregator always requests for events when asked
  crates/iota-core/src/authority_aggregator.rs
Labels: node, core-protocol

#6893 feat: update v8 manifest
  crates/iota-framework-snapshot/manifest.json
Labels: node, core-protocol

#6838 feat(wallet/dashboard): show negative value for vested staking
  apps/core/src/utils/stake/getTransactionAmountForTimelocked.ts
  apps/wallet-dashboard/app/(protected)/staking/page.tsx
Labels: tooling, wallet-dashboard

#6846 feat(iota): add `--faucet-coin-count` to start cmd
  crates/iota/src/iota_commands.rs
  crates/iota/tests/cli_tests.rs
Labels: sc-platform, dev-tools

#6852 fix(CI): Fix rust CI failing on `fromJson` with an empty changes list
  .github/workflows/_rust.yml
Labels: sc-platform, dev-tools, ci

#6796 fix(wallet, wallet-dashboard): Allow accessing active stakes at all times
  apps/core/src/hooks/stake/useNewUnstakeTransaction.ts
  apps/wallet-dashboard/components/dialogs/unstake/views/UnstakeView.tsx
  apps/wallet/src/ui/app/pages/home/tokens/TokenStakingOverview.tsx
  apps/wallet/src/ui/app/pages/home/tokens/TokensDetails.tsx
  apps/wallet/src/ui/app/staking/stake/UnstakeForm.tsx
Labels: tooling, wallet, wallet-dashboard

#6903 fix(docs): Add link to wallet dashboard homepage
  docs/content/about-iota/iota-wallet-dashboard/getting-started.mdx
Labels: documentation, research, core-protocol

#6841 refactor(ui-kit): remove cycle dependencies
  .changeset/spotty-chicken-film.md
  .eslintrc.js
  apps/ui-kit/src/lib/components/atoms/list-item/ListItem.tsx
  apps/ui-kit/src/lib/components/atoms/snackbar/Snackbar.tsx
  apps/ui-kit/src/lib/components/molecules/account/Account.tsx
  apps/ui-kit/src/lib/components/molecules/address/Address.tsx
  apps/ui-kit/src/lib/components/molecules/card/CardAction.tsx
  apps/ui-kit/src/lib/components/molecules/card/CardBody.tsx
  apps/ui-kit/src/lib/components/molecules/chip/Chip.tsx
  apps/ui-kit/src/lib/components/molecules/display-stats/DisplayStats.tsx
  apps/ui-kit/src/lib/components/molecules/input/Input.tsx
  apps/ui-kit/src/lib/components/molecules/input/InputWrapper.tsx
  apps/ui-kit/src/lib/components/molecules/input/TextArea.tsx
  apps/ui-kit/src/lib/components/molecules/navbar-item/NavbarItemHorizontal.tsx
  apps/ui-kit/src/lib/components/molecules/navbar-item/NavbarItemVertical.tsx
  apps/ui-kit/src/lib/components/molecules/search/Search.tsx
  apps/ui-kit/src/lib/components/molecules/segmented-button/SegmentedButton.tsx
  apps/ui-kit/src/lib/components/molecules/select/Select.tsx
  apps/ui-kit/src/lib/components/molecules/table-cell/TableCell.tsx
  apps/ui-kit/src/lib/components/molecules/table-header-cell/TableHeaderCell.tsx
  apps/ui-kit/src/lib/components/molecules/title/Title.tsx
  apps/ui-kit/src/lib/components/organisms/accordion/Accordion.tsx
  apps/ui-kit/src/lib/components/organisms/navbar/NavbarSlideout.tsx
  apps/ui-kit/src/lib/components/organisms/table/Table.tsx
Labels: tooling, apps-ui-kit

#6849 feat(explorer): make field values copyable across the app
  .changeset/light-dryers-matter.md
  apps/explorer/src/components/gas-breakdown/GasBreakdown.tsx
  apps/explorer/src/components/object/DynamicFieldsCard.tsx
  apps/explorer/src/components/object/FieldItem.tsx
  apps/explorer/src/components/owned-coins/CoinItem.tsx
  apps/explorer/src/components/top-packages/TopPackagesTable.tsx
  apps/explorer/src/components/ui/InternalLink.tsx
  apps/explorer/src/components/ui/PageHeader.tsx
  apps/explorer/src/components/validator/ValidatorMeta.tsx
  apps/explorer/src/index.css
  apps/explorer/src/lib/ui/utils/generateCheckpointsTableColumns.tsx
  apps/explorer/src/lib/ui/utils/generateTransactionsTableColumns.tsx
  apps/explorer/src/lib/utils/index.ts
  apps/explorer/src/lib/utils/onCopySuccess.ts
  apps/explorer/src/pages/home/Home.tsx
  apps/explorer/src/pages/object-result/views/ObjectView.tsx
  apps/explorer/src/pages/object-result/views/PkgView.tsx
  apps/explorer/src/pages/transaction-result/Signatures.tsx
  apps/explorer/src/pages/transaction-result/programmable-transaction-view/InputsCard.tsx
  apps/explorer/src/pages/transaction-result/programmable-transaction-view/Transaction.tsx
  apps/explorer/src/pages/transaction-result/transaction-summary/BalanceChanges.tsx
  apps/explorer/src/pages/transaction-result/transaction-summary/ObjectChanges.tsx
  apps/explorer/src/pages/transaction-result/transaction-summary/TransactionDetails.tsx
  apps/explorer/src/pages/transaction-result/transaction-summary/UpgradedSystemPackages.tsx
  apps/ui-kit/src/lib/components/molecules/display-stats/DisplayStats.tsx
Labels: tooling, apps-ui-kit, explorer

#6800 feat(wallet): add tooltip to Legacy accounts
  .changeset/chilly-kings-wash.md
  apps/ui-kit/src/lib/components/atoms/tooltip/Tooltip.tsx
  apps/ui-kit/src/lib/components/molecules/account/Account.tsx
  apps/wallet/src/ui/app/pages/accounts/manage/AccountGroupItem.tsx
Labels: tooling, apps-ui-kit, wallet

#6837 fix(dashboard): prevent closing popup when closing toast
  .changeset/perfect-seahorses-tan.md
  apps/core/src/components/toaster/Toaster.tsx
  apps/ui-kit/src/lib/components/organisms/dialog/Dialog.tsx
Labels: tooling, apps-ui-kit, wallet-dashboard

#6924 fix(wallet, dashboard, explorer): fetch inactive validator metadata
  apps/core/src/components/Validator.tsx
  apps/core/src/components/stake/StakedCard.tsx
  apps/core/src/hooks/stake/index.ts
  apps/core/src/hooks/stake/useGetInactiveValidator.ts
  apps/core/src/hooks/stake/useValidatorInfo.ts
  apps/core/src/types/index.ts
  apps/core/src/types/schema.ts
  apps/core/src/types/validators.ts
  apps/core/src/utils/stake/getInactiveValidatorsMetadata.ts
  apps/core/src/utils/stake/index.ts
  apps/explorer/src/components/validator/ValidatorMeta.tsx
  apps/explorer/src/pages/validator/ValidatorDetails.tsx
  apps/wallet-dashboard/components/dialogs/staking/views/DetailsView.tsx
Labels: tooling, explorer, wallet-dashboard

#6923 fix(typed-store): [DB] remove min level to compress
  crates/typed-store/src/rocks/mod.rs
Labels: node, core-protocol

#6921 feat(telemetry-subscribers): Add service.name when it is not found
  crates/telemetry-subscribers/src/bin/import-trace.rs
Labels: node, core-protocol

#6904 feat(core): [TrafficControl] Support allowlisting
  crates/iota-core/src/authority_server.rs
  crates/iota-core/src/traffic_controller/mod.rs
  crates/iota-e2e-tests/tests/traffic_control_tests.rs
  crates/iota-json-rpc/src/axum_router.rs
  crates/iota-types/src/traffic_control.rs
Labels: node, core-protocol

#6749 feat(core,rpc): Improve clarity of errors for QuorumDriverError type and it's usage in RPCs
  crates/iota-core/src/quorum_driver/mod.rs
  crates/iota-core/src/quorum_driver/tests.rs
  crates/iota-json-rpc/src/error.rs
  crates/iota-rest-api/src/error.rs
  crates/iota-types/src/error.rs
  crates/iota-types/src/quorum_driver_types.rs
Labels: node, core-protocol

#6868 IOTA doc content issue : Validator Tokenomics
  docs/content/operator/validator-node/validator-tokenomics.mdx
Labels: documentation, devx

#6898 feat(docs): add explanation for ledger nano 5103 error
  docs/content/about-iota/iota-wallet/how-to/integrate-ledger.mdx
Labels: documentation, sc-platform, dev-tools

#6927 Update iota-environment.mdx
  docs/content/developer/getting-started/iota-environment.mdx
Labels: documentation

#6946 feat(ci): add lint pr to check for conventional commit titles
  .github/workflows/pr_lint.yml
Labels: node, core-protocol, ci

#6918 fix(iota-data-ingestion-core): make file updates atomic
  crates/iota-data-ingestion-core/src/progress_store/file.rs
  crates/iota-data-ingestion-core/src/tests.rs
Labels: sc-platform, infrastructure

#6941 chore(apps-core)!: Remove `CLOCK_PACKAGE_ID`
  apps/core/src/constants/clock.constants.ts
  apps/core/src/hooks/useGetClockTimestamp.ts
  apps/core/src/utils/transaction/createUnlockTimelockedObjectsTransaction.ts
Labels: tooling

#6909 refactor(tooling): Clean up patched pnpm packages
  .changeset/rich-singers-applaud.md
  apps/apps-backend/package.json
  apps/core/package.json
  apps/explorer/package.json
  apps/ui-kit/package.json
  apps/wallet/package.json
  package.json
  pnpm-lock.yaml
Labels: tooling, apps-ui-kit, wallet, explorer, apps-backend

#6899 feat(ts-sdk): update after iota names changes
  .changeset/brown-clocks-tickle.md
  sdk/graphql-transport/src/generated/queries.ts
  sdk/typescript/src/client/types/generated.ts
  sdk/typescript/src/client/types/params.ts
  sdk/typescript/src/graphql/generated/2025.2/schema.graphql
  sdk/typescript/src/graphql/generated/2025.2/tada-env.d.ts
  sdk/typescript/test/e2e/data/coin_metadata/Move.lock
  sdk/typescript/test/e2e/data/dynamic_fields/Move.lock
  sdk/typescript/test/e2e/data/id_entry_args/Move.lock
  sdk/typescript/test/e2e/data/serializer/Move.lock
Labels: tooling, ts-sdk

#6938 feat(wallet): rename to `Unlock Account`
  apps/wallet/src/ui/app/components/accounts/UnlockAccountModal.tsx
Labels: tooling, wallet

#6901 fix(core): Update `async-graphql`, `axum` and `tonic`
  Cargo.lock
  Cargo.toml
  consensus/core/Cargo.toml
  crates/iota-bridge/src/server/mod.rs
  crates/iota-faucet/src/server.rs
  crates/iota-graphql-e2e-tests/tests/call/simple.snap
  crates/iota-graphql-rpc/Cargo.toml
  crates/iota-graphql-rpc/src/server/builder.rs
  crates/iota-graphql-rpc/src/server/graphiql_server.rs
  crates/iota-graphql-rpc/src/server/version.rs
  crates/iota-graphql-rpc/tests/snapshots/snapshot_tests__schema_sdl_export.snap
  crates/iota-json-rpc/src/axum_router.rs
  crates/iota-network-stack/src/grpc_timeout.rs
  crates/iota-network-stack/src/server.rs
  crates/iota-proxy/src/middleware.rs
  crates/iota-rest-api/src/accept.rs
  crates/iota-rest-api/src/content_type.rs
  crates/iota-rest-api/src/openapi.rs
  crates/iota-rest-api/src/response.rs
  crates/iota-rest-api/src/transactions/execution.rs
  crates/iota-rest-kv/src/extractors.rs
  crates/iota-rest-kv/src/server.rs
  crates/iota-storage/src/http_key_value_store.rs
Labels: tooling

#6953 feat(iota-types): impl `Display` for `UID` and `ID`
  crates/iota-types/src/id.rs
Labels: sc-platform, dev-tools

#6892 feat(CLI): Improve `iota name` commands output
  crates/iota-json-rpc-types/src/iota_transaction.rs
  crates/iota-names/src/registry.rs
  crates/iota/src/client_commands.rs
  crates/iota/src/client_ptb/ptb.rs
  crates/iota/src/displays/ptb_preview.rs
  crates/iota/src/name_commands.rs
  crates/iota/tests/cli_tests.rs
  crates/iota/tests/ptb_files_tests.rs
Labels: sc-platform, dev-tools

#6926 fix(indexer): Disable persist tx insertion order
  crates/iota-indexer/src/handlers/committer.rs
  crates/iota-indexer/tests/ingestion_tests.rs
Labels: sc-platform, infrastructure

#6801 chore(docs): remove blast RPCs
  docs/content/iota-evm/getting-started/tools.mdx
  docs/content/iota-evm/tools/rpcProviders.md
  docs/site/src/components/NetworkInfo/index.tsx
  docs/site/src/components/constant.tsx
Labels: documentation, devx

#6827 chore(docs): add ledger device infos
  docs/content/_snippets/about-iota/ledger_devices.mdx
  docs/content/about-iota/FAQ.mdx
  docs/content/about-iota/iota-wallet/how-to/integrate-ledger.mdx
Labels: documentation, devx

#6964 upstream(node): Support system tx in replay
  crates/iota-replay/src/replay.rs
Labels: node, core-protocol

#6933 feat(explorer): fix mismatch between top validators table and manual sorting in validators page
  apps/explorer/src/components/top-validators-card/TopValidatorsCard.tsx
  apps/explorer/src/components/ui/TableCard.tsx
  apps/explorer/src/lib/ui/utils/generateValidatorsTableColumns.tsx
Labels: tooling, explorer

#6963 feat(wallet): validate private key and seed import on update
  apps/wallet/src/ui/app/components/accounts/ImportPrivateKeyForm.tsx
  apps/wallet/src/ui/app/components/accounts/ImportSeedForm.tsx
Labels: tooling, wallet

#6802 feat(docs): create docs for the TS SDK's queryEvents and queryTransactionBlocks
  docs/content/_snippets/deprecated_methods_note.mdx
  docs/content/developer/iota-101/using-events.mdx
Labels: documentation, devx

#6972 chore(docs): add info about network flag for gas station
  docs/content/operator/gas-station/deployment/deployment.mdx
Labels: documentation, devx

#6945 feat(tooling/ts-sdk): Add `getGraphQLUrl` shorthand
  .changeset/tender-boxes-drive.md
  sdk/.env.defaults
  sdk/typescript/src/client/network.ts
Labels: tooling, ts-sdk

#6135 feat(iota-light-client)!: extend light client to use checkpoint archive
  Cargo.lock
  Cargo.toml
  crates/iota-archival/src/lib.rs
  crates/iota-archival/src/reader.rs
  crates/iota-light-client/.gitignore
  crates/iota-light-client/Cargo.toml
  crates/iota-light-client/README.md
  crates/iota-light-client/devnet.yaml
  crates/iota-light-client/example_config/528.chk
  crates/iota-light-client/example_config/528.json
  crates/iota-light-client/example_config/528_full.json
  crates/iota-light-client/example_config/788.chk
  crates/iota-light-client/example_config/788.json
  crates/iota-light-client/example_config/788_full.json
  crates/iota-light-client/example_config/light_client.yaml
  crates/iota-light-client/mainnet.yaml
  crates/iota-light-client/src/bin/generate_checkpoint_snapshots.rs
  crates/iota-light-client/src/bin/generate_chk_snapshots.rs
  crates/iota-light-client/src/bin/light_client.rs
  crates/iota-light-client/src/checkpoint.rs
  crates/iota-light-client/src/config.rs
  crates/iota-light-client/src/construct.rs
  crates/iota-light-client/src/graphql.rs
  crates/iota-light-client/src/lib.rs
  crates/iota-light-client/src/main.rs
  crates/iota-light-client/src/object_store.rs
  crates/iota-light-client/src/package_store.rs
  crates/iota-light-client/src/proof.rs
  crates/iota-light-client/src/utils.rs
  crates/iota-light-client/src/verifier.rs
  crates/iota-light-client/testnet.yaml
  crates/iota-light-client/tests/README.md
  crates/iota-light-client/tests/check_proof.rs
  crates/iota-light-client/tests/fixtures/235.chk
  crates/iota-light-client/tests/fixtures/235.sum
  crates/iota-light-client/tests/fixtures/469.chk
  crates/iota-light-client/tests/fixtures/469.sum
  crates/iota-light-client/tests/fixtures/checkpoints.yaml
  crates/iota-light-client/tests/fixtures/genesis.blob
  crates/iota-sdk/Cargo.toml
  crates/iota-storage/src/object_store/mod.rs
  dprint.json
Labels: sc-platform, dev-tools

#6971 fix(indexer): Disable persist tx insertion order (#6926)
  crates/iota-indexer/src/handlers/committer.rs
  crates/iota-indexer/tests/ingestion_tests.rs
Labels: sc-platform, infrastructure

#6931 feat(wallet/wallet-dashboard): add copy link option next to `View on Explorer` button after transaction
  apps/core/src/components/buttons/OutlinedCopyButton.tsx
  apps/core/src/components/buttons/index.ts
  apps/wallet-dashboard/components/dialogs/TransactionDialog.tsx
  apps/wallet-dashboard/components/dialogs/assets/views/KioskDetailsView.tsx
  apps/wallet-dashboard/components/dialogs/transaction/TransactionDetailsLayout.tsx
  apps/wallet/src/ui/app/components/receipt-card/index.tsx
Labels: tooling, wallet, wallet-dashboard

#6034 chore(docs): Update identity docs for next Identity release
  docs/content/iota-identity/getting-started/rust.mdx
  docs/content/iota-identity/getting-started/wasm.mdx
  docs/content/iota-identity/how-tos/decentralized-identifiers/create.mdx
  docs/content/iota-identity/how-tos/decentralized-identifiers/delete.mdx
  docs/content/iota-identity/how-tos/decentralized-identifiers/resolve.mdx
  docs/content/iota-identity/how-tos/decentralized-identifiers/update.mdx
  docs/content/iota-identity/how-tos/domain-linkage/create-and-verify.mdx
  docs/content/iota-identity/how-tos/key-storage.mdx
  docs/content/iota-identity/how-tos/verifiable-credentials/create.mdx
  docs/content/iota-identity/how-tos/verifiable-credentials/revocation.mdx
  docs/content/iota-identity/how-tos/verifiable-credentials/selective-disclosure.mdx
  docs/content/iota-identity/how-tos/verifiable-credentials/zero-knowledge-selective-disclosure.mdx
  docs/content/iota-identity/how-tos/verifiable-presentations/create-and-validate.mdx
  docs/content/references/iota-identity/iota-did-method-spec.mdx
  docs/content/sidebars/identity.js
Labels: documentation, identity

#6949 refactor(docs): format sample move code
  docs/content/developer/iota-101/create-coin/migrate-to-coin-manager.mdx
Labels: documentation, dx-improvement, devx

#6888 refactor(devx): add new rpc url to the network page
  docs/content/developer/network-overview.mdx
  docs/site/src/components/NetworkInfo/index.tsx
  docs/site/src/components/constant.tsx
Labels: documentation, dx-improvement, devx

#6876 fix(iota-indexer): Get `chain_identifier` from `chain_identifier` table
  crates/iota-indexer/src/apis/read_api.rs
  crates/iota-indexer/tests/common/mod.rs
  crates/iota-indexer/tests/rpc-tests/governance_api.rs
  crates/iota-indexer/tests/rpc-tests/indexer_api.rs
  crates/iota-indexer/tests/rpc-tests/read_api.rs
  crates/iota-indexer/tests/rpc-tests/transaction_builder.rs
Labels: sc-platform, infrastructure

#6989 refactor(code): Update `async-graphql` to `7.0.17`
  Cargo.lock
  Cargo.toml
  crates/iota-graphql-rpc/Cargo.toml
Labels: tooling

#6940 feat(wallet): expand collapsed accounts when clicking + in Manage Accounts view
  apps/core/src/components/collapsible/Collapsible.tsx
  apps/wallet/src/ui/app/pages/accounts/manage/AccountGroup.tsx
Labels: tooling, wallet

#6962 fix(wallet): request ledger permissions (HID connection popup) only during onboarding
  apps/wallet/src/ui/app/components/ledger/ConnectLedgerModal.tsx
  apps/wallet/src/ui/app/pages/accounts/AddAccountPage.tsx
Labels: tooling, wallet

#6943 feat(wallet-dashboard): add messages for empty blocks
  apps/core/src/assets/images/no_data.svg
  apps/core/src/assets/images/no_data_darkmode.svg
  apps/core/src/components/NoData.tsx
  apps/core/src/components/index.ts
  apps/core/src/types/assets.d.ts
  apps/wallet-dashboard/app/(protected)/activity/page.tsx
  apps/wallet-dashboard/app/(protected)/assets/page.tsx
  apps/wallet-dashboard/components/coins/MyCoins.tsx
  apps/wallet-dashboard/components/transactions/TransactionsList.tsx
  apps/wallet-dashboard/next.config.mjs
  apps/wallet/src/ui/app/components/NoData.tsx
  apps/wallet/src/ui/app/components/index.ts
  apps/wallet/src/ui/app/components/iota-apps/AppsPlayGround.tsx
  apps/wallet/src/ui/app/components/iota-apps/ConnectedAppsCard.tsx
  apps/wallet/src/ui/app/pages/home/nfts/NonVisualAssets.tsx
  apps/wallet/src/ui/app/pages/home/nfts/index.tsx
  apps/wallet/src/ui/app/pages/home/transactions/CompletedTransactions.tsx
Labels: tooling, wallet, wallet-dashboard

#7046 fix(iota-names-indexer): fix docker setup, change logs
  Cargo.lock
  crates/iota-names-indexer/Cargo.toml
  crates/iota-names-indexer/src/main.rs
  crates/iota-names-indexer/src/metrics.rs
  crates/iota-names-indexer/src/worker.rs
  dev-tools/iota-names-indexer/docker-compose.yml
Labels: sc-platform, dev-tools

#6815 fix(wallet): unable to connect to dapps if invalid value for bounds error when opening wallet popup
  apps/wallet/src/background/permissions.ts
  apps/wallet/src/background/window.ts
Labels: tooling, wallet, wallet-dashboard

#7039 fix(iota): use gas coin as payment, if only a single gas coin is available
  crates/iota/src/name_commands.rs
Labels: sc-platform, dev-tools

#6985 fix(docs): Migrating a coin to coin manager doc issue
  docs/content/developer/iota-101/create-coin/migrate-to-coin-manager.mdx
Labels: documentation, devx

#7056 fix(docs): Remove mint object addresses
  docs/content/developer/iota-move-ctf/challenge_8.mdx
Labels: documentation, devx

#7085 chore(wallet): bump wallet to v1.1.0
  apps/wallet/package.json
Labels: tooling, wallet

#7012 feat: Add docker setup for IOTA-Names indexer
  .dockerignore
  Cargo.lock
  crates/iota-names-indexer/Cargo.toml
  crates/iota-names-indexer/src/main.rs
  crates/iota-names-indexer/src/metrics.rs
  crates/iota-names-indexer/src/worker.rs
  dev-tools/iota-names-indexer/assets/grafana/dashboards/dashboards.yml
  dev-tools/iota-names-indexer/assets/grafana/datasources.yaml
  dev-tools/iota-names-indexer/assets/prometheus/prometheus.yml
  dev-tools/iota-names-indexer/docker-compose.yml
  docker/iota-names-indexer/Dockerfile
  docker/iota-names-indexer/build.sh
Labels: sc-platform, dev-tools

#6831 fix(node): gracefully clean up iota-node validator components
  crates/iota-core/src/consensus_adapter.rs
  crates/iota-core/src/consensus_manager/mod.rs
  crates/iota-e2e-tests/tests/reconfiguration_tests.rs
  crates/iota-metrics/src/histogram.rs
  crates/iota-node/src/lib.rs
Labels: node, core-protocol

#7082 fix(docs): Fix dapp kit link in homepage
  docs/site/src/pages/index.js
Labels: documentation, devx

#7055 feat(docs): Add page path url to feedback form
  docs/site/src/components/FeedbackForm/index.tsx
Labels: documentation, devx

#6871 fix(docs): Search button styling
  docs/site/src/css/custom.css
Labels: documentation, devx

#7054 chore(iota-sdk): use re-exports in examples and doc comments
  crates/iota-sdk/examples/read_api/read_api_objects.rs
  crates/iota-sdk/examples/read_api/read_api_transactions.rs
  crates/iota-sdk/examples/read_api/read_api_tx.rs
  crates/iota-sdk/examples/read_api/simulate_transaction.rs
  crates/iota-sdk/examples/read_api/transaction_subscription.rs
  crates/iota-sdk/examples/transaction_builder/batch_tx.rs
  crates/iota-sdk/examples/transaction_builder/consolidate.rs
  crates/iota-sdk/examples/transaction_builder/move_package.rs
  crates/iota-sdk/examples/transaction_builder/sign_tx_guide.rs
  crates/iota-sdk/examples/transaction_builder/single_move_call.rs
  crates/iota-sdk/examples/transaction_builder/stake.rs
  crates/iota-sdk/examples/transaction_builder/timelocked_stake.rs
  crates/iota-sdk/examples/transaction_builder/tx_data.rs
  crates/iota-sdk/examples/utils.rs
  crates/iota-sdk/src/apis/coin_read.rs
  crates/iota-sdk/src/apis/event.rs
  crates/iota-sdk/src/apis/read.rs
  crates/iota-sdk/src/lib.rs
Labels: sc-platform, dev-tools

#6977 upstream(node): [replay] Allow local override of framework
  crates/iota-replay/src/replay.rs
Labels: node, core-protocol

#7124 upstream(iota,iota-cluster-test): remove dependency on `diesel`
  Cargo.lock
  crates/iota-cluster-test/Cargo.toml
  crates/iota/Cargo.toml
Labels: infrastructure

#6930 feat(consensus): consensus-related upstream changes batch
  crates/iota-core/src/authority.rs
  crates/iota-core/src/authority/authority_per_epoch_store.rs
  crates/iota-core/src/authority_server.rs
  crates/iota-core/src/checkpoints/checkpoint_executor/mod.rs
  crates/iota-core/src/checkpoints/mod.rs
  crates/iota-core/src/consensus_handler.rs
  crates/iota-core/src/consensus_types/consensus_output_api.rs
  crates/iota-core/src/execution_driver.rs
  crates/iota-core/src/rest_index.rs
  crates/iota-core/src/safe_client.rs
  crates/iota-core/src/transaction_input_loader.rs
  crates/iota-core/src/transaction_outputs.rs
  crates/iota-core/src/unit_tests/authority_tests.rs
  crates/iota-core/src/unit_tests/congestion_control_tests.rs
  crates/iota-core/src/unit_tests/mysticeti_manager_tests.rs
  crates/iota-core/src/unit_tests/transaction_tests.rs
  crates/iota-core/src/validator_tx_finalizer.rs
  crates/iota-node/src/lib.rs
  crates/iota-single-node-benchmark/src/mock_storage.rs
  crates/iota-single-node-benchmark/src/single_node.rs
  crates/iota-types/src/error.rs
  crates/iota-types/src/storage/mod.rs
Labels: consensus, core-protocol

#7143 feat(bin-version): add `git_revision_abbrev`
  crates/bin-version/src/lib.rs
Labels: sc-platform, dev-tools

#7131 chore(indexer): feature gate import of Deserialize
  crates/iota-indexer/src/models/transactions.rs
Labels: sc-platform, infrastructure

#6978 feat(starfish): Update `Commit` creation to support transaction acknowledments
  crates/starfish/core/src/authority_node.rs
  crates/starfish/core/src/authority_service.rs
  crates/starfish/core/src/block_header.rs
  crates/starfish/core/src/commit.rs
  crates/starfish/core/src/commit_observer.rs
  crates/starfish/core/src/core.rs
  crates/starfish/core/src/core_thread.rs
  crates/starfish/core/src/dag_state.rs
  crates/starfish/core/src/data_manager.rs
  crates/starfish/core/src/leader_schedule.rs
  crates/starfish/core/src/leader_scoring.rs
  crates/starfish/core/src/leader_timeout.rs
  crates/starfish/core/src/lib.rs
  crates/starfish/core/src/linearizer.rs
  crates/starfish/core/src/storage/store_tests.rs
  crates/starfish/core/src/synchronizer.rs
  crates/starfish/core/src/test_dag_builder.rs
  crates/starfish/core/src/test_dag_parser.rs
Labels: consensus, core-protocol

#7149 chore(CODEOWNERS): add `infra` team for some directories he owns in `dev-tools`
  .github/CODEOWNERS
Labels: sc-platform, infrastructure, ci

#7122 feat: update version to 1.2.1-rc
  Cargo.lock
  Cargo.toml
  crates/iota-graphql-e2e-tests/tests/call/simple.snap
  crates/iota-open-rpc/spec/openrpc.json
Labels: node, core-protocol

#7123 feat(iota-names-indexer): Add event types
  Cargo.lock
  crates/iota-names-indexer/Cargo.toml
  crates/iota-names-indexer/src/events.rs
  crates/iota-names-indexer/src/main.rs
  crates/iota-names-indexer/src/worker.rs
Labels: sc-platform, dev-tools
