Repository iotaledger/iota, pull requests merged in 2025-08, with the labels that each got.

#8053 fix(docs): bump `winnow` version for docs rust examples
  docs/examples/rust/Cargo.lock
  docs/examples/rust/src/utils.rs
Labels: documentation, devx, research, core-protocol, ci

#7996 feat(sdk): Add `IotaClientConfig` consistency checks
  crates/iota-sdk/src/wallet_context.rs
Labels: sc-platform, dev-tools

#7588 chore: update links to new docs structure
  apps/wallet-dashboard/components/dialogs/assets/views/DetailsView.tsx
  apps/wallet/src/ui/app/pages/home/nft-details/index.tsx
  crates/iota-framework/tests/build-system-packages.rs
  crates/iota-open-rpc/spec/openrpc.json
  dapps/multisig-toolkit/src/routes/multisig-address.tsx
  examples/tic-tac-toe/ui/README.md
  sdk/create-dapp/README.md
  sdk/create-dapp/templates/react-client-dapp/README.md
  sdk/create-dapp/templates/react-e2e-counter/README.md
  sdk/dapp-kit/README.md
  sdk/dapp-kit/package.json
  sdk/kiosk/README.md
  sdk/typescript/README.md
  sdk/typescript/package.json
Labels: documentation, devx, wallet, ts-sdk, wallet-dashboard

#7976 feat(wallet,dashboard): add names support in the send forms
  apps/apps-backend/src/features/features.constants.ts
  apps/apps-backend/src/features/features.controller.ts
  apps/core/src/components/inputs/AddressInput.tsx
  apps/core/src/components/named-address/NamedAddress.tsx
  apps/core/src/contexts/IotaNamesClientContext.tsx
  apps/core/src/enums/features.enums.ts
  apps/core/src/hooks/index.ts
  apps/core/src/hooks/useGetDefaultIotaName.ts
  apps/core/src/hooks/useGetIotaName.ts
  apps/core/src/hooks/useGetIotaNameRecord.ts
  apps/core/src/hooks/useIotaAddressValidation.ts
  apps/core/src/utils/transaction/createNftSendValidationSchema.ts
  apps/core/src/utils/validation/createIotaAddressValidation.ts
  apps/core/src/utils/validation/createReceivingAddressInputSchema.ts
  apps/core/src/utils/validation/createValidationSchemaSendTokenForm.ts
  apps/core/src/utils/validation/formTypes.ts
  apps/core/src/utils/validation/index.ts
  apps/core/src/utils/validation/names.ts
  apps/explorer/package.json
  apps/wallet-dashboard/components/account-balance/AccountBalance.tsx
  apps/wallet-dashboard/components/dialogs/assets/AssetDialog.tsx
  apps/wallet-dashboard/components/dialogs/assets/views/SendView.tsx
  apps/wallet-dashboard/components/dialogs/send-token/SendTokenDialog.tsx
  apps/wallet-dashboard/components/dialogs/send-token/constants/index.ts
  apps/wallet-dashboard/components/dialogs/send-token/interfaces/index.ts
  apps/wallet-dashboard/components/dialogs/send-token/views/EnterValuesFormView.tsx
  apps/wallet-dashboard/components/dialogs/staking/StakeDialog.tsx
  apps/wallet/src/ui/app/components/accounts/AccountItem.tsx
  apps/wallet/src/ui/app/components/accounts/AccountItemApproveConnection.tsx
  apps/wallet/src/ui/app/pages/accounts/manage/AccountGroupItem.tsx
  apps/wallet/src/ui/app/pages/home/nft-transfer/TransferNFTForm.tsx
  apps/wallet/src/ui/app/pages/home/transfer-coin/PreviewTransfer.tsx
  apps/wallet/src/ui/app/pages/home/transfer-coin/SendTokenForm.tsx
  apps/wallet/src/ui/app/pages/home/transfer-coin/index.tsx
  apps/wallet/src/ui/app/shared/page-main-layout/PageMainLayout.tsx
  package.json
  pnpm-lock.yaml
Labels: tooling, wallet, explorer, wallet-dashboard, apps-backend

#8074 fix(iota-data-ingestion-core): add timeout to historical reader
  crates/iota-data-ingestion-core/src/reader/fetch.rs
  crates/iota-data-ingestion-core/src/reader/v2.rs
Labels: sc-platform, infrastructure

#8076 fix: fix the `test_json_rpc_spec` failure
  crates/iota-json-rpc-api/src/transaction_builder.rs
  sdk/typescript/src/client/types/params.ts
Labels: node, ts-sdk, core-protocol

#8065 chore(iota-types): add reminder to introduce `CancelledTransactionsV2` when adding `ConsensusCommitPrologueV2`
  crates/iota-types/src/transaction.rs
Labels: sc-platform, research, core-protocol

#8071 feat: bump iota to v1.5.0-alpha
  Cargo.lock
  Cargo.toml
  crates/iota-graphql-e2e-tests/tests/call/simple.snap
  crates/iota-open-rpc/spec/openrpc.json
Labels: sc-platform

#8041 feat(starfish): modify tests for authority node
  crates/starfish/core/src/authority_node.rs
  crates/starfish/core/src/synchronizer.rs
Labels: consensus, core-protocol

#7764 feat: add network disruption & fuzz testing scripts for iota-private-network
  dev-tools/grafana-local/dashboards/consensus-overview.json
  dev-tools/grafana-local/docker-compose.yaml
  dev-tools/grafana-local/prometheus.yaml
  dev-tools/iota-private-network/README.md
  dev-tools/iota-private-network/bootstrap.sh
  dev-tools/iota-private-network/configs/genesis-template-19.yaml
  dev-tools/iota-private-network/configs/genesis-template-4.yaml
  dev-tools/iota-private-network/configs/validator-common.yaml
  dev-tools/iota-private-network/docker-compose.yaml
  dev-tools/iota-private-network/experiments/README.md
  dev-tools/iota-private-network/experiments/experiments.sh
  dev-tools/iota-private-network/experiments/network-disruption-experiments-all-validators.sh
  dev-tools/iota-private-network/experiments/network-disruption-experiments.sh
  dev-tools/iota-private-network/experiments/network-filtering-experiments-19.sh
  dev-tools/iota-private-network/experiments/network-filtering-experiments.sh
  dev-tools/iota-private-network/experiments/network-fuzz-test.sh
  dev-tools/iota-private-network/run.sh
Labels: research, consensus, core-protocol

#8064 feat(starfish): add transaction latency metrics
  crates/starfish/core/src/commit_observer.rs
  crates/starfish/core/src/dag_state.rs
  crates/starfish/core/src/metrics.rs
Labels: consensus, core-protocol

#8108 chore(apps-ui-kit): export secondary-text
  .changeset/twenty-peas-mate.md
  apps/ui-kit/src/lib/components/atoms/index.ts
Labels: tooling, apps-ui-kit

#8113 feat: bump iota to v1.4.1-rc
  Cargo.lock
  Cargo.toml
  crates/iota-open-rpc/spec/openrpc.json
Labels: sc-platform

#8093 refactor(iota-transactional-test-runner): updating the documentation
  crates/iota-transactional-test-runner/syntax.md
Labels: documentation, sc-platform, vm-language

#8073 upstream: Porting core-protocol related upstream changes in range mainnet-1.42.2 to mainnet-1.43.1
  Cargo.toml
  crates/iota-benchmark/tests/simtest.rs
  crates/iota-core/src/authority.rs
  crates/iota-core/src/authority/authority_per_epoch_store.rs
  crates/iota-core/src/authority/authority_store.rs
  crates/iota-core/src/authority/authority_store_pruner.rs
  crates/iota-core/src/authority/authority_test_utils.rs
  crates/iota-core/src/authority/shared_object_version_manager.rs
  crates/iota-core/src/authority/test_authority_builder.rs
  crates/iota-core/src/checkpoints/checkpoint_executor/mod.rs
  crates/iota-core/src/consensus_handler.rs
  crates/iota-core/src/execution_cache.rs
  crates/iota-core/src/execution_cache/object_locks.rs
  crates/iota-core/src/execution_cache/passthrough_cache.rs
  crates/iota-core/src/execution_cache/proxy_cache.rs
  crates/iota-core/src/execution_cache/unit_tests/writeback_cache_tests.rs
  crates/iota-core/src/execution_cache/writeback_cache.rs
  crates/iota-core/src/execution_driver.rs
  crates/iota-core/src/jsonrpc_index.rs
  crates/iota-core/src/test_utils.rs
  crates/iota-core/src/unit_tests/authority_tests.rs
  crates/iota-core/src/unit_tests/congestion_control_tests.rs
  crates/iota-core/src/unit_tests/transaction_deny_tests.rs
  crates/iota-core/src/validator_tx_finalizer.rs
  crates/iota-json-rpc/src/authority_state.rs
  crates/iota-json-rpc/src/transaction_execution_api.rs
  crates/iota-metrics/src/thread_stall_monitor.rs
  crates/iota-node/src/lib.rs
  crates/iota-single-node-benchmark/src/single_node.rs
  crates/iota-storage/Cargo.toml
  crates/iota-storage/src/mutex_table.rs
  crates/iota-storage/src/sharded_lru.rs
  crates/iota-transactional-test-runner/src/lib.rs
  crates/typed-store/src/rocks/mod.rs
  crates/typed-store/src/rocks/tests.rs
Labels: node, core-protocol

#7784 chore(docs): Integrate iota-notarization wasm reference into iota docs
  docs/content/developer/iota-notarization/references/.gitignore
  docs/content/sidebars/identity.js
  docs/content/sidebars/notarization.js
  docs/site/package.json
  docs/site/scripts/get-iota-identity-references.sh
  docs/site/scripts/get-iota-notarization-references.sh
Labels: documentation, identity, pa-engineering

#8115 upstream(core): Receive N previously-processed consensus commits at startup
  crates/iota-core/src/consensus_handler.rs
  crates/iota-core/src/consensus_manager/mysticeti_manager.rs
  crates/iota-protocol-config/src/lib.rs
Labels: node, core-protocol

#8132 upstream(core): Remove indirect object functionality
  crates/iota-config/src/node.rs
  crates/iota-core/src/authority.rs
  crates/iota-core/src/authority/authority_store.rs
  crates/iota-core/src/authority/authority_store_pruner.rs
  crates/iota-core/src/authority/authority_store_tables.rs
  crates/iota-core/src/authority/authority_store_types.rs
  crates/iota-core/src/authority/test_authority_builder.rs
  crates/iota-core/src/db_checkpoint_handler.rs
  crates/iota-core/src/unit_tests/authority_tests.rs
  crates/iota-node/src/lib.rs
  crates/iota-snapshot/src/reader.rs
  crates/iota-snapshot/src/tests.rs
  crates/iota-swarm-config/src/node_config_builder.rs
  crates/iota-swarm-config/tests/snapshots/snapshot_tests__network_config_snapshot_matches.snap
  crates/iota-tool/src/db_tool/db_dump.rs
  crates/iota-tool/src/lib.rs
  crates/typed-store/src/rocks/mod.rs
  crates/typed-store/src/rocks/tests.rs
  crates/typed-store/src/rocks/util.rs
  setups/validator/ssfn-mainnet.yaml
  setups/validator/ssfn-testnet.yaml
  setups/validator/validator-mainnet.yaml
  setups/validator/validator-testnet.yaml
Labels: node, core-protocol

#8136 upstream(core): Fix edge case in package safety check
  crates/iota-core/src/execution_cache/writeback_cache.rs
Labels: node, core-protocol

#8114 feat(docs): extend validator account steps with mnemonic import and ledger support
  docs/content/_snippets/operator/validator-generate-info.mdx
Labels: documentation, node, core-protocol

#8124 refactor(indexer): optimize indexes on optimistic tables
  crates/iota-indexer/migrations/pg/2025-05-29-072412_insertion-order-revisited/down.sql
  crates/iota-indexer/migrations/pg/2025-05-29-072412_insertion-order-revisited/up.sql
  crates/iota-indexer/src/indexer_reader.rs
  crates/iota-indexer/src/models/event_indices.rs
  crates/iota-indexer/src/models/events.rs
  crates/iota-indexer/src/models/macros.rs
  crates/iota-indexer/src/models/transactions.rs
  crates/iota-indexer/src/models/tx_indices.rs
  crates/iota-indexer/src/optimistic_indexing.rs
  crates/iota-indexer/src/schema.rs
  crates/iota-indexer/src/store/pg_indexer_store.rs
  crates/iota-indexer/tests/ingestion_tests.rs
Labels: sc-platform, infrastructure

#8042 feat(indexer): Resolve cursor using `tx_global_order` in `query_transaction_blocks_impl`
  crates/iota-indexer/src/indexer_reader.rs
  crates/iota-indexer/tests/rpc-tests/indexer_api.rs
Labels: sc-platform, infrastructure

#8106 fix(ci): make nightly tests fail if the e2e tests fail
  .github/workflows/_e2e.yml
Labels: tooling, ci

#8111 fix(docs): fix code display
  docs/content/developer/getting-started/local-network.mdx
Labels: documentation, devrel

#8144 upstream(node): Remove keys reference in typed-store
  crates/typed-store/src/lib.rs
  crates/typed-store/src/rocks/keys.rs
  crates/typed-store/src/rocks/mod.rs
  crates/typed-store/src/rocks/tests.rs
  crates/typed-store/src/test_db.rs
  crates/typed-store/src/traits.rs
Labels: node, core-protocol

#8007 fix(docs): Remove the redundant page from developer
  docs/content/sidebars/developer.js
Labels: documentation, devrel

#8135 upstream(core): Remove values and few other deprecated methods
  Cargo.lock
  crates/iota-core/src/authority/authority_per_epoch_store.rs
  crates/typed-store/Cargo.toml
  crates/typed-store/src/rocks/mod.rs
  crates/typed-store/src/rocks/tests.rs
  crates/typed-store/src/rocks/values.rs
  crates/typed-store/src/test_db.rs
  crates/typed-store/src/traits.rs
Labels: node, core-protocol

#8153 upstream(core): Add notify_read_synced_checkpoint/notify_read_executed_checkpoint
  crates/iota-core/src/authority/authority_store_pruner.rs
  crates/iota-core/src/checkpoints/checkpoint_executor/tests.rs
  crates/iota-core/src/checkpoints/mod.rs
  crates/iota-core/src/db_checkpoint_handler.rs
  crates/iota-tool/src/db_tool/db_dump.rs
  crates/iota-tool/src/db_tool/mod.rs
  crates/iota-tool/src/lib.rs
Labels: node, core-protocol

#8174 fix(dashboard): Center address in AccountBalance
  apps/core/src/components/named-address/NamedAddress.tsx
Labels: tooling, wallet-dashboard

#8183 feat: bump iota to v1.4.1
  Cargo.lock
  Cargo.toml
  crates/iota-open-rpc/spec/openrpc.json
Labels: sc-platform

#8180 feat(apps-backend): Enable iota names on testnet
  apps/apps-backend/src/features/features.constants.ts
Labels: tooling, apps-backend, iota-names

#8139 feat(explorer): add validator address alias
  apps/apps-backend/src/features/features.constants.ts
  apps/apps-backend/src/features/features.controller.ts
  apps/core/src/components/address-alias/AddressAlias.tsx
  apps/core/src/enums/features.enums.ts
  apps/core/src/hooks/useAddressAliasLookup.ts
  apps/explorer/src/components/ui/InternalLink.tsx
  apps/explorer/src/components/validator/ValidatorMeta.tsx
  apps/explorer/src/lib/ui/utils/generateValidatorsTableColumns.tsx
  apps/explorer/src/pages/address-result/AddressResult.tsx
  apps/explorer/src/pages/object-result/ObjectResult.tsx
  apps/explorer/src/pages/transaction-result/Events.tsx
  apps/explorer/src/pages/transaction-result/transaction-summary/BalanceChanges.tsx
  apps/explorer/src/pages/transaction-result/transaction-summary/ObjectChanges.tsx
  apps/explorer/src/pages/transaction-result/transaction-summary/TransactionDetails.tsx
Labels: tooling, explorer, apps-backend

#8193 fix: Fix `RUSTSEC-2025-0047` by updating `slab`
  Cargo.lock
  deny.toml
  external-crates/move/Cargo.lock
Labels: sc-platform, dev-tools

#8187 feat(iota)!: update validator {display-metadata, list} commands
  crates/iota/src/iota_commands.rs
  crates/iota/src/lib.rs
  crates/iota/src/unit_tests/validator_tests.rs
  crates/iota/src/validator_commands.rs
Labels: sc-platform, dev-tools

#8197 fix(iota): Make `--dump-bytecode-as-base64` work with implicit deps
  crates/iota/src/client_commands.rs
  crates/iota/src/iota_commands.rs
Labels: sc-platform, dev-tools

#8107 feat(dev-tools): Extend component to identify nodes with incorrect system clock
  dev-tools/grafana-local/dashboards/consensus-overview.json
Labels: consensus, core-protocol

#8196 upstream(core): Use mutex table for shared version assignment instead of optimistic transaction
  crates/iota-core/src/authority/authority_per_epoch_store.rs
Labels: node, core-protocol

#8246 chore(indexer): ignore flaky system_state_v2 test
  crates/iota-indexer/tests/rpc-tests/governance_api.rs
Labels: sc-platform, infrastructure

#8245 chore(iota): Convert some `panic!`s to `bail!`
  crates/iota/src/validator_commands.rs
Labels: sc-platform, dev-tools

#8248 feat(execution): use the AuthContext in validate_transaction
  crates/iota-types/src/auth_context.rs
  crates/iota-types/src/move_authenticator.rs
  iota-execution/latest/iota-adapter/src/execution_engine.rs
  iota-execution/latest/iota-adapter/src/temporary_store.rs
  iota-execution/src/executor.rs
  iota-execution/src/latest.rs
Labels: sc-platform, vm-language

#8212 feat(docs): add hierarchies docs
  docs/content/developer/iota-hierarchies/contribute.mdx
  docs/content/developer/iota-hierarchies/explanations/about-hierarchies.mdx
  docs/content/developer/iota-hierarchies/explanations/accreditation.mdx
  docs/content/developer/iota-hierarchies/explanations/federation.mdx
  docs/content/developer/iota-hierarchies/explanations/hierarchies-and-identity.mdx
  docs/content/developer/iota-hierarchies/explanations/terminology.mdx
  docs/content/developer/iota-hierarchies/getting-started/local-network-setup.mdx
  docs/content/developer/iota-hierarchies/getting-started/rust.mdx
  docs/content/developer/iota-hierarchies/getting-started/wasm.mdx
  docs/content/developer/iota-hierarchies/how-tos/add-property.mdx
  docs/content/developer/iota-hierarchies/how-tos/add-root-authority.mdx
  docs/content/developer/iota-hierarchies/how-tos/create-accreditation-to-accredit.mdx
  docs/content/developer/iota-hierarchies/how-tos/create-accreditation-to-attest.mdx
  docs/content/developer/iota-hierarchies/how-tos/create-federation.mdx
  docs/content/developer/iota-hierarchies/how-tos/reinstate-root-authority.mdx
  docs/content/developer/iota-hierarchies/how-tos/revoke-accreditation-to-accredit.mdx
  docs/content/developer/iota-hierarchies/how-tos/revoke-accreditation-to-attest.mdx
  docs/content/developer/iota-hierarchies/how-tos/revoke-root-authority.mdx
  docs/content/developer/iota-hierarchies/how-tos/validation/get-accreditations.mdx
  docs/content/developer/iota-hierarchies/how-tos/validation/get-properties.mdx
  docs/content/developer/iota-hierarchies/how-tos/validation/validate-properties.mdx
  docs/content/developer/iota-hierarchies/index.mdx
  docs/content/developer/iota-hierarchies/references/.gitignore
  docs/content/developer/iota-identity/index.mdx
  docs/content/developer/iota-notarization/index.mdx
  docs/content/sidebars/developer.js
  docs/content/sidebars/hierarchies.js
  docs/content/tags.yml
  docs/site/package.json
  docs/site/scripts/get-iota-hierarchies-references.sh
  docs/site/static/img/banner/banner_hierarchies.svg
Labels: documentation, pa-engineering

#8280 feat: bump iota to v1.5.0-rc
  Cargo.lock
  Cargo.toml
  crates/iota-open-rpc/spec/openrpc.json
Labels: sc-platform, dev-tools

#8281 feat(rpc,ts-sdk): port IotaMoveNormalizedModule enums
  .changeset/happy-bottles-dress.md
  crates/iota-json-rpc-types/src/iota_move.rs
  crates/iota-open-rpc/spec/openrpc.json
  crates/iota-open-rpc/src/examples.rs
  sdk/typescript/src/client/types/generated.ts
Labels: sc-platform, infrastructure, ts-sdk

#8014 fix(docs): fix references broken links
  CONTRIBUTING.md
  crates/iota-open-rpc/spec/openrpc.json
  crates/iota/src/client_commands.rs
  dapps/kiosk/src/components/Kiosk/KioskCreation.tsx
  docs/README.md
  docs/content/developer/advanced/onchain-randomness.mdx
  docs/content/developer/getting-started/simple-token-transfer.mdx
  docs/content/developer/iota-identity/contribute.mdx
  docs/content/developer/iota-notarization/contribute.mdx
  docs/content/developer/references/references.mdx
  docs/content/operator/validator-node/cli-validator-command.mdx
  docs/examples/move/nft_marketplace/README.md
  sdk/isc-sdk/README.md
  sdk/typescript/src/client/types/params.ts
Labels: documentation, devrel, ts-sdk

#8235 chore: Update rust to 1.88
  .clippy.toml
  consensus/.clippy.toml
  crates/iota-core/src/authority.rs
  crates/iota-core/src/authority/authority_per_epoch_store_pruner.rs
  crates/iota-core/src/authority/authority_store_pruner.rs
  crates/iota-core/src/authority/backpressure.rs
  crates/iota-core/src/execution_cache/unit_tests/writeback_cache_tests.rs
  crates/iota-core/src/jsonrpc_index.rs
  crates/iota-indexer/src/backfill/ingestion/task.rs
  crates/iota-indexer/src/indexer_reader.rs
  crates/iota-indexer/src/store/pg_indexer_store.rs
  crates/iota-keys/src/serde_iota_keypair.rs
  crates/iota-keys/src/serde_public_key.rs
  crates/iota-rosetta/src/main.rs
  crates/iota-rpc-loadgen/src/payload/get_checkpoints.rs
  crates/iota-rpc-loadgen/src/payload/query_transactions.rs
  crates/iota-rpc-loadgen/src/payload/validation.rs
  crates/iota-snapshot/src/reader.rs
  crates/iota-synthetic-ingestion/src/synthetic_ingestion.rs
  crates/iota-tls/src/lib.rs
  crates/iota-types/src/type_input.rs
  crates/iota-types/src/unit_tests/base_types_tests.rs
  crates/iota/src/client_commands.rs
  crates/typed-store/src/test_db.rs
  rust-toolchain.toml
  scripts/generate_files/Dockerfile
Labels: sc-platform, dev-tools

#8302 fix: json_rpc_spec broken build fix
  crates/iota-open-rpc/spec/openrpc.json
Labels: devrel

#8294 fix(consensus): truncate requested headers in `handle_fetch_headers`
  crates/starfish/core/src/authority_service.rs
  crates/starfish/core/src/error.rs
Labels: consensus, core-protocol

#8131 feat(iota-execution): add a `validate_transaction` function
  crates/iota-types/src/account.rs
  crates/iota-types/src/auth_context.rs
  crates/iota-types/src/gas.rs
  crates/iota-types/src/gas_model/gas_v1.rs
  crates/iota-types/src/lib.rs
  crates/iota-types/src/move_authenticator.rs
  crates/iota-types/src/transaction.rs
  iota-execution/latest/iota-adapter/src/execution_engine.rs
  iota-execution/latest/iota-adapter/src/temporary_store.rs
  iota-execution/src/executor.rs
  iota-execution/src/latest.rs
Labels: sc-platform, vm-language

#8291 fix(external-crates/move-vm-runtime): allow references to flow in and out of entrypoints
  external-crates/move/crates/move-vm-runtime/src/interpreter.rs
  external-crates/move/crates/move-vm-runtime/src/tracing2/mod.rs
  external-crates/move/crates/move-vm-runtime/src/tracing2/tracer.rs
Labels: sc-platform, vm-language

#8287 refactor(external-crates/move-compiler): parallelize typing
  external-crates/move/crates/move-compiler/src/naming/ast.rs
  external-crates/move/crates/move-compiler/src/naming/resolve_use_funs.rs
  external-crates/move/crates/move-compiler/src/naming/syntax_methods.rs
  external-crates/move/crates/move-compiler/src/naming/translate.rs
  external-crates/move/crates/move-compiler/src/typing/core.rs
  external-crates/move/crates/move-compiler/src/typing/expand.rs
  external-crates/move/crates/move-compiler/src/typing/macro_expand.rs
  external-crates/move/crates/move-compiler/src/typing/match_analysis.rs
  external-crates/move/crates/move-compiler/src/typing/syntax_methods.rs
  external-crates/move/crates/move-compiler/src/typing/translate.rs
Labels: sc-platform, vm-language

#8112 fix(iota-indexer): Make backfill data ingestion worker configurable
  crates/iota-indexer/README.md
  crates/iota-indexer/src/backfill/ingestion/task.rs
  crates/iota-indexer/src/backfill/mod.rs
Labels: sc-platform, infrastructure

#8363 fix(starfish): new issues to track in Starfish manager and adapter
  crates/iota-core/src/consensus_manager/starfish_manager.rs
  crates/iota-core/src/consensus_types/consensus_output_api.rs
  crates/iota-core/src/starfish_adapter.rs
Labels: consensus, core-protocol

#8366 feat(bytecode-verifier): Added additional tests for reference safety passes
  external-crates/move/crates/bytecode-verifier-transactional-tests/tests/reference_safety/call_with_mut_and_imm.mvir
  external-crates/move/crates/bytecode-verifier-transactional-tests/tests/reference_safety/call_with_mut_and_imm.snap
  external-crates/move/crates/bytecode-verifier-transactional-tests/tests/reference_safety/enum_variant_factor.mvir
  external-crates/move/crates/bytecode-verifier-transactional-tests/tests/reference_safety/enum_variant_factor.snap
  external-crates/move/crates/bytecode-verifier-transactional-tests/tests/reference_safety/expressivity/alias_write_after_join.mvir
  external-crates/move/crates/bytecode-verifier-transactional-tests/tests/reference_safety/expressivity/alias_write_after_join.snap
  external-crates/move/crates/bytecode-verifier-transactional-tests/tests/reference_safety/expressivity/alias_writes.mvir
  external-crates/move/crates/bytecode-verifier-transactional-tests/tests/reference_safety/expressivity/alias_writes.snap
  external-crates/move/crates/bytecode-verifier-transactional-tests/tests/reference_safety/expressivity/extension_after_call.mvir
  external-crates/move/crates/bytecode-verifier-transactional-tests/tests/reference_safety/expressivity/extension_after_call.snap
  external-crates/move/crates/bytecode-verifier-transactional-tests/tests/reference_safety/expressivity/extension_writes_after_join.mvir
  external-crates/move/crates/bytecode-verifier-transactional-tests/tests/reference_safety/expressivity/extension_writes_after_join.snap
  external-crates/move/crates/bytecode-verifier-transactional-tests/tests/reference_safety/expressivity/multible_mutable_return_values.mvir
  external-crates/move/crates/bytecode-verifier-transactional-tests/tests/reference_safety/expressivity/multible_mutable_return_values.snap
  external-crates/move/crates/bytecode-verifier-transactional-tests/tests/reference_safety/expressivity/subtree_writes_release.mvir
  external-crates/move/crates/bytecode-verifier-transactional-tests/tests/reference_safety/expressivity/subtree_writes_release.snap
  external-crates/move/crates/bytecode-verifier-transactional-tests/tests/reference_safety/imm_borrow_on_mut_invalid.mvir
  external-crates/move/crates/bytecode-verifier-transactional-tests/tests/reference_safety/imm_borrow_on_mut_invalid.snap
  external-crates/move/crates/bytecode-verifier-transactional-tests/tests/reference_safety/imm_extends_mut_arg.mvir
  external-crates/move/crates/bytecode-verifier-transactional-tests/tests/reference_safety/imm_extends_mut_arg.snap
  external-crates/move/crates/bytecode-verifier-transactional-tests/tests/reference_safety/imm_extends_mut_arg_field.mvir
  external-crates/move/crates/bytecode-verifier-transactional-tests/tests/reference_safety/imm_extends_mut_arg_field.snap
Labels: sc-platform, vm-language

#8404 fix(explorer): avoid showing results of names with no linked address
  apps/explorer/src/hooks/useSearch.ts
Labels: tooling, explorer
