Repository iotaledger/iota, pull requests merged in 2025-04, with the labels that each got.

#6175 fix(indexer): run only pending migrations
  crates/iota-indexer/src/db.rs
Labels: sc-platform, infrastructure

#6176 [cherry-pick] fix(indexer): run only pending migrations (#6175)
  crates/iota-indexer/src/db.rs
Labels: sc-platform, infrastructure

#6140 Reworked the validator docs and configs
  docs/content/_snippets/operator/genesis.mdx
  docs/content/_snippets/operator/validator-download-config.mdx
  docs/content/_snippets/operator/validator-generate-info.mdx
  docs/content/_snippets/operator/validator-join-monitor.mdx
  docs/content/_snippets/operator/validator-p2p.mdx
  docs/content/_snippets/operator/validator-ports.mdx
  docs/content/_snippets/operator/validator-requirements-tab.mdx
  docs/content/about-iota/FAQ.mdx
  docs/content/operator/common/snapshots.mdx
  docs/content/operator/validator-node/configs/network.mdx
  docs/content/operator/validator-node/configuration.mdx
  docs/content/operator/validator-node/docker.mdx
  docs/content/operator/validator-node/overview.mdx
  docs/content/operator/validator-node/systemd.mdx
  setups/README.md
  setups/validator/docker-compose.yml
  setups/validator/docker/README.md
  setups/validator/docker/become_candidate.sh
  setups/validator/docker/check_iota_services.sh
  setups/validator/docker/generate_validator_info.sh
  setups/validator/docker/join_validators.sh
  setups/validator/docker/update_authority.sh
  setups/validator/docker_old/README.md
  setups/validator/docker_old/docker-compose.yaml
  setups/validator/systemd/README.md
  setups/validator/validator-mainnet.yaml
  setups/validator/validator-testnet.yaml
  setups/validator/validator_tasks.md
Labels: documentation, node, core-protocol

#6178 refactor(mainnet-unlocks): add aggregated data as a const str
  crates/iota-mainnet-unlocks/src/aggregated_data.rs
  crates/iota-mainnet-unlocks/src/lib.rs
  crates/iota-mainnet-unlocks/src/store.rs
Labels: sc-platform, infrastructure

#6082 fix(general): upgrade dependencies and add overrides
  .changeset/fast-llamas-return.md
  apps/core/package.json
  apps/explorer/package.json
  apps/ui-kit/package.json
  apps/wallet/package.json
  dapps/kiosk/package.json
  dapps/multisig-toolkit/package.json
  dapps/sponsored-transactions/package.json
  docs/site/package.json
  examples/tic-tac-toe/ui/package.json
  examples/trading/frontend/package.json
  package.json
  pnpm-lock.yaml
  sdk/build-scripts/package.json
  sdk/create-dapp/templates/react-client-dapp/package.json
  sdk/create-dapp/templates/react-e2e-counter/package.json
  sdk/dapp-kit/package.json
  sdk/graphql-transport/package.json
  sdk/kiosk/package.json
  sdk/typescript/package.json
Labels: tooling, apps-ui-kit, wallet, ts-sdk, explorer

#6130 chore(iota-execution): increase coverage by removing unused function
  iota-execution/latest/iota-adapter/src/adapter.rs
Labels: sc-platform, vm-language

#6191 test: Revive simtest test_apy
  crates/iota-e2e-tests/tests/apy_test.rs
Labels: node, core-protocol

#6212 chore(ci): use pinned rust nightly version
  .github/workflows/_rust_examples.yml
  .github/workflows/_rust_lints.yml
  .github/workflows/_rust_tests.yml
  scripts/ci_tests/rust_tests.sh
  scripts/indexer-schema/generate.sh
Labels: sc-platform, dev-tools, ci

#6192 feat(iota-sdk): add `get_circulating_supply`
  crates/iota-sdk/README.md
  crates/iota-sdk/examples/coin_read_api.rs
  crates/iota-sdk/src/apis/coin_read.rs
  crates/iota-sdk/src/apis/governance.rs
  crates/iota-sdk/src/apis/read.rs
  crates/iota-sdk/src/lib.rs
Labels: sc-platform, dev-tools

#6202 feat: update version to 0.11.4-rc
  Cargo.lock
  Cargo.toml
  crates/iota-open-rpc/spec/openrpc.json
Labels: node, core-protocol

#6208 chore: refactor dependencies on diesel
  Cargo.toml
  crates/iota-graphql-rpc/Cargo.toml
  crates/iota-indexer/Cargo.toml
Labels: sc-platform, infrastructure

#6237 [cherry-pick] feat!(iota-types,iota-json-rpc-types,ts-sdk): use base64 encoding for certain types
  .changeset/neat-gorillas-flow.md
  .github/workflows/_rust_examples.yml
  .github/workflows/_rust_lints.yml
  .github/workflows/_rust_tests.yml
  crates/iota-bridge-indexer/src/iota_transaction_handler.rs
  crates/iota-bridge/src/events.rs
  crates/iota-bridge/src/iota_client.rs
  crates/iota-bridge/src/server/handler.rs
  crates/iota-graphql-rpc/src/mutation.rs
  crates/iota-indexer/src/apis/indexer_api.rs
  crates/iota-indexer/src/models/events.rs
  crates/iota-json-rpc-types/src/iota_event.rs
  crates/iota-json-rpc-types/src/lib.rs
  crates/iota-json-rpc/src/indexer_api.rs
  crates/iota-json-rpc/src/read_api.rs
  crates/iota-open-rpc/spec/openrpc.json
  crates/iota-open-rpc/src/examples.rs
  crates/iota-types/src/dynamic_field.rs
  crates/iota/src/client_commands.rs
  scripts/ci_tests/rust_tests.sh
  scripts/indexer-schema/generate.sh
  sdk/graphql-transport/src/mappers/transaction-block.ts
  sdk/graphql-transport/src/methods.ts
  sdk/typescript/src/client/types/generated.ts
Labels: sc-platform, infrastructure, ts-sdk, ci

#6239 feat: update version to 0.11.5-beta
  Cargo.lock
  Cargo.toml
  crates/iota-graphql-e2e-tests/tests/call/simple.exp
  crates/iota-open-rpc/spec/openrpc.json
Labels: node, core-protocol

#6144 feat(tooling-apps): Support IotaSystemStateV2 compatibility in apps
  apps/core/src/components/stake/StakedCard.tsx
  apps/core/src/hooks/index.ts
  apps/core/src/hooks/stake/useValidatorInfo.ts
  apps/core/src/hooks/useGetActiveValidatorsInfo.ts
  apps/core/src/hooks/useGetLatestIotaSystemState.ts
  apps/core/src/hooks/useGetStakingValidatorDetails.ts
  apps/core/src/hooks/useGetTimeBeforeEpochNumber.ts
  apps/explorer/src/components/activity/EpochsActivityTable.tsx
  apps/explorer/src/components/network/NetworkSelector.tsx
  apps/explorer/src/components/top-validators-card/TopValidatorsCard.tsx
  apps/explorer/src/hooks/useSearch.ts
  apps/explorer/src/pages/epochs/EpochDetail.tsx
  apps/explorer/src/pages/epochs/stats/ValidatorStatus.tsx
  apps/explorer/src/pages/epochs/utils.ts
  apps/explorer/src/pages/validator/ValidatorDetails.tsx
  apps/explorer/src/pages/validators/Validators.tsx
  apps/wallet-dashboard/app/(protected)/staking/page.tsx
  apps/wallet-dashboard/app/(protected)/vesting/page.tsx
  apps/wallet-dashboard/components/StakeRewardsPanel.tsx
  apps/wallet-dashboard/components/dialogs/staking/views/EnterAmountDialogLayout.tsx
  apps/wallet-dashboard/components/dialogs/unstake/views/UnstakeTimelockedObjectsView.tsx
  apps/wallet/src/ui/app/staking/delegation-detail/DelegationDetailCard.tsx
  apps/wallet/src/ui/app/staking/validators/SelectValidatorCard.tsx
  apps/wallet/src/ui/app/staking/validators/ValidatorsCard.tsx
Labels: tooling, wallet, explorer, wallet-dashboard

#6257 feat(explorer, wallet, wallet-dashboard): add support to committee members
  apps/core/src/hooks/useGetStakingValidatorDetails.ts
  apps/explorer/src/components/top-validators-card/TopValidatorsCard.tsx
  apps/explorer/src/hooks/useSearch.ts
  apps/explorer/src/lib/ui/utils/generateValidatorsTableColumns.tsx
  apps/explorer/src/pages/epochs/EpochDetail.tsx
  apps/explorer/src/pages/epochs/stats/ValidatorStatus.tsx
  apps/explorer/src/pages/validator/ValidatorDetails.tsx
  apps/explorer/src/pages/validators/Validators.tsx
  apps/wallet-dashboard/app/(protected)/staking/page.tsx
  apps/wallet-dashboard/app/(protected)/vesting/page.tsx
  apps/wallet-dashboard/components/ValidatorStakingData.tsx
  apps/wallet-dashboard/components/dialogs/staking/StakeDialog.tsx
  apps/wallet-dashboard/components/dialogs/staking/views/DetailsView.tsx
  apps/wallet-dashboard/components/dialogs/staking/views/SelectValidatorView.tsx
  apps/wallet-dashboard/components/dialogs/staking/views/StakedInfo.tsx
  apps/wallet-dashboard/components/dialogs/unstake/views/UnstakeTimelockedObjectsView.tsx
  apps/wallet-dashboard/hooks/index.ts
  apps/wallet-dashboard/hooks/useIsValidatorCommitteeMember.ts
  apps/wallet/src/ui/app/staking/delegation-detail/DelegationDetailCard.tsx
  apps/wallet/src/ui/app/staking/stake/ValidatorFormDetail.tsx
  apps/wallet/src/ui/app/staking/validators/SelectValidatorCard.tsx
  apps/wallet/src/ui/app/staking/validators/ValidatorsCard.tsx
Labels: tooling, wallet, explorer, wallet-dashboard

#6272 chore(wallet): bump to v0.7.0
  apps/wallet/package.json
Labels: tooling, wallet

#6271 chore(tooling): remove FixedGasPrice feature flag
  apps/apps-backend/src/features/features.controller.ts
  apps/core/src/enums/features.enums.ts
  apps/explorer/src/components/validator/ValidatorStats.tsx
  apps/explorer/src/lib/ui/utils/generateValidatorsTableColumns.tsx
  apps/explorer/src/pages/epochs/EpochDetail.tsx
  apps/explorer/src/pages/epochs/stats/ValidatorStatus.tsx
  apps/explorer/src/pages/validators/Validators.tsx
Labels: tooling, explorer, apps-backend

#6125 Fix CTF challenge completion
  docs/site/src/components/CTF/ctf-verifier.tsx
  docs/site/src/components/CTF/mint-leap-frog-nft.tsx
  docs/site/src/components/CTF/pop-in.tsx
  docs/site/src/utils/ctf-utils.ts
Labels: documentation, devx

#6128 feat(ts-sdk): add participation metric
  sdk/graphql-transport/README.md
  sdk/graphql-transport/test/compatibility.test.ts
  sdk/typescript/src/client/client.ts
  sdk/typescript/src/client/types/generated.ts
  sdk/typescript/src/client/types/params.ts
Labels: tooling, ts-sdk

#6204 fix(iota-indexer, iota-graphql-rpc, iota-transactional-test-runner): Pruner should prune only epoch-partitioned tables
  crates/iota-cluster-test/src/cluster.rs
  crates/iota-graphql-e2e-tests/tests/prune/prune.exp
  crates/iota-graphql-e2e-tests/tests/prune/prune.move
  crates/iota-graphql-rpc/src/test_infra/cluster.rs
  crates/iota-graphql-rpc/tests/e2e_tests.rs
  crates/iota-graphql-rpc/tests/examples_validation_tests.rs
  crates/iota-indexer/src/handlers/pruner.rs
  crates/iota-indexer/src/indexer.rs
  crates/iota-indexer/src/test_utils.rs
  crates/iota-indexer/tests/common/mod.rs
  crates/iota-transactional-test-runner/src/args.rs
  crates/iota-transactional-test-runner/src/test_adapter.rs
  crates/iota/src/iota_commands.rs
Labels: sc-platform, infrastructure

#6279 feat(iota-indexer, ts-sdk): Add participation metric
  crates/iota-indexer/migrations/pg/2025-03-21-081552_participation_metrics/down.sql
  crates/iota-indexer/migrations/pg/2025-03-21-081552_participation_metrics/up.sql
  crates/iota-indexer/src/apis/extended_api.rs
  crates/iota-indexer/src/handlers/committer.rs
  crates/iota-indexer/src/indexer_reader.rs
  crates/iota-indexer/src/models/mod.rs
  crates/iota-indexer/src/models/participation_metrics.rs
  crates/iota-indexer/src/store/indexer_store.rs
  crates/iota-indexer/src/store/pg_indexer_store.rs
  crates/iota-json-rpc-api/src/extended.rs
  crates/iota-json-rpc-types/src/iota_extended.rs
  crates/iota-open-rpc/spec/openrpc.json
  sdk/graphql-transport/README.md
  sdk/graphql-transport/test/compatibility.test.ts
  sdk/typescript/src/client/client.ts
  sdk/typescript/src/client/types/generated.ts
  sdk/typescript/src/client/types/params.ts
Labels: sc-platform, infrastructure, ts-sdk

#6274 feat(iota): add --emit flag to iota client ptb
  crates/iota/src/client_commands.rs
  crates/iota/src/client_ptb/ptb.rs
  crates/iota/tests/cli_tests.rs
  docs/content/references/cli/ptb.mdx
Labels: documentation, sc-platform, dev-tools

#6285 chore(tooling): Patch `image-size` to 1.2.1
  package.json
  pnpm-lock.yaml
Labels: tooling

#6071 hotfix(prettier-move): update lock files
  external-crates/move/tooling/prettier-move/package-lock.json
  external-crates/move/tooling/prettier-move/pnpm-lock.yaml
Labels: tooling

#6288 [cherry-pick] fix(iota-node): unregister and re-register consensus adapter metrics during reconfiguration (#6283)
  crates/iota-core/src/consensus_adapter.rs
  crates/iota-metrics/src/histogram.rs
  crates/iota-node/src/lib.rs
Labels: node, core-protocol

#6289 fix(brew): add `postgresql@14` to the formula dependencies
  scripts/homebrew/template.rb
Labels: sc-platform, dev-tools

#6189 Update Independent ticketing system tutorial permalinks
  docs/content/developer/tutorials/independent-ticketing-system/package.mdx
Labels: documentation, devx

#6033 feat(ts-sdk): enhance permissions in Docker setup
  sdk/typescript/docker-compose.yml
Labels: tooling, ts-sdk

#6243 refactor(tooling): Clean up the tooling READMEs
  apps/apps-backend/README.md
  apps/apps-backend/package.json
  apps/ui-icons/README.md
  apps/ui-kit/README.md
  apps/wallet/README.md
Labels: tooling, apps-ui-kit, wallet, apps-backend

#6267 refactor(explorer): Replace `isInitialLoading` with `isLoading`
  apps/explorer/src/components/object/DynamicFieldsCard.tsx
Labels: tooling, explorer

#6196 refactor(indexer): Extract single transaction indexing logic to separate function
  crates/iota-indexer/src/handlers/checkpoint_handler.rs
Labels: sc-platform, infrastructure

#6111 Refactor CTF provider
  docs/site/src/components/CTF/ctf-verifier.tsx
  docs/site/src/components/CTF/mint-leap-frog-nft.tsx
Labels: documentation, devx

#6194 Docs FE Issues
  docs/site/docusaurus.config.js
  docs/site/src/css/custom.css
Labels: devx

#6311 fix(core-node): clear exchange rates cache
  crates/iota-e2e-tests/tests/apy_test.rs
  crates/iota-json-rpc/Cargo.toml
  crates/iota-json-rpc/src/governance_api.rs
Labels: node, core-protocol

#6293 chore: Update tokio to 1.44.2
  Cargo.lock
  Cargo.toml
  crates/iota-proc-macros/Cargo.toml
  docs/examples/rust/Cargo.toml
  examples/custom-indexer/rust/Cargo.toml
  examples/tic-tac-toe/cli/Cargo.toml
  external-crates/move/Cargo.lock
  external-crates/move/Cargo.toml
  scripts/simtest/cargo-simtest
  scripts/simtest/config-patch
Labels: sc-platform, dev-tools

#6318 ci: do not run workflows in draft, except keyword is available in PR description
  .github/workflows/_docs_lint.yml
  .github/workflows/_rust.yml
  .github/workflows/_rust_tests.yml
  .github/workflows/_split_cluster.yml
  .github/workflows/_typos.yml
  .github/workflows/changesets_ci.yml
  .github/workflows/crate_docs.yml
  .github/workflows/hierarchy.yml
  .github/workflows/preview_wiki.yml
  .github/workflows/turbo_hierarchy.yml
Labels: node, core-protocol, ci

#6273 refactor(indexer,migration): redefine tx_insertion_order migration
  crates/iota-indexer/migrations/pg/2025-03-13-081550_insertion_order/down.sql
  crates/iota-indexer/migrations/pg/2025-03-13-081550_insertion_order/up.sql
  crates/iota-indexer/migrations/pg/2025-03-13-081552_optimistic_transactions/down.sql
  crates/iota-indexer/migrations/pg/2025-03-13-081552_optimistic_transactions/up.sql
  crates/iota-indexer/migrations/pg/2025-03-18-115742_backfill_tx_insertion_order/down.sql
  crates/iota-indexer/migrations/pg/2025-03-18-115742_backfill_tx_insertion_order/up.sql
Labels: sc-platform, infrastructure

#6325 fix(iota): Fix `IotaTransactionBlockResponseOptions` param for `get_dynamic_field_object` in `validator_commands.rs`.
  crates/iota/src/validator_commands.rs
Labels: infrastructure

#6241 feat(indexer): Implement persist methods for optimistic tables
  crates/iota-indexer/src/models/event_indices.rs
  crates/iota-indexer/src/models/tx_indices.rs
  crates/iota-indexer/src/store/indexer_store.rs
  crates/iota-indexer/src/store/pg_indexer_store.rs
Labels: sc-platform, infrastructure

#6326 ci: fix non-starting jobs cause by the former "draft-pr" change
  .github/workflows/hierarchy.yml
  .github/workflows/turbo_hierarchy.yml
Labels: node, core-protocol, ci

#6258 feat(wallet-dashboard): kickoff playwright e2e tests
  .github/workflows/_e2e.yml
  .github/workflows/turbo_hierarchy.yml
  apps/wallet-dashboard/.gitignore
  apps/wallet-dashboard/README.md
  apps/wallet-dashboard/jest.config.ts
  apps/wallet-dashboard/package.json
  apps/wallet-dashboard/playwright.config.ts
  apps/wallet-dashboard/tests/example.spec.ts
  apps/wallet/README.md
  pnpm-lock.yaml
Labels: tooling, wallet, wallet-dashboard, ci

#6066 fix(iota-light-client): fix light client rpc
  Cargo.lock
  crates/iota-light-client/.gitignore
  crates/iota-light-client/Cargo.toml
  crates/iota-light-client/example_config/light_client.yaml
  crates/iota-light-client/src/bin/generate_chk_snapshots.rs
  crates/iota-light-client/src/bin/light_client.rs
  crates/iota-light-client/src/proof.rs
  crates/iota-light-client/src/utils.rs
  crates/iota-light-client/tests/check_proof.rs
Labels: sc-platform, dev-tools

#6331 feat(iota-json-rpc-api): Introduce `get_dynamic_field_object_v2` RPC APIs
  crates/iota-indexer/src/apis/indexer_api.rs
  crates/iota-json-rpc-api/src/indexer.rs
  crates/iota-json-rpc/src/indexer_api.rs
  crates/iota-open-rpc/spec/openrpc.json
Labels: sc-platform, infrastructure

#6188 feat(explorer): virtualize tx details
  apps/core/package.json
  apps/core/src/components/VirtualList.tsx
  apps/core/src/components/index.ts
  apps/explorer/src/pages/transaction-result/transaction-summary/UpgradedSystemPackages.tsx
  apps/explorer/src/pages/transaction-result/transaction-summary/index.tsx
  apps/wallet-dashboard/app/(protected)/activity/page.tsx
  apps/wallet-dashboard/components/coins/MyCoins.tsx
  apps/wallet-dashboard/components/dialogs/migration/views/ConfirmMigrationView.tsx
  apps/wallet-dashboard/components/index.ts
  apps/wallet-dashboard/components/migration/MigrationObjectsPanel.tsx
  apps/wallet-dashboard/components/transactions/TransactionsList.tsx
  apps/wallet-dashboard/components/transactions/TransactionsOverview.tsx
  apps/wallet-dashboard/package.json
  pnpm-lock.yaml
Labels: tooling, explorer, wallet-dashboard

#6287 feat(tooling): notify user when pasting addresses from clipboard
  apps/core/src/components/ClipboardPasteSafetyWrapper.tsx
  apps/core/src/components/index.ts
  apps/wallet-dashboard/providers/AppProviders.tsx
  apps/wallet/src/ui/index.tsx
Labels: tooling, apps-ui-kit, wallet, explorer, wallet-dashboard

#6294 feat(explorer): add participation stats to validators page
  apps/explorer/src/pages/validators/Validators.tsx
Labels: tooling, explorer

#6343 feat(iota-sdk): add get_dynamic_field_object_v2()
  crates/iota-sdk/examples/read_api/read_api.rs
  crates/iota-sdk/src/apis/read.rs
Labels: sc-platform, dev-tools

#6350 refactor(iota-json-rpc-api) - Rerun nightly fmt to fix CI pipelines
  crates/iota-json-rpc-api/src/indexer.rs
  crates/iota-json-rpc-api/src/read.rs
  crates/iota-json-rpc-api/src/transaction_builder.rs
  crates/iota-json-rpc-api/src/write.rs
Labels: sc-platform, vm-language

#6349 feat(apps-ui-kit): add missing darkmode styles to the Toggle component
  apps/ui-kit/src/lib/components/atoms/toggle/toggle.classes.ts
Labels: tooling, apps-ui-kit

#6097 feat(wallet): update manifest permissions: replace `tabs` with `activeTab`
  apps/wallet/src/background/permissions.ts
  apps/wallet/src/background/tabs.ts
  apps/wallet/src/background/window.ts
  apps/wallet/src/manifest/manifest.json
  apps/wallet/src/ui/app/redux/slices/permissions/index.ts
  apps/wallet/src/ui/app/shared/ButtonConnectedTo.tsx
  apps/wallet/src/ui/app/shared/dapp-status/actions/index.ts
  apps/wallet/src/ui/app/shared/dapp-status/index.tsx
  apps/wallet/src/ui/app/shared/page-main-layout/PageMainLayout.tsx
Labels: tooling, wallet

#6190 chore: bump rust to 1.86 and fix clippy lints
  consensus/config/src/committee.rs
  consensus/core/src/tests/pipelined_committer_tests.rs
  crates/iota-core/src/authority.rs
  crates/iota-core/src/test_utils.rs
  crates/iota-graphql-rpc/src/config.rs
  crates/iota-indexer/src/test_utils.rs
  crates/iota-light-client/src/utils.rs
  crates/iota-package-resolver/src/lib.rs
  crates/iota-proxy/src/histogram_relay.rs
  crates/iota-types/src/timelock/timelock.rs
  crates/typed-store/src/rocks/mod.rs
  crates/typed-store/src/test_db.rs
  iota-execution/latest/iota-move-natives/src/test_scenario.rs
  rust-toolchain.toml
  scripts/generate_files/Dockerfile
Labels: sc-platform, dev-tools

#6315 refactor(iota-execution): Remove error traces from native function
  iota-execution/latest/iota-move-natives/src/config.rs
  iota-execution/latest/iota-move-natives/src/dynamic_field.rs
Labels: sc-platform, vm-language

#6360 [`iota-data-ingestion`]: kv worker accept s3 config other than AWS
  Cargo.lock
  crates/iota-data-ingestion/Cargo.toml
  crates/iota-data-ingestion/src/main.rs
  crates/iota-data-ingestion/src/progress_store.rs
  crates/iota-data-ingestion/src/workers/kv_store.rs
  dev-tools/iota-data-ingestion/kv-store/config.yaml
Labels: sc-platform, infrastructure

#6297 feat(ts-sdk/explorer): add circulating supply
  .changeset/shiny-guests-leave.md
  apps/explorer/src/components/home-metrics/OnTheNetwork.tsx
  sdk/graphql-transport/README.md
  sdk/typescript/src/client/client.ts
  sdk/typescript/src/client/types/generated.ts
  sdk/typescript/src/client/types/params.ts
Labels: tooling, ts-sdk, explorer

#6207 feat(explorer): Optimise From/To TransactionBlocks queries
  .github/workflows/_e2e.yml
  apps/explorer/README.md
  apps/explorer/src/components/transactions/TransactionsForAddress.tsx
  apps/explorer/src/hooks/useSearch.ts
  apps/explorer/src/pages/address-result/AddressResult.tsx
Labels: tooling, explorer, ci

#6347 feat(wallet-dashboard): fix toasts and dialogs overlap
  apps/core/src/components/toaster/Toaster.tsx
  apps/wallet-dashboard/providers/AppProviders.tsx
  apps/wallet/src/ui/app/shared/toaster/index.tsx
Labels: tooling, wallet, wallet-dashboard

#6180 feat(explorer): Add support for tryGetPastObject in ObjectView
  apps/core/src/hooks/index.ts
  apps/core/src/hooks/useGetObjectOrPastObject.ts
  apps/explorer/src/pages/object-result/ObjectResult.tsx
  apps/explorer/src/pages/object-result/views/ObjectView.tsx
  apps/explorer/src/pages/object-result/views/TokenView.tsx
Labels: tooling, explorer

#6323 refactor(iota-tx-test-runner): add named variable for transaction digests
  crates/iota-transactional-test-runner/src/test_adapter.rs
Labels: sc-platform, vm-language

#6327 feat(iota-rx-test-runner): create dry run helper for iota transactional test runner framework
  crates/iota-adapter-transactional-tests/tests/dev_inspect/reference_return_value.exp
  crates/iota-adapter-transactional-tests/tests/dev_inspect/reference_return_value.move
  crates/iota-adapter-transactional-tests/tests/dry_run/reference_return_value.exp
  crates/iota-adapter-transactional-tests/tests/dry_run/reference_return_value.move
  crates/iota-transactional-test-runner/src/args.rs
  crates/iota-transactional-test-runner/src/lib.rs
  crates/iota-transactional-test-runner/src/test_adapter.rs
Labels: sc-platform, vm-language

#6187 refactor(explorer): Remove unnecessary `useEffect` and `useState` in ObjectView
  apps/explorer/src/pages/object-result/views/ObjectView.tsx
Labels: tooling, explorer

#6338 chore(ts-sdk): Support in TS SDK for getDynamicFieldObjectV2
  .changeset/empty-trains-judge.md
  sdk/graphql-transport/README.md
  sdk/graphql-transport/test/compatibility.test.ts
  sdk/typescript/src/client/client.ts
  sdk/typescript/src/client/types/params.ts
Labels: tooling, ts-sdk

#6244 refactor(tooling): Clean up unused code and deps
  apps/explorer/package.json
  apps/explorer/src/index.tsx
  apps/wallet/package.json
  apps/wallet/src/ui/app/pages/approval-request/transaction-request/DescriptionList.tsx
  apps/wallet/src/ui/app/pages/approval-request/transaction-request/MiniNFT.tsx
  apps/wallet/src/ui/app/pages/approval-request/transaction-request/TransactionRequest.module.scss
  apps/wallet/src/ui/app/pages/approval-request/transaction-request/index.tsx
  apps/wallet/src/ui/app/pages/approval-request/transaction-request/utils/normalize.ts
  apps/wallet/src/ui/styles/global.scss
  apps/wallet/tailwind.config.ts
  pnpm-lock.yaml
Labels: tooling, wallet, explorer, apps-backend

#6355 fix(wallet, wallet-dashboard): Sort wallet transactions by timestamp
  apps/core/src/hooks/useQueryTransactionsByAddress.ts
Labels: tooling

#5817 refactor(dashboard): Clean up migration hooks
  apps/core/src/hooks/useGetAllStardustSharedObjects.ts
  apps/wallet-dashboard/app/(protected)/(feature-controlled)/migration/page.tsx
  apps/wallet-dashboard/components/MigrationOverview.tsx
  apps/wallet-dashboard/hooks/useGetStardustMigratableObjects.ts
Labels: tooling, wallet-dashboard

#6395 ci: fix rosetta-cli install after repo got moved
  .github/scripts/rosetta/setup.sh
  crates/iota-rosetta/README.md
  docker/iota-rosetta/Dockerfile
Labels: node, core-protocol, ci

#6361 refactor(iota-execution)!: Remove TxContext from executor API
  crates/iota-genesis-builder/src/lib.rs
  crates/iota-genesis-builder/src/stardust/migration/executor.rs
  iota-execution/latest/iota-adapter/src/execution_engine.rs
  iota-execution/src/executor.rs
  iota-execution/src/latest.rs
Labels: sc-platform, vm-language

#6397 chore: define ownership for missing crates
  .github/CODEOWNERS
Labels: node, core-protocol, ci

#5995 feat(wallet, wallet-dashboard): reintroduce "max" button for staking
  .changeset/selfish-drinks-tell.md
  apps/core/src/components/inputs/SendTokenFormInput.tsx
  apps/ui-kit/src/lib/components/atoms/info-box/InfoBox.tsx
  apps/wallet-dashboard/components/dialogs/staking/views/EnterAmountDialogLayout.tsx
  apps/wallet-dashboard/components/dialogs/staking/views/EnterAmountView.tsx
  apps/wallet-dashboard/components/dialogs/staking/views/EnterTimelockedAmountView.tsx
  apps/wallet/src/ui/app/staking/stake/StakeForm.tsx
Labels: tooling, apps-ui-kit, wallet, wallet-dashboard

#6370 update(docs): checkpoint remote store
  crates/iota-data-ingestion-core/src/executor.rs
  crates/iota-indexer/src/lib.rs
  docs/content/developer/advanced/custom-indexer.mdx
  examples/custom-indexer/rust/remote_reader.rs
Labels: documentation, sc-platform, infrastructure

#6407 feat: update version to 0.12.0-alpha
  Cargo.lock
  Cargo.toml
  crates/iota-graphql-e2e-tests/tests/call/simple.exp
  crates/iota-open-rpc/spec/openrpc.json
Labels: node, core-protocol

#6381 fix(iota): fix validator commands for committee members
  crates/iota/src/unit_tests/validator_tests.rs
  crates/iota/src/validator_commands.rs
Labels: sc-platform, dev-tools

#6409 [cherry-pick] feat: update version to 0.12.0-alpha (#6407)
  Cargo.lock
  Cargo.toml
  crates/iota-graphql-e2e-tests/tests/call/simple.exp
  crates/iota-open-rpc/spec/openrpc.json
Labels: node, core-protocol

#6410 [cherry-pick] fix(iota): fix validator commands for committee members (#6381)
  crates/iota/src/unit_tests/validator_tests.rs
  crates/iota/src/validator_commands.rs
Labels: node, core-protocol

#6411 [cherry-pick] fix(execution): Add bounds to PTB values in BSC conversion (#6406)
  crates/iota-open-rpc/spec/openrpc.json
  crates/iota-protocol-config/src/lib.rs
  crates/iota-protocol-config/src/snapshots/iota_protocol_config__test__Mainnet_version_6.snap
  crates/iota-protocol-config/src/snapshots/iota_protocol_config__test__Testnet_version_6.snap
  crates/iota-protocol-config/src/snapshots/iota_protocol_config__test__version_6.snap
  crates/iota-swarm-config/tests/snapshots/snapshot_tests__genesis_config_snapshot_matches.snap
  crates/iota-swarm-config/tests/snapshots/snapshot_tests__populated_genesis_snapshot_matches-2.snap
  iota-execution/latest/iota-adapter/src/execution_mode.rs
  iota-execution/latest/iota-adapter/src/execution_value.rs
  iota-execution/latest/iota-adapter/src/programmable_transactions/context.rs
  iota-execution/latest/iota-adapter/src/programmable_transactions/execution.rs
Labels: node, core-protocol

#6041 docs(consensus): update iota architecture
  docs/content/about-iota/iota-architecture/iota-architecture.mdx
  docs/content/about-iota/iota-architecture/iota-security.mdx
  docs/content/about-iota/iota-architecture/transaction-lifecycle.mdx
  docs/content/about-iota/iota-architecture/validator-committee.mdx
  docs/site/static/json/about-iota/iota-architecture/iota-security.json
  docs/site/static/json/node-operators/validator-committee.json
Labels: documentation, research, consensus, core-protocol

#6031 docs(operator): Further node operator docs improvements
  docs/content/_snippets/node-hardware-requirements.mdx
  docs/content/_snippets/operator/check-node-config.mdx
  docs/content/_snippets/operator/fullnode-ports.mdx
  docs/content/_snippets/operator/fullnode-requirements-tab.mdx
  docs/content/_snippets/operator/genesis-blob-location.mdx
  docs/content/_snippets/operator/ports.mdx
  docs/content/_snippets/operator/try-rpc-endpoint.mdx
  docs/content/_snippets/operator/validator-ports.mdx
  docs/content/_snippets/operator/validator-requirements-tab.mdx
  docs/content/developer/exchange-integration/exchange-integration.mdx
  docs/content/operator/common/archives.mdx
  docs/content/operator/common/genesis.mdx
  docs/content/operator/common/monitoring.mdx
  docs/content/operator/common/network.mdx
  docs/content/operator/common/pruning.mdx
  docs/content/operator/data-management.mdx
  docs/content/operator/full-node/configs/genesis.mdx
  docs/content/operator/full-node/configs/network.mdx
  docs/content/operator/full-node/configs/pruning.mdx
  docs/content/operator/full-node/configuration.mdx
  docs/content/operator/full-node/docker.mdx
  docs/content/operator/full-node/overview.mdx
  docs/content/operator/full-node/source.mdx
  docs/content/operator/full-node/troubleshooting.mdx
  docs/content/operator/ssfn_guide.mdx
  docs/content/operator/validator-node/configs/genesis.mdx
  docs/content/operator/validator-node/configs/network.mdx
  docs/content/operator/validator-node/configuration.mdx
  docs/content/operator/validator-node/docker.mdx
  docs/content/operator/validator-node/overview.mdx
  docs/content/operator/validator-node/systemd.mdx
  docs/content/references/exchange-integration-guide.mdx
  docs/content/sidebars/operator.js
  setups/fullnode/systemd/setup.sh
Labels: documentation, node, apps-ui-kit, wallet, ts-sdk, explorer, wallet-dashboard, core-protocol, ci

#6415 refactor(iota-indexer): Refactor error handling in Indexer `get_dynamic_field_object_v2`
  crates/iota-indexer/src/apis/indexer_api.rs
Labels: sc-platform, infrastructure

#6439 [cherry-pick] fix(iota-system): enable epoch info event for non-committee validators (#6408)
  crates/iota-framework-snapshot/bytecode_snapshot/6/0x0000000000000000000000000000000000000000000000000000000000000001
  crates/iota-framework-snapshot/bytecode_snapshot/6/0x0000000000000000000000000000000000000000000000000000000000000002
  crates/iota-framework-snapshot/bytecode_snapshot/6/0x0000000000000000000000000000000000000000000000000000000000000003
  crates/iota-framework-snapshot/bytecode_snapshot/6/0x000000000000000000000000000000000000000000000000000000000000000b
  crates/iota-framework-snapshot/bytecode_snapshot/6/0x000000000000000000000000000000000000000000000000000000000000107a
  crates/iota-framework-snapshot/manifest.json
  crates/iota-framework/packages/iota-system/sources/validator_set.move
  crates/iota-framework/packages_compiled/iota-system
  crates/iota-swarm-config/tests/snapshots/snapshot_tests__populated_genesis_snapshot_matches-2.snap
Labels: sc-platform, vm-language

#6401 fix(iota-data-ingestion): remove timeout for kv worker
  crates/iota-data-ingestion/src/workers/kv_store.rs
Labels: sc-platform, infrastructure

#6451 fix(dashboard): Build dashboard with turbo so it builds the local dependencies
  .github/workflows/_e2e.yml
Labels: tooling, ci

#6398 fix(dashboard): Switch from `next lint` to `eslint`
  apps/wallet-dashboard/hooks/useGetStardustMigratableObjects.ts
  apps/wallet-dashboard/package.json
Labels: tooling, wallet-dashboard

#6337 feat(iota-json-rpc-api, ts-sdk, iota-sdk)!: Introduce `get_dynamic_field_object_v2` RPC APIs
  .changeset/empty-trains-judge.md
  crates/iota-indexer/src/apis/indexer_api.rs
  crates/iota-json-rpc-api/src/indexer.rs
  crates/iota-json-rpc/src/indexer_api.rs
  crates/iota-open-rpc/spec/openrpc.json
  crates/iota-sdk/examples/read_api/read_api.rs
  crates/iota-sdk/src/apis/read.rs
  sdk/graphql-transport/README.md
  sdk/graphql-transport/test/compatibility.test.ts
  sdk/typescript/src/client/client.ts
  sdk/typescript/src/client/types/params.ts
Labels: sc-platform, tooling, dev-tools, infrastructure, ts-sdk

#6341 feat(docs): add supported IOTA wallets
  docs/content/sidebars/about-iota.js
Labels: documentation, devx

#6461 fix(core-protocol): histrogram unregister bug
  crates/iota-core/src/consensus_adapter.rs
Labels: node, core-protocol

#6319 feat(wallet-dashboard): add stardust bech32 address to connected account in migration tab
  apps/core/package.json
  apps/core/src/utils/__tests__/addressToStardustBech32.test.ts
  apps/core/src/utils/index.ts
  apps/core/src/utils/legacy/addressToStardustBech32.ts
  apps/core/src/utils/legacy/index.ts
  apps/wallet-dashboard/app/(protected)/(feature-controlled)/migration/page.tsx
  pnpm-lock.yaml
Labels: tooling, ts-sdk, wallet-dashboard

#6468 feat: update version to 0.12.0-rc
  Cargo.lock
  Cargo.toml
  crates/iota-open-rpc/spec/openrpc.json
Labels: node, core-protocol

#5939 feat(CI): Add release notes generation
  .github/pull_request_template.md
  .github/workflows/release.yml
  .github/workflows/release_notes_monitor.yml
  scripts/release_notes/release_notes.py
  scripts/release_notes/run.sh
Labels: sc-platform, dev-tools, ci

#6473 chore(iota)!: rename `--emit` to `--display`
  crates/iota/src/client_commands.rs
  crates/iota/src/client_ptb/ptb.rs
  crates/iota/tests/cli_tests.rs
  docs/content/references/cli/ptb.mdx
Labels: documentation, sc-platform, dev-tools

#6373 feat(dashboard): add e2e send coins test
  apps/wallet-dashboard/tests/connect.spec.ts
  apps/wallet-dashboard/tests/fixtures.ts
  apps/wallet-dashboard/tests/send.spec.ts
  apps/wallet-dashboard/tests/utils.ts
Labels: tooling, wallet-dashboard

#6485 ci: fix behavior where env vars are set but empty
  scripts/ci_tests/rust_tests.sh
Labels: node, core-protocol, ci

#6467 feat(iota)!: remove console command in the CLI
  Cargo.lock
  crates/iota-move/src/main.rs
  crates/iota/Cargo.toml
  crates/iota/src/console.rs
  crates/iota/src/iota_commands.rs
  crates/iota/src/lib.rs
  crates/iota/src/main.rs
  crates/iota/src/shell.rs
  crates/iota/src/unit_tests/shell_tests.rs
  docs/content/developer/getting-started/install-iota.mdx
  docs/content/references/cli.mdx
  docs/content/references/cli/console.mdx
  docs/content/sidebars/developer.js
Labels: documentation, sc-platform, dev-tools

#6484 chore: Fix new deny audits
  Cargo.lock
  deny.toml
  external-crates/move/Cargo.lock
Labels: sc-platform, dev-tools

#6454 feat(wallet-dashboard): add e2e test: navigate to subroutes
  .github/workflows/_e2e.yml
  apps/ui-kit/src/lib/components/molecules/title/Title.tsx
  apps/wallet-dashboard/app/(protected)/activity/page.tsx
  apps/wallet-dashboard/app/(protected)/components/sidebar/SidebarItem.tsx
  apps/wallet-dashboard/lib/constants/routes.constants.ts
  apps/wallet-dashboard/lib/interfaces/appRoute.interfaces.ts
  apps/wallet-dashboard/playwright.config.ts
  apps/wallet-dashboard/tests/routes.spec.ts
Labels: tooling, apps-ui-kit, wallet-dashboard, ci

#6465 feat(iota-genesis-builder): add check for distinct protocol and network pubkeys
  crates/iota-genesis-builder/src/validator_info.rs
Labels: sc-platform, dev-tools

#6382 feat(explorer): rearrange gas & storage fee section
  apps/explorer/src/components/gas-breakdown/GasBreakdown.tsx
Labels: tooling, explorer

#6495 feat: Upgrade errors for additive and deponly policies
  crates/iota/src/unit_tests/fixtures/upgrade_errors/additive_errors_v1/Move.toml
  crates/iota/src/unit_tests/fixtures/upgrade_errors/additive_errors_v1/sources/UpgradeErrors.move
  crates/iota/src/unit_tests/fixtures/upgrade_errors/additive_errors_v2/Move.toml
  crates/iota/src/unit_tests/fixtures/upgrade_errors/additive_errors_v2/sources/UpgradeErrors.move
  crates/iota/src/unit_tests/fixtures/upgrade_errors/deponly_errors_v1/Move.toml
  crates/iota/src/unit_tests/fixtures/upgrade_errors/deponly_errors_v1/sources/UpgradeErrors.move
  crates/iota/src/unit_tests/fixtures/upgrade_errors/deponly_errors_v2/Move.toml
  crates/iota/src/unit_tests/fixtures/upgrade_errors/deponly_errors_v2/sources/UpgradeErrors.move
  crates/iota/src/unit_tests/snapshots/iota__upgrade_compatibility__upgrade_compatibility_tests__additive.snap
  crates/iota/src/unit_tests/snapshots/iota__upgrade_compatibility__upgrade_compatibility_tests__all.snap
  crates/iota/src/unit_tests/snapshots/iota__upgrade_compatibility__upgrade_compatibility_tests__declarations_missing.snap
  crates/iota/src/unit_tests/snapshots/iota__upgrade_compatibility__upgrade_compatibility_tests__deponly.snap
  crates/iota/src/unit_tests/snapshots/iota__upgrade_compatibility__upgrade_compatibility_tests__enum.snap
  crates/iota/src/unit_tests/snapshots/iota__upgrade_compatibility__upgrade_compatibility_tests__function.snap
  crates/iota/src/unit_tests/snapshots/iota__upgrade_compatibility__upgrade_compatibility_tests__struct.snap
  crates/iota/src/unit_tests/snapshots/iota__upgrade_compatibility__upgrade_compatibility_tests__type_param.snap
  crates/iota/src/unit_tests/snapshots/iota__upgrade_compatibility__upgrade_compatibility_tests__version_mismatch.snap
  crates/iota/src/unit_tests/upgrade_compatibility_tests.rs
  crates/iota/src/upgrade_compatibility.rs
Labels: sc-platform, dev-tools

#6496 Improve comments, format type params within structs and enums
  crates/iota/src/unit_tests/fixtures/upgrade_errors/enum_errors_v1/sources/UpgradeErrors.move
  crates/iota/src/unit_tests/fixtures/upgrade_errors/enum_errors_v2/sources/UpgradeErrors.move
  crates/iota/src/unit_tests/fixtures/upgrade_errors/struct_errors_v1/sources/UpgradeErrors.move
  crates/iota/src/unit_tests/fixtures/upgrade_errors/struct_errors_v2/sources/UpgradeErrors.move
  crates/iota/src/unit_tests/snapshots/iota__upgrade_compatibility__upgrade_compatibility_tests__additive.snap
  crates/iota/src/unit_tests/snapshots/iota__upgrade_compatibility__upgrade_compatibility_tests__addresses_first.snap
  crates/iota/src/unit_tests/snapshots/iota__upgrade_compatibility__upgrade_compatibility_tests__declarations_missing.snap
  crates/iota/src/unit_tests/snapshots/iota__upgrade_compatibility__upgrade_compatibility_tests__emoji.snap
  crates/iota/src/unit_tests/snapshots/iota__upgrade_compatibility__upgrade_compatibility_tests__empty.snap
  crates/iota/src/unit_tests/snapshots/iota__upgrade_compatibility__upgrade_compatibility_tests__enum.snap
  crates/iota/src/unit_tests/snapshots/iota__upgrade_compatibility__upgrade_compatibility_tests__package_no_name.snap
  crates/iota/src/unit_tests/snapshots/iota__upgrade_compatibility__upgrade_compatibility_tests__starts_second_line.snap
  crates/iota/src/unit_tests/snapshots/iota__upgrade_compatibility__upgrade_compatibility_tests__struct.snap
  crates/iota/src/unit_tests/snapshots/iota__upgrade_compatibility__upgrade_compatibility_tests__version_mismatch.snap
  crates/iota/src/unit_tests/snapshots/iota__upgrade_compatibility__upgrade_compatibility_tests__whitespace.snap
  crates/iota/src/unit_tests/upgrade_compatibility_tests.rs
  crates/iota/src/upgrade_compatibility/formatting.rs
  crates/iota/src/upgrade_compatibility/mod.rs
Labels: sc-platform, dev-tools

#6497 feat: Enable upgrade compatibility checks for package upgrades
  crates/iota-source-validation-service/tests/tests.rs
  crates/iota/src/client_commands.rs
  crates/iota/src/lib.rs
  crates/iota/src/unit_tests/snapshots/iota__upgrade_compatibility__upgrade_compatibility_tests__additive.snap
  crates/iota/src/unit_tests/snapshots/iota__upgrade_compatibility__upgrade_compatibility_tests__addresses_first.snap
  crates/iota/src/unit_tests/snapshots/iota__upgrade_compatibility__upgrade_compatibility_tests__all.snap
  crates/iota/src/unit_tests/snapshots/iota__upgrade_compatibility__upgrade_compatibility_tests__declarations_missing.snap
  crates/iota/src/unit_tests/snapshots/iota__upgrade_compatibility__upgrade_compatibility_tests__deponly.snap
  crates/iota/src/unit_tests/snapshots/iota__upgrade_compatibility__upgrade_compatibility_tests__emoji.snap
  crates/iota/src/unit_tests/snapshots/iota__upgrade_compatibility__upgrade_compatibility_tests__empty.snap
  crates/iota/src/unit_tests/snapshots/iota__upgrade_compatibility__upgrade_compatibility_tests__enum.snap
  crates/iota/src/unit_tests/snapshots/iota__upgrade_compatibility__upgrade_compatibility_tests__function.snap
  crates/iota/src/unit_tests/snapshots/iota__upgrade_compatibility__upgrade_compatibility_tests__package_no_name.snap
  crates/iota/src/unit_tests/snapshots/iota__upgrade_compatibility__upgrade_compatibility_tests__starts_second_line.snap
  crates/iota/src/unit_tests/snapshots/iota__upgrade_compatibility__upgrade_compatibility_tests__struct.snap
  crates/iota/src/unit_tests/snapshots/iota__upgrade_compatibility__upgrade_compatibility_tests__type_param.snap
  crates/iota/src/unit_tests/snapshots/iota__upgrade_compatibility__upgrade_compatibility_tests__version_mismatch.snap
  crates/iota/src/unit_tests/snapshots/iota__upgrade_compatibility__upgrade_compatibility_tests__whitespace.snap
  crates/iota/src/unit_tests/upgrade_compatibility_tests.rs
  crates/iota/src/upgrade_compatibility/formatting.rs
  crates/iota/src/upgrade_compatibility/mod.rs
  crates/iota/tests/cli_tests.rs
Labels: sc-platform, dev-tools

#6463 fix(docs): fix testnet validator description
  docs/content/developer/getting-started/connect.mdx
Labels: documentation, devx

#6342 fix(docs): remove exchange integration duplicate
  docs/content/developer/exchange-integration.mdx
  docs/content/references/exchange-integration-guide.mdx
  docs/content/sidebars/developer.js
  docs/examples/rust/Cargo.lock
  docs/examples/rust/Cargo.toml
  docs/examples/rust/exchange/derive-address.rs
  docs/examples/rust/exchange/get-balance.rs
  docs/examples/typescript/package-lock.json
  docs/examples/typescript/package.json
  docs/examples/typescript/src/exchange/derive-address.ts
  docs/examples/typescript/src/exchange/get-balance.ts
Labels: documentation, devx

#6369 fix(docs): Fix docs by explaining how ISC interacts with Move
  docs/content/iota-evm/explanations/core-contracts.md
  docs/content/iota-evm/explanations/move-anchor.md
  docs/content/iota-evm/explanations/states.md
  docs/content/sidebars/iota-evm.js
Labels: documentation, devx

#5850 Refactor How To doc
  docs/content/_snippets/iota-evm/IRC27.md
  docs/content/_snippets/iota-evm/how-tos/minimum_storage_deposit.md
  docs/content/iota-evm/explanations/how-accounts-work.md
  docs/content/iota-evm/explanations/smart-contract-anatomy.md
  docs/content/iota-evm/how-tos/core-contracts/basics/allowance/allow.md
  docs/content/iota-evm/how-tos/core-contracts/basics/allowance/get-allowance.md
  docs/content/iota-evm/how-tos/core-contracts/basics/allowance/take-allowance.md
  docs/content/iota-evm/how-tos/core-contracts/basics/get-balance.md
  docs/content/iota-evm/how-tos/core-contracts/basics/send-assets-to-l1.mdx
  docs/content/iota-evm/how-tos/core-contracts/call-view.md
  docs/content/iota-evm/how-tos/core-contracts/introduction.md
  docs/content/iota-evm/how-tos/core-contracts/nft/get-L2-nfts.mdx
  docs/content/iota-evm/how-tos/core-contracts/nft/get-nft-data.mdx
  docs/content/iota-evm/how-tos/core-contracts/nft/get-nft-in-collection.mdx
  docs/content/iota-evm/how-tos/core-contracts/nft/get-nft-metadata.mdx
  docs/content/iota-evm/how-tos/core-contracts/nft/introduction.mdx
  docs/content/iota-evm/how-tos/core-contracts/nft/mint-nft.mdx
  docs/content/iota-evm/how-tos/core-contracts/nft/use-as-erc721.mdx
  docs/content/iota-evm/how-tos/core-contracts/objects/get-L2-objects.mdx
  docs/content/iota-evm/how-tos/core-contracts/objects/introduction.mdx
  docs/content/iota-evm/how-tos/core-contracts/token/create-foundry.mdx
  docs/content/iota-evm/how-tos/core-contracts/token/create-native-token.mdx
  docs/content/iota-evm/how-tos/core-contracts/token/erc20-native-token.mdx
  docs/content/iota-evm/how-tos/core-contracts/token/introduction.mdx
  docs/content/iota-evm/how-tos/core-contracts/token/mint-token.mdx
  docs/content/iota-evm/how-tos/core-contracts/token/register-token.mdx
  docs/content/iota-evm/how-tos/core-contracts/token/send-token-across-chains.mdx
  docs/content/iota-evm/how-tos/send-funds-from-L1-to-L2.mdx
  docs/content/iota-evm/solo/how-tos/the-l1-ledger.md
  docs/content/sidebars/iota-evm.js
  docs/site/static/img/iota-evm/evm/how-tos/get-funds/approve-transaction.png
  docs/site/static/img/iota-evm/evm/how-tos/get-funds/bloom/bloom-click-on-send.png
  docs/site/static/img/iota-evm/evm/how-tos/get-funds/bloom/bloom-review-and-confirm.png
  docs/site/static/img/iota-evm/evm/how-tos/get-funds/bloom/bloom-select-evm-account-1.png
  docs/site/static/img/iota-evm/evm/how-tos/get-funds/bloom/bloom-select-the-desired-amount.png
  docs/site/static/img/iota-evm/evm/how-tos/get-funds/bloom/enter-the-amount.png
  docs/site/static/img/iota-evm/evm/how-tos/get-funds/bloom/enter-the-recipient-address.png
  docs/site/static/img/iota-evm/evm/how-tos/get-funds/bloom/review-and-confirm-the-transaction.png
  docs/site/static/img/iota-evm/evm/how-tos/get-funds/bloom/select-send.png
  docs/site/static/img/iota-evm/evm/how-tos/get-funds/bloom/select-the-smr-token.png
  docs/site/static/img/iota-evm/evm/how-tos/get-funds/connect-iota-wallet.png
  docs/site/static/img/iota-evm/evm/how-tos/get-funds/connect-metamask.png
  docs/site/static/img/iota-evm/evm/how-tos/get-funds/copy-your-address.png
  docs/site/static/img/iota-evm/evm/how-tos/get-funds/enter-iota-amount.png
  docs/site/static/img/iota-evm/evm/how-tos/get-funds/firefly/enter-your-desired-amount-and-metamask-address.png
  docs/site/static/img/iota-evm/evm/how-tos/get-funds/firefly/select-send-assets.png
  docs/site/static/img/iota-evm/evm/how-tos/get-funds/firefly/select-shimmer-evm.png
Labels: documentation, devx

#6493 feat(wallet-dashboard): add e2e test to change balance & check transaction in activity section
  apps/wallet-dashboard/components/account-balance/AccountBalance.tsx
  apps/wallet-dashboard/components/transactions/TransactionTile.tsx
  apps/wallet-dashboard/components/transactions/TransactionsOverview.tsx
  apps/wallet-dashboard/tests/balance-change.spec.ts
Labels: tooling, wallet-dashboard

#6478 fix(iota-framework-snapshot): update snapshot loading
  crates/iota-framework-snapshot/src/lib.rs
Labels: sc-platform, vm-language

#6438 feat(cli): store framework versions in iota binary
  Cargo.lock
  crates/iota-benchmark/tests/simtest.rs
  crates/iota-core/src/authority.rs
  crates/iota-framework-snapshot/Cargo.toml
  crates/iota-framework-snapshot/manifest.json
  crates/iota-framework-snapshot/src/lib.rs
  crates/iota-framework-snapshot/src/main.rs
  crates/iota-framework-snapshot/tests/compatibility_tests.rs
  crates/iota-framework-tests/src/metered_verifier.rs
  crates/iota-framework/src/lib.rs
  crates/iota-genesis-builder/src/lib.rs
  crates/iota-genesis-builder/src/stardust/migration/executor.rs
  crates/iota-json-rpc-api/src/indexer.rs
  crates/iota-json-rpc-api/src/read.rs
  crates/iota-json-rpc-api/src/transaction_builder.rs
  crates/iota-json-rpc-api/src/write.rs
  crates/iota-move-build/src/lib.rs
  crates/iota-open-rpc/spec/openrpc.json
  crates/iota/Cargo.toml
  crates/iota/build.rs
  crates/iota/src/framework_versions.rs
  crates/iota/src/lib.rs
Labels: sc-platform, vm-language

#6324 feat(iota-framework): vector zip destroy_empty + allow return values in lambdas
  crates/iota-framework-snapshot/bytecode_snapshot/7/0x0000000000000000000000000000000000000000000000000000000000000001
  crates/iota-framework/CONTRIBUTING.md
  crates/iota-framework/packages/move-stdlib/sources/macros.move
  crates/iota-framework/packages/move-stdlib/sources/option.move
  crates/iota-framework/packages/move-stdlib/sources/u128.move
  crates/iota-framework/packages/move-stdlib/sources/u16.move
  crates/iota-framework/packages/move-stdlib/sources/u256.move
  crates/iota-framework/packages/move-stdlib/sources/u32.move
  crates/iota-framework/packages/move-stdlib/sources/u64.move
  crates/iota-framework/packages/move-stdlib/sources/u8.move
  crates/iota-framework/packages/move-stdlib/sources/vector.move
  crates/iota-framework/packages/move-stdlib/tests/option_tests.move
  crates/iota-framework/packages/move-stdlib/tests/vector_tests.move
  crates/iota-framework/packages_compiled/move-stdlib
  crates/iota-swarm-config/tests/snapshots/snapshot_tests__populated_genesis_snapshot_matches-2.snap
Labels: documentation, sc-platform, vm-language, ts-sdk, ci

#6362 fix(explorer): resolve inactive validator metadata
  apps/core/src/hooks/useGetLatestIotaSystemState.ts
  apps/explorer/src/components/validator/ValidatorMeta.tsx
  apps/explorer/src/pages/validator/ValidatorDetails.tsx
Labels: tooling, explorer

#6512 chore(ts-sdk): update readmes to remove testnet disclaimers
  sdk/bcs/README.md
  sdk/create-dapp/README.md
  sdk/dapp-kit/README.md
  sdk/graphql-transport/README.md
  sdk/kiosk/README.md
  sdk/ledgerjs-hw-app-iota/README.md
  sdk/typescript/README.md
  sdk/wallet-standard/README.md
Labels: tooling, ts-sdk

#6494 feat(ci): build images for iota-data-ingestion services on release
  .github/workflows/release_docker.yml
Labels: devops-admin, devops, ci

#6366 feat(iota-framework): add peel enum to bcs
  crates/iota-framework-snapshot/bytecode_snapshot/7/0x0000000000000000000000000000000000000000000000000000000000000002
  crates/iota-framework-snapshot/manifest.json
  crates/iota-framework/packages/iota-framework/sources/bcs.move
  crates/iota-framework/packages/iota-framework/tests/bcs_tests.move
  crates/iota-framework/packages_compiled/iota-framework
  crates/iota-framework/published_api.txt
  crates/iota-swarm-config/tests/snapshots/snapshot_tests__populated_genesis_snapshot_matches-2.snap
Labels: documentation, sc-platform, vm-language, ts-sdk, ci

#6510 feat(wallet-dashboard): add terms of use
  apps/core/src/constants/index.ts
  apps/core/src/constants/legal.constants.ts
  apps/wallet-dashboard/app/page.tsx
  apps/wallet-dashboard/components/dialogs/settings/views/SettingsListView.tsx
  apps/wallet/src/shared/constants.ts
  apps/wallet/src/ui/app/components/accounts/ProtectAccountForm.tsx
  apps/wallet/src/ui/app/components/menu/content/WalletSettingsMenuList.tsx
Labels: tooling, wallet, wallet-dashboard

#6524 fix: add missing license header to exchange rust examples
  docs/examples/rust/exchange/derive-address.rs
  docs/examples/rust/exchange/get-balance.rs
Labels: sc-platform, dev-tools

#6526 cli: feature-gated name command
  crates/iota/Cargo.toml
  crates/iota/src/iota_commands.rs
  crates/iota/src/lib.rs
Labels: sc-platform, dev-tools

#6306 fix(explorer): correctly display last epoch rewards
  apps/core/src/hooks/useGetValidatorsEvents.ts
  apps/explorer/src/hooks/index.ts
  apps/explorer/src/hooks/useEndOfEpochTransactionFromCheckpoint.ts
  apps/explorer/src/lib/ui/utils/generateValidatorsTableColumns.tsx
  apps/explorer/src/lib/utils/getValidatorMoveEvent.ts
  apps/explorer/src/pages/epochs/EpochDetail.tsx
  apps/explorer/src/pages/validator/ValidatorDetails.tsx
  apps/explorer/src/pages/validators/Validators.tsx
Labels: tooling, explorer, wallet-dashboard

#6358 feat(explorer): paginate address transactions
  apps/explorer/src/components/transactions/TransactionsForAddress.tsx
Labels: tooling, explorer

#6242 feat(indexer): Read transactions from optimistic tables
  crates/iota-indexer/src/indexer_reader.rs
  crates/iota-indexer/src/models/transactions.rs
Labels: sc-platform, infrastructure

#6284 feat(ts-sdk): New `getLatestIotaSystemState`
  .changeset/itchy-eyes-smoke.md
  apps/core/src/components/stake/StakedCard.tsx
  apps/core/src/hooks/index.ts
  apps/core/src/hooks/stake/useValidatorInfo.ts
  apps/core/src/hooks/useGetLatestIotaSystemState.ts
  apps/core/src/hooks/useGetStakingValidatorDetails.ts
  apps/core/src/hooks/useGetTimeBeforeEpochNumber.ts
  apps/explorer/src/components/activity/EpochsActivityTable.tsx
  apps/explorer/src/components/network/NetworkSelector.tsx
  apps/explorer/src/components/top-validators-card/TopValidatorsCard.tsx
  apps/explorer/src/hooks/useSearch.ts
  apps/explorer/src/pages/epochs/EpochDetail.tsx
  apps/explorer/src/pages/epochs/stats/ValidatorStatus.tsx
  apps/explorer/src/pages/epochs/utils.ts
  apps/explorer/src/pages/validator/ValidatorDetails.tsx
  apps/explorer/src/pages/validators/Validators.tsx
  apps/wallet-dashboard/app/(protected)/(feature-controlled)/vesting/page.tsx
  apps/wallet-dashboard/app/(protected)/staking/page.tsx
  apps/wallet-dashboard/components/StakeRewardsPanel.tsx
  apps/wallet-dashboard/components/dialogs/staking/StakeDialog.tsx
  apps/wallet-dashboard/components/dialogs/staking/views/EnterAmountDialogLayout.tsx
  apps/wallet-dashboard/components/dialogs/unstake/views/UnstakeTimelockedObjectsView.tsx
  apps/wallet-dashboard/hooks/useIsValidatorCommitteeMember.ts
  apps/wallet/src/ui/app/staking/delegation-detail/DelegationDetailCard.tsx
  apps/wallet/src/ui/app/staking/validators/SelectValidatorCard.tsx
  apps/wallet/src/ui/app/staking/validators/ValidatorsCard.tsx
  sdk/graphql-transport/README.md
  sdk/graphql-transport/src/methods.ts
  sdk/typescript/src/client/client.ts
  sdk/typescript/src/client/types/chain.ts
Labels: tooling, wallet, ts-sdk, explorer, wallet-dashboard

#6533 scripts: fix cargo sort grouping only in deps sections
  scripts/cargo_sort/cargo_sort.py
Labels: node, core-protocol

#6489 feat(wallet-dashboard): add staking e2e test
  apps/wallet-dashboard/components/dialogs/layout/DialogLayout.tsx
  apps/wallet-dashboard/components/dialogs/staking/views/EnterAmountDialogLayout.tsx
  apps/wallet-dashboard/tests/stake.spec.ts
Labels: tooling, wallet-dashboard

#5969 refactor(wallet, wallet-dashboard): improve gas management in stake form
  apps/core/src/utils/stake/createValidationSchema.ts
  apps/wallet-dashboard/components/dialogs/staking/StakeDialog.tsx
  apps/wallet-dashboard/components/dialogs/staking/views/EnterAmountView.tsx
  apps/wallet-dashboard/components/dialogs/staking/views/EnterTimelockedAmountView.tsx
  apps/wallet/src/ui/app/staking/stake/StakeForm.tsx
Labels: tooling, wallet, wallet-dashboard

#6491 fix(iota-graphql-e2e-tests): Fix flaky pruning test
  crates/iota-graphql-e2e-tests/tests/prune/prune.exp
  crates/iota-graphql-e2e-tests/tests/prune/prune.move
Labels: sc-platform, infrastructure

#6540 fix(workflows): fix ledger nano CI
  .github/workflows/_ledgernano.yml
  sdk/ledgerjs-hw-app-iota/src/Iota.ts
Labels: sc-platform, dev-tools, ts-sdk, ci

#6368 chore(pr-template): Adjust PR template with Infrastructure QA checks
  .github/pull_request_template.md
Labels: sc-platform, infrastructure, ci

#6340 feat(docs): mention nightly connect support
  docs/content/developer/standards/wallet-standard.mdx
Labels: documentation, devx

#6385 refactor(iota-framework): add prettier config for system packages
  crates/iota-framework/.prettierrc
Labels: sc-platform, vm-language

#6386 feat(iota-move): add iota-move test runner for shell scripts
  Cargo.lock
  crates/iota-move/Cargo.toml
  crates/iota-move/src/lib.rs
  crates/iota-move/tests/cli_tests.rs
  crates/iota-move/tests/snapshots/cli_tests__dummy__dummy.sh.snap
  crates/iota-move/tests/snapshots/cli_tests__new_tests__gitignore_exists.sh.snap
  crates/iota-move/tests/snapshots/cli_tests__new_tests__gitignore_has_build.sh.snap
  crates/iota-move/tests/snapshots/cli_tests__new_tests__manifest_template.sh.snap
  crates/iota-move/tests/snapshots/cli_tests__new_tests__new_files.sh.snap
  crates/iota-move/tests/snapshots/cli_tests__new_tests__new_then_build.sh.snap
  crates/iota-move/tests/snapshots/cli_tests__new_tests__new_then_test.sh.snap
  crates/iota-move/tests/tests/dummy/data/data.txt
  crates/iota-move/tests/tests/dummy/dummy.sh
  crates/iota-move/tests/tests/new_tests/gitignore_exists.sh
  crates/iota-move/tests/tests/new_tests/gitignore_has_build.sh
  crates/iota-move/tests/tests/new_tests/manifest_template.sh
  crates/iota-move/tests/tests/new_tests/new_files.sh
  crates/iota-move/tests/tests/new_tests/new_then_build.sh
  crates/iota-move/tests/tests/new_tests/new_then_test.sh
Labels: sc-platform, vm-language

#6595 fix: fix secrets name for upload docs action
  .github/workflows/upload-docs-to-aws.yml
Labels: devx, ci

#6542 fix(consensus): fix gc_depth parameter for msim
  crates/iota-protocol-config/src/lib.rs
Labels: consensus, core-protocol

#6570 chore(cli): reword new declaration errors
  crates/iota/src/unit_tests/snapshots/iota__upgrade_compatibility__upgrade_compatibility_tests__deponly.snap
  crates/iota/src/upgrade_compatibility/mod.rs
Labels: sc-platform, dev-tools

#6535 fix: remove extra scrollbar from address page assets section
  apps/explorer/src/components/owned-objects/ListView.tsx
Labels: tooling, explorer

#6514 feat(wallet): allow base58 private keys
  apps/wallet/src/ui/app/helpers/validation/privateKeyValidation.ts
Labels: tooling, wallet

#6383 feat(iota-move): add override=true to iota move new manifest template
  crates/iota-move/src/new.rs
  crates/iota-move/tests/snapshots/cli_tests__new_tests__manifest_template.sh.snap
  crates/iota/tests/snapshots/shell_tests__new_tests__manifest_template.sh.snap
Labels: sc-platform, vm-language

#6599 refactor: move iota::framework_versions to iota_package_management crate
  Cargo.lock
  crates/iota-package-management/Cargo.toml
  crates/iota-package-management/build.rs
  crates/iota-package-management/src/lib.rs
  crates/iota-package-management/src/system_package_versions.rs
  crates/iota/Cargo.toml
  crates/iota/src/framework_versions.rs
  crates/iota/src/lib.rs
Labels: sc-platform, vm-language

#6611 chore(iota): upgrade errors capitalize letter on declarations
  crates/iota/src/unit_tests/snapshots/iota__upgrade_compatibility__upgrade_compatibility_tests__additive.snap
  crates/iota/src/unit_tests/snapshots/iota__upgrade_compatibility__upgrade_compatibility_tests__addresses_first.snap
  crates/iota/src/unit_tests/snapshots/iota__upgrade_compatibility__upgrade_compatibility_tests__all.snap
  crates/iota/src/unit_tests/snapshots/iota__upgrade_compatibility__upgrade_compatibility_tests__declarations_missing.snap
  crates/iota/src/unit_tests/snapshots/iota__upgrade_compatibility__upgrade_compatibility_tests__emoji.snap
  crates/iota/src/unit_tests/snapshots/iota__upgrade_compatibility__upgrade_compatibility_tests__empty.snap
  crates/iota/src/unit_tests/snapshots/iota__upgrade_compatibility__upgrade_compatibility_tests__package_no_name.snap
  crates/iota/src/unit_tests/snapshots/iota__upgrade_compatibility__upgrade_compatibility_tests__starts_second_line.snap
  crates/iota/src/unit_tests/snapshots/iota__upgrade_compatibility__upgrade_compatibility_tests__whitespace.snap
  crates/iota/src/upgrade_compatibility/mod.rs
Labels: sc-platform, dev-tools

#6600 fix(node): Remove kv store hardcoded URL templates / pass URL from config
  crates/iota-config/src/node.rs
  crates/iota-node/src/lib.rs
  crates/iota-storage/src/bin/http_kv_tool.rs
Labels: node, core-protocol

#6085 Add WASP API
  docs/content/iota-evm/references/.gitignore
  docs/content/sidebars/iota-evm.js
  docs/site/docusaurus.config.js
  docs/site/package.json
  pnpm-lock.yaml
Labels: documentation, devx, apps-ui-kit, wallet, ts-sdk, explorer, wallet-dashboard, apps-backend, ci

#6456 cleanup(consensus): remove gc in starfish
  crates/starfish/core/src/ancestor.rs
  crates/starfish/core/src/authority_node.rs
  crates/starfish/core/src/authority_service.rs
  crates/starfish/core/src/base_committer.rs
  crates/starfish/core/src/block_manager.rs
  crates/starfish/core/src/block_verifier.rs
  crates/starfish/core/src/commit.rs
  crates/starfish/core/src/commit_syncer.rs
  crates/starfish/core/src/core.rs
  crates/starfish/core/src/dag_state.rs
  crates/starfish/core/src/error.rs
  crates/starfish/core/src/linearizer.rs
  crates/starfish/core/src/metrics.rs
  crates/starfish/core/src/network/metrics_layer.rs
  crates/starfish/core/src/subscriber.rs
  crates/starfish/core/src/synchronizer.rs
  crates/starfish/core/src/test_dag_builder.rs
  crates/starfish/core/src/transaction.rs
  crates/starfish/core/src/universal_committer.rs
  crates/starfish/simtests/src/tests/simtests.rs
Labels: consensus, core-protocol

#5924 Update core contract references
  docs/content/iota-evm/explanations/core-contracts.md
  docs/content/iota-evm/getting-started/contracts.mdx
  docs/content/iota-evm/references/core-contracts/accounts.md
  docs/content/iota-evm/references/core-contracts/blocklog.md
  docs/content/iota-evm/references/core-contracts/errors.md
  docs/content/iota-evm/references/core-contracts/evm.md
  docs/content/iota-evm/references/core-contracts/governance.md
  docs/content/iota-evm/references/core-contracts/overview.md
  docs/content/iota-evm/references/core-contracts/root.md
  docs/content/iota-evm/references/core-contracts/types.md
  docs/content/iota-evm/references/core-contracts/xfer.md
  docs/content/sidebars/iota-evm.js
Labels: documentation, devx

#6552 feat(iota): cleanup iota config directory usage
  crates/iota/src/iota_commands.rs
  docs/content/developer/getting-started/local-network.mdx
  docs/site/static/json/developer/getting-started/local-network.json
Labels: documentation, sc-platform, dev-tools

#6631 fix(docs) update IOTA-related research papers
  docs/content/references/research-papers.mdx
Labels: documentation, research, consensus, core-protocol

#6626 upstream(consensus): optimising validator tx finalizer
  crates/iota-core/src/authority.rs
  crates/iota-core/src/authority/authority_per_epoch_store.rs
  crates/iota-core/src/validator_tx_finalizer.rs
Labels: consensus, core-protocol

#6590 feat(iota-protocol-config): add support for overriding ProtocolConfig fields by env variable
  Cargo.lock
  crates/iota-protocol-config-macros/src/lib.rs
  crates/iota-protocol-config/Cargo.toml
  crates/iota-protocol-config/src/lib.rs
Labels: sc-platform, dev-tools

#6498 chore: using `contains()` instead of `iter().any()` is more efficient
  crates/iota-types/src/multisig.rs
  iota-execution/latest/iota-verifier/src/id_leak_verifier.rs
Labels: sc-platform, dev-tools

#6541 refactor: remove false initialisations of feature flags
  crates/iota-protocol-config/src/lib.rs
Labels: research, core-protocol

#6378 feat(dev-tools): Add grafana dashboard for the indexer metrics
  .github/CODEOWNERS
  crates/iota-indexer/src/metrics.rs
  dev-tools/iota-indexer-monitoring/README.md
  dev-tools/iota-indexer-monitoring/dashboards/dashboards.yml
  dev-tools/iota-indexer-monitoring/dashboards/indexer_metrics_dashboard.json
  dev-tools/iota-indexer-monitoring/docker-compose.yml
  dev-tools/iota-indexer-monitoring/grafana-datasources.yaml
  dev-tools/iota-indexer-monitoring/prometheus.yml
Labels: sc-platform, infrastructure, ci

#6555 feat(iota-tx-runner): decouple transactional test runner from indexer and graphql flavor
  Cargo.lock
  crates/iota-graphql-e2e-tests/Cargo.toml
  crates/iota-graphql-e2e-tests/tests/tests.rs
  crates/iota-graphql-rpc/src/test_infra/cluster.rs
  crates/iota-transactional-test-runner/Cargo.toml
  crates/iota-transactional-test-runner/src/args.rs
  crates/iota-transactional-test-runner/src/lib.rs
  crates/iota-transactional-test-runner/src/offchain_state.rs
  crates/iota-transactional-test-runner/src/test_adapter.rs
Labels: sc-platform, vm-language

#6648 fix(docs): replace MIST by NANOS
  docs/content/references/cli/cheatsheet.mdx
  docs/content/references/cli/client.mdx
  docs/content/ts-sdk/typescript/executors.mdx
Labels: documentation, sc-platform, dev-tools

#6365 improve(docs): [part 2] further node operator docs improvements
  .github/workflows/release_fullnode_docker_setup.yml
  docs/content/_snippets/lists/binaries-file-list.mdx
  docs/content/_snippets/operator/check-node-config.mdx
  docs/content/_snippets/operator/fullnode-ports.mdx
  docs/content/_snippets/operator/monitoring-health-metrics.mdx
  docs/content/_snippets/operator/monitoring-json-rpc-fullnode.mdx
  docs/content/_snippets/operator/monitoring-logs.mdx
  docs/content/_snippets/operator/monitoring-services.mdx
  docs/content/_snippets/operator/validator-join-monitor.mdx
  docs/content/_snippets/operator/validator-p2p.mdx
  docs/content/about-iota/iota-architecture/validator-committee.mdx
  docs/content/iota-identity/getting-started/local-network-setup.mdx
  docs/content/operator/common/archives.mdx
  docs/content/operator/common/monitoring.mdx
  docs/content/operator/common/pruning.mdx
  docs/content/operator/full-node/configs/network.mdx
  docs/content/operator/full-node/docker.mdx
  docs/content/operator/full-node/monitoring.mdx
  docs/content/operator/full-node/overview.mdx
  docs/content/operator/full-node/source.mdx
  docs/content/operator/validator-node/docker.mdx
  docs/content/operator/validator-node/monitoring.mdx
  docs/content/operator/validator-node/systemd.mdx
  docs/content/operator/validator-node/troubleshooting.mdx
  docs/content/references/iota-compared.mdx
  docs/content/sidebars/operator.js
  setups/fullnode/docker/docker-compose.yaml
  setups/fullnode/docker/prepare_devnet.sh
  setups/fullnode/docker/prepare_testnet.sh
  setups/fullnode/systemd/setup.sh
Labels: documentation, node, core-protocol, ci

#6629 fix(docs): Remove Firefox which isn't chromium based
  docs/content/about-iota/iota-wallet/FAQ.mdx
Labels: documentation, devx

#6459 feat(wallet/wallet-dashboard): update staking UI to improve committee selection UX
  .changeset/chilly-icons-flow.md
  .changeset/rotten-poems-tie.md
  apps/core/src/components/stake/StakedCard.tsx
  apps/core/src/hooks/index.ts
  apps/core/src/hooks/useGetNextEpochCommitteeMember.ts
  apps/core/src/hooks/useGetStakingValidatorDetails.ts
  apps/core/src/hooks/useIsActiveValidator.ts
  apps/core/src/hooks/useIsValidatorCommitteeMember.ts
  apps/core/src/hooks/useMaxCommitteeSize.ts
  apps/core/src/hooks/useStakeRewardStatus.ts
  apps/ui-icons/src/Refresh.tsx
  apps/ui-icons/src/RewardsOff.tsx
  apps/ui-icons/src/index.ts
  apps/ui-icons/svgs/refresh.svg
  apps/ui-icons/svgs/rewards_off.svg
  apps/ui-kit/src/lib/components/atoms/badge/badge.classes.ts
  apps/ui-kit/src/lib/components/atoms/badge/badge.enums.ts
  apps/ui-kit/src/lib/components/molecules/card/CardBody.tsx
  apps/ui-kit/src/lib/constants/colors.constants.ts
  apps/wallet-dashboard/app/(protected)/staking/page.tsx
  apps/wallet-dashboard/components/ValidatorStakingData.tsx
  apps/wallet-dashboard/components/dialogs/staking/StakeDialog.tsx
  apps/wallet-dashboard/components/dialogs/staking/views/DetailsView.tsx
  apps/wallet-dashboard/components/dialogs/staking/views/EnterAmountDialogLayout.tsx
  apps/wallet-dashboard/components/dialogs/staking/views/SelectValidatorView.tsx
  apps/wallet-dashboard/components/dialogs/staking/views/StakedInfo.tsx
  apps/wallet-dashboard/components/staked-timelock-object/StakedTimelockObject.tsx
  apps/wallet-dashboard/hooks/index.ts
  apps/wallet/src/ui/app/staking/delegation-detail/DelegationDetailCard.tsx
  apps/wallet/src/ui/app/staking/stake/StakeForm.tsx
  apps/wallet/src/ui/app/staking/stake/ValidatorFormDetail.tsx
  apps/wallet/src/ui/app/staking/validators/SelectValidatorCard.tsx
  apps/wallet/src/ui/app/staking/validators/ValidatorsCard.tsx
Labels: tooling, apps-ui-kit, wallet, wallet-dashboard
