Repository iotaledger/iota, pull requests merged in 2025-10, with the labels that each got.

#8728 feat(wallet): add clickedImportSeed
  apps/wallet/src/shared/analytics/ampli/index.ts
  apps/wallet/src/ui/app/pages/accounts/AddAccountPage.tsx
Labels: tooling, wallet

#8732 upstream(graphql): cache chain identifier & use ticks
  crates/iota-graphql-rpc/src/server/builder.rs
  crates/iota-graphql-rpc/src/server/watermark_task.rs
  crates/iota-graphql-rpc/src/types/chain_identifier.rs
  crates/iota-graphql-rpc/src/types/query.rs
Labels: sc-platform, infrastructure

#8727 feat(external-crates): Added new crates for v2 of the package management system
  .github/CODEOWNERS
  .github/crates-filters.yml
  .github/external-crates-filters.yml
  Cargo.lock
  Cargo.toml
  crates/iota-package-alt/Cargo.toml
  crates/iota-package-alt/README.md
  crates/iota-package-alt/src/main.rs
  external-crates/move/Cargo.lock
  external-crates/move/Cargo.toml
  external-crates/move/crates/move-package-alt/Cargo.toml
  external-crates/move/crates/move-package-alt/README.md
  external-crates/move/crates/move-package-alt/src/lib.rs
  external-crates/move/crates/move-package-alt/src/main.rs
Labels: sc-platform, vm-language, ci

#8357 feat(consensus): add ci jobs for starfish consensus
  .github/workflows/_rust.yml
  .github/workflows/_rust_tests.yml
  .github/workflows/nightly.yml
  scripts/simtest/simtest-run.sh
Labels: consensus, core-protocol, ci

#8737 fix(dashboard): update validator address and amount in stake transaction logging
  apps/wallet-dashboard/components/dialogs/staking/views/EnterAmountView.tsx
  apps/wallet-dashboard/components/dialogs/staking/views/EnterTimelockedAmountView.tsx
Labels: tooling, wallet-dashboard

#8740 feat(core): Add tracing spans to transaction sequencing
  crates/iota-core/src/authority/authority_per_epoch_store.rs
  crates/iota-core/src/authority/shared_object_congestion_tracker.rs
  crates/iota-core/src/consensus_handler.rs
  dev-tools/iota-private-network/README.md
Labels: node, core-protocol

#8769 fix(external-crates/move-package): Download dependency before reading manifest files
  external-crates/move/crates/move-package/src/resolution/resolution_graph.rs
Labels: sc-platform, vm-language

#8770 fix(external-crates/move/docs): minor docstring fixups packages.md
  external-crates/move/documentation/book/src/packages.md
Labels: sc-platform, vm-language

#8698 feat(graphql): add subscriptions support for events and transactions
  Cargo.lock
  crates/iota-graphql-rpc/Cargo.toml
  crates/iota-graphql-rpc/schema.graphql
  crates/iota-graphql-rpc/src/server/builder.rs
  crates/iota-graphql-rpc/src/server/graphiql_server.rs
  crates/iota-graphql-rpc/src/types/event/mod.rs
  crates/iota-graphql-rpc/src/types/mod.rs
  crates/iota-graphql-rpc/src/types/query.rs
  crates/iota-graphql-rpc/src/types/subscription/filter.rs
  crates/iota-graphql-rpc/src/types/subscription/mod.rs
  crates/iota-graphql-rpc/tests/snapshots/snapshot_tests__schema_sdl_export.snap
Labels: sc-platform, infrastructure

#8746 feat(node): Add tracing spans to transaction execution
  crates/iota-core/src/authority.rs
  crates/iota-core/src/execution_cache/passthrough_cache.rs
  crates/iota-core/src/execution_cache/proxy_cache.rs
  crates/iota-core/src/execution_cache/writeback_cache.rs
  crates/iota-core/src/execution_driver.rs
  crates/iota-core/src/transaction_manager.rs
  dev-tools/iota-private-network/README.md
Labels: node, core-protocol

#8283 chore(docs): add TF API references and examples
  docs/content/developer/iota-hierarchies/getting-started/wasm.mdx
  docs/content/developer/iota-hierarchies/index.mdx
  docs/content/developer/iota-identity/explanations/decentralized-identifiers.mdx
  docs/content/developer/iota-identity/explanations/verifiable-credentials.mdx
  docs/content/developer/iota-identity/getting-started/universal-resolver.mdx
  docs/content/developer/iota-identity/getting-started/wasm.mdx
  docs/content/developer/iota-identity/how-tos/decentralized-identifiers/create.mdx
  docs/content/developer/iota-identity/how-tos/decentralized-identifiers/resolve.mdx
  docs/content/developer/iota-identity/how-tos/decentralized-identifiers/update.mdx
  docs/content/developer/iota-identity/how-tos/key-storage.mdx
  docs/content/developer/iota-identity/how-tos/verifiable-credentials/create.mdx
  docs/content/developer/iota-identity/how-tos/verifiable-credentials/revocation.mdx
  docs/content/developer/iota-identity/how-tos/verifiable-presentations/create-and-validate.mdx
  docs/content/developer/iota-identity/index.mdx
  docs/content/developer/iota-identity/references/iota-did-method-spec.mdx
  docs/content/developer/iota-notarization/getting-started/wasm.mdx
  docs/content/developer/iota-notarization/index.mdx
  docs/content/developer/iota-trust-framework.mdx
  docs/content/operator/gas-station/gas-station.mdx
  docs/site/static/img/banner/banner_gas_station.png
  docs/site/static/img/banner/banner_gas_station.svg
  docs/site/static/img/banner/banner_hierarchies.png
  docs/site/static/img/banner/banner_hierarchies.svg
  docs/site/static/img/banner/banner_identity.png
  docs/site/static/img/banner/banner_identity.svg
  docs/site/static/img/banner/banner_notarization.png
  docs/site/static/img/banner/banner_notarization.svg
  docs/site/static/img/banner/banner_trust_framework.png
Labels: documentation, pa-engineering

#8789 feat: add isIndexedOnNode API
  .changeset/proud-pillows-pull.md
  crates/iota-graphql-rpc/schema.graphql
  crates/iota-graphql-rpc/src/server/builder.rs
  crates/iota-graphql-rpc/src/test_infra/cluster.rs
  crates/iota-graphql-rpc/src/types/digest.rs
  crates/iota-graphql-rpc/src/types/query.rs
  crates/iota-graphql-rpc/src/types/transaction_block/mod.rs
  crates/iota-graphql-rpc/tests/e2e_tests.rs
  crates/iota-graphql-rpc/tests/snapshots/snapshot_tests__schema_sdl_export.snap
  crates/iota-indexer/src/apis/read_api.rs
  crates/iota-indexer/src/indexer.rs
  crates/iota-indexer/src/lib.rs
  crates/iota-json-rpc-api/src/read.rs
  crates/iota-json-rpc-tests/tests/read_api.rs
  crates/iota-json-rpc/src/read_api.rs
  crates/iota-open-rpc/spec/openrpc.json
  crates/iota-open-rpc/src/examples.rs
  sdk/graphql-transport/src/generated/queries.ts
  sdk/graphql-transport/src/methods.ts
  sdk/graphql-transport/src/queries/isTransactionIndexed.graphql
  sdk/graphql-transport/test/compatibility.test.ts
  sdk/typescript/src/client/client.ts
  sdk/typescript/src/client/types/params.ts
  sdk/typescript/src/graphql/generated/2025.2/schema.graphql
  sdk/typescript/src/graphql/generated/2025.2/tada-env.d.ts
Labels: sc-platform, infrastructure, ts-sdk

#8771 refactor(move-compiler): Remove `spec` and `invariant` keywords from Move 2024
  external-crates/move/crates/move-compiler/src/parser/lexer.rs
  external-crates/move/crates/move-compiler/src/parser/syntax.rs
  external-crates/move/crates/move-compiler/tests/move_2024/old_spec/invalid_spec_schema_name.move
  external-crates/move/crates/move-compiler/tests/move_2024/old_spec/invalid_spec_schema_name.snap
  external-crates/move/crates/move-compiler/tests/move_2024/old_spec/invarant_fail.move
  external-crates/move/crates/move-compiler/tests/move_2024/old_spec/invarant_fail.snap
  external-crates/move/crates/move-compiler/tests/move_2024/old_spec/spec_block_fail.move
  external-crates/move/crates/move-compiler/tests/move_2024/old_spec/spec_block_fail.snap
  external-crates/move/crates/move-compiler/tests/move_2024/old_spec/spec_lambda.move
  external-crates/move/crates/move-compiler/tests/move_2024/old_spec/spec_lambda.snap
  external-crates/move/crates/move-compiler/tests/move_2024/old_spec/spec_parsing_emits_fail.move
  external-crates/move/crates/move-compiler/tests/move_2024/old_spec/spec_parsing_emits_fail.snap
  external-crates/move/crates/move-compiler/tests/move_2024/old_spec/spec_parsing_inside_fun.move
  external-crates/move/crates/move-compiler/tests/move_2024/old_spec/spec_parsing_inside_fun.snap
  external-crates/move/crates/move-compiler/tests/move_2024/old_spec/spec_parsing_old_fun_fail.move
  external-crates/move/crates/move-compiler/tests/move_2024/old_spec/spec_parsing_old_fun_fail.snap
  external-crates/move/crates/move-compiler/tests/move_2024/parser/ability_modifier_infix_and_postfix_native_struct.snap
  external-crates/move/crates/move-compiler/tests/move_2024/parser/ability_modifier_postfix_missing_commas.snap
  external-crates/move/crates/move-compiler/tests/move_2024/parser/ability_modifier_postfix_no_abilities_no_semi.snap
  external-crates/move/crates/move-compiler/tests/move_2024/parser/ability_modifier_postfix_no_abilities_with_semi.snap
  external-crates/move/crates/move-compiler/tests/move_2024/parser/ability_modifier_postfix_no_semi.snap
  external-crates/move/crates/move-compiler/tests/move_2024/parser/ability_modifies_infix_no_abilities_postfix.snap
  external-crates/move/crates/move-compiler/tests/move_2024/parser/ability_modifies_no_abilities_infix_postfix.snap
Labels: sc-platform, vm-language, ci

#8799 fix(graphql-rpc): Fix leftover Stored variant not renamed to Checkpointed
  crates/iota-graphql-rpc/src/types/transaction_block/mod.rs
Labels: sc-platform, infrastructure

#8806 feat(iota-framework): Update git revision in manifest.json
  crates/iota-framework-snapshot/manifest.json
Labels: consensus, core-protocol

#8660 fix(node): Fix node peer discovery
  Cargo.lock
  crates/iota-benchmark/tests/simtest.rs
  crates/iota-config/src/p2p.rs
  crates/iota-network/Cargo.toml
  crates/iota-network/src/discovery/builder.rs
  crates/iota-network/src/discovery/mod.rs
  crates/iota-network/src/discovery/server.rs
  crates/iota-network/src/discovery/tests.rs
  crates/iota-network/src/utils.rs
  crates/iota-swarm-config/src/node_config_builder.rs
  crates/iota-swarm/src/memory/swarm.rs
  crates/test-cluster/src/lib.rs
  setups/fullnode/docker/README.md
Labels: node, core-protocol
