Repository iotaledger/iota, pull requests merged in 2025-07, with the labels that each got.

#7568 feat(starfish): evict transactions when last available committed dag is advanced
  crates/starfish/core/src/commit.rs
  crates/starfish/core/src/commit_observer.rs
  crates/starfish/core/src/dag_state.rs
  crates/starfish/core/src/data_manager.rs
Labels: consensus, core-protocol

#7596 fix(docs): Fix notarization links & examples
  docs/content/developer/iota-notarization/getting-started/local-network-setup.mdx
  docs/content/developer/iota-notarization/getting-started/rust.mdx
  docs/content/developer/iota-notarization/getting-started/wasm.mdx
  docs/content/developer/iota-notarization/how-tos/access-read-only-methods.mdx
  docs/content/developer/iota-notarization/how-tos/dynamic-notarizations/create.mdx
  docs/content/developer/iota-notarization/how-tos/dynamic-notarizations/destroy.mdx
  docs/content/developer/iota-notarization/how-tos/dynamic-notarizations/transfer.mdx
  docs/content/developer/iota-notarization/how-tos/dynamic-notarizations/update-metadata.mdx
  docs/content/developer/iota-notarization/how-tos/dynamic-notarizations/update-state.mdx
  docs/content/developer/iota-notarization/how-tos/locked-notarizations/create.mdx
  docs/content/developer/iota-notarization/how-tos/locked-notarizations/destroy.mdx
  docs/content/developer/iota-notarization/index.mdx
Labels: documentation, identity

#7605 feat(aa-example): Hardcode a keystore for the example
  Cargo.lock
  account_abstraction/aa_rust_sdk_flow/Cargo.toml
  account_abstraction/aa_rust_sdk_flow/src/main.rs
  account_abstraction/aa_rust_sdk_flow/src/sig_utils.rs
  account_abstraction/aa_rust_sdk_flow/src/smart_account.rs
  account_abstraction/aa_rust_sdk_flow/src/tx_flow.rs
  account_abstraction/aa_rust_sdk_flow/src/utils.rs
Labels: sc-platform, vm-language

#7606 chore(iota): update IOTA-Names devnet deployment
  crates/iota-names/src/config.rs
Labels: sc-platform, dev-tools

#7589 feat(ci): always use the latest test scripts from commit that triggered the workflow
  .github/workflows/nightly.yml
Labels: node, core-protocol, ci

#7622 feat(dapp-kit): Add an opt-in flag to wait for the transaction in the `useSignAndExecuteTransaction` hook
  .changeset/twelve-vans-hide.md
  sdk/dapp-kit/src/hooks/wallet/useSignAndExecuteTransaction.ts
Labels: tooling, ts-sdk

#7458 fix(explorer): Correct formatting over 9 decimals
  apps/core/src/hooks/__tests__/useFormatCoin.test.ts
  apps/core/src/utils/formatAmount.ts
Labels: tooling, explorer

#7609 fix: fix for crash recovery
  crates/iota-core/src/authority.rs
  crates/iota-core/src/checkpoints/mod.rs
  crates/iota-node/src/lib.rs
Labels: consensus, core-protocol

#7503 fix(docs): correct VS Code extension link
  docs/content/developer/evm-to-move/tooling-apis.mdx
Labels: documentation, sc-platform, dev-tools

#7247 fix(docs): remove mentions of rebased if not relevant
  docs/content/_snippets/operator/monitoring-json-rpc-fullnode.mdx
  docs/content/about-iota/FAQ.mdx
  docs/content/about-iota/tokenomics/gas-in-iota.mdx
  docs/content/about-iota/tokenomics/iota-token.mdx
  docs/content/developer/developer.mdx
  docs/content/developer/getting-started/client-tssdk.mdx
  docs/content/developer/getting-started/getting-started.mdx
  docs/content/developer/getting-started/install-iota.mdx
  docs/content/developer/getting-started/local-network.mdx
  docs/content/developer/iota-101/move-overview/package-upgrades/introduction.mdx
  docs/content/developer/references/cli/validator.mdx
  docs/content/developer/tutorials/live-concert.mdx
  docs/content/operator/common/snapshots.mdx
  docs/content/operator/gas-station/gas-station.mdx
  docs/content/users/iota-wallet-dashboard/how-to/basics.mdx
  docs/content/users/iota-wallet-dashboard/how-to/stake.mdx
  docs/content/users/iota-wallet/how-to/stake.mdx
  docs/site/src/components/CTF/pop-in.tsx
  docs/site/src/components/constant.tsx
  docs/site/static/json/developer/getting-started/install-iota.json
Labels: documentation, devx

#7580 feat(docs): add GA to docs
  docs/site/docusaurus.config.js
  docs/site/package.json
  docs/site/src/components/ContextProviders.tsx
  docs/site/src/components/Disclaimer.tsx
  docs/site/src/css/custom.css
  docs/site/src/theme/Root.tsx
  pnpm-lock.yaml
Labels: devx

#7616 feat: Add an on-chain multisig check
  account_abstraction/aa_move/sources/multisig_pubkey.move
  account_abstraction/aa_move/sources/tx_flow.move
  account_abstraction/aa_rust_sdk_flow/src/main.rs
  account_abstraction/aa_rust_sdk_flow/src/signed_tx.rs
  account_abstraction/aa_rust_sdk_flow/src/tx_flow.rs
  account_abstraction/aa_rust_sdk_flow/src/utils.rs
Labels: sc-platform, vm-language

#7371 feat(consensus): Improve synchronizer
  consensus/core/src/authority_service.rs
  consensus/core/src/block_manager.rs
  consensus/core/src/core.rs
  consensus/core/src/core_thread.rs
  consensus/core/src/leader_timeout.rs
  consensus/core/src/metrics.rs
  consensus/core/src/round_prober.rs
  consensus/core/src/synchronizer.rs
Labels: research, consensus, core-protocol

#7711 feat(node): [cherry-pick] Revert "remove known peers shuffling during discovery (#7484)" (#7706)
  crates/iota-network/src/discovery/server.rs
Labels: node, core-protocol

#7249 chore(docs): mention blockberry api
  docs/content/sidebars/developer.js
Labels: documentation, devx

#7673 feat(multisig-toolkit): update example values
  dapps/multisig-toolkit/src/routes/combine-sigs.tsx
  dapps/multisig-toolkit/src/routes/execute-transaction.tsx
  dapps/multisig-toolkit/src/routes/multisig-address.tsx
  dapps/multisig-toolkit/src/routes/signature-analyzer.tsx
Labels: sc-platform, dev-tools

#7715 fix: rust docs example compilation
  docs/examples/rust/Cargo.lock
  docs/examples/rust/Cargo.toml
Labels: sc-platform, dev-tools

#7701 chore(node): add WritebackCache key collision test
  crates/iota-core/src/execution_cache/cache_types.rs
  crates/iota-core/src/execution_cache/unit_tests/writeback_cache_tests.rs
Labels: node, core-protocol

#7747 feat(evm-bridge): Fix metamask version used in bridge tests to `12.20.0`
  apps/evm-bridge/package.json
  apps/evm-bridge/scripts/downloadWallet.js
  apps/evm-bridge/scripts/download_wallet_artifact_L2.sh
  apps/evm-bridge/tests/utils/utils.ts
Labels: tooling

#7748 feat(apps-uikit): fix double scroll bar in the select component
  .changeset/chilled-eagles-sneeze.md
  apps/ui-kit/src/lib/components/molecules/select/Select.tsx
Labels: tooling, apps-ui-kit

#7734 feat(apps-ui-kit): improve typesets for the names theme
  .changeset/honest-spoons-attack.md
  .typos.toml
  apps/ui-kit/src/lib/styles/base.css
Labels: tooling, apps-ui-kit

#7608 feat(ui-kit): add iota names gradient and improve components
  .changeset/thick-lions-poke.md
  apps/core/src/components/Validator.tsx
  apps/explorer/src/pages/address-result/AddressBalanceBreakdown.tsx
  apps/ui-kit/.storybook/preview.tsx
  apps/ui-kit/package.json
  apps/ui-kit/src/lib/components/atoms/checkbox/Checkbox.tsx
  apps/ui-kit/src/lib/components/atoms/skeleton/Skeleton.tsx
  apps/ui-kit/src/lib/components/index.ts
  apps/ui-kit/src/lib/components/organisms/dialog/Dialog.tsx
  apps/ui-kit/src/lib/constants/colors.constants.ts
  apps/ui-kit/src/lib/enums/index.ts
  apps/ui-kit/src/lib/enums/theme.enums.ts
  apps/ui-kit/src/lib/index.ts
  apps/ui-kit/src/lib/styles/index.css
  apps/ui-kit/src/lib/styles/variables/dark-variables.css
  apps/ui-kit/src/lib/styles/variables/general-variables.css
  apps/ui-kit/src/lib/styles/variables/light-variables.css
  apps/ui-kit/src/lib/styles/variables/names-variables.css
  apps/ui-kit/src/lib/tailwind/base.presets.ts
  apps/ui-kit/src/lib/tailwind/constants/gradients.constants.ts
  apps/ui-kit/src/storybook/blocks/TypeSet.tsx
  apps/ui-kit/src/storybook/constants/gradients.constants.ts
  apps/ui-kit/src/storybook/helpers/formatGradientNames.ts
  apps/ui-kit/src/storybook/stories/atoms/Skeleton.stories.tsx
  apps/ui-kit/src/storybook/stories/components/DocsSyncTheme.tsx
  apps/ui-kit/src/storybook/stories/components/index.ts
  apps/ui-kit/src/storybook/stories/design-tokens/colors.stories.mdx
  apps/ui-kit/src/storybook/stories/design-tokens/icons.stories.mdx
  apps/ui-kit/src/storybook/stories/design-tokens/typeset.stories.mdx
  apps/ui-kit/src/storybook/stories/design-tokens/variable-spacing.stories.mdx
  apps/ui-kit/src/storybook/stories/organisms/Dialog.stories.tsx
  apps/wallet-dashboard/components/dialogs/migration/views/ConfirmMigrationView.tsx
  apps/wallet-dashboard/components/migration/MigrationObjectLoading.tsx
Labels: tooling, apps-ui-kit, explorer, wallet-dashboard

#7781 chore: rename `IotaNamesRegistration` to `NameRegistration`
  crates/iota-graphql-rpc/schema.graphql
  crates/iota-graphql-rpc/src/types/address.rs
  crates/iota-graphql-rpc/src/types/coin.rs
  crates/iota-graphql-rpc/src/types/coin_metadata.rs
  crates/iota-graphql-rpc/src/types/iota_names_registration.rs
  crates/iota-graphql-rpc/src/types/move_object.rs
  crates/iota-graphql-rpc/src/types/move_package.rs
  crates/iota-graphql-rpc/src/types/object.rs
  crates/iota-graphql-rpc/src/types/owner.rs
  crates/iota-graphql-rpc/src/types/stake.rs
  crates/iota-graphql-rpc/tests/snapshots/snapshot_tests__schema_sdl_export.snap
  crates/iota-indexer/src/apis/indexer_api.rs
  crates/iota-json-rpc/src/indexer_api.rs
  crates/iota-names/src/config.rs
  crates/iota-names/src/lib.rs
  crates/iota/src/name_commands.rs
Labels: sc-platform, dev-tools

#7722 feat(protocol-research): enable new sequencer in all networks
  crates/iota-open-rpc/spec/openrpc.json
  crates/iota-protocol-config/src/lib.rs
  crates/iota-protocol-config/src/snapshots/iota_protocol_config__test__Mainnet_version_10.snap
  crates/iota-protocol-config/src/snapshots/iota_protocol_config__test__Testnet_version_10.snap
  crates/iota-protocol-config/src/snapshots/iota_protocol_config__test__version_10.snap
  crates/iota-swarm-config/tests/snapshots/snapshot_tests__genesis_config_snapshot_matches.snap
  crates/iota-swarm-config/tests/snapshots/snapshot_tests__populated_genesis_snapshot_matches-2.snap
Labels: research, core-protocol

#7808 feat(protocol-config): enable new consensus features for mainnet
  crates/iota-protocol-config/src/lib.rs
  crates/iota-protocol-config/src/snapshots/iota_protocol_config__test__Mainnet_version_10.snap
Labels: consensus, core-protocol

#7704 feat(keys)!: introduce a new keystore v2 format and migrate from the current one while keeping a backup of the files
  .github/scripts/rosetta/setup.sh
  Cargo.lock
  crates/iota-benchmark/src/util.rs
  crates/iota-config/src/lib.rs
  crates/iota-e2e-tests/tests/full_node_tests.rs
  crates/iota-indexer/tests/rpc-tests/coin_api.rs
  crates/iota-keys/Cargo.toml
  crates/iota-keys/src/keystore.rs
  crates/iota-keys/src/lib.rs
  crates/iota-keys/src/serde_iota_keypair.rs
  crates/iota-keys/src/serde_public_key.rs
  crates/iota-keys/tests/tests.rs
  crates/iota-rosetta/src/main.rs
  crates/iota-rosetta/tests/end_to_end_tests.rs
  crates/iota-rpc-loadgen/src/main.rs
  crates/iota-types/src/crypto.rs
  crates/iota/src/client_commands.rs
  crates/iota/src/keytool.rs
  crates/iota/src/unit_tests/keytool_tests.rs
  crates/iota/src/validator_commands.rs
  crates/iota/tests/cli_tests.rs
Labels: node, core-protocol, ci

#7603 feat(indexer): Introduce backfilling infrastructure
  Cargo.lock
  crates/iota-indexer/Cargo.toml
  crates/iota-indexer/src/backfill/ingestion/adapter.rs
  crates/iota-indexer/src/backfill/ingestion/mod.rs
  crates/iota-indexer/src/backfill/ingestion/task.rs
  crates/iota-indexer/src/backfill/mod.rs
  crates/iota-indexer/src/backfill/runner.rs
  crates/iota-indexer/src/backfill/sql/mod.rs
  crates/iota-indexer/src/backfill/sql/sql_backfill.rs
  crates/iota-indexer/src/config.rs
  crates/iota-indexer/src/db.rs
  crates/iota-indexer/src/lib.rs
  crates/iota-indexer/src/main.rs
  crates/iota-indexer/src/test_utils.rs
Labels: sc-platform, infrastructure

#7812 fix(iota): display MultiSigCombinePartialSig details
  crates/iota/src/keytool.rs
  crates/iota/src/unit_tests/keytool_tests.rs
Labels: sc-platform, dev-tools

#7762 chore(protocol-research): update codeowners
  .github/CODEOWNERS
Labels: research, core-protocol, ci

#7766 fix(iota-json): remove string parsing of vecu8
  crates/iota-json/src/lib.rs
  crates/iota-json/src/tests.rs
Labels: sc-platform, infrastructure

#7611 upstream(ts-sdk): [kiosk sdk] Fix doc comment
  .changeset/chilly-pillows-remember.md
  sdk/kiosk/src/client/kiosk-client.ts
Labels: tooling, ts-sdk

#7612 upstream(ts-sdk): [docs] [sdk] Update e2e counter docs and template
  .changeset/tall-years-buy.md
  sdk/create-dapp/templates/react-e2e-counter/package.json
  sdk/create-dapp/templates/react-e2e-counter/src/Counter.tsx
  sdk/create-dapp/templates/react-e2e-counter/src/CreateCounter.tsx
Labels: tooling, ts-sdk

#7613 upstream(ts-sdk): ts sdk: coin-with-balance intent create zero coin on zero amount
  .changeset/old-dolphins-tie.md
  sdk/typescript/src/transactions/intents/CoinWithBalance.ts
  sdk/typescript/test/e2e/coin-with-balance.test.ts
  sdk/typescript/test/e2e/data/coin_metadata/sources/coin_metadata_zero.move
Labels: tooling, ts-sdk

#7189 refactor(wallet, wallet-dashboard): stake forms improvemets
  apps/core/src/hooks/stake/useNewStakeTransaction.ts
  apps/core/src/utils/stake/createValidationSchema.ts
  apps/wallet-dashboard/components/dialogs/staking/StakeDialog.tsx
  apps/wallet-dashboard/components/dialogs/staking/views/EnterAmountView.tsx
  apps/wallet-dashboard/components/dialogs/staking/views/EnterTimelockedAmountView.tsx
  apps/wallet-dashboard/tests/stake.spec.ts
  apps/wallet/src/ui/app/staking/stake/StakeForm.tsx
  apps/wallet/tests/staking.spec.ts
Labels: tooling, wallet, wallet-dashboard

#7821 fix(starfish): Fix compilation issues after rebasing on top of develop
  Cargo.lock
  crates/iota-core/src/consensus_types/consensus_output_api.rs
  crates/starfish/core/Cargo.toml
  crates/starfish/core/src/network/tonic_network.rs
  crates/starfish/core/src/network/tonic_tls.rs
Labels: consensus, core-protocol

#7819 fix(iota, iota-swarm, iota-swarm-config): Apply iota-names config upon restart of the swarm persisted by `iota start`
  Cargo.lock
  crates/iota-swarm-config/Cargo.toml
  crates/iota-swarm-config/src/node_config_builder.rs
  crates/iota-swarm/Cargo.toml
  crates/iota-swarm/src/memory/swarm.rs
  crates/iota/src/iota_commands.rs
Labels: sc-platform, infrastructure

#7207 refactor(light-client)!: rewrite binary to create test fixtures
  Cargo.lock
  crates/iota-light-client/Cargo.toml
  crates/iota-light-client/src/bin/generate_checkpoint_snapshots.rs
  crates/iota-light-client/src/bin/update_fixtures.rs
  crates/iota-light-client/src/checkpoint.rs
  crates/iota-light-client/src/config.rs
  crates/iota-light-client/src/main.rs
  crates/iota-light-client/src/object_store.rs
  crates/iota-light-client/src/verifier.rs
  crates/iota-light-client/tests/README.md
  crates/iota-light-client/tests/check_proof.rs
  crates/iota-light-client/tests/fixtures/235.chk
  crates/iota-light-client/tests/fixtures/235.sum
  crates/iota-light-client/tests/fixtures/366216.chk
  crates/iota-light-client/tests/fixtures/366216.sum
  crates/iota-light-client/tests/fixtures/469.chk
  crates/iota-light-client/tests/fixtures/469.sum
  crates/iota-light-client/tests/fixtures/744641.chk
  crates/iota-light-client/tests/fixtures/744641.sum
  crates/iota-light-client/tests/fixtures/checkpoints.yaml
  crates/iota-light-client/tests/fixtures/genesis.blob
Labels: sc-platform, dev-tools

#7820 feat(starfish): Add support for transaction acknowledgements in test_dag_builder
  crates/starfish/core/src/test_dag_builder.rs
Labels: consensus, core-protocol

#7842 upstream(iota): Allow 0x0 in Move.toml on upgrade
  crates/iota/src/unit_tests/fixtures/upgrade_errors/address_change_v1/Move.toml
  crates/iota/src/unit_tests/fixtures/upgrade_errors/address_change_v1/sources/UpgradeErrors.move
  crates/iota/src/unit_tests/fixtures/upgrade_errors/address_change_v2/Move.toml
  crates/iota/src/unit_tests/fixtures/upgrade_errors/address_change_v2/sources/UpgradeErrors.move
  crates/iota/src/unit_tests/snapshots/iota__upgrade_compatibility__upgrade_compatibility_tests__address_change.snap
  crates/iota/src/unit_tests/upgrade_compatibility_tests.rs
  crates/iota/src/upgrade_compatibility/mod.rs
Labels: sc-platform, dev-tools

#7840 upstream(iota-sdk): Add custom header support in the `IotaClientBuilder` struct
  crates/iota-sdk/src/error.rs
  crates/iota-sdk/src/lib.rs
Labels: sc-platform, dev-tools

#7843 refactor(iota-execution): Remove dead code
  iota-execution/latest/iota-verifier/tests/common/mod.rs
  iota-execution/latest/iota-verifier/tests/common/module_builder.rs
Labels: sc-platform, vm-language

#7553 upstream(node): Add cache size params to ExecutionCacheConfig
  Cargo.lock
  crates/iota-config/Cargo.toml
  crates/iota-config/src/node.rs
  crates/iota-core/src/authority/test_authority_builder.rs
  crates/iota-core/src/execution_cache.rs
  crates/iota-core/src/execution_cache/proxy_cache.rs
  crates/iota-core/src/execution_cache/unit_tests/writeback_cache_tests.rs
  crates/iota-core/src/execution_cache/writeback_cache.rs
  crates/iota-node/src/lib.rs
  crates/iota-swarm-config/src/network_config_builder.rs
  crates/iota-swarm-config/src/node_config_builder.rs
  crates/iota-swarm-config/tests/snapshots/snapshot_tests__network_config_snapshot_matches.snap
  crates/iota-swarm/src/memory/swarm.rs
  crates/test-cluster/src/lib.rs
Labels: node, core-protocol

#7846 fix(starfish): fix clippy issues
  crates/iota-core/src/unit_tests/starfish_manager_tests.rs
  crates/starfish/core/src/authority_service.rs
  crates/starfish/core/src/storage/store_tests.rs
  crates/starfish/core/src/synchronizer.rs
Labels: consensus, core-protocol

#7826 upstream: Porting core-protocol related upstream changes in range mainnet-1.38.4 to mainnet-1.39.4
  Cargo.lock
  crates/iota-benchmark/tests/simtest.rs
  crates/iota-config/Cargo.toml
  crates/iota-config/src/node.rs
  crates/iota-core/Cargo.toml
  crates/iota-core/src/authority.rs
  crates/iota-core/src/authority/authority_per_epoch_store.rs
  crates/iota-core/src/authority/test_authority_builder.rs
  crates/iota-core/src/consensus_handler.rs
  crates/iota-core/src/execution_cache.rs
  crates/iota-core/src/execution_cache/proxy_cache.rs
  crates/iota-core/src/execution_cache/unit_tests/writeback_cache_tests.rs
  crates/iota-core/src/execution_cache/writeback_cache.rs
  crates/iota-core/src/lib.rs
  crates/iota-node/src/lib.rs
  crates/iota-protocol-config/src/lib.rs
  crates/iota-single-node-benchmark/Cargo.toml
  crates/iota-swarm-config/src/network_config_builder.rs
  crates/iota-swarm-config/src/node_config_builder.rs
  crates/iota-swarm-config/tests/snapshots/snapshot_tests__network_config_snapshot_matches.snap
  crates/iota-swarm/src/memory/swarm.rs
  crates/iota-transactional-test-runner/Cargo.toml
  crates/iota-types/src/full_checkpoint_content.rs
  crates/iota-types/src/unit_tests/base_types_tests.rs
  crates/iota-types/src/zk_login_authenticator.rs
  crates/test-cluster/Cargo.toml
  crates/test-cluster/src/lib.rs
  crates/transaction-fuzzer/Cargo.toml
Labels: node, core-protocol

#7624 feat(iota-core): extend gas price feedback for multiple consensus commits
  crates/iota-core/src/authority/authority_per_epoch_store.rs
  crates/iota-core/src/authority/shared_object_congestion_tracker.rs
  crates/iota-core/src/authority/shared_object_version_manager.rs
Labels: enhancement, research, consensus, core-protocol

#7854 fix(node): fix iota-network-stack dependency features
  Cargo.toml
Labels: node, core-protocol

#7340 feat(starfish): Implement transaction synchronizer
  crates/iota-core/src/consensus_types/consensus_output_api.rs
  crates/starfish/config/src/parameters.rs
  crates/starfish/config/tests/snapshots/parameters_test__parameters.snap
  crates/starfish/core/build.rs
  crates/starfish/core/src/authority_node.rs
  crates/starfish/core/src/authority_service.rs
  crates/starfish/core/src/block_header.rs
  crates/starfish/core/src/commit_observer.rs
  crates/starfish/core/src/commit_syncer.rs
  crates/starfish/core/src/core.rs
  crates/starfish/core/src/core_thread.rs
  crates/starfish/core/src/dag_state.rs
  crates/starfish/core/src/data_manager.rs
  crates/starfish/core/src/error.rs
  crates/starfish/core/src/leader_timeout.rs
  crates/starfish/core/src/lib.rs
  crates/starfish/core/src/linearizer.rs
  crates/starfish/core/src/metrics.rs
  crates/starfish/core/src/network/mod.rs
  crates/starfish/core/src/network/test_network.rs
  crates/starfish/core/src/network/tonic_network.rs
  crates/starfish/core/src/stake_aggregator.rs
  crates/starfish/core/src/storage/rocksdb_store.rs
  crates/starfish/core/src/subscriber.rs
  crates/starfish/core/src/synchronizer.rs
  crates/starfish/core/src/transactions_synchronizer.rs
Labels: consensus, core-protocol

#7865 fix(iota-core): remove inexistent required feature
  crates/iota-core/Cargo.toml
Labels: sc-platform, dev-tools

#7853 feat(consensus): refactor layer_with_connections to use interim data structure
  crates/starfish/core/src/test_dag_builder.rs
Labels: consensus, core-protocol, ci

#7829 feat(consensus): refactor `test_dag_parser` to separate `DagBuilder` from parsers
  crates/starfish/config/src/committee.rs
  crates/starfish/core/src/block_header.rs
  crates/starfish/core/src/core.rs
  crates/starfish/core/src/dag_state.rs
  crates/starfish/core/src/linearizer.rs
  crates/starfish/core/src/test_dag_builder.rs
  crates/starfish/core/src/test_dag_parser.rs
  crates/starfish/core/src/tests/base_committer_declarative_tests.rs
  crates/starfish/core/src/tests/pipelined_committer_tests.rs
  crates/starfish/core/src/tests/randomized_tests.rs
  crates/starfish/core/src/tests/universal_committer_tests.rs
Labels: consensus, core-protocol

#7864 fix(node): refactor ExecutionCacheConfig
  Cargo.lock
  crates/iota-config/Cargo.toml
  crates/iota-config/src/lib.rs
  crates/iota-config/src/node.rs
  crates/iota-core/src/authority/epoch_start_configuration.rs
  crates/iota-core/src/authority/test_authority_builder.rs
  crates/iota-core/src/execution_cache.rs
  crates/iota-core/src/execution_cache/proxy_cache.rs
  crates/iota-core/src/execution_cache/unit_tests/writeback_cache_tests.rs
  crates/iota-core/src/execution_cache/writeback_cache.rs
  crates/iota-core/src/unit_tests/authority_tests.rs
  crates/iota-node/src/lib.rs
  crates/iota-swarm-config/src/node_config_builder.rs
  crates/iota-swarm-config/tests/snapshots/snapshot_tests__network_config_snapshot_matches.snap
Labels: node, core-protocol

#7880 refactor(iota-data-ingestion-core): do not enforce a path in historical reader
  crates/iota-data-ingestion-core/src/history/manifest.rs
  crates/iota-data-ingestion-core/src/history/mod.rs
  crates/iota-data-ingestion-core/src/reader/fetch.rs
  crates/iota-data-ingestion-core/src/reader/v2.rs
  crates/iota-light-client/README.md
  crates/iota-light-client/devnet.yaml
  crates/iota-light-client/mainnet.yaml
  crates/iota-light-client/src/config.rs
  crates/iota-light-client/testnet.yaml
Labels: sc-platform, infrastructure

#6490 feat(iota-core): calculate suggested gas price in the new sequencer for gas price feedback mechanism
  crates/iota-core/src/authority.rs
  crates/iota-core/src/authority/authority_per_epoch_store.rs
  crates/iota-core/src/authority/shared_object_congestion_tracker.rs
  crates/iota-core/src/authority/suggested_gas_price_calculator.rs
  crates/iota-core/src/unit_tests/authority_tests.rs
  crates/iota-core/src/unit_tests/congestion_control_tests.rs
Labels: enhancement, research, core-protocol

#7753 fix(docs): Navbar users section not highlighted on sidebar subpages
  docs/content/sidebars/users.js
  docs/site/docusaurus.config.js
Labels: documentation, devx

#7899 chore(ci): do not close stale issues anymore
  .github/workflows/stale.yml
Labels: sc-platform, dev-tools, ci

#7907 fix(core): Enhance `TestAuthorityBuilder` and fix `test_authority_store_init`
  crates/iota-core/src/authority/test_authority_builder.rs
  crates/iota-core/src/unit_tests/authority_tests.rs
Labels: node, core-protocol

#7890 upstream(node): Negative caching for point-read items such as transactions and effects
  crates/iota-core/src/execution_cache.rs
  crates/iota-core/src/execution_cache/cache_types.rs
  crates/iota-core/src/execution_cache/passthrough_cache.rs
  crates/iota-core/src/execution_cache/writeback_cache.rs
Labels: node, core-protocol

#7888 upstream(node): Add a workload that randomly generates different transaction shapes
  crates/iota-benchmark/src/drivers/bench_driver.rs
  crates/iota-benchmark/src/options.rs
  crates/iota-benchmark/src/workloads/adversarial.rs
  crates/iota-benchmark/src/workloads/batch_payment.rs
  crates/iota-benchmark/src/workloads/delegation.rs
  crates/iota-benchmark/src/workloads/expected_failure.rs
  crates/iota-benchmark/src/workloads/mod.rs
  crates/iota-benchmark/src/workloads/randomized_transaction.rs
  crates/iota-benchmark/src/workloads/randomness.rs
  crates/iota-benchmark/src/workloads/shared_counter.rs
  crates/iota-benchmark/src/workloads/shared_object_deletion.rs
  crates/iota-benchmark/src/workloads/transfer_object.rs
  crates/iota-benchmark/src/workloads/workload.rs
  crates/iota-benchmark/src/workloads/workload_configuration.rs
  crates/iota-benchmark/tests/simtest.rs
Labels: node, core-protocol

#7637 upstream(`iota-kvstore`): Introduce `BigTableClient` implementation
  .github/CODEOWNERS
  .github/crates-filters.yml
  .github/workflows/_rust_lints.yml
  .github/workflows/_rust_tests.yml
  .github/workflows/release.yml
  Cargo.lock
  Cargo.toml
  crates/iota-kvstore/Cargo.toml
  crates/iota-kvstore/README.md
  crates/iota-kvstore/init.sh
  crates/iota-kvstore/src/bigtable/client.rs
  crates/iota-kvstore/src/bigtable/mod.rs
  crates/iota-kvstore/src/bigtable/worker.rs
  crates/iota-kvstore/src/lib.rs
  crates/iota-kvstore/src/main.rs
Labels: sc-platform, infrastructure, ci

#7917 chore(ts-ci): Fix pnpm audit
  package.json
  pnpm-lock.yaml
Labels: tooling, ci

#7919 feat: replace the tracing feature check in iota-node
  crates/iota-node/src/main.rs
Labels: sc-platform, vm-language

#7932 fix(consensus): `test_core_set_min_propose_round`
  crates/starfish/core/src/core.rs
  crates/starfish/core/src/test_dag_builder.rs
Labels: consensus, core-protocol

#7937 refactor(iota-rest-kv): use BigTableDB as primary kv store
  Cargo.lock
  crates/iota-kvstore/Cargo.toml
  crates/iota-rest-kv/Cargo.toml
  crates/iota-rest-kv/src/aws.rs
  crates/iota-rest-kv/src/bigtable.rs
  crates/iota-rest-kv/src/main.rs
  crates/iota-rest-kv/src/routes/health.rs
  crates/iota-rest-kv/src/server.rs
  crates/iota-rest-kv/src/types.rs
  dev-tools/iota-rest-kv/README.md
  dev-tools/iota-rest-kv/config/bigtable.yaml
  dev-tools/iota-rest-kv/config/config.yaml
  dev-tools/iota-rest-kv/docker-compose.yaml
  docker/iota-rest-kv/Dockerfile
Labels: sc-platform, infrastructure

#7623 feat(light-client): add construct/verify proof commands to CLI
  crates/iota-light-client/src/checkpoint.rs
  crates/iota-light-client/src/config.rs
  crates/iota-light-client/src/construct.rs
  crates/iota-light-client/src/graphql.rs
  crates/iota-light-client/src/main.rs
  crates/iota-light-client/src/proof.rs
  crates/iota-light-client/tests/check_proof.rs
Labels: sc-platform, dev-tools

#7938 fix(starfish): Improve `DataManager` tests
  crates/starfish/core/src/data_manager.rs
  crates/starfish/core/src/test_dag_builder.rs
Labels: consensus, core-protocol

#7852 upstream(iota): use 1 validator by default for local network
  crates/iota/src/iota_commands.rs
  crates/iota/tests/cli_tests.rs
Labels: sc-platform, dev-tools

#7952 fix(iota-move): Add the missing test case to iota tests
  crates/iota/tests/shell_tests/new_tests/new_uppercase_name.sh
  crates/iota/tests/snapshots/shell_tests__new_tests__new_uppercase_name.sh.snap
Labels: sc-platform, vm-language

#7884 feat(starfish): batching in synchronizer
  crates/starfish/config/src/parameters.rs
  crates/starfish/core/build.rs
  crates/starfish/core/src/authority_node.rs
  crates/starfish/core/src/authority_service.rs
  crates/starfish/core/src/base_committer.rs
  crates/starfish/core/src/block_header.rs
  crates/starfish/core/src/block_verifier.rs
  crates/starfish/core/src/commit_syncer.rs
  crates/starfish/core/src/core.rs
  crates/starfish/core/src/dag_state.rs
  crates/starfish/core/src/error.rs
  crates/starfish/core/src/leader_timeout.rs
  crates/starfish/core/src/metrics.rs
  crates/starfish/core/src/network/mod.rs
  crates/starfish/core/src/network/network_tests.rs
  crates/starfish/core/src/network/test_network.rs
  crates/starfish/core/src/network/tonic_network.rs
  crates/starfish/core/src/subscriber.rs
  crates/starfish/core/src/synchronizer.rs
  crates/starfish/core/src/transactions_synchronizer.rs
  crates/starfish/simtests/src/node.rs
Labels: consensus, core-protocol

#7963 fix(starfish): fix `test_dag_builder` for tests
  crates/starfish/core/src/test_dag_builder.rs
  crates/starfish/core/src/test_dag_parser.rs
Labels: consensus, core-protocol

#7949 feat(consensus): add authority index to traces
  crates/starfish/core/src/commit_syncer.rs
  crates/starfish/core/src/core_thread.rs
  crates/starfish/core/src/synchronizer.rs
Labels: consensus, core-protocol

#7953 fix(iota-move): Allow coverage gathering in release testing
  crates/iota-move/Cargo.toml
  crates/iota-move/src/unit_test.rs
  crates/iota/Cargo.toml
  external-crates/move/crates/move-cli/src/base/test.rs
Labels: sc-platform, vm-language

#7945 fix(core): use gas_owner() instead of sender() for gas object creation
  crates/iota-core/src/authority.rs
Labels: node, core-protocol

#7975 fix(e2e-tests): fix flaky traffic control tests due to missing liveness
  crates/iota-e2e-tests/tests/traffic_control_tests.rs
  crates/iota-swarm-config/src/network_config_builder.rs
Labels: node, core-protocol

#7584 chore: remove redundant words
  apps/wallet/src/ui/app/pages/home/tokens/SupplyIncreaseVestingStakingDialog.tsx
  consensus/config/src/parameters.rs
  crates/iota-framework-snapshot/tests/compatibility_tests.rs
  crates/iota-indexer/migrations/pg/2025-06-05-054854_persist_address_analytics/up.sql
  docs/content/developer/iota-evm/getting-started/quick-start.mdx
  docs/examples/move/clt-tutorial/sources/clt_tutorial.move
Labels: documentation, wallet

#7985 fix(move-analyzer): VSCode package fix for Windows
  external-crates/move/crates/move-analyzer/editors/code/package.json
  external-crates/move/crates/move-package/src/resolution/dependency_cache.rs
Labels: sc-platform, vm-language

#7464 chore: remove unused dependency with `cargo machete`
  Cargo.lock
  consensus/core/Cargo.toml
  crates/iota-analytics-indexer/Cargo.toml
  crates/iota-authority-aggregation/Cargo.toml
  crates/iota-aws-orchestrator/Cargo.toml
  crates/iota-benchmark/Cargo.toml
  crates/iota-config/Cargo.toml
  crates/iota-core/Cargo.toml
  crates/iota-core/src/transaction_manager.rs
  crates/iota-data-ingestion/Cargo.toml
  crates/iota-faucet/Cargo.toml
  crates/iota-framework/Cargo.toml
  crates/iota-genesis-builder/Cargo.toml
  crates/iota-graphql-rpc-client/Cargo.toml
  crates/iota-graphql-rpc/Cargo.toml
  crates/iota-indexer/Cargo.toml
  crates/iota-json-rpc-api/Cargo.toml
  crates/iota-json-rpc-types/Cargo.toml
  crates/iota-json-rpc/Cargo.toml
  crates/iota-keys/Cargo.toml
  crates/iota-kvstore/Cargo.toml
  crates/iota-light-client/Cargo.toml
  crates/iota-move-build/Cargo.toml
  crates/iota-move/Cargo.toml
  crates/iota-network-stack/Cargo.toml
  crates/iota-node/Cargo.toml
  crates/iota-package-dump/Cargo.toml
  crates/iota-package-management/Cargo.toml
  crates/iota-package-resolver/Cargo.toml
  crates/iota-protocol-config/Cargo.toml
  crates/iota-proxy/Cargo.toml
  crates/iota-replay/Cargo.toml
  crates/iota-rest-api/Cargo.toml
  crates/iota-rosetta/Cargo.toml
  crates/iota-sdk/Cargo.toml
  crates/iota-snapshot/Cargo.toml
  crates/iota-source-validation-service/Cargo.toml
  crates/iota-storage/Cargo.toml
  crates/iota-surfer/Cargo.toml
  crates/iota-swarm-config/Cargo.toml
  crates/iota-tool/Cargo.toml
  crates/iota-transaction-checks/Cargo.toml
  crates/iota-transactional-test-runner/Cargo.toml
  crates/iota-types/Cargo.toml
  crates/iota/Cargo.toml
  crates/prometheus-closure-metric/Cargo.toml
  crates/simulacrum/Cargo.toml
  crates/test-cluster/Cargo.toml
  iota-execution/Cargo.toml
  iota-execution/latest/iota-adapter/Cargo.toml
  iota-execution/latest/iota-verifier/Cargo.toml
Labels: sc-platform, dev-tools

#7989 refactor(ci): remove all `protoc` actions from jobs
  .github/workflows/_rust_lints.yml
  .github/workflows/_rust_tests.yml
  .github/workflows/crate_docs.yml
  .github/workflows/release.yml
Labels: sc-platform, infrastructure, ci

#7950 feat(iota): add default envs to new `client.yaml`
  crates/iota-sdk/examples/utils.rs
  crates/iota-sdk/src/iota_client_config.rs
  crates/iota-sdk/src/lib.rs
  crates/iota/src/client_commands.rs
  crates/iota/src/iota_commands.rs
Labels: sc-platform, dev-tools

#7562 fix(docs): change `iotaleger` to `iotaledger`
  docs/content/operator/gas-station/deployment/deployment.mdx
Labels: documentation

#7969 upstream(iota-indexer): chunk to avoid PG parameter limit
  Cargo.lock
  crates/iota-indexer/Cargo.toml
  crates/iota-indexer/src/config.rs
  crates/iota-indexer/src/store/mod.rs
  crates/iota-indexer/src/store/pg_indexer_store.rs
  crates/iota-indexer/src/types.rs
  crates/iota-indexer/tests/ingestion_tests.rs
Labels: sc-platform, infrastructure

#7995 upstream(indexer): add epochs.first_tx_sequence_number
  crates/iota-graphql-e2e-tests/tests/epoch/epoch_start_to_end.move
  crates/iota-graphql-e2e-tests/tests/epoch/epoch_start_to_end.snap
  crates/iota-graphql-rpc/src/types/epoch.rs
  crates/iota-indexer/migrations/pg/2025-07-23-091650_add_epoch_first_tx_sequence_number/down.sql
  crates/iota-indexer/migrations/pg/2025-07-23-091650_add_epoch_first_tx_sequence_number/up.sql
  crates/iota-indexer/src/handlers/checkpoint_handler.rs
  crates/iota-indexer/src/handlers/mod.rs
  crates/iota-indexer/src/models/epoch.rs
  crates/iota-indexer/src/schema.rs
  crates/iota-indexer/src/store/indexer_store.rs
  crates/iota-indexer/src/store/pg_indexer_store.rs
  crates/iota-indexer/src/store/pg_partition_manager.rs
  crates/iota-indexer/src/types.rs
  crates/iota-indexer/tests/rpc-tests/governance_api.rs
Labels: sc-platform, infrastructure

#8015 upstream(node): Remove console-subscriber feature flag
  crates/telemetry-subscribers/Cargo.toml
  crates/telemetry-subscribers/src/lib.rs
Labels: node, core-protocol

#7868 feat(iota-synthetic-ingestion): Add `iota-synthetic-ingestion` application
  .github/CODEOWNERS
  .github/crates-filters.yml
  Cargo.lock
  Cargo.toml
  crates/iota-synthetic-ingestion/Cargo.toml
  crates/iota-synthetic-ingestion/README.md
  crates/iota-synthetic-ingestion/src/lib.rs
  crates/iota-synthetic-ingestion/src/main.rs
  crates/iota-synthetic-ingestion/src/synthetic_ingestion.rs
  crates/iota-types/src/mock_checkpoint_builder.rs
  crates/simulacrum/src/lib.rs
Labels: sc-platform, infrastructure, ci

#7456 feat(iota-core): gas price feedback mechanism for transactions cancelled due to congestion
  Cargo.lock
  Cargo.toml
  crates/iota-benchmark/src/workloads/batch_payment.rs
  crates/iota-benchmark/tests/simtest.rs
  crates/iota-core/src/authority.rs
  crates/iota-core/src/authority/authority_per_epoch_store.rs
  crates/iota-core/src/authority/authority_store.rs
  crates/iota-core/src/authority/authority_store_pruner.rs
  crates/iota-core/src/authority/authority_store_tables.rs
  crates/iota-core/src/authority/shared_object_congestion_tracker.rs
  crates/iota-core/src/authority/shared_object_version_manager.rs
  crates/iota-core/src/authority/suggested_gas_price_calculator.rs
  crates/iota-core/src/lib.rs
  crates/iota-core/src/unit_tests/authority_tests.rs
  crates/iota-core/src/unit_tests/congestion_control_tests.rs
  crates/iota-core/src/unit_tests/data/gas_price_feedback/Move.toml
  crates/iota-core/src/unit_tests/data/gas_price_feedback/sources/gas_price_feedback.move
  crates/iota-core/src/unit_tests/gas_price_feedback_tests.rs
  crates/iota-core/src/unit_tests/transaction_manager_tests.rs
  crates/iota-core/src/unit_tests/transfer_to_object_tests.rs
  crates/iota-core/tests/staged/iota.yaml
  crates/iota-genesis-builder/src/lib.rs
  crates/iota-genesis-builder/src/stardust/migration/migration.rs
  crates/iota-indexer/tests/rpc-tests/read_api.rs
  crates/iota-json-rpc-tests/tests/transaction_builder_api.rs
  crates/iota-open-rpc/spec/openrpc.json
  crates/iota-protocol-config/src/lib.rs
  crates/iota-protocol-config/src/snapshots/iota_protocol_config__test__version_10.snap
  crates/iota-rest-api/openapi/openapi.json
  crates/iota-transaction-checks/src/lib.rs
  crates/iota-types/src/base_types.rs
  crates/iota-types/src/execution_status.rs
  crates/iota-types/src/iota_sdk_types_conversions.rs
  crates/iota-types/src/storage/mod.rs
  crates/iota-types/src/transaction.rs
  crates/iota-types/src/unit_tests/base_types_tests.rs
  crates/iota-types/tests/staged/exec_failure_status.yaml
  iota-execution/latest/iota-adapter/src/execution_engine.rs
  iota-execution/latest/iota-adapter/src/temporary_store.rs
  iota-execution/latest/iota-move-natives/src/object_runtime/object_store.rs
Labels: enhancement, research, core-protocol

#8027 upstream(scripts): add threadstall analyzer script
  scripts/threadstall_analyzer.py
Labels: node, core-protocol

#8026 upstream(core): move `ConsensusCommitOutput` into its own module
  crates/iota-core/src/authority/authority_per_epoch_store.rs
  crates/iota-core/src/authority/consensus_quarantine.rs
  crates/iota-core/src/checkpoints/mod.rs
  crates/iota-core/src/epoch/randomness.rs
Labels: node, core-protocol

#8032 feat(ci): reduce amount of benchmark processes running in parallel in the nightlies
  crates/iota-core/src/epoch/consensus_store_pruner.rs
  scripts/simtest/simtest-run.sh
Labels: node, core-protocol

#8033 upstream(iota-types): extend `CheckpointBuilder` and improve `debug_fatal`
  crates/iota-common/src/logging.rs
  crates/iota-types/src/event.rs
  crates/iota-types/src/test_checkpoint_data_builder.rs
Labels: node, core-protocol

#8029 refactor(consensus): Clean up `BlockVerifier`
  crates/starfish/core/src/authority_node.rs
  crates/starfish/core/src/authority_service.rs
  crates/starfish/core/src/block_manager.rs
  crates/starfish/core/src/block_verifier.rs
  crates/starfish/core/src/core.rs
  crates/starfish/core/src/core_thread.rs
  crates/starfish/core/src/test_dag_builder.rs
  crates/starfish/core/src/tests/randomized_tests.rs
Labels: consensus, core-protocol

#8028 feat(iota-indexer, iota-types, iota-json-rpc-api, iota-graphl-rpc, iota-sdk, ts-sdk): Support `WrappedOrDeletedObject(object_id)` transaction filter feature
  .changeset/brown-ants-play.md
  crates/iota-graphql-e2e-tests/tests/transactions/filters/wrapped_or_deleted.move
  crates/iota-graphql-e2e-tests/tests/transactions/filters/wrapped_or_deleted.snap
  crates/iota-graphql-rpc/schema.graphql
  crates/iota-graphql-rpc/src/types/transaction_block/filter.rs
  crates/iota-graphql-rpc/src/types/transaction_block/tx_lookups.rs
  crates/iota-graphql-rpc/tests/snapshots/snapshot_tests__schema_sdl_export.snap
  crates/iota-indexer/migrations/pg/2025-05-28-174842_index_wrapped_or_deleted_objects/down.sql
  crates/iota-indexer/migrations/pg/2025-05-28-174842_index_wrapped_or_deleted_objects/up.sql
  crates/iota-indexer/schema.md
  crates/iota-indexer/src/apis/indexer_api.rs
  crates/iota-indexer/src/backfill/ingestion/adapter.rs
  crates/iota-indexer/src/backfill/ingestion/jobs/mod.rs
  crates/iota-indexer/src/backfill/ingestion/jobs/tx_wrapped_or_deleted_objects.rs
  crates/iota-indexer/src/backfill/ingestion/mod.rs
  crates/iota-indexer/src/backfill/ingestion/task.rs
  crates/iota-indexer/src/backfill/mod.rs
  crates/iota-indexer/src/backfill/runner.rs
  crates/iota-indexer/src/handlers/checkpoint_handler.rs
  crates/iota-indexer/src/handlers/committer.rs
  crates/iota-indexer/src/handlers/mod.rs
  crates/iota-indexer/src/indexer_reader.rs
  crates/iota-indexer/src/models/tx_indices.rs
  crates/iota-indexer/src/schema.rs
  crates/iota-indexer/src/store/indexer_store.rs
  crates/iota-indexer/src/store/pg_indexer_store.rs
  crates/iota-indexer/src/types.rs
  crates/iota-indexer/tests/rpc-tests/indexer_api.rs
  crates/iota-indexer/tests/rpc-tests/read_api.rs
  crates/iota-json-rpc-api/src/indexer.rs
  crates/iota-json-rpc-tests/tests/routing_tests.rs
  crates/iota-json-rpc-types/src/iota_transaction.rs
  crates/iota-json-rpc/src/indexer_api.rs
  crates/iota-json-rpc/src/routing_layer.rs
  crates/iota-open-rpc/spec/openrpc.json
  crates/iota-sdk/examples/read_api/read_api_transactions.rs
  crates/iota-sdk/src/apis/read.rs
  crates/iota-test-transaction-builder/src/lib.rs
  crates/iota-types/src/effects/mod.rs
  examples/move/simple_warrior/sources/example.move
  sdk/graphql-transport/src/generated/queries.ts
  sdk/typescript/src/client/types/generated.ts
  sdk/typescript/src/graphql/generated/2025.2/schema.graphql
  sdk/typescript/src/graphql/generated/2025.2/tada-env.d.ts
Labels: sc-platform, dev-tools, infrastructure, ts-sdk

#8035 fix(iota-core): use current commit suggested gas price instead of `expect` for previously deferred txs
  crates/iota-core/src/authority/authority_per_epoch_store.rs
Labels: node, research, consensus, core-protocol

#8063 fix(Consensus): transactions missing if parsed
  crates/starfish/core/src/test_dag_builder.rs
Labels: consensus, core-protocol
