Repository iotaledger/iota, pull requests merged in 2025-03, with the labels that each got.

#5617 feat(iota): upgrade errors for struct enum functions
  crates/iota/src/unit_tests/fixtures/upgrade_errors/declaration_errors_v1/Move.toml
  crates/iota/src/unit_tests/fixtures/upgrade_errors/declaration_errors_v1/sources/enum.move
  crates/iota/src/unit_tests/fixtures/upgrade_errors/declaration_errors_v1/sources/func.move
  crates/iota/src/unit_tests/fixtures/upgrade_errors/declaration_errors_v1/sources/struct.move
  crates/iota/src/unit_tests/fixtures/upgrade_errors/declaration_errors_v2/Move.toml
  crates/iota/src/unit_tests/fixtures/upgrade_errors/declaration_errors_v2/sources/enum.move
  crates/iota/src/unit_tests/fixtures/upgrade_errors/declaration_errors_v2/sources/func.move
  crates/iota/src/unit_tests/fixtures/upgrade_errors/declaration_errors_v2/sources/struct.move
  crates/iota/src/unit_tests/fixtures/upgrade_errors/enum_errors_v1/Move.toml
  crates/iota/src/unit_tests/fixtures/upgrade_errors/enum_errors_v1/sources/UpgradeErrors.move
  crates/iota/src/unit_tests/fixtures/upgrade_errors/enum_errors_v2/Move.toml
  crates/iota/src/unit_tests/fixtures/upgrade_errors/enum_errors_v2/sources/UpgradeErrors.move
  crates/iota/src/unit_tests/fixtures/upgrade_errors/function_errors_v1/Move.toml
  crates/iota/src/unit_tests/fixtures/upgrade_errors/function_errors_v1/sources/UpgradeErrors.move
  crates/iota/src/unit_tests/fixtures/upgrade_errors/function_errors_v2/Move.toml
  crates/iota/src/unit_tests/fixtures/upgrade_errors/function_errors_v2/sources/UpgradeErrors.move
  crates/iota/src/unit_tests/fixtures/upgrade_errors/struct_errors_v1/Move.toml
  crates/iota/src/unit_tests/fixtures/upgrade_errors/struct_errors_v1/sources/UpgradeErrors.move
  crates/iota/src/unit_tests/fixtures/upgrade_errors/struct_errors_v2/Move.toml
  crates/iota/src/unit_tests/fixtures/upgrade_errors/struct_errors_v2/sources/UpgradeErrors.move
  crates/iota/src/unit_tests/snapshots/iota__upgrade_compatibility__upgrade_compatibility_tests__declarations_missing.snap
  crates/iota/src/unit_tests/snapshots/iota__upgrade_compatibility__upgrade_compatibility_tests__enum.snap
  crates/iota/src/unit_tests/snapshots/iota__upgrade_compatibility__upgrade_compatibility_tests__function.snap
  crates/iota/src/unit_tests/snapshots/iota__upgrade_compatibility__upgrade_compatibility_tests__struct.snap
  crates/iota/src/unit_tests/upgrade_compatibility_tests.rs
  crates/iota/src/upgrade_compatibility.rs
Labels: sc-platform, dev-tools

#5603 fix(docs): Fix keyscheme flag in getting started
  docs/content/developer/getting-started/get-address.mdx
Labels: documentation, devx

#5604 chore(docs): shorten install guide
  docs/content/developer/getting-started/install-iota.mdx
Labels: documentation, devx

#5595 fix(docs): use ts tag for ts references
  docs/content/developer/standards/kiosk-apps.mdx
  docs/content/developer/standards/kiosk.mdx
  docs/content/developer/tutorials/live-concert.mdx
  docs/content/references/contribute/add-a-quiz.mdx
  docs/content/ts-sdk/typescript/hello-iota.mdx
Labels: documentation, devx

#5723 refactor(move-sdtlib): minimize calls to length in vector functions
  crates/iota-adapter-transactional-tests/tests/programmable/split_coins.exp
  crates/iota-framework-snapshot/bytecode_snapshot/5/0x0000000000000000000000000000000000000000000000000000000000000001
  crates/iota-framework-snapshot/manifest.json
  crates/iota-framework/packages/move-stdlib/sources/vector.move
  crates/iota-framework/packages/move-stdlib/tests/vector_tests.move
  crates/iota-framework/packages_compiled/move-stdlib
  crates/iota-protocol-config/src/lib.rs
Labels: sc-platform, vm-language

#5729 feat: update version to 0.10.1-beta
  Cargo.lock
  Cargo.toml
  crates/iota-graphql-e2e-tests/tests/call/simple.exp
  crates/iota-open-rpc/spec/openrpc.json
Labels: node, core-protocol

#5330 chore(iota)!: Set active env when adding new env if empty
  crates/iota-faucet/src/bin/merge_coins.rs
  crates/iota-faucet/src/faucet/simple_faucet.rs
  crates/iota-json-rpc-tests/tests/indexer_api.rs
  crates/iota-package-management/src/lib.rs
  crates/iota-sdk/examples/utils.rs
  crates/iota-sdk/src/iota_client_config.rs
  crates/iota-sdk/src/wallet_context.rs
  crates/iota/src/client_commands.rs
  crates/iota/src/iota_commands.rs
  crates/iota/src/validator_commands.rs
Labels: sc-platform, dev-tools

#3201 feat(docs): add clt tutorial
  docs/content/developer/standards/closed-loop-token/tutorial.mdx
  docs/content/sidebars/developer.js
  docs/examples/move/clt-tutorial/Move.toml
  docs/examples/move/clt-tutorial/sources/clt_tutorial.move
  docs/examples/move/clt-tutorial/sources/rules.move
  docs/examples/move/clt-tutorial/tests/clt_tutorial_tests.move
Labels: documentation, devx

#5493 feat(consensus): switch to certified vote scoring
  Cargo.toml
  consensus/core/src/commit.rs
  consensus/core/src/core.rs
  consensus/core/src/dag_state.rs
  consensus/core/src/leader_schedule.rs
  consensus/core/src/leader_scoring.rs
  consensus/core/src/leader_scoring_strategy.rs
  consensus/core/src/lib.rs
  consensus/core/src/linearizer.rs
  crates/iota-open-rpc/spec/openrpc.json
  crates/iota-protocol-config/src/lib.rs
  crates/iota-protocol-config/src/snapshots/iota_protocol_config__test__Mainnet_version_6.snap
  crates/iota-protocol-config/src/snapshots/iota_protocol_config__test__Testnet_version_6.snap
  crates/iota-protocol-config/src/snapshots/iota_protocol_config__test__version_6.snap
Labels: consensus, core-protocol

#5637 feat(ts-sdk): update TS SDK after PCR2 changes
  .changeset/clever-crews-explode.md
  apps/explorer/src/hooks/useSearch.ts
  apps/explorer/src/pages/validator/ValidatorDetails.tsx
  apps/wallet-dashboard/app/(protected)/staking/page.tsx
  pnpm-workspace.yaml
  sdk/graphql-transport/codegen.ts
  sdk/graphql-transport/src/generated/queries.ts
  sdk/typescript/graphql/schemas/2024.11/package.json
  sdk/typescript/graphql/schemas/2025.2/package.json
  sdk/typescript/package.json
  sdk/typescript/scripts/update-graphql-schemas.ts
  sdk/typescript/src/client/client.ts
  sdk/typescript/src/client/types/generated.ts
  sdk/typescript/src/client/types/params.ts
  sdk/typescript/src/graphql/generated/2025.2/schema.graphql
  sdk/typescript/src/graphql/generated/2025.2/tada-env.d.ts
  sdk/typescript/src/graphql/generated/2025.2/tsconfig.tada.json
  sdk/typescript/src/graphql/schemas/2025.2/index.ts
  sdk/typescript/src/version.ts
  sdk/typescript/test/e2e/graphql.test.ts
Labels: tooling, ts-sdk, explorer, wallet-dashboard, ci

#5740 fix!: Remove double indirection in `MoveFieldLayout`
  crates/iota-core/src/unit_tests/subscription_handler_tests.rs
  crates/iota-graphql-rpc/src/types/move_value.rs
  crates/iota-json/src/tests.rs
  crates/iota-open-rpc/src/examples.rs
  crates/iota-package-resolver/src/lib.rs
  crates/iota-types/src/balance.rs
  crates/iota-types/src/base_types.rs
  crates/iota-types/src/coin.rs
  crates/iota-types/src/id.rs
  crates/iota-types/src/object/balance_traversal.rs
  crates/iota-types/src/object/bounded_visitor.rs
  external-crates/move/crates/move-bytecode-utils/src/layout.rs
  external-crates/move/crates/move-core-types/src/annotated_value.rs
  external-crates/move/crates/move-core-types/src/unit_tests/value_test.rs
  external-crates/move/crates/move-core-types/src/unit_tests/visitor_test.rs
Labels: sc-platform, dev-tools

#5762 chore: update criterion and use standard timing
  external-crates/move/Cargo.lock
  external-crates/move/Cargo.toml
  external-crates/move/crates/language-benchmarks/Cargo.toml
  external-crates/move/crates/language-benchmarks/benches/criterion.rs
  external-crates/move/crates/language-benchmarks/src/measurement.rs
  external-crates/move/deny.toml
Labels: sc-platform, dev-tools

#5760 chore: Remove unmaintained `derivative` dependency
  Cargo.lock
  external-crates/move/Cargo.lock
  external-crates/move/crates/move-analyzer/Cargo.toml
  external-crates/move/crates/move-analyzer/src/symbols.rs
  external-crates/move/deny.toml
Labels: sc-platform, dev-tools

#5761 chore: Remove unmaintained `difference` dependency
  Cargo.lock
  deny.toml
  external-crates/move/Cargo.lock
  external-crates/move/Cargo.toml
  external-crates/move/crates/move-cli/Cargo.toml
  external-crates/move/crates/move-command-line-common/Cargo.toml
  external-crates/move/crates/move-command-line-common/src/testing.rs
  external-crates/move/deny.toml
Labels: sc-platform, dev-tools

#5730 [iota-indexer]: Use dynamic field visitors in indexer
  crates/iota-indexer/src/handlers/checkpoint_handler.rs
  crates/iota-indexer/src/handlers/committer.rs
  crates/iota-indexer/src/handlers/objects_snapshot_processor.rs
  crates/iota-indexer/src/handlers/tx_processor.rs
  crates/iota-indexer/src/indexer_reader.rs
  crates/iota-indexer/src/models/objects.rs
  crates/iota-indexer/src/store/package_resolver.rs
  crates/iota-indexer/src/types.rs
Labels: sc-platform, infrastructure

#5724 fix(iota-move/docs): Add Conventions as comments to a new package when `iota move new`
  crates/iota-move/src/new.rs
  docs/examples/move/move-overview/conventions/read.move
Labels: sc-platform, vm-language

#5770 fix(db): allow putting larger layer in higher levels
  crates/typed-store/src/rocks/mod.rs
Labels: consensus, core-protocol

#5775 [cherry-pick] fix(db): allow putting larger layer in higher levels
  crates/typed-store/src/rocks/mod.rs
Labels: node, core-protocol

#5779 refactor(docs): add business innovation program to docs
  docs/content/sidebars/about-iota.js
Labels: documentation, devx

#5766 Upgrade errors advanced function signatures (7/N)
  crates/iota/src/unit_tests/fixtures/upgrade_errors/function_errors_v1/sources/UpgradeErrors.move
  crates/iota/src/unit_tests/fixtures/upgrade_errors/function_errors_v2/sources/UpgradeErrors.move
  crates/iota/src/unit_tests/fixtures/upgrade_errors/type_param_errors_v1/sources/UpgradeErrors.move
  crates/iota/src/unit_tests/fixtures/upgrade_errors/type_param_errors_v2/sources/UpgradeErrors.move
  crates/iota/src/unit_tests/snapshots/iota__upgrade_compatibility__upgrade_compatibility_tests__all.snap
  crates/iota/src/unit_tests/snapshots/iota__upgrade_compatibility__upgrade_compatibility_tests__function.snap
  crates/iota/src/unit_tests/snapshots/iota__upgrade_compatibility__upgrade_compatibility_tests__type_param.snap
  crates/iota/src/upgrade_compatibility.rs
Labels: sc-platform, dev-tools

#5782 [cherry-pick]: [iota-indexer]: Use dynamic field visitors in indexer
  crates/iota-indexer/src/handlers/checkpoint_handler.rs
  crates/iota-indexer/src/handlers/committer.rs
  crates/iota-indexer/src/handlers/objects_snapshot_processor.rs
  crates/iota-indexer/src/handlers/tx_processor.rs
  crates/iota-indexer/src/indexer_reader.rs
  crates/iota-indexer/src/models/objects.rs
  crates/iota-indexer/src/store/package_resolver.rs
  crates/iota-indexer/src/types.rs
Labels: node, core-protocol

#5783 [cherry-pick] [indexer]: Introduce Handler trait for objects snapshot creation
  crates/iota-graphql-rpc/src/test_infra/cluster.rs
  crates/iota-indexer/src/errors.rs
  crates/iota-indexer/src/handlers/mod.rs
  crates/iota-indexer/src/handlers/objects_snapshot_handler.rs
  crates/iota-indexer/src/handlers/objects_snapshot_processor.rs
  crates/iota-indexer/src/indexer.rs
  crates/iota-indexer/src/test_utils.rs
  crates/iota-indexer/tests/common/mod.rs
  crates/iota-indexer/tests/ingestion_tests.rs
  crates/iota-transactional-test-runner/src/args.rs
  crates/iota-transactional-test-runner/src/test_adapter.rs
Labels: node, core-protocol

#5667 feat(consensus): Garbage Collection - 1
  consensus/core/src/dag_state.rs
  consensus/core/src/linearizer.rs
  crates/iota-open-rpc/spec/openrpc.json
  crates/iota-protocol-config/src/lib.rs
Labels: consensus, core-protocol

#5668 feat(consensus): Gargabe Collection - 2
  consensus/core/src/authority_node.rs
  consensus/core/src/block_manager.rs
  consensus/core/src/block_verifier.rs
  consensus/core/src/core.rs
  consensus/core/src/metrics.rs
  consensus/core/src/subscriber.rs
Labels: consensus, core-protocol

#5671 feat(consensus): dag state to evict blocks based on gc round
  consensus/core/src/authority_node.rs
  consensus/core/src/base_committer.rs
  consensus/core/src/dag_state.rs
  consensus/core/src/leader_schedule.rs
  consensus/core/src/leader_scoring.rs
  consensus/core/src/linearizer.rs
  consensus/core/src/test_dag_builder.rs
Labels: consensus, core-protocol

#5491 Simplify CI by merging jobs/workflows
  .config/nextest.toml
  .config/nextest_external.toml
  .github/actions/diffs/action.yml
  .github/workflows/_external_rust_tests.yml
  .github/workflows/_move_examples_rdeps_tests.yml
  .github/workflows/_rosetta.yml
  .github/workflows/_rust.yml
  .github/workflows/_rust_examples.yml
  .github/workflows/_rust_lints.yml
  .github/workflows/_rust_tests.yml
  .github/workflows/cargo_llvm_cov.yml
  .github/workflows/hierarchy.yml
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  .github/workflows/release_move_ide.yml
  crates/iota-network/src/discovery/tests.rs
  scripts/ci_tests/rust_tests.sh
Labels: node, core-protocol, ci

#5733 [`iota-data-ingestion-core`]: update README.md
  crates/iota-data-ingestion-core/README.md
Labels: sc-platform, infrastructure

#5792 fix(core-node): Resolve nodes catching up issues by applying upstream changes
  crates/iota-core/src/authority/authority_per_epoch_store.rs
  crates/iota-core/src/checkpoints/checkpoint_executor/mod.rs
  crates/iota-core/src/consensus_adapter.rs
  crates/iota-core/src/unit_tests/authority_per_epoch_store_tests.rs
  crates/iota-core/src/unit_tests/consensus_tests.rs
  crates/iota-core/src/unit_tests/transaction_tests.rs
Labels: node, core-protocol

#5797 [cherry-pick] fix(core-node): Resolve nodes catching up issues by applying upstream changes
  crates/iota-core/src/authority/authority_per_epoch_store.rs
  crates/iota-core/src/checkpoints/checkpoint_executor/mod.rs
  crates/iota-core/src/consensus_adapter.rs
  crates/iota-core/src/unit_tests/authority_per_epoch_store_tests.rs
  crates/iota-core/src/unit_tests/consensus_tests.rs
  crates/iota-core/src/unit_tests/transaction_tests.rs
Labels: node, core-protocol

#5812 fix(apps-core): Bring back fallback coin symbol to `useFormatCoin` hook
  apps/core/src/hooks/useFormatCoin.ts
Labels: tooling

#5810 fix(iota-framework): `iota::object::delete` documentation comment
  crates/iota-framework/packages/iota-framework/sources/object.move
Labels: sc-platform, vm-language

#5815 bug(ci): Fix `CI_CHANGED_CRATES` export and `testOnlyChangedCrates` data type
  .github/workflows/_rust_tests.yml
  scripts/ci_tests/rust_tests.sh
Labels: sc-platform, infrastructure, ci

#5735 [`iota-data-ingestion-core`]: add rust doc for `Worker`, `Reducer` and other public components
  crates/iota-data-ingestion-core/src/executor.rs
  crates/iota-data-ingestion-core/src/lib.rs
  crates/iota-data-ingestion-core/src/progress_store/file.rs
  crates/iota-data-ingestion-core/src/progress_store/mod.rs
  crates/iota-data-ingestion-core/src/reader.rs
  crates/iota-data-ingestion-core/src/reducer.rs
  crates/iota-data-ingestion-core/src/tests.rs
  crates/iota-data-ingestion-core/src/util.rs
  crates/iota-data-ingestion-core/src/worker_pool.rs
Labels: sc-platform, infrastructure

#5803 [graphql-e2e-tests]: Fix failing wrap_unwrap test
  crates/iota-graphql-e2e-tests/tests/objects/wrap_unwrap.exp
Labels: sc-platform, infrastructure

#5821 ci: fix array passing of changed_crates
  .github/workflows/_rust_tests.yml
  scripts/ci_tests/rust_tests.sh
Labels: node, core-protocol, ci

#5707 feat(consensus): resubmit gc-transaction
  consensus/core/src/core.rs
  consensus/core/src/lib.rs
  consensus/core/src/test_dag_builder.rs
  consensus/core/src/transaction.rs
  crates/iota-core/src/consensus_adapter.rs
  crates/iota-core/src/consensus_manager/mod.rs
  crates/iota-core/src/epoch/randomness.rs
  crates/iota-core/src/mock_consensus.rs
  crates/iota-core/src/mysticeti_adapter.rs
  crates/iota-core/src/unit_tests/consensus_tests.rs
  crates/iota-core/src/unit_tests/execution_driver_tests.rs
  crates/iota-core/src/unit_tests/transaction_tests.rs
  crates/iota-node/src/lib.rs
Labels: consensus, core-protocol

#5827 feat: update version to 0.10.3-rc
  Cargo.lock
  Cargo.toml
  crates/iota-open-rpc/spec/openrpc.json
Labels: node, core-protocol

#5745 fix(`iota-rest-kv`): add `SIGTERM` signal unix only
  crates/iota-rest-kv/src/main.rs
Labels: sc-platform, infrastructure

#5756 refactor!(iota-data-ingestion-core): use `Arc<CheckpointData>` for `Worker` trait
  crates/iota-analytics-indexer/src/analytics_processor.rs
  crates/iota-analytics-indexer/src/handlers/checkpoint_handler.rs
  crates/iota-analytics-indexer/src/handlers/df_handler.rs
  crates/iota-analytics-indexer/src/handlers/event_handler.rs
  crates/iota-analytics-indexer/src/handlers/move_call_handler.rs
  crates/iota-analytics-indexer/src/handlers/object_handler.rs
  crates/iota-analytics-indexer/src/handlers/package_handler.rs
  crates/iota-analytics-indexer/src/handlers/transaction_handler.rs
  crates/iota-analytics-indexer/src/handlers/transaction_objects_handler.rs
  crates/iota-analytics-indexer/src/handlers/wrapped_object_handler.rs
  crates/iota-analytics-indexer/src/lib.rs
  crates/iota-data-ingestion-core/src/executor.rs
  crates/iota-data-ingestion-core/src/lib.rs
  crates/iota-data-ingestion-core/src/tests.rs
  crates/iota-data-ingestion-core/src/worker_pool.rs
  crates/iota-data-ingestion/src/workers/archival.rs
  crates/iota-data-ingestion/src/workers/blob.rs
  crates/iota-data-ingestion/src/workers/kv_store.rs
  crates/iota-indexer-builder/src/iota_datasource.rs
  crates/iota-indexer/src/handlers/checkpoint_handler.rs
  crates/iota-indexer/src/handlers/objects_snapshot_handler.rs
  examples/custom-indexer/rust/local_reader.rs
  examples/custom-indexer/rust/remote_reader.rs
Labels: sc-platform, infrastructure

#5757 [`iota-data-ingestion-core`]: update `README.md`
  crates/iota-data-ingestion-core/README.md
Labels: sc-platform, infrastructure

#5828 fix(script): Fix `track_upstream_commits` script and README error
  scripts/track_upstream_commits/README.md
  scripts/track_upstream_commits/track_upstream_commits.py
Labels: node, core-protocol

#5831 Upgrade errors formatting positional fields, nested fields, named fields on enums
  crates/iota/src/unit_tests/fixtures/upgrade_errors/enum_errors_v1/sources/UpgradeErrors.move
  crates/iota/src/unit_tests/fixtures/upgrade_errors/enum_errors_v2/sources/UpgradeErrors.move
  crates/iota/src/unit_tests/fixtures/upgrade_errors/struct_errors_v1/sources/UpgradeErrors.move
  crates/iota/src/unit_tests/fixtures/upgrade_errors/struct_errors_v2/sources/UpgradeErrors.move
  crates/iota/src/unit_tests/snapshots/iota__upgrade_compatibility__upgrade_compatibility_tests__enum.snap
  crates/iota/src/unit_tests/snapshots/iota__upgrade_compatibility__upgrade_compatibility_tests__struct.snap
  crates/iota/src/upgrade_compatibility.rs
Labels: sc-platform, dev-tools

#5839 chore: run all tests on the x64 runners due to different timeout behaviours making some tests flaky
  .github/workflows/_rust_tests.yml
  .github/workflows/_split_cluster.yml
Labels: node, core-protocol, ci

#5843 ci: ignore indexer rpc tests in nextest run
  .config/nextest.toml
  scripts/ci_tests/rust_tests.sh
Labels: node, core-protocol

#5648 fix(iota-indexer): Filter `move_call_metrics` based on latest epoch
  crates/iota-indexer/src/indexer_reader.rs
  crates/iota-indexer/src/models/move_call_metrics.rs
Labels: sc-platform, infrastructure

#5773 fix(docs): challenge 1 address
  docs/content/developer/iota-move-ctf/challenge_1.mdx
Labels: documentation, devx

#5842 feat(wallet-dashboard): add metadata info
  apps/wallet-dashboard/app/favicon.ico
  apps/wallet-dashboard/app/layout.tsx
  apps/wallet-dashboard/public/metadata-image.png
  apps/wallet-dashboard/public/next.svg
  apps/wallet-dashboard/public/vercel.svg
Labels: tooling, wallet-dashboard

#5825 feat(iota): format missing module errors in upgrade errors
  crates/iota/src/unit_tests/fixtures/upgrade_errors/missing_module_toml/addresses_first/Move.toml
  crates/iota/src/unit_tests/fixtures/upgrade_errors/missing_module_toml/emoji/Move.toml
  crates/iota/src/unit_tests/fixtures/upgrade_errors/missing_module_toml/empty/Move.toml
  crates/iota/src/unit_tests/fixtures/upgrade_errors/missing_module_toml/package_no_name/Move.toml
  crates/iota/src/unit_tests/fixtures/upgrade_errors/missing_module_toml/starts_second_line/Move.toml
  crates/iota/src/unit_tests/fixtures/upgrade_errors/missing_module_toml/whitespace/Move.toml
  crates/iota/src/unit_tests/snapshots/iota__upgrade_compatibility__upgrade_compatibility_tests__addresses_first.snap
  crates/iota/src/unit_tests/snapshots/iota__upgrade_compatibility__upgrade_compatibility_tests__declarations_missing.snap
  crates/iota/src/unit_tests/snapshots/iota__upgrade_compatibility__upgrade_compatibility_tests__emoji.snap
  crates/iota/src/unit_tests/snapshots/iota__upgrade_compatibility__upgrade_compatibility_tests__empty.snap
  crates/iota/src/unit_tests/snapshots/iota__upgrade_compatibility__upgrade_compatibility_tests__package_no_name.snap
  crates/iota/src/unit_tests/snapshots/iota__upgrade_compatibility__upgrade_compatibility_tests__starts_second_line.snap
  crates/iota/src/unit_tests/snapshots/iota__upgrade_compatibility__upgrade_compatibility_tests__whitespace.snap
  crates/iota/src/unit_tests/upgrade_compatibility_tests.rs
  crates/iota/src/upgrade_compatibility.rs
  dprint.json
Labels: sc-platform, dev-tools

#5859 fix(graphql-e2e-tests): bump protocol version and update baselines
  crates/iota-graphql-e2e-tests/tests/call/simple.exp
  crates/iota-graphql-e2e-tests/tests/call/simple.move
  crates/iota-graphql-e2e-tests/tests/consistency/epochs/checkpoints.move
  crates/iota-graphql-e2e-tests/tests/consistency/epochs/transaction_blocks.exp
  crates/iota-graphql-e2e-tests/tests/consistency/epochs/transaction_blocks.move
  crates/iota-graphql-e2e-tests/tests/consistency/staked_iota.exp
  crates/iota-graphql-e2e-tests/tests/consistency/staked_iota.move
  crates/iota-graphql-e2e-tests/tests/datetime/datetime.move
  crates/iota-graphql-e2e-tests/tests/epoch/epoch.exp
  crates/iota-graphql-e2e-tests/tests/epoch/epoch.move
  crates/iota-graphql-e2e-tests/tests/epoch/system_state.exp
  crates/iota-graphql-e2e-tests/tests/epoch/system_state.move
  crates/iota-graphql-e2e-tests/tests/objects/filter_by_type.exp
  crates/iota-graphql-e2e-tests/tests/objects/filter_by_type.move
  crates/iota-graphql-e2e-tests/tests/objects/staked_iota.exp
  crates/iota-graphql-e2e-tests/tests/objects/staked_iota.move
  crates/iota-graphql-e2e-tests/tests/transaction_block_effects/balance_changes.exp
  crates/iota-graphql-e2e-tests/tests/transaction_block_effects/balance_changes.move
  crates/iota-graphql-e2e-tests/tests/transactions/system.exp
  crates/iota-graphql-e2e-tests/tests/transactions/system.move
  crates/iota-graphql-e2e-tests/tests/validator/validator.move
Labels: sc-platform, infrastructure

#5856 chore(pnpm): update axios version
  .changeset/angry-tips-invite.md
  apps/wallet/package.json
  docs/site/package.json
  pnpm-lock.yaml
  sdk/ledgerjs-hw-app-iota/package.json
Labels: tooling, wallet, ts-sdk

#5864 scripts: make slipstream compatible with v1.43.1
  scripts/slipstream/config_slipstream.json
  scripts/slipstream/patches/copyright.patch
  scripts/slipstream/patches/v1.42.0/copyright.patch
  scripts/slipstream/run.sh
Labels: node, core-protocol

#5841 chore(ci): remove `deny` from pushes to develop
  .github/workflows/_rust.yml
Labels: sc-platform, dev-tools, ci

#5804 fix: Unify `--version` output for CLIs
  Cargo.lock
  crates/iota-faucet/Cargo.toml
  crates/iota-faucet/src/main.rs
  crates/iota-graphql-rpc/src/commands.rs
  crates/iota-graphql-rpc/src/main.rs
  crates/iota-indexer/Cargo.toml
  crates/iota-indexer/src/main.rs
Labels: sc-platform, dev-tools

#5858 chore: Update ring 0.17 and ignore some RUSTSEC audits
  Cargo.lock
  deny.toml
  external-crates/move/deny.toml
Labels: sc-platform, dev-tools

#5769 refactor(docs): review staking and rewards page
  docs/content/about-iota/iota-architecture/staking-rewards.mdx
Labels: documentation, devx

#5751 refactor(ci): decouple turborepo nightly CI from main nightly job and minor fixes
  .github/workflows/_e2e.yml
  .github/workflows/nightly.yml
  .github/workflows/turbo_nightly.yml
Labels: tooling, wallet, ci

#5878 fix(tooling-ci): Add back `isRpc` diff check for kiosk e2e tests
  .github/workflows/_e2e.yml
Labels: tooling, ci

#5834 fix(wallet): Show mnemonic validation errors if all words have been put
  apps/wallet/src/ui/app/components/accounts/ImportRecoveryPhraseForm.tsx
Labels: tooling, wallet

#5776 fix(iota-framework/packages/bridge): format by using the move-prettier plugin and keep 1 module per `.move` file
  crates/iota-framework/packages/bridge/sources/bridge.move
  crates/iota-framework/packages/bridge/sources/chain_ids.move
  crates/iota-framework/packages/bridge/sources/committee.move
  crates/iota-framework/packages/bridge/sources/crypto.move
  crates/iota-framework/packages/bridge/sources/limiter.move
  crates/iota-framework/packages/bridge/sources/message.move
  crates/iota-framework/packages/bridge/sources/message_types.move
  crates/iota-framework/packages/bridge/sources/treasury.move
  crates/iota-framework/packages/bridge/tests/bridge_env.test.move
  crates/iota-framework/packages/bridge/tests/bridge_tests.move
  crates/iota-framework/packages/bridge/tests/bridge_txns.move
  crates/iota-framework/packages/bridge/tests/btc.test.move
  crates/iota-framework/packages/bridge/tests/committee_test.move
  crates/iota-framework/packages/bridge/tests/eth.test.move
  crates/iota-framework/packages/bridge/tests/limiter_tests.move
  crates/iota-framework/packages/bridge/tests/message_tests.move
  crates/iota-framework/packages/bridge/tests/test_token.test.move
  crates/iota-framework/packages/bridge/tests/usdc.test.move
  crates/iota-framework/packages/bridge/tests/usdt.test.move
Labels: documentation, sc-platform, vm-language, ts-sdk, explorer, wallet-dashboard

#5847 feat(explorer): update validator data based on on/off fixed gas price feature flag
  apps/apps-backend/src/features/features.controller.ts
  apps/apps-backend/types/iota-core.d.ts
  apps/core/src/enums/features.enums.ts
  apps/explorer/src/components/validator/ValidatorStats.tsx
  apps/explorer/src/pages/epochs/EpochDetail.tsx
  apps/explorer/src/pages/epochs/stats/ValidatorStatus.tsx
  apps/explorer/src/pages/validators/Validators.tsx
Labels: tooling, explorer, apps-backend

#5427 refactor(wallet/dashboard): improve gas budget estimation
  apps/core/src/hooks/stake/index.ts
  apps/core/src/hooks/stake/useNewStakeTransaction.ts
  apps/core/src/hooks/stake/useNewUnstakeTransaction.ts
  apps/core/src/hooks/stake/useStakingGasBudgetEstimation.ts
  apps/core/src/hooks/useAssetGasBudgetEstimation.ts
  apps/core/src/utils/stake/createValidationSchema.ts
  apps/core/src/utils/transaction/getGasSummary.ts
  apps/wallet-dashboard/components/dialogs/migration/views/ConfirmMigrationView.tsx
  apps/wallet-dashboard/components/dialogs/staking/StakeDialog.tsx
  apps/wallet-dashboard/components/dialogs/staking/views/EnterAmountDialogLayout.tsx
  apps/wallet-dashboard/components/dialogs/staking/views/EnterAmountView.tsx
  apps/wallet-dashboard/components/dialogs/staking/views/EnterTimelockedAmountView.tsx
  apps/wallet-dashboard/components/dialogs/unstake/views/UnstakeView.tsx
  apps/wallet-dashboard/hooks/index.ts
  apps/wallet-dashboard/hooks/useMigrationTransaction.ts
  apps/wallet-dashboard/hooks/useNewStakeTimelockedTransaction.ts
  apps/wallet-dashboard/hooks/useNewUnstakeTimelockedTransaction.ts
  apps/wallet/src/ui/app/hooks/useTransactionData.ts
  apps/wallet/src/ui/app/staking/stake/StakeForm.tsx
  apps/wallet/src/ui/app/staking/stake/StakingCard.tsx
  apps/wallet/src/ui/app/staking/stake/UnstakeForm.tsx
Labels: tooling, wallet, wallet-dashboard

#5838 feat(consensus): port sui http crate
  .github/CODEOWNERS
  .github/crates-filters.yml
  Cargo.lock
  Cargo.toml
  crates/iota-http/Cargo.toml
  crates/iota-http/src/body.rs
  crates/iota-http/src/config.rs
  crates/iota-http/src/connection_handler.rs
  crates/iota-http/src/connection_info.rs
  crates/iota-http/src/fuse.rs
  crates/iota-http/src/io.rs
  crates/iota-http/src/lib.rs
  crates/iota-http/src/listener.rs
Labels: consensus, core-protocol, ci

#5879 feat(tooling-ci): Report turborepo nightly failures to slack
  .github/workflows/develop_ci_slack_report.yml
Labels: tooling, ci

#5837 fix(tooling-ui): darkmode accuracy with figma designs
  .changeset/fuzzy-rabbits-carry.md
  apps/ui-kit/src/lib/components/molecules/input/input.classes.ts
  apps/wallet-dashboard/app/globals.css
Labels: tooling, apps-ui-kit, wallet-dashboard

#5852 feat(apps-ui-kit): fix tooltip
  .changeset/sixty-points-itch.md
  apps/ui-kit/src/lib/components/atoms/tooltip/Tooltip.tsx
  apps/wallet-dashboard/components/migration/migration-object-details-card/MigrationObjectDetailsCard.tsx
Labels: tooling, apps-ui-kit, wallet-dashboard

#5863 feat(explorer): navigate to search result on enter
  .changeset/pink-dogs-scream.md
  apps/explorer/src/components/module/PkgModulesWrapper.tsx
  apps/ui-kit/src/lib/components/molecules/search/Search.tsx
Labels: tooling, apps-ui-kit, explorer

#5886 fix: allow unstaking from validator candidates in the same epoch that was staked
  crates/iota-framework-snapshot/bytecode_snapshot/5/0x0000000000000000000000000000000000000000000000000000000000000003
  crates/iota-framework-snapshot/manifest.json
  crates/iota-framework/packages/iota-system/sources/staking_pool.move
  crates/iota-framework/packages/iota-system/tests/delegation_tests.move
  crates/iota-framework/packages/iota-system/tests/timelocked_delegation_tests.move
  crates/iota-framework/packages_compiled/iota-system
  crates/iota-graphql-e2e-tests/tests/call/simple.exp
  crates/iota-graphql-e2e-tests/tests/consistency/epochs/transaction_blocks.exp
  crates/iota-graphql-e2e-tests/tests/consistency/staked_iota.exp
  crates/iota-graphql-e2e-tests/tests/epoch/epoch.exp
  crates/iota-graphql-e2e-tests/tests/epoch/system_state.exp
  crates/iota-graphql-e2e-tests/tests/objects/filter_by_type.exp
  crates/iota-graphql-e2e-tests/tests/objects/staked_iota.exp
  crates/iota-graphql-e2e-tests/tests/transaction_block_effects/balance_changes.exp
  crates/iota-graphql-e2e-tests/tests/transactions/system.exp
  crates/iota-swarm-config/tests/snapshots/snapshot_tests__populated_genesis_snapshot_matches-2.snap
Labels: vm-language, node, core-protocol

#5619 refactor(tooling-apps): Deduplicate `useRecognizedPackages` hook
  apps/core/src/hooks/index.ts
  apps/core/src/hooks/useNetwork.ts
  apps/core/src/hooks/useRecognizedPackages.ts
  apps/core/src/hooks/useSortedCoinsByCategories.ts
  apps/explorer/src/components/owned-coins/OwnedCoins.tsx
  apps/explorer/src/hooks/useResolveVideo.ts
  apps/explorer/src/pages/transaction-result/TransactionData.tsx
  apps/explorer/src/pages/transaction-result/TransactionView.tsx
  apps/explorer/src/pages/transaction-result/transaction-summary/index.tsx
  apps/wallet-dashboard/components/dialogs/transaction/TransactionDetailsLayout.tsx
  apps/wallet/src/ui/app/components/receipt-card/index.tsx
  apps/wallet/src/ui/app/components/transactions-card/index.tsx
  apps/wallet/src/ui/app/hooks/index.ts
  apps/wallet/src/ui/app/hooks/usePinnedCoinTypes.ts
  apps/wallet/src/ui/app/hooks/useRecognizedPackages.ts
  apps/wallet/src/ui/app/hooks/useResolveVideo.ts
  apps/wallet/src/ui/app/pages/approval-request/transaction-request/index.tsx
  apps/wallet/src/ui/app/pages/home/tokens/MyTokens.tsx
Labels: tooling, wallet, explorer, wallet-dashboard

#5774 chore(wallet): Remove unused deps
  apps/wallet/package.json
  apps/wallet/src/ui/index.tsx
  pnpm-lock.yaml
Labels: tooling, wallet

#5822 feat(wallet): add expand view to wallet settings
  .changeset/smart-rice-sort.md
  apps/ui-icons/src/CheckmarkFilled.tsx
  apps/ui-icons/src/Expand.tsx
  apps/ui-icons/src/Stake.tsx
  apps/ui-icons/src/StarHex.tsx
  apps/ui-icons/src/Tokens.tsx
  apps/ui-icons/src/Vesting.tsx
  apps/ui-icons/src/VisibilityOff.tsx
  apps/ui-icons/src/VisibilityOn.tsx
  apps/ui-icons/src/index.ts
  apps/ui-icons/svgrrc.config.js
  apps/ui-icons/svgs/checkmark_filled.svg
  apps/ui-icons/svgs/copy.svg
  apps/ui-icons/svgs/create.svg
  apps/ui-icons/svgs/dash.svg
  apps/ui-icons/svgs/exclamation.svg
  apps/ui-icons/svgs/expand.svg
  apps/ui-icons/svgs/iota-logo-web.svg
  apps/ui-icons/svgs/stake.svg
  apps/ui-icons/svgs/star_hex.svg
  apps/ui-icons/svgs/tokens.svg
  apps/ui-icons/svgs/vesting.svg
  apps/ui-icons/svgs/visibility_off.svg
  apps/ui-icons/svgs/visibility_on.svg
  apps/ui-icons/svgs/warning.svg
  apps/wallet-dashboard/app/(protected)/migration/page.tsx
  apps/wallet/src/ui/app/components/menu/content/WalletSettingsMenuList.tsx
  apps/wallet/src/ui/app/redux/slices/app/appType.ts
  apps/wallet/src/ui/app/redux/slices/app/index.ts
  apps/wallet/src/ui/index.tsx
Labels: tooling, wallet, wallet-dashboard

#5917 hotfix(wallet): toast position for '/dapp/approve' path
  apps/wallet/src/ui/app/shared/toaster/index.tsx
Labels: tooling, wallet

#5920 chore(wallet): bump to v0.6.0
  apps/wallet/package.json
Labels: wallet

#5915 fix(walletdashboard): allow custom virtual item keys
  apps/wallet-dashboard/components/VirtualList.tsx
  apps/wallet-dashboard/components/dialogs/migration/views/ConfirmMigrationView.tsx
  apps/wallet-dashboard/components/migration/MigrationObjectsPanel.tsx
  apps/wallet-dashboard/components/transactions/TransactionsList.tsx
Labels: tooling, wallet-dashboard

#5921 fix(wallet-dasboard): disabled feature flag showing up in sidebar
  apps/wallet-dashboard/app/(protected)/components/sidebar/Sidebar.tsx
Labels: tooling, wallet-dashboard

#5887 feat(sdk): remove license from examples
  .changeset/witty-buttons-fold.md
  linting/.eslintrc.precommit.js
  sdk/create-dapp/templates/react-client-dapp/src/main.tsx
  sdk/create-dapp/templates/react-e2e-counter/src/App.tsx
  sdk/create-dapp/templates/react-e2e-counter/src/Counter.tsx
  sdk/create-dapp/templates/react-e2e-counter/src/networkConfig.ts
Labels: tooling, ts-sdk

#5925 refactor(data-ingestion): add RelayWorker
  crates/iota-data-ingestion/src/bin/archival_ingestion.rs
  crates/iota-data-ingestion/src/lib.rs
  crates/iota-data-ingestion/src/main.rs
  crates/iota-data-ingestion/src/workers/archival.rs
  crates/iota-data-ingestion/src/workers/mod.rs
  crates/iota-data-ingestion/src/workers/relay.rs
Labels: sc-platform, infrastructure

#5771 refactor(ts-sdk): Use built node path for kiosk e2e tests
  sdk/kiosk/test/e2e/setup.ts
Labels: tooling, ts-sdk

#5736 refactor(ts-sdk): Use rpc `getChainIdentifier`
  .changeset/little-teachers-ring.md
  sdk/typescript/src/client/client.ts
Labels: tooling, ts-sdk

#5692 [iota-graphql-rpc]: Use dynamic field visitors in graphql rpc
  crates/iota-graphql-rpc/src/types/dynamic_field.rs
Labels: sc-platform, infrastructure

#5892 fix(CI): Use grep instead of cut to extract toolchain
  .github/workflows/cargo_llvm_cov.yml
Labels: sc-platform, dev-tools, ci

#5855 refactor(iota-data-ingestion): store `CheckpointContents` in DynamoDB
  crates/iota-data-ingestion/src/workers/kv_store.rs
Labels: sc-platform, infrastructure

#5844 refactor(dashboard): cleanup epoch time hooks returning different types
  apps/wallet-dashboard/components/migration/migration-object-details-card/MigrationObjectDetailsCard.tsx
  apps/wallet-dashboard/hooks/useGetCurrentEpochStartTimestamp.ts
  apps/wallet-dashboard/hooks/useGetStardustMigratableObjects.ts
  apps/wallet-dashboard/hooks/useGroupedStardustObjects.ts
Labels: tooling, wallet-dashboard

#5845 feat(wallet): allow importing mnemonics with length 12 and 24
  apps/wallet/src/ui/app/components/accounts/ImportRecoveryPhraseForm.tsx
  apps/wallet/tests/onboarding.spec.ts
  apps/wallet/tests/utils/auth.ts
Labels: tooling, wallet

#5918 fix(wallet, dapp-kit): overflow issues with small screens
  .changeset/fair-tomatoes-remain.md
  apps/ui-kit/src/lib/components/organisms/dialog/Dialog.tsx
  apps/wallet/src/ui/styles/global.scss
  sdk/dapp-kit/src/components/connect-modal/views/ConnectionStatus.css.ts
  sdk/dapp-kit/src/components/connect-modal/views/GettingStarted.css.ts
  sdk/dapp-kit/src/components/connect-modal/views/WhatIsAWallet.css.ts
  sdk/dapp-kit/src/components/connect-modal/wallet-list/WalletList.css.ts
Labels: tooling, apps-ui-kit, wallet, ts-sdk

#5894 chore(explorer): Polish UI
  apps/explorer/src/components/owned-objects/ThumbnailsView.tsx
  apps/explorer/src/pages/transaction-result/transaction-summary/ObjectChanges.tsx
Labels: tooling, explorer

#5683 Add contract addresses
  docs/content/iota-evm/getting-started/contracts.mdx
  docs/site/src/components/constant.tsx
Labels: documentation, dx-documentation, devx

#5680 Update blast api
  docs/content/iota-evm/getting-started/tools.mdx
  docs/content/iota-evm/references/json-rpc-spec.md
  docs/content/iota-evm/tools/blastAPI.md
  docs/content/iota-evm/tools/rpcProviders.md
  docs/content/iota-evm/tools/subgraphs.md
  docs/content/sidebars/iota-evm.js
  docs/site/src/components/NetworkInfo/index.tsx
  docs/site/src/components/constant.tsx
Labels: documentation, dx-documentation, devx

#5935 fix: renamed `subscriber_to` metric to `subscribed_to` due to typo
  consensus/core/src/metrics.rs
  consensus/core/src/subscriber.rs
Labels: node, core-protocol

#5936 feat(dashboard):improve activity list
  apps/wallet-dashboard/components/coins/MyCoins.tsx
  apps/wallet-dashboard/components/transactions/TransactionsList.tsx
  apps/wallet-dashboard/components/transactions/TransactionsOverview.tsx
Labels: tooling, wallet-dashboard

#5875 refactor(iota-rest-kv): fetch `CheckpointContents` from DynamoDB
  crates/iota-rest-kv/src/kv_store_client.rs
Labels: sc-platform, infrastructure

#5854 feat(consensus): remove PeerState from CommitSyncer
  consensus/core/src/commit_syncer.rs
  consensus/core/src/error.rs
  consensus/core/src/metrics.rs
Labels: research, consensus, core-protocol

#5862 refactor(docs): review iota security page
  docs/content/about-iota/iota-architecture/iota-security.mdx
Labels: documentation, devx

#5954 feat(consensus): garbage collector fix tests and snapshots
  crates/iota-core/src/unit_tests/consensus_tests.rs
  crates/iota-open-rpc/spec/openrpc.json
  crates/iota-protocol-config/src/snapshots/iota_protocol_config__test__Mainnet_version_6.snap
  crates/iota-protocol-config/src/snapshots/iota_protocol_config__test__Testnet_version_6.snap
  crates/iota-protocol-config/src/snapshots/iota_protocol_config__test__version_6.snap
  crates/iota-swarm-config/tests/snapshots/snapshot_tests__populated_genesis_snapshot_matches-2.snap
Labels: consensus, core-protocol

#5616 feat(consensus): update telemetry
  Cargo.lock
  consensus/core/src/network/tonic_network.rs
  crates/telemetry-subscribers/Cargo.toml
  crates/telemetry-subscribers/src/file_exporter.rs
  crates/telemetry-subscribers/src/lib.rs
Labels: consensus, core-protocol

#4183 Add Identity Wasm docs
  docs/content/iota-identity/contribute.mdx
  docs/content/iota-identity/explanations/about-identity-objects.mdx
  docs/content/iota-identity/explanations/decentralized-identifiers.mdx
  docs/content/iota-identity/explanations/verifiable-credentials.mdx
  docs/content/iota-identity/getting-started/local-network-setup.mdx
  docs/content/iota-identity/getting-started/rust.mdx
  docs/content/iota-identity/getting-started/wasm.mdx
  docs/content/iota-identity/how-tos/decentralized-identifiers/create.mdx
  docs/content/iota-identity/how-tos/decentralized-identifiers/delete.mdx
  docs/content/iota-identity/how-tos/decentralized-identifiers/resolve.mdx
  docs/content/iota-identity/how-tos/decentralized-identifiers/update.mdx
  docs/content/iota-identity/how-tos/domain-linkage/create-and-verify.mdx
  docs/content/iota-identity/how-tos/key-storage.mdx
  docs/content/iota-identity/how-tos/verifiable-credentials/create.mdx
  docs/content/iota-identity/how-tos/verifiable-credentials/revocation.mdx
  docs/content/iota-identity/how-tos/verifiable-credentials/selective-disclosure.mdx
  docs/content/iota-identity/how-tos/verifiable-credentials/zero-knowledge-selective-disclosure.mdx
  docs/content/iota-identity/how-tos/verifiable-presentations/create-and-validate.mdx
  docs/content/iota-identity/index.mdx
  docs/content/references/iota-identity/wasm/api_ref.md
  docs/content/sidebars/identity.js
  docs/site/scripts/get-iota-identity-references.sh
Labels: documentation, identity

#5971 fix(devx)- Fix identity wasm api ref
  docs/content/references/.gitignore
  docs/content/sidebars/identity.js
  docs/content/sidebars/references.js
  docs/site/package.json
  docs/site/scripts/get-iota-identity-references.sh
Labels: documentation, devx

#5973 fix(devx): Fix remark math config in docs
  docs/content/about-iota/tokenomics/proof-of-stake.mdx
  docs/site/docusaurus.config.js
Labels: documentation, devx

#5433 chore(CI): Update homebrew formula on release
  .github/workflows/release.yml
  scripts/homebrew/pr_template.md
  scripts/homebrew/template
  scripts/homebrew/update_formula.sh
Labels: sc-platform, dev-tools, ci

#5926 fix(docs): Use two $ signs for latex syntax
  docs/content/about-iota/tokenomics/proof-of-stake.mdx
  docs/content/about-iota/tokenomics/validators-staking.mdx
  docs/site/docusaurus.config.js
Labels: documentation, devx

#5905 feat(consensus): add vendored version of grpc timeout
  Cargo.lock
  Cargo.toml
  crates/iota-network-stack/Cargo.toml
  crates/iota-network-stack/src/grpc_timeout.rs
  crates/iota-network-stack/src/lib.rs
Labels: consensus, core-protocol

#5880 chore: Update faucet route metrics
  Cargo.lock
  crates/iota-faucet/Cargo.toml
  crates/iota-faucet/src/metrics.rs
  crates/iota-faucet/src/metrics_layer.rs
Labels: sc-platform, dev-tools

#5857 feat(consensus): use dynamic timeouts in commit sync
  consensus/core/src/commit_syncer.rs
Labels: research, consensus, core-protocol

#5908 feat(consensus): add support for grpc timeouts
  consensus/core/src/network/tonic_network.rs
Labels: consensus, core-protocol

#5612 feat(consensus): Support one node committee
  consensus/core/src/authority_node.rs
  consensus/core/src/core.rs
  consensus/core/src/dag_state.rs
  consensus/core/src/synchronizer.rs
  crates/iota-benchmark/tests/simtest.rs
  crates/iota-core/src/unit_tests/mysticeti_manager_tests.rs
Labels: consensus, core-protocol

#5860 feat(consensus): adjust sync parameters
  consensus/config/src/parameters.rs
  consensus/config/tests/snapshots/parameters_test__parameters.snap
  consensus/core/src/authority_node.rs
  consensus/core/src/synchronizer.rs
Labels: research, consensus, core-protocol

#5888 fix(docs): fix broken instructions/scripts for private network setup (#5204)
  .gitignore
  dev-tools/iota-private-network/README.md
  dev-tools/iota-private-network/bootstrap.sh
  dev-tools/iota-private-network/docker-compose.yaml
Labels: node, core-protocol

#5877 refactor(docs): review protocol upgrades page
  docs/content/about-iota/iota-architecture/protocol-upgrades.mdx
Labels: documentation, devx

#5941 chore(apps-ui-kit): improve darkmode styles for destructive button
  .changeset/angry-items-fix.md
  apps/ui-kit/src/lib/components/atoms/button/button.classes.ts
Labels: tooling, apps-ui-kit

#5786 feat(ts-sdk): add optional address validation to `normalizeIotaAddress` util
  .changeset/large-eagles-boil.md
  sdk/typescript/src/utils/iota-types.ts
  sdk/typescript/test/unit/utils/iota-types.test.ts
Labels: tooling, ts-sdk

#5913 feat(consensus): impl to_socket_addrs for multiaddr
  crates/iota-network-stack/src/multiaddr.rs
Labels: consensus, core-protocol

#5960 feat(consensus): soft-bundle-to-be-included-in-a-block-atomically
  consensus/core/src/transaction.rs
  crates/iota-core/src/mysticeti_adapter.rs
Labels: consensus, core-protocol

#5984 refactor(iota-system): Remove versioning from voting power
  crates/iota-framework/packages/iota-system/sources/validator.move
  crates/iota-framework/packages/iota-system/sources/validator_set.move
  crates/iota-framework/packages/iota-system/sources/voting_power.move
  crates/iota-framework/packages/iota-system/tests/voting_power_tests.move
Labels: sc-platform, vm-language

#5916 feat(consensus): use iota-http for running the gRPC http server
  Cargo.lock
  Cargo.toml
  consensus/core/Cargo.toml
  consensus/core/src/error.rs
  consensus/core/src/network/tonic_network.rs
Labels: consensus, core-protocol

#5967 feat(consensus): fix transaction size checks and metrics
  consensus/core/src/block_verifier.rs
  consensus/core/src/core.rs
  consensus/core/src/transaction.rs
  crates/iota-core/src/authority_server.rs
  crates/iota-types/src/transaction.rs
Labels: consensus, core-protocol

#5931 fix(consensus): fix addrInUse error that can occur during simtest crash
  consensus/core/src/network/tonic_network.rs
Labels: consensus, core-protocol

#5635 Remove wasm from all pages
  docs/content/_snippets/iota-evm/EVM_compatibility.md
  docs/content/_snippets/iota-evm/query_gas_fees.md
  docs/content/iota-evm/explanations/context.mdx
  docs/content/iota-evm/explanations/smart-contract-anatomy.md
  docs/content/iota-evm/getting-started/compatibility.mdx
  docs/content/iota-evm/getting-started/languages-and-vms.mdx
  docs/content/iota-evm/getting-started/quick-start.mdx
  docs/content/iota-evm/how-tos/core-contracts/call-view.md
  docs/content/iota-evm/iota-evm.mdx
  docs/content/iota-evm/operator/how-tos/setting-up-a-chain.md
  docs/content/iota-evm/references/core-contracts/blob.md
  docs/content/iota-evm/solo/getting-started.md
  docs/content/iota-evm/solo/how-tos/deploying-sc.md
  docs/content/iota-evm/solo/how-tos/error-handling.md
  docs/content/iota-evm/solo/how-tos/examples.mdx
  docs/content/iota-evm/solo/how-tos/invoking-sc.md
  docs/content/iota-evm/solo/how-tos/test.mdx
  docs/content/iota-evm/solo/how-tos/timelock.mdx
  docs/content/iota-evm/tutorials/cross-chain-nft-marketplace-part-1.md
  docs/content/sidebars/iota-evm.js
Labels: documentation, dx-documentation, devx

#5631 Remove shimmer from all pages
  docs/content/_snippets/iota-evm/hardhat_config.mdx
  docs/content/_snippets/iota-evm/metamask_buttons.mdx
  docs/content/_snippets/iota-evm/oracles_contract_data.mdx
  docs/content/developer/developer.mdx
  docs/content/iota-evm/getting-started/contracts.mdx
  docs/content/iota-evm/getting-started/networks-and-chains.mdx
  docs/content/iota-evm/getting-started/quick-start.mdx
  docs/content/iota-evm/getting-started/tools.mdx
  docs/content/iota-evm/how-tos/ERC20.mdx
  docs/content/iota-evm/how-tos/ERC721.mdx
  docs/content/iota-evm/how-tos/core-contracts/basics/send-assets-to-l1.mdx
  docs/content/iota-evm/how-tos/deploy-a-smart-contract.mdx
  docs/content/iota-evm/how-tos/send-ERC20-across-chains.md
  docs/content/iota-evm/how-tos/send-funds-from-L1-to-L2.mdx
  docs/content/iota-evm/how-tos/test-smart-contracts.md
  docs/content/iota-evm/operator/how-tos/running-an-access-node.mdx
  docs/content/iota-evm/tools/oracles.md
  docs/content/iota-evm/tools/safe.md
  docs/content/iota-evm/tutorials/cross-chain-nft-marketplace-part-1.md
  docs/content/iota-evm/tutorials/cross-chain-nft-marketplace-part-2.md
  docs/content/iota-evm/tutorials/defi-lend-borrow-tutorial-part-1.md
  docs/content/iota-evm/tutorials/defi-lend-borrow-tutorial-part-2.md
  docs/content/iota-evm/tutorials/defi-yield-farming.md
  docs/content/sidebars/iota-evm.js
  docs/site/src/components/constant.tsx
Labels: documentation, dx-documentation, devx

#5994 feat(iota-sdk): add pretty print formatting for balance in example
  crates/iota-sdk/README.md
Labels: sc-platform, dev-tools

#5975 feat: expose committee members on indexer dependent services
  crates/iota-graphql-e2e-tests/tests/call/dynamic_fields.exp
  crates/iota-graphql-e2e-tests/tests/call/simple.exp
  crates/iota-graphql-e2e-tests/tests/consistency/epochs/transaction_blocks.exp
  crates/iota-graphql-e2e-tests/tests/consistency/staked_iota.exp
  crates/iota-graphql-e2e-tests/tests/consistency/staked_iota.move
  crates/iota-graphql-e2e-tests/tests/epoch/epoch.exp
  crates/iota-graphql-e2e-tests/tests/epoch/system_state.exp
  crates/iota-graphql-e2e-tests/tests/objects/enum_data.exp
  crates/iota-graphql-e2e-tests/tests/objects/filter_by_type.exp
  crates/iota-graphql-e2e-tests/tests/objects/staked_iota.exp
  crates/iota-graphql-e2e-tests/tests/packages/friends.exp
  crates/iota-graphql-e2e-tests/tests/transaction_block_effects/balance_changes.exp
  crates/iota-graphql-e2e-tests/tests/transactions/system.exp
  crates/iota-graphql-rpc/schema.graphql
  crates/iota-graphql-rpc/src/types/system_state_summary.rs
  crates/iota-graphql-rpc/src/types/validator_set.rs
  crates/iota-graphql-rpc/tests/snapshots/snapshot_tests__schema_sdl_export.snap
  crates/iota-indexer/src/models/epoch.rs
  crates/iota-indexer/src/types.rs
  crates/iota-json-rpc-types/src/iota_extended.rs
  crates/iota-open-rpc/spec/openrpc.json
Labels: sc-platform, infrastructure

#5932 feat(consensus): enable tcp_nodelay for consensus's network interface
  consensus/core/src/network/tonic_network.rs
Labels: consensus, core-protocol

#5957 [indexer, scripts]: Improve schema generation script for indexer
  crates/iota-indexer/src/schema.patch
  scripts/indexer-schema/generate.sh
  scripts/indexer-schema/generate_for_all_tables_macro.py
Labels: sc-platform, infrastructure

#5999 feat(iota): improve test speed
  crates/iota/tests/cli_tests.rs
Labels: sc-platform, dev-tools

#5998 feat(iota): make source verification opt-in instead of opt-out
  crates/iota/src/client_commands.rs
  crates/iota/tests/cli_tests.rs
  crates/iota/tests/shell_tests/with_network/source_verification_deprecation/both_flags.sh
  crates/iota/tests/shell_tests/with_network/source_verification_deprecation/no_flags.sh
  crates/iota/tests/shell_tests/with_network/source_verification_deprecation/skip_dep_verif.sh
  crates/iota/tests/snapshots/shell_tests__with_network__source_verification_deprecation__both_flags.sh.snap
  crates/iota/tests/snapshots/shell_tests__with_network__source_verification_deprecation__no_flags.sh.snap
  crates/iota/tests/snapshots/shell_tests__with_network__source_verification_deprecation__skip_dep_verif.sh.snap
Labels: sc-platform, dev-tools

#5981 feat(scripts): Build homebrew from source if architecture is unsupported
  scripts/homebrew/template
  scripts/homebrew/template.rb
  scripts/homebrew/update_formula.sh
Labels: sc-platform, dev-tools, ci

#6007 fix(iota-framework): Fix missing changes for TopStakers feature
  crates/iota-proxy/src/peers.rs
  crates/iota-rosetta/src/network.rs
  crates/iota-tool/src/lib.rs
Labels: node, core-protocol

#5796 chore(iota-framework): format iota-framework/packages/stardust using move formatter
  crates/iota-framework/packages/stardust/sources/alias/alias.move
  crates/iota-framework/packages/stardust/sources/alias/alias_output.move
  crates/iota-framework/packages/stardust/sources/basic/basic_output.move
  crates/iota-framework/packages/stardust/sources/nft/irc27.move
  crates/iota-framework/packages/stardust/sources/nft/nft.move
  crates/iota-framework/packages/stardust/sources/nft/nft_output.move
  crates/iota-framework/packages/stardust/sources/stardust_upgrade_label.move
  crates/iota-framework/packages/stardust/sources/unlock_condition/address_unlock_condition.move
  crates/iota-framework/packages/stardust/sources/unlock_condition/expiration_unlock_condition.move
  crates/iota-framework/packages/stardust/sources/unlock_condition/storage_deposit_return_unlock_condition.move
  crates/iota-framework/packages/stardust/sources/unlock_condition/timelock_unlock_condition.move
  crates/iota-framework/packages/stardust/sources/utilities.move
  crates/iota-framework/packages/stardust/tests/alias_tests.move
  crates/iota-framework/packages/stardust/tests/basic_tests.move
  crates/iota-framework/packages/stardust/tests/nft_tests.move
  crates/iota-framework/packages/stardust/tests/unlock_condition/address_unlock_condition_tests.move
Labels: sc-platform, vm-language

#5823 refactor(iota-framework): rename variable in package.move
  crates/iota-framework/packages/iota-framework/sources/package.move
Labels: sc-platform, vm-language

#5794 chore(iota-framework): format iota-framework/packages/move-stdlib using move formatter
  crates/iota-framework/packages/move-stdlib/sources/address.move
  crates/iota-framework/packages/move-stdlib/sources/ascii.move
  crates/iota-framework/packages/move-stdlib/sources/bcs.move
  crates/iota-framework/packages/move-stdlib/sources/bit_vector.move
  crates/iota-framework/packages/move-stdlib/sources/debug.move
  crates/iota-framework/packages/move-stdlib/sources/fixed_point32.move
  crates/iota-framework/packages/move-stdlib/sources/hash.move
  crates/iota-framework/packages/move-stdlib/sources/macros.move
  crates/iota-framework/packages/move-stdlib/sources/option.move
  crates/iota-framework/packages/move-stdlib/sources/string.move
  crates/iota-framework/packages/move-stdlib/sources/type_name.move
  crates/iota-framework/packages/move-stdlib/sources/u128.move
  crates/iota-framework/packages/move-stdlib/sources/u16.move
  crates/iota-framework/packages/move-stdlib/sources/u256.move
  crates/iota-framework/packages/move-stdlib/sources/u32.move
  crates/iota-framework/packages/move-stdlib/sources/u64.move
  crates/iota-framework/packages/move-stdlib/sources/u8.move
  crates/iota-framework/packages/move-stdlib/sources/unit_test.move
  crates/iota-framework/packages/move-stdlib/sources/vector.move
  crates/iota-framework/packages/move-stdlib/tests/ascii_tests.move
  crates/iota-framework/packages/move-stdlib/tests/bcs_tests.move
  crates/iota-framework/packages/move-stdlib/tests/bit_vector_tests.move
  crates/iota-framework/packages/move-stdlib/tests/fixedpoint32_tests.move
  crates/iota-framework/packages/move-stdlib/tests/hash_tests.move
  crates/iota-framework/packages/move-stdlib/tests/integer_tests.move
  crates/iota-framework/packages/move-stdlib/tests/option_tests.move
  crates/iota-framework/packages/move-stdlib/tests/string_tests.move
  crates/iota-framework/packages/move-stdlib/tests/type_name_tests.move
  crates/iota-framework/packages/move-stdlib/tests/u128_tests.move
  crates/iota-framework/packages/move-stdlib/tests/u16_tests.move
  crates/iota-framework/packages/move-stdlib/tests/u256_tests.move
  crates/iota-framework/packages/move-stdlib/tests/u32_tests.move
  crates/iota-framework/packages/move-stdlib/tests/u64_tests.move
  crates/iota-framework/packages/move-stdlib/tests/u8_tests.move
  crates/iota-framework/packages/move-stdlib/tests/vector_tests.move
Labels: sc-platform, vm-language

#5970 chore(ts-sdk): update graphql after infra changes
  sdk/graphql-transport/src/generated/queries.ts
  sdk/graphql-transport/src/methods.ts
  sdk/graphql-transport/src/queries/checkpoint.graphql
  sdk/typescript/src/graphql/generated/2025.2/schema.graphql
  sdk/typescript/src/graphql/generated/2025.2/tada-env.d.ts
Labels: tooling, ts-sdk

#5976 feat(iota/iota-sdk): add IotaEnv::graphql
  crates/iota-sdk/src/iota_client_config.rs
  crates/iota-sdk/src/lib.rs
  crates/iota/src/client_commands.rs
  crates/iota/tests/cli_tests.rs
Labels: sc-platform, dev-tools

#5801 feat(iota-indexer, iota-json-rpc-types, ts-sdk, explorer): Support `TransactionKind` filters
  .changeset/funny-moose-run.md
  Cargo.lock
  apps/explorer/src/components/activity/TransactionsActivityTable.tsx
  crates/iota-graphql-rpc/schema.graphql
  crates/iota-graphql-rpc/src/types/transaction_block/mod.rs
  crates/iota-graphql-rpc/src/types/transaction_block/tx_lookups.rs
  crates/iota-graphql-rpc/tests/snapshots/snapshot_tests__schema_sdl_export.snap
  crates/iota-indexer/src/handlers/checkpoint_handler.rs
  crates/iota-indexer/src/indexer_reader.rs
  crates/iota-indexer/src/models/transactions.rs
  crates/iota-indexer/src/types.rs
  crates/iota-indexer/tests/rpc-tests/indexer_api.rs
  crates/iota-json-rpc-types/Cargo.toml
  crates/iota-json-rpc-types/src/iota_transaction.rs
  crates/iota-open-rpc/spec/openrpc.json
  sdk/graphql-transport/src/generated/queries.ts
  sdk/graphql-transport/src/methods.ts
  sdk/graphql-transport/src/queries/checkpoint.graphql
  sdk/typescript/src/client/types/generated.ts
  sdk/typescript/src/client/types/params.ts
  sdk/typescript/src/graphql/generated/2025.2/schema.graphql
  sdk/typescript/src/graphql/generated/2025.2/tada-env.d.ts
Labels: documentation, sc-platform, infrastructure, wallet, ts-sdk, explorer, wallet-dashboard, ci

#5940 feat(data-ingestion-core): add history module
  Cargo.lock
  crates/iota-data-ingestion-core/Cargo.toml
  crates/iota-data-ingestion-core/src/errors.rs
  crates/iota-data-ingestion-core/src/history/manifest.rs
  crates/iota-data-ingestion-core/src/history/mod.rs
  crates/iota-data-ingestion-core/src/history/reader.rs
  crates/iota-data-ingestion-core/src/lib.rs
Labels: sc-platform, infrastructure

#6009 fix: update graphql-e2e-tests
  crates/iota-graphql-e2e-tests/tests/call/simple.exp
  crates/iota-graphql-e2e-tests/tests/consistency/epochs/transaction_blocks.exp
  crates/iota-graphql-e2e-tests/tests/consistency/staked_iota.exp
  crates/iota-graphql-e2e-tests/tests/epoch/epoch.exp
  crates/iota-graphql-e2e-tests/tests/epoch/system_state.exp
  crates/iota-graphql-e2e-tests/tests/objects/filter_by_type.exp
  crates/iota-graphql-e2e-tests/tests/objects/staked_iota.exp
  crates/iota-graphql-e2e-tests/tests/transaction_block_effects/balance_changes.exp
  crates/iota-graphql-e2e-tests/tests/transactions/system.exp
Labels: node, core-protocol

#5938 [indexer]: Add optimistic tables for transactions
  crates/iota-indexer/migrations/pg/2025-03-13-081552_optimistic_transactions/down.sql
  crates/iota-indexer/migrations/pg/2025-03-13-081552_optimistic_transactions/up.sql
  crates/iota-indexer/src/models/transactions.rs
  crates/iota-indexer/src/models/tx_indices.rs
  crates/iota-indexer/src/schema.patch
  crates/iota-indexer/src/schema.rs
Labels: sc-platform, infrastructure

#6014 Ignore 12-char git hashes present in `manifest.json`
  .typos.toml
Labels: consensus, core-protocol

#5348 task(devx): Upload generated docs to aws
  .github/workflows/upload-docs-to-aws.yml
  .gitignore
  crates/iota-framework/tests/build-system-packages.rs
  docs/content/sidebars/references.js
  docs/content/sidebars/ts-sdk.js
  docs/site/docusaurus.config.js
  docs/site/package.json
  docs/site/scripts/get-iota-references.sh
  pnpm-lock.yaml
Labels: documentation, dx-documentation, devx, ci

#5942 feat(data-ingestion): upload historical checkpoint data
  Cargo.lock
  crates/iota-data-ingestion-core/src/history/manifest.rs
  crates/iota-data-ingestion/Cargo.toml
  crates/iota-data-ingestion/src/lib.rs
  crates/iota-data-ingestion/src/main.rs
  crates/iota-data-ingestion/src/workers/historical.rs
  crates/iota-data-ingestion/src/workers/mod.rs
Labels: sc-platform, infrastructure

#5793 chore(iota-framework): format iota-framework/packages/iota-system using move formatter
  crates/iota-framework/packages/iota-system/sources/genesis.move
  crates/iota-framework/packages/iota-system/sources/iota_system.move
  crates/iota-framework/packages/iota-system/sources/iota_system_state_inner.move
  crates/iota-framework/packages/iota-system/sources/staking_pool.move
  crates/iota-framework/packages/iota-system/sources/storage_fund.move
  crates/iota-framework/packages/iota-system/sources/timelocked_staking.move
  crates/iota-framework/packages/iota-system/sources/validator.move
  crates/iota-framework/packages/iota-system/sources/validator_cap.move
  crates/iota-framework/packages/iota-system/sources/validator_set.move
  crates/iota-framework/packages/iota-system/sources/validator_wrapper.move
  crates/iota-framework/packages/iota-system/sources/voting_power.move
  crates/iota-framework/packages/iota-system/tests/delegation_tests.move
  crates/iota-framework/packages/iota-system/tests/governance_test_utils.move
  crates/iota-framework/packages/iota-system/tests/iota_system_tests.move
  crates/iota-framework/packages/iota-system/tests/rewards_distribution_tests.move
  crates/iota-framework/packages/iota-system/tests/timelocked_delegation_tests.move
  crates/iota-framework/packages/iota-system/tests/validator_set_tests.move
  crates/iota-framework/packages/iota-system/tests/validator_tests.move
  crates/iota-framework/packages/iota-system/tests/voting_power_tests.move
Labels: sc-platform, vm-language

#5937 fix(wallet-dashboard): Filter out repeated txs in `useQueryTransactionsByAddress`
  apps/core/src/hooks/useQueryTransactionsByAddress.ts
  apps/wallet-dashboard/components/VirtualList.tsx
Labels: tooling, wallet-dashboard

#5824 fix(wallet): Make `TransactionCard` use non-iota coin type & amount if available
  apps/wallet-dashboard/components/transactions/TransactionTile.tsx
  apps/wallet/src/ui/app/components/transactions-card/index.tsx
Labels: tooling, wallet, wallet-dashboard

#6029 scripts: remove slipstream-utils scripts
  .github/CODEOWNERS
  scripts/compare/.gitignore
  scripts/compare/compare.py
  scripts/compare/run.sh
  scripts/create_patches/.gitignore
  scripts/create_patches/create_patches.py
  scripts/create_patches/run.sh
  scripts/dependency_graphs/.gitignore
  scripts/dependency_graphs/README.md
  scripts/dependency_graphs/dependency_graphs.py
  scripts/dependency_graphs/requirements.txt
  scripts/dependency_graphs/run.sh
  scripts/slipstream/.gitignore
  scripts/slipstream/README.md
  scripts/slipstream/config_slipstream.json
  scripts/slipstream/docker_turborepo/Dockerfile
  scripts/slipstream/overwrites/narwhal/.clippy.toml
  scripts/slipstream/overwrites/v1.29.0/apps/wallet/turbo.json
  scripts/slipstream/overwrites/v1.29.0/turbo.json
  scripts/slipstream/overwrites/v1.32.2/dprint.json
  scripts/slipstream/overwrites/v1.32.2/pnpm-workspace.yaml
  scripts/slipstream/patches/clippy.patch
  scripts/slipstream/patches/copyright.patch
  scripts/slipstream/patches/gitignore.patch
  scripts/slipstream/patches/narwhal_clippy.patch
  scripts/slipstream/patches/pnpm-workspace.patch
  scripts/slipstream/patches/rustfmt.patch
  scripts/slipstream/patches/v1.30.0/iota-authority-aggregation-clone.patch
  scripts/slipstream/patches/v1.32.2/dprint.patch
  scripts/slipstream/patches/v1.41.0/copyright.patch
  scripts/slipstream/patches/v1.42.0/copyright.patch
  scripts/slipstream/requirements.txt
  scripts/slipstream/run.sh
  scripts/slipstream/slipstream.py
  scripts/track_upstream_commits/README.md
  scripts/track_upstream_commits/run.sh
  scripts/track_upstream_commits/track_upstream_commits.py
  scripts/utils/codeowners.py
  scripts/utils/git_utils.py
  scripts/utils/rust_utils.py
Labels: node, core-protocol, ci

#6008 scripts: rust tests fixes and readme
  scripts/ci_tests/README.md
  scripts/ci_tests/rust_tests.sh
Labels: node, core-protocol

#5978 refactor(iota-data-ingestion): store checkpoints current epoch
  Cargo.lock
  crates/iota-core/src/storage.rs
  crates/iota-data-ingestion-core/src/executor.rs
  crates/iota-data-ingestion/Cargo.toml
  crates/iota-data-ingestion/src/common.rs
  crates/iota-data-ingestion/src/lib.rs
  crates/iota-data-ingestion/src/main.rs
  crates/iota-data-ingestion/src/workers/blob.rs
  crates/iota-rest-api/openapi/openapi.json
  crates/iota-rest-api/src/client/mod.rs
  crates/iota-rest-api/src/client/sdk.rs
  crates/iota-rest-api/src/epochs.rs
  crates/iota-rest-api/src/lib.rs
  crates/iota-transactional-test-runner/src/simulator_persisted_store.rs
  crates/iota-types/src/storage/read_store.rs
  crates/simulacrum/src/lib.rs
  dev-tools/iota-data-ingestion/README.md
  dev-tools/iota-data-ingestion/config/config.yaml
  dev-tools/iota-data-ingestion/config/multiple_workers.yaml
Labels: sc-platform, infrastructure

#6003 feat(consensus): exclude low scoring ancestors in proposals with time based inclusion exclusion
  consensus/config/src/committee.rs
  consensus/core/src/ancestor.rs
  consensus/core/src/core.rs
  consensus/core/src/dag_state.rs
  consensus/core/src/leader_scoring.rs
  consensus/core/src/lib.rs
  consensus/core/src/metrics.rs
  consensus/core/src/round_prober.rs
  crates/iota-open-rpc/spec/openrpc.json
  crates/iota-protocol-config/src/lib.rs
  crates/iota-protocol-config/src/snapshots/iota_protocol_config__test__version_6.snap
Labels: consensus, core-protocol

#6004 feat(consensus): get highest accepted rounds from round prober and use in ancestor selection
  consensus/config/src/committee.rs
  consensus/core/src/ancestor.rs
  consensus/core/src/authority_service.rs
  consensus/core/src/broadcaster.rs
  consensus/core/src/commit_syncer.rs
  consensus/core/src/core.rs
  consensus/core/src/core_thread.rs
  consensus/core/src/leader_timeout.rs
  consensus/core/src/metrics.rs
  consensus/core/src/network/mod.rs
  consensus/core/src/network/test_network.rs
  consensus/core/src/network/tonic_network.rs
  consensus/core/src/round_prober.rs
  consensus/core/src/subscriber.rs
  consensus/core/src/synchronizer.rs
  crates/iota-open-rpc/spec/openrpc.json
  crates/iota-protocol-config/src/lib.rs
  crates/iota-protocol-config/src/snapshots/iota_protocol_config__test__version_6.snap
Labels: consensus, core-protocol

#6005 feat(consensus): include links to partially propagated blocks from excluded ancestors
  consensus/core/src/core.rs
  consensus/core/src/dag_state.rs
Labels: consensus, core-protocol

#5865 feat(iota-indexer): Implement past objects fetching
  crates/iota-indexer/src/apis/read_api.rs
  crates/iota-indexer/src/indexer_reader.rs
  crates/iota-indexer/src/models/objects.rs
  crates/iota-indexer/tests/rpc-tests/read_api.rs
Labels: sc-platform, infrastructure

#6044 feat(consensus): add remaining tests for smart ancestor selection
  consensus/core/src/core.rs
Labels: consensus, core-protocol

#6045 feat(consensus): include links to excluded ancestors that are at the network accepted low quorum round
  consensus/core/src/core.rs
  consensus/core/src/dag_state.rs
Labels: consensus, core-protocol

#6057 chore: Updates NextJS to fix CVE-2025-29927
  apps/wallet-dashboard/package.json
  pnpm-lock.yaml
Labels: tooling, wallet-dashboard
