Repository iotaledger/iota, pull requests merged in 2025-02, with the labels that each got.

#5115 fix(wallet-dashboard): fix stardust migration shared objects mappers
  apps/core/src/hooks/useGetAllStardustSharedObjects.ts
  apps/core/src/hooks/useGetStardustSharedBasicObjects.ts
  apps/core/src/hooks/useGetStardustSharedNftObjects.ts
  apps/wallet-dashboard/app/(protected)/migrations/page.tsx
Labels: tooling, wallet-dashboard

#5158 chore: add iota-indexer to release binaries
  binary-build-list.json
Labels: sc-platform, dev-tools

#5121 feat(scripts): Add `compare` and `create_patches` scripts + script refactors and cleanups
  .github/CODEOWNERS
  .gitignore
  docker/utils/build-script.sh
  scripts/cargo_sort/cargo_sort.py
  scripts/codesearch/codesearch.py
  scripts/codesearch/python_venv_wrapper.sh
  scripts/codesearch/run_search_tests.sh
  scripts/codesearch/run_search_versions.sh
  scripts/codesearch/search_tests.py
  scripts/codesearch/search_versions.py
  scripts/compare/.gitignore
  scripts/compare/compare.py
  scripts/compare/run.sh
  scripts/create_patches/.gitignore
  scripts/create_patches/create_patches.py
  scripts/create_patches/run.sh
  scripts/dependency_graphs/.gitignore
  scripts/dependency_graphs/dependency_graphs.py
  scripts/dependency_graphs/python_venv_wrapper.sh
  scripts/dependency_graphs/run.sh
  scripts/generate_files/update_generated_files.sh
  scripts/slipstream/.gitignore
  scripts/slipstream/config_slipstream.json
  scripts/slipstream/patches/copyright.patch
  scripts/slipstream/patches/v1.41.0/copyright.patch
  scripts/slipstream/python_venv_wrapper.sh
  scripts/slipstream/run.sh
  scripts/slipstream/run_compare.sh
  scripts/slipstream/slipstream.py
  scripts/track_upstream_commits/README.md
  scripts/track_upstream_commits/python_venv_wrapper.sh
  scripts/track_upstream_commits/run.sh
  scripts/track_upstream_commits/track_upstream_commits.py
  scripts/update_light_client_checkpoints.sh
  scripts/utils/codeowners.py
  scripts/utils/common.sh
  scripts/utils/git_utils.py
  scripts/utils/python_venv_wrapper.sh
  scripts/utils/rust_utils.py
Labels: node, core-protocol, ci

#5159 fix(dashboard): visual assets not showing up in migration
  apps/wallet-dashboard/components/migration/migration-object-details-card/MigrationObjectDetailsCard.tsx
  apps/wallet-dashboard/lib/utils/migration/groupMigrationObjects.ts
Labels: tooling, wallet-dashboard

#5097 fix(iota): use `active_address` through the wallet context in PTB execute
  crates/iota/src/client_ptb/ptb.rs
Labels: sc-platform, dev-tools

#4818 Run tests like in CI, make tests pass
  .config/nextest.toml
  .github/workflows/_rust_tests.yml
  .gitignore
  scripts/ci_tests/rust_tests.sh
Labels: node, core-protocol, ci

#5042 feat(CLI): Show protocol version mismatch warning
  crates/iota/src/client_commands.rs
Labels: sc-platform, dev-tools

#5143 fix(iota): fix Option<address> serialization in client_ptb
  crates/iota/src/client_ptb/ast.rs
Labels: sc-platform, dev-tools

#5119 refactor(indexer): Simplify WrappedOrDeleted variant
  crates/iota-graphql-rpc/src/types/object.rs
  crates/iota-indexer/src/models/objects.rs
Labels: sc-platform, infrastructure

#5168 chore: workspace dependency consistency
  crates/iota-aws-orchestrator/Cargo.toml
  crates/iota-core/Cargo.toml
  crates/iota/Cargo.toml
Labels: sc-platform, dev-tools

#5155 refactor: use ObjectStoreConfig as remote store client
  Cargo.lock
  crates/iota-data-ingestion/Cargo.toml
  crates/iota-data-ingestion/src/main.rs
  crates/iota-data-ingestion/src/workers/archival.rs
  crates/iota-data-ingestion/src/workers/blob.rs
  crates/iota-data-ingestion/src/workers/kv_store.rs
  dev-tools/iota-data-ingestion/README.md
  dev-tools/iota-data-ingestion/config/config.yaml
Labels: sc-platform, infrastructure

#5186 chore: patch vitest `GHSA-9crc-q9x8-hgqq`
  apps/core/package.json
  apps/explorer/package.json
  apps/wallet/package.json
  pnpm-lock.yaml
  sdk/bcs/package.json
  sdk/dapp-kit/package.json
  sdk/graphql-transport/package.json
  sdk/kiosk/package.json
  sdk/ledgerjs-hw-app-iota/package.json
  sdk/move-bytecode-template/package.json
  sdk/typescript/package.json
Labels: tooling, wallet, ts-sdk, explorer

#5152 refactor(data-ingestion-core, iota-indexer): add error type
  Cargo.lock
  crates/iota-analytics-indexer/src/analytics_processor.rs
  crates/iota-analytics-indexer/src/handlers/checkpoint_handler.rs
  crates/iota-analytics-indexer/src/handlers/df_handler.rs
  crates/iota-analytics-indexer/src/handlers/event_handler.rs
  crates/iota-analytics-indexer/src/handlers/mod.rs
  crates/iota-analytics-indexer/src/handlers/move_call_handler.rs
  crates/iota-analytics-indexer/src/handlers/object_handler.rs
  crates/iota-analytics-indexer/src/handlers/package_handler.rs
  crates/iota-analytics-indexer/src/handlers/transaction_handler.rs
  crates/iota-analytics-indexer/src/handlers/transaction_objects_handler.rs
  crates/iota-analytics-indexer/src/handlers/wrapped_object_handler.rs
  crates/iota-analytics-indexer/src/lib.rs
  crates/iota-data-ingestion-core/Cargo.toml
  crates/iota-data-ingestion-core/src/errors.rs
  crates/iota-data-ingestion-core/src/executor.rs
  crates/iota-data-ingestion-core/src/lib.rs
  crates/iota-data-ingestion-core/src/progress_store/file.rs
  crates/iota-data-ingestion-core/src/progress_store/mod.rs
  crates/iota-data-ingestion-core/src/reader.rs
  crates/iota-data-ingestion-core/src/tests.rs
  crates/iota-data-ingestion-core/src/util.rs
  crates/iota-data-ingestion-core/src/worker_pool.rs
  crates/iota-data-ingestion/src/progress_store.rs
  crates/iota-data-ingestion/src/workers/archival.rs
  crates/iota-data-ingestion/src/workers/blob.rs
  crates/iota-data-ingestion/src/workers/kv_store.rs
  crates/iota-indexer-builder/src/iota_datasource.rs
  crates/iota-indexer/src/errors.rs
  crates/iota-indexer/src/handlers/checkpoint_handler.rs
  crates/iota-indexer/src/handlers/objects_snapshot_processor.rs
  crates/iota-indexer/src/indexer.rs
Labels: sc-platform, infrastructure

#5191 fix(docs): fix header levels in `Install IOTA`
  docs/content/developer/getting-started/install-iota.mdx
Labels: documentation, devx

#4826 feat(nodeconfig)!: Default to Bech32 format for IOTA key pairs
  Cargo.lock
  crates/iota-config/Cargo.toml
  crates/iota-config/src/node.rs
  crates/iota-swarm-config/tests/snapshots/snapshot_tests__network_config_snapshot_matches.snap
  crates/iota-types/src/crypto.rs
Labels: sc-platform, dev-tools

#4948 feat(wallet): update balance finder style
  apps/core/src/components/collapsible/Collapsible.tsx
  apps/core/src/hooks/useFormatCoin.ts
  apps/explorer/src/components/ui/collapsible/CollapsibleCard.tsx
  apps/explorer/src/pages/transaction-result/Events.tsx
  apps/explorer/src/pages/transaction-result/transaction-summary/ObjectChanges.tsx
  apps/ui-kit/src/lib/components/organisms/accordion/Accordion.tsx
  apps/wallet/src/ui/app/components/accounts/AccountBalanceItem.tsx
  apps/wallet/src/ui/app/hooks/index.ts
  apps/wallet/src/ui/app/hooks/useGetOwnedObjectsMultipleAddresses.ts
  apps/wallet/src/ui/app/hooks/useGetSharedObjectsMultipleAddresses.ts
  apps/wallet/src/ui/app/pages/accounts/manage/accounts-finder/AccountsFinderPage.tsx
  apps/wallet/src/ui/app/pages/accounts/manage/accounts-finder/AccountsFinderView.tsx
Labels: tooling, apps-ui-kit, wallet, explorer

#5189 fix: expect format strings
  crates/iota-archival/src/reader.rs
  crates/iota-cluster-test/src/test_case/shared_object_test.rs
  crates/iota-faucet/src/faucet/write_ahead_log.rs
  crates/iota-types/src/deny_list_v1.rs
  crates/iota/tests/cli_tests.rs
Labels: sc-platform, dev-tools

#5197 fix(docs): fix struct docs
  docs/content/developer/iota-101/move-overview/structs-and-abilities/copy.mdx
  docs/content/developer/iota-101/move-overview/structs-and-abilities/drop.mdx
  docs/content/developer/iota-101/move-overview/structs-and-abilities/key.mdx
  docs/content/developer/iota-101/move-overview/structs-and-abilities/struct.mdx
  docs/examples/move/ctf/challenge_7/package.json
Labels: documentation, devx

#4935 feat(docs): add more PTB examples
  docs/content/references/cli/ptb.mdx
Labels: documentation, sc-platform, dev-tools

#5117 Add external address to full node setup
  crates/iota-config/data/fullnode-template-with-path.yaml
  crates/iota-config/data/fullnode-template.yaml
  docs/content/_snippets/operator/ports.mdx
  docs/content/operator/iota-full-node/docker.mdx
  docs/content/operator/iota-full-node/source.mdx
  setups/fullnode/docker/README.md
Labels: documentation, devx

#5053 fix(node): Merge from upstream - Delete consensus data from tables when it is no longer needed
  crates/iota-core/src/authority/authority_per_epoch_store.rs
Labels: node, core-protocol

#5113 refactor(indexer): Split object version ingestion
  crates/iota-indexer/src/handlers/checkpoint_handler.rs
  crates/iota-indexer/src/handlers/committer.rs
  crates/iota-indexer/src/handlers/mod.rs
  crates/iota-indexer/src/models/obj_indices.rs
  crates/iota-indexer/src/store/indexer_store.rs
  crates/iota-indexer/src/store/pg_indexer_store.rs
Labels: sc-platform, infrastructure

#5073 refactor(indexer): Derive dynamic field info
  crates/iota-indexer/src/indexer_reader.rs
  crates/iota-indexer/src/models/objects.rs
Labels: sc-platform, infrastructure

#5147 fix(core): Do not wait on notify_read_effects for transactions that may be reverted after the epoch ends
  crates/iota-benchmark/tests/simtest.rs
  crates/iota-core/src/authority.rs
  crates/iota-core/src/execution_cache.rs
Labels: node, core-protocol

#5108 feat(wallet-dashboard): consider max ptb size on timelocked staking
  apps/wallet-dashboard/components/dialogs/staking/views/EnterAmountDialogLayout.tsx
  apps/wallet-dashboard/components/dialogs/staking/views/EnterTimelockedAmountView.tsx
  apps/wallet-dashboard/hooks/useNewStakeTransaction.ts
Labels: tooling, wallet-dashboard

#5165 feat(wallet-dashboard): determine max ptb for unlock/unwrap and unstake timelocked objects
  apps/core/src/hooks/useUnlockTimelockedObjectsTransaction.ts
  apps/wallet-dashboard/app/(protected)/vesting/page.tsx
  apps/wallet-dashboard/app/page.tsx
  apps/wallet-dashboard/components/dialogs/migration/MigrationDialog.tsx
  apps/wallet-dashboard/components/dialogs/unstake/views/UnstakeTimelockedObjectsView.tsx
  apps/wallet-dashboard/hooks/useGetSupplyIncreaseVestingObjects.ts
  apps/wallet-dashboard/hooks/useNewUnstakeTransaction.ts
  apps/wallet-dashboard/lib/utils/index.ts
  apps/wallet-dashboard/lib/utils/isSizeExceededError.ts
Labels: tooling, ts-sdk, wallet-dashboard

#5215 refactor(storage,json-rpc)!: remove support for querying checkpoint contents by digest
  crates/iota-core/src/authority.rs
  crates/iota-json-rpc/src/authority_state.rs
  crates/iota-json-rpc/src/coin_api.rs
  crates/iota-json-rpc/src/read_api.rs
  crates/iota-storage/src/bin/http_kv_tool.rs
  crates/iota-storage/src/http_key_value_store.rs
  crates/iota-storage/src/key_value_store.rs
  crates/iota-storage/tests/key_value_tests.rs
Labels: sc-platform, infrastructure

#5203 fix(tests): if no crates changed, test all crates (#5202)
  .config/nextest.toml
  .github/actions/diffs/action.yml
  scripts/ci_tests/rust_tests.sh
Labels: node, core-protocol, ci

#5220 chore(wallet): bump to v0.5.0
  apps/wallet/package.json
Labels: tooling, wallet

#5045 feat(iota): return String from PTB::execute()
  crates/iota/src/client_ptb/ptb.rs
  crates/iota/tests/cli_tests.rs
Labels: sc-platform, dev-tools

#5223 fix(wallet): Proper formatting of the sum of balances in balance finder
  apps/core/src/hooks/useFormatCoin.ts
  apps/wallet/src/ui/app/components/accounts/AccountBalanceItem.tsx
Labels: tooling, wallet

#5162 feat(cli)!: make committee size configurable in `iota start`
  crates/iota/src/iota_commands.rs
  crates/iota/tests/cli_tests.rs
Labels: sc-platform, dev-tools

#5228 chore(wallet,wallet-dashboard): improve tx history labels
  apps/core/src/components/transaction/TransactionIcon.tsx
  apps/core/src/interfaces/transactions.interfaces.ts
Labels: tooling, wallet, wallet-dashboard

#5227 feat(storage): query events by transaction digest
  Cargo.lock
  crates/iota-core/src/authority.rs
  crates/iota-json-rpc-tests/tests/read_api.rs
  crates/iota-json-rpc/Cargo.toml
  crates/iota-json-rpc/src/coin_api.rs
  crates/iota-json-rpc/src/read_api.rs
  crates/iota-storage/src/http_key_value_store.rs
  crates/iota-storage/src/key_value_store.rs
  crates/iota-storage/tests/key_value_tests.rs
Labels: sc-platform, infrastructure

#5239 hotfix(wallet): include ledger profiles in balance finder
  apps/wallet/src/ui/app/pages/accounts/manage/accounts-finder/AccountsFinderView.tsx
Labels: tooling, wallet

#5234 refactor(wallet-dashboard): improve sidebar
  apps/wallet-dashboard/app/(protected)/migration/page.tsx
  apps/wallet-dashboard/components/MigrationOverview.tsx
  apps/wallet-dashboard/lib/constants/routes.constants.ts
  apps/wallet-dashboard/lib/enums/protectedRouteTitle.enums.ts
Labels: tooling, wallet-dashboard

#5240 hotfix(explorer): revert special rendering for `vector<u8>`
  apps/explorer/src/pages/transaction-result/programmable-transaction-view/InputsCard.tsx
Labels: tooling, explorer

#5035 chore(CI): Run tests with all features
  Cargo.lock
  scripts/ci_tests/rust_tests.sh
Labels: sc-platform, dev-tools, ci

#5208 fix(core): Fix misuse of moka cache insert
  crates/iota-core/src/execution_cache/cache_types.rs
  crates/iota-core/src/execution_cache/writeback_cache.rs
Labels: node, core-protocol

#5236 fix(CI): Update crates filters
  .github/crates-filters.yml
  .github/external-crates-filters.yml
Labels: sc-platform, dev-tools, ci

#5185 fix(node): Fix overload protection
  crates/iota-config/src/node.rs
  crates/iota-core/src/transaction_manager.rs
  crates/iota-swarm-config/tests/snapshots/snapshot_tests__network_config_snapshot_matches.snap
Labels: node, core-protocol

#5258 fix(rosetta): fix panic with usize::MAX max_concurrent_requests
  Cargo.lock
  crates/iota-rosetta/src/main.rs
  crates/iota-sdk/src/lib.rs
Labels: sc-platform, dev-tools

#5259 refactor(storage,json-rpc)!: remove obsolete kv queries
  crates/iota-core/src/authority.rs
  crates/iota-json-rpc/src/authority_state.rs
  crates/iota-json-rpc/src/coin_api.rs
  crates/iota-storage/src/bin/http_kv_tool.rs
  crates/iota-storage/src/http_key_value_store.rs
  crates/iota-storage/src/key_value_store.rs
  crates/iota-storage/tests/key_value_tests.rs
Labels: sc-platform, infrastructure

#5287 fix(replay-tool/profiler): Update transaction hash in unit test
  crates/iota/src/unit_tests/profiler_tests.rs
Labels: sc-platform, vm-language

#5256 chore(iota): Add shell tests
  Cargo.lock
  crates/iota/Cargo.toml
  crates/iota/tests/cli_tests.rs
  crates/iota/tests/shell_tests.rs
  crates/iota/tests/shell_tests/new_tests/gitignore_exists.sh
  crates/iota/tests/shell_tests/new_tests/gitignore_has_build.sh
  crates/iota/tests/shell_tests/new_tests/manifest_template.sh
  crates/iota/tests/shell_tests/new_tests/new_files.sh
  crates/iota/tests/shell_tests/new_tests/new_then_build.sh
  crates/iota/tests/shell_tests/new_tests/new_then_test.sh
  crates/iota/tests/shell_tests/simple/data/data.txt
  crates/iota/tests/shell_tests/simple/simple.sh
  crates/iota/tests/shell_tests/with_network/move_build_bytecode_with_address_resolution/depends_on_simple/Move.toml
  crates/iota/tests/shell_tests/with_network/move_build_bytecode_with_address_resolution/depends_on_simple/sources/depends_on_simple.move
  crates/iota/tests/shell_tests/with_network/move_build_bytecode_with_address_resolution/move_build_bytecode_with_address_resolution.sh
  crates/iota/tests/shell_tests/with_network/move_build_bytecode_with_address_resolution/simple/Move.toml
  crates/iota/tests/shell_tests/with_network/move_build_bytecode_with_address_resolution/simple/sources/simple.move
  crates/iota/tests/shell_tests/with_network/objects.sh
  crates/iota/tests/shell_tests/with_network/short_package.sh
  crates/iota/tests/snapshots/shell_tests__new_tests__gitignore_exists.sh.snap
  crates/iota/tests/snapshots/shell_tests__new_tests__gitignore_has_build.sh.snap
  crates/iota/tests/snapshots/shell_tests__new_tests__manifest_template.sh.snap
  crates/iota/tests/snapshots/shell_tests__new_tests__new_files.sh.snap
  crates/iota/tests/snapshots/shell_tests__new_tests__new_then_build.sh.snap
  crates/iota/tests/snapshots/shell_tests__new_tests__new_then_test.sh.snap
  crates/iota/tests/snapshots/shell_tests__simple__simple.sh.snap
  crates/iota/tests/snapshots/shell_tests__with_network__move_build_bytecode_with_address_resolution__move_build_bytecode_with_address_resolution.sh.snap
  crates/iota/tests/snapshots/shell_tests__with_network__objects.sh.snap
  crates/iota/tests/snapshots/shell_tests__with_network__short_package.sh.snap
Labels: sc-platform, dev-tools

#5218 fix(CI): if no tests in changed crates, make tests pass
  scripts/ci_tests/rust_tests.sh
Labels: node, core-protocol

#5173 chore(iota): Set active address when generating first new address
  crates/iota-sdk/src/iota_client_config.rs
  crates/iota/src/client_commands.rs
Labels: sc-platform, dev-tools

#5261 fix(types): avoid deserialization when fetching ID of non-upgraded packages
  crates/iota-types/src/move_package.rs
Labels: node, core-protocol

#5198 fix(nightly-tests): make nightly tests use the same nextest config as local and CI tests
  .config/nextest.toml
  crates/iota-e2e-tests/tests/apy_test.rs
  scripts/ci_tests/rust_tests.sh
Labels: node, core-protocol, ci

#5264 refactor(tooling): Disable vercel auto job cancellation
  vercel.json
Labels: tooling, wallet-dashboard

#5275 feat(wallet): avoid pushing coins to the bottom of the screen
  apps/wallet/src/ui/app/pages/home/tokens/TokensDetails.tsx
Labels: tooling, wallet

#5302 fix(CI): longer timeout for nightly tests
  .github/workflows/nightly.yml
Labels: node, core-protocol, ci

#5229 fix(wallet/wallet-dashboard): Proper amount handling for inputs
  apps/core/src/utils/parseAmount.ts
  apps/wallet-dashboard/components/dialogs/send-token/views/EnterValuesFormView.tsx
  apps/wallet-dashboard/components/dialogs/staking/views/EnterAmountView.tsx
  apps/wallet/src/ui/app/pages/home/transfer-coin/SendTokenForm.tsx
Labels: tooling, wallet, wallet-dashboard

#3204 Add button to connect IOTA wallet
  docs/content/ts-sdk/dapp-kit/wallet-components/ConnectButton.mdx
  docs/content/ts-sdk/dapp-kit/wallet-components/ConnectModal.mdx
  docs/content/ts-sdk/dapp-kit/wallet-hooks/useAccounts.mdx
  docs/content/ts-sdk/dapp-kit/wallet-hooks/useAutoConnectWallet.mdx
  docs/content/ts-sdk/dapp-kit/wallet-hooks/useConnectWallet.mdx
  docs/content/ts-sdk/dapp-kit/wallet-hooks/useCurrentAccount.mdx
  docs/content/ts-sdk/dapp-kit/wallet-hooks/useCurrentWallet.mdx
  docs/content/ts-sdk/dapp-kit/wallet-hooks/useDisconnectWallet.mdx
  docs/content/ts-sdk/dapp-kit/wallet-hooks/useReportTransactionEffects.mdx
  docs/content/ts-sdk/dapp-kit/wallet-hooks/useSignAndExecuteTransaction.mdx
  docs/content/ts-sdk/dapp-kit/wallet-hooks/useSignPersonalMessage.mdx
  docs/content/ts-sdk/dapp-kit/wallet-hooks/useSignTransaction.mdx
  docs/content/ts-sdk/dapp-kit/wallet-hooks/useSwitchAccount.mdx
  docs/content/ts-sdk/dapp-kit/wallet-hooks/useWallets.mdx
  docs/site/docusaurus.config.js
  docs/site/src/components/WalletConnectButton/index.tsx
  docs/site/src/theme/NavbarItem/ComponentTypes.tsx
  docs/site/src/theme/ReactLiveScope/index.tsx
  docs/site/src/theme/Root.tsx
Labels: documentation, devx, ts-sdk

#5184 fix(node): Fix estimated rewards during safe mode
  crates/iota-indexer/src/apis/governance_api.rs
  crates/iota-json-rpc/src/governance_api.rs
  crates/iota-types/src/iota_system_state/mod.rs
Labels: node, core-protocol

#5272 refactor(wallet): remove unused functions
  apps/wallet/src/background/storageUtils.ts
  apps/wallet/src/shared/cryptography/keystore.ts
  apps/wallet/src/shared/iotaClient.ts
Labels: tooling, wallet

#5315 feat: include iota-genesis-builder in iota-tools
  docker/iota-tools/Dockerfile
Labels: devops-admin, devops

#4987 chore(cli): Improve error message for attempting genesis with non-empty config dir
  crates/iota/src/iota_commands.rs
Labels: sc-platform, dev-tools

#5325 Bump iota to v0.9.2-rc
  Cargo.lock
  Cargo.toml
  crates/iota-open-rpc/spec/openrpc.json
Labels: sc-platform

#5297 update: set `infrastructure` team as codeowners for `iota-rest-kv` crate
  .github/CODEOWNERS
Labels: sc-platform, infrastructure, ci

#5128 feat(iota-tx-test-runner/docs): documentation of init, run, publish , print-bytecode task commands
  crates/iota-transactional-test-runner/syntax.md
Labels: documentation

#5144 doc(iota-tx-test-runner): documenting of test runner subcommands
  crates/iota-transactional-test-runner/syntax.md
Labels: documentation

#5171 doc(test_runner): run_test flow execution
  crates/iota-transactional-test-runner/syntax.md
Labels: documentation

#5295 doc(test-runner): add explanation about fake object indexing
  crates/iota-transactional-test-runner/syntax.md
Labels: documentation

#5289 feat(explorer): add balance to coin objects changes
  apps/explorer/src/pages/transaction-result/transaction-summary/ObjectChanges.tsx
Labels: tooling, explorer

#5235 fix(wallet): improve displaying commands in transaction requests
  apps/wallet/src/ui/app/pages/approval-request/transaction-request/transaction-details/Command.tsx
Labels: tooling, wallet

#5343 fix(tooling-ci): Update `actions/cache` to v4.2
  .github/workflows/apps_explorer_prod_deploy.yml
  .github/workflows/apps_wallet_dashboard_prod_deploy.yml
  .github/workflows/apps_wallet_nightly_build.yml
  .github/workflows/turbo_hierarchy.yml
Labels: tooling, ci

#5322 fix(explorer): scrollbar issues in firefox
  .changeset/flat-suits-tie.md
  apps/explorer/src/components/owned-coins/OwnedCoinsPanel.tsx
  apps/ui-kit/src/lib/styles/index.css
  apps/ui-kit/src/lib/tailwind/base.presets.ts
  apps/ui-kit/src/lib/tailwind/plugins.ts
Labels: tooling, apps-ui-kit, explorer

#5333 docs: fix checkpoint creation interval
  docs/content/developer/exchange-integration/exchange-integration.mdx
  docs/content/references/exchange-integration-guide.mdx
Labels: documentation, sc-platform

#5120 feat(docs): Add Note About `subscribeEvent` & `subscribeTransaction` in the Ts SDK Docs
  docs/content/_snippets/deprecated_methods_note.mdx
  docs/content/developer/iota-101/using-events.mdx
  docs/content/references/event-query-and-subscription.mdx
  docs/content/ts-sdk/typescript/iota-client.mdx
Labels: documentation, dx-documentation, devx, ts-sdk

#5324 fix(explorer): prevent panels being too large
  apps/explorer/src/components/module/PkgModulesWrapper.tsx
  apps/explorer/src/components/owned-coins/OwnedCoins.tsx
Labels: tooling, explorer

#5319 fix(custom-indexer): missing worker associated error type
  examples/custom-indexer/rust/local_reader.rs
  examples/custom-indexer/rust/remote_reader.rs
  examples/tic-tac-toe/cli/src/client.rs
Labels: sc-platform, dev-tools

#5344 fix(docs): `IotaClientBuilder` case
  docs/content/developer/iota-101/using-events.mdx
  docs/content/references/exchange-integration-guide.mdx
Labels: documentation, sc-platform, dev-tools

#5310 update: add `iota-rest-kv` to `crates-filters.yml`
  .github/crates-filters.yml
Labels: sc-platform, infrastructure, ci

#5356 fix(docs): lowercase more types
  docs/content/developer/advanced/asset-tokenization.mdx
  docs/content/developer/getting-started/client-tssdk.mdx
  docs/content/developer/getting-started/graphql-rpc.mdx
  docs/content/developer/iota-101/transactions/ptb/building-programmable-transaction-blocks-ts-sdk.mdx
  docs/content/developer/iota-101/transactions/sign-and-send-transactions.mdx
  docs/content/developer/iota-101/transactions/sponsored-transactions/about-sponsored-transactions.mdx
  docs/content/developer/iota-101/transactions/sponsored-transactions/use-sponsored-transactions.mdx
  docs/content/developer/standards/wallet-standard.mdx
  docs/content/references/cli/client.mdx
  docs/content/references/cli/console.mdx
  docs/content/references/exchange-integration-guide.mdx
  docs/content/ts-sdk/typescript/graphql.mdx
  docs/site/src/components/CTF/mint-leap-frog-nft.tsx
  docs/site/static/json/developer/getting-started/client-tssdk.json
  sdk/build-scripts/src/utils/buildPackage.ts
Labels: documentation, sc-platform, dev-tools, ts-sdk

#5255 feat(iota-indexer)!: enable analytical indexer in iota start
  crates/iota-cluster-test/src/cluster.rs
  crates/iota-graphql-rpc/src/test_infra/cluster.rs
  crates/iota-indexer/src/test_utils.rs
  crates/iota-indexer/tests/common/mod.rs
  crates/iota/src/iota_commands.rs
Labels: sc-platform, dev-tools

#5298 feat(tooling): add default coinType fallback in `useFormatCoin` to `IOTA_TYPE_ARG`
  apps/core/src/components/coin/CoinItem.tsx
  apps/core/src/components/coin/CoinSelector.tsx
  apps/core/src/components/gas/GasSummary.tsx
  apps/core/src/components/inputs/SendTokenFormInput.tsx
  apps/core/src/components/stake/StakedCard.tsx
  apps/core/src/components/transaction/amount/TransactionAmount.tsx
  apps/core/src/components/transaction/info/UnstakeTransactionInfo.tsx
  apps/core/src/hooks/useFormatCoin.ts
  apps/core/src/hooks/useGetStakingValidatorDetails.ts
  apps/core/src/hooks/useStakeRewardStatus.ts
  apps/core/src/hooks/useTransactionData.ts
  apps/explorer/src/components/gas-breakdown/GasBreakdown.tsx
  apps/explorer/src/components/owned-coins/CoinItem.tsx
  apps/explorer/src/components/owned-coins/OwnedCoinView.tsx
  apps/explorer/src/components/top-validators-card/StakeColumn.tsx
  apps/explorer/src/components/validator/ValidatorStats.tsx
  apps/explorer/src/pages/address-result/TotalStaked.tsx
  apps/explorer/src/pages/checkpoints/CheckpointDetail.tsx
  apps/explorer/src/pages/epochs/stats/TokenStats.tsx
  apps/explorer/src/pages/object-result/views/ObjectView.tsx
  apps/explorer/src/pages/transaction-result/transaction-summary/BalanceChanges.tsx
  apps/explorer/src/pages/transaction-result/transaction-summary/ObjectChanges.tsx
  apps/explorer/src/pages/validators/Validators.tsx
  apps/wallet-dashboard/app/(protected)/migration/page.tsx
  apps/wallet-dashboard/app/(protected)/staking/page.tsx
  apps/wallet-dashboard/app/(protected)/vesting/page.tsx
  apps/wallet-dashboard/components/StakeRewardsPanel.tsx
  apps/wallet-dashboard/components/SupplyIncreaseVestingOverview.tsx
  apps/wallet-dashboard/components/account-balance/AccountBalance.tsx
  apps/wallet-dashboard/components/dialogs/migration/views/ConfirmMigrationView.tsx
  apps/wallet-dashboard/components/dialogs/send-token/SendTokenDialog.tsx
  apps/wallet-dashboard/components/dialogs/send-token/views/EnterValuesFormView.tsx
  apps/wallet-dashboard/components/dialogs/send-token/views/ReviewValuesFormView.tsx
  apps/wallet-dashboard/components/dialogs/staking/views/DetailsView.tsx
  apps/wallet-dashboard/components/dialogs/staking/views/EnterAmountDialogLayout.tsx
  apps/wallet-dashboard/components/dialogs/staking/views/EnterAmountView.tsx
  apps/wallet-dashboard/components/dialogs/staking/views/EnterTimelockedAmountView.tsx
  apps/wallet-dashboard/components/dialogs/unstake/views/UnstakeTimelockedObjectsView.tsx
  apps/wallet-dashboard/components/dialogs/unstake/views/UnstakeView.tsx
  apps/wallet-dashboard/components/dialogs/vesting/VestingScheduleBox.tsx
  apps/wallet-dashboard/components/migration/migration-object-details-card/MigrationObjectDetailsCard.tsx
  apps/wallet-dashboard/components/staked-timelock-object/StakedTimelockObject.tsx
  apps/wallet-dashboard/components/staking-overview/StakingData.tsx
  apps/wallet-dashboard/components/transactions/TransactionAmount.tsx
  apps/wallet-dashboard/components/transactions/TransactionTile.tsx
  apps/wallet/src/ui/app/components/accounts/AccountBalanceItem.tsx
  apps/wallet/src/ui/app/components/ledger/LedgerAccountList.tsx
  apps/wallet/src/ui/app/components/receipt-card/TxnAmount.tsx
  apps/wallet/src/ui/app/components/transactions-card/index.tsx
  apps/wallet/src/ui/app/hooks/useTransactionData.ts
  apps/wallet/src/ui/app/pages/home/tokens/TokenStakingOverview.tsx
  apps/wallet/src/ui/app/pages/home/tokens/coin-balance/index.tsx
  apps/wallet/src/ui/app/pages/home/transfer-coin/PreviewTransfer.tsx
  apps/wallet/src/ui/app/pages/home/transfer-coin/SendTokenForm.tsx
  apps/wallet/src/ui/app/shared/faucet/FaucetMessageInfo.tsx
  apps/wallet/src/ui/app/staking/delegation-detail/DelegationDetailCard.tsx
  apps/wallet/src/ui/app/staking/stake/StakeForm.tsx
  apps/wallet/src/ui/app/staking/stake/UnstakeForm.tsx
  apps/wallet/src/ui/app/staking/validators/ValidatorsCard.tsx
Labels: tooling, wallet, explorer, wallet-dashboard

#5262 feat(explorer): Improved special rendering for `vector<u8>` inputs
  apps/explorer/src/pages/transaction-result/programmable-transaction-view/InputsCard.tsx
Labels: tooling, explorer

#5374 feat(iota-keys): improve error message if a path doesn't exist
  crates/iota-keys/src/keystore.rs
Labels: sc-platform, dev-tools

#5372 fix: test_quorum_driver_handling_overload_and_retry
  crates/iota-core/src/quorum_driver/tests.rs
Labels: node, core-protocol

#5270 feat(protocol): PCR-2 base changes
  Cargo.lock
  Cargo.toml
  crates/iota-core/src/authority.rs
  crates/iota-core/src/authority/authority_per_epoch_store.rs
  crates/iota-core/src/checkpoints/checkpoint_executor/tests.rs
  crates/iota-core/src/checkpoints/mod.rs
  crates/iota-core/src/rest_index.rs
  crates/iota-core/src/unit_tests/authority_tests.rs
  crates/iota-core/src/unit_tests/gas_tests.rs
  crates/iota-core/src/unit_tests/pay_iota_tests.rs
  crates/iota-core/tests/staged/iota.yaml
  crates/iota-e2e-tests/tests/apy_test.rs
  crates/iota-e2e-tests/tests/framework_upgrades/mock_iota_systems/base/sources/iota_system.move
  crates/iota-e2e-tests/tests/framework_upgrades/mock_iota_systems/base/sources/iota_system_state_inner.move
  crates/iota-e2e-tests/tests/framework_upgrades/mock_iota_systems/deep_upgrade/sources/iota_system.move
  crates/iota-e2e-tests/tests/framework_upgrades/mock_iota_systems/deep_upgrade/sources/iota_system_state_inner.move
  crates/iota-e2e-tests/tests/framework_upgrades/mock_iota_systems/safe_mode/sources/iota_system.move
  crates/iota-e2e-tests/tests/framework_upgrades/mock_iota_systems/safe_mode/sources/iota_system_state_inner.move
  crates/iota-e2e-tests/tests/framework_upgrades/mock_iota_systems/shallow_upgrade/sources/iota_system.move
  crates/iota-e2e-tests/tests/framework_upgrades/mock_iota_systems/shallow_upgrade/sources/iota_system_state_inner.move
  crates/iota-e2e-tests/tests/protocol_version_tests.rs
  crates/iota-e2e-tests/tests/reconfiguration_tests.rs
  crates/iota-framework-snapshot/bytecode_snapshot/4/0x0000000000000000000000000000000000000000000000000000000000000001
  crates/iota-framework-snapshot/bytecode_snapshot/4/0x0000000000000000000000000000000000000000000000000000000000000002
  crates/iota-framework-snapshot/bytecode_snapshot/4/0x0000000000000000000000000000000000000000000000000000000000000003
  crates/iota-framework-snapshot/bytecode_snapshot/4/0x000000000000000000000000000000000000000000000000000000000000000b
  crates/iota-framework-snapshot/bytecode_snapshot/4/0x000000000000000000000000000000000000000000000000000000000000107a
  crates/iota-framework-snapshot/manifest.json
  crates/iota-framework/packages/bridge/tests/bridge_env.move
  crates/iota-framework/packages/bridge/tests/committee_test.move
  crates/iota-framework/packages/iota-system/sources/iota_system.move
  crates/iota-framework/packages/iota-system/sources/iota_system_state_inner.move
  crates/iota-framework/packages/iota-system/tests/delegation_tests.move
  crates/iota-framework/packages/iota-system/tests/governance_test_utils.move
  crates/iota-framework/packages/iota-system/tests/rewards_distribution_tests.move
  crates/iota-framework/packages/iota-system/tests/timelocked_delegation_tests.move
  crates/iota-framework/packages/iota-system/tests/validator_set_tests.move
  crates/iota-framework/packages_compiled/iota-system
  crates/iota-framework/published_api.txt
  crates/iota-genesis-builder/src/lib.rs
  crates/iota-protocol-config/src/lib.rs
  crates/iota-protocol-config/src/snapshots/iota_protocol_config__test__Mainnet_version_4.snap
  crates/iota-protocol-config/src/snapshots/iota_protocol_config__test__Testnet_version_4.snap
  crates/iota-protocol-config/src/snapshots/iota_protocol_config__test__version_4.snap
  crates/iota-types/src/event.rs
  crates/iota-types/src/gas.rs
  crates/iota-types/src/gas_model/gas_v1.rs
  crates/iota-types/src/iota_sdk2_conversions.rs
  crates/iota-types/src/iota_system_state/iota_system_state_inner_v1.rs
  crates/iota-types/src/iota_system_state/iota_system_state_inner_v2.rs
  crates/iota-types/src/iota_system_state/iota_system_state_summary.rs
  crates/iota-types/src/iota_system_state/mod.rs
  crates/iota-types/src/storage/read_store.rs
  crates/iota-types/src/transaction.rs
  iota-execution/latest/iota-adapter/src/execution_engine.rs
Labels: research, core-protocol

#5286 feat(protocol): PCR-2 transaction-fuzzer
  crates/transaction-fuzzer/src/account_universe/transfer_gen.rs
  crates/transaction-fuzzer/src/type_arg_fuzzer.rs
Labels: research, core-protocol

#4838 feat(wallet-dashboard): add validation schemas for timelocked objects
  apps/core/src/utils/migration/createMigrationTransaction.ts
  apps/core/src/utils/stake/index.ts
  apps/core/src/utils/stake/types.ts
  apps/wallet-dashboard/jest.config.ts
  apps/wallet-dashboard/lib/utils/timelock.ts
  apps/wallet-dashboard/tsconfig.json
Labels: tooling, wallet-dashboard

#5379 feat(iota-keys): display error instead of debug
  crates/iota-keys/src/keystore.rs
Labels: sc-platform, dev-tools

#5373 chore(CI): Add rust examples to nightly run
  .github/workflows/_rust_examples.yml
  .github/workflows/_rust_lints.yml
  .github/workflows/nightly.yml
Labels: sc-platform, dev-tools, ci

#5238 feat(tooling-apps): normalize stardust indexer baseUrl by removing trailing slash
  apps/core/src/api/StardustIndexerClient.ts
Labels: tooling

#5299 feat: add `iota-rest-kv` docker configuration
  dev-tools/iota-rest-kv/README.md
  dev-tools/iota-rest-kv/config/config.yaml
  dev-tools/iota-rest-kv/docker-compose.yaml
  docker/iota-rest-kv/Dockerfile
  docker/iota-rest-kv/build.sh
Labels: sc-platform, infrastructure

#5388 feat(docs/random): update docs realted to randomness
  crates/iota-framework/packages/iota-framework/sources/random.move
  docs/content/developer/advanced/onchain-randomness.mdx
Labels: documentation, sc-platform, vm-language

#4871 feat(types): Enable failable conversions to/from sdk and core types
  crates/iota-rest-api/src/accounts.rs
  crates/iota-rest-api/src/checkpoints.rs
  crates/iota-rest-api/src/client/mod.rs
  crates/iota-rest-api/src/client/sdk.rs
  crates/iota-rest-api/src/coins.rs
  crates/iota-rest-api/src/error.rs
  crates/iota-rest-api/src/objects.rs
  crates/iota-rest-api/src/reader.rs
  crates/iota-rest-api/src/transactions/execution.rs
  crates/iota-types/src/iota_sdk2_conversions.rs
Labels: node, core-protocol

#5345 scripts: add test for "Move examples reverse dependencies" to CI script
  .github/CODEOWNERS
  .github/actions/diffs/action.yml
  .github/workflows/_external_rust_tests.yml
  .github/workflows/_move_examples_rdeps_tests.yml
  .github/workflows/_move_tests.yml
  .github/workflows/_rosetta.yml
  .github/workflows/_rust_tests.yml
  .github/workflows/build_nightly.yml
  .github/workflows/hierarchy.yml
  .github/workflows/release.yml
  crates/iota-core/src/unit_tests/authority_aggregator_tests.rs
  crates/iota-core/src/unit_tests/execution_driver_tests.rs
  crates/iota-json-rpc-tests/tests/read_api.rs
  crates/iota-json-rpc-tests/tests/transaction_builder_api.rs
  crates/iota-json/src/tests.rs
  crates/iota-rosetta/src/unit_tests/balance_changing_tx_tests.rs
  scripts/ci_tests/rust_tests.sh
  scripts/simtest/simtest-cov.sh
  scripts/simtest/simtest-run.sh
Labels: node, core-protocol, ci

#5193 feat(iota-framework/move-stdlib): Deprecated `fixed_point32`
  crates/iota-framework-snapshot/bytecode_snapshot/4/0x0000000000000000000000000000000000000000000000000000000000000001
  crates/iota-framework-snapshot/bytecode_snapshot/4/0x0000000000000000000000000000000000000000000000000000000000000002
  crates/iota-framework-snapshot/bytecode_snapshot/4/0x0000000000000000000000000000000000000000000000000000000000000003
  crates/iota-framework-snapshot/bytecode_snapshot/4/0x000000000000000000000000000000000000000000000000000000000000000b
  crates/iota-framework-snapshot/bytecode_snapshot/4/0x000000000000000000000000000000000000000000000000000000000000107a
  crates/iota-framework-snapshot/manifest.json
  crates/iota-framework/packages/move-stdlib/sources/fixed_point32.move
  crates/iota-framework/packages/move-stdlib/sources/u32.move
  crates/iota-framework/packages/move-stdlib/sources/u64.move
  crates/iota-framework/packages/move-stdlib/sources/uq32_32.move
  crates/iota-framework/packages/move-stdlib/tests/fixedpoint32_tests.move
  crates/iota-framework/packages/move-stdlib/tests/uq32_32_tests.move
  crates/iota-framework/packages/stardust/sources/nft/irc27.move
  crates/iota-framework/packages/stardust/tests/nft_tests.move
  crates/iota-framework/packages_compiled/move-stdlib
  crates/iota-framework/published_api.txt
  crates/iota-swarm-config/tests/snapshots/snapshot_tests__populated_genesis_snapshot_matches-2.snap
Labels: sc-platform, vm-language

#5371 fix(devx): Fix CTF Challenge 0
  docs/site/src/components/CTF/ctf-verifier.tsx
  docs/site/src/components/CTF/mint-leap-frog-nft.tsx
  docs/site/src/components/CTF/pop-in.tsx
  docs/site/src/utils/ctf-utils.ts
Labels: devx

#5219 feat(devx): Add Toggle for Feedback and Quiz Components
  docs/site/src/components/FeedbackForm/index.tsx
  docs/site/src/components/FeedbackForm/styles.css
  docs/site/src/components/Quiz/index.tsx
Labels: documentation, dx-documentation, devx

#5347 fix(iota-genesis-builder): Make load from file deterministic for the UnsignedGenesis
  crates/iota-config/src/genesis.rs
Labels: sc-platform, vm-language

#5318 fix: remove words duplications
  apps/explorer/README.md
  apps/explorer/src/pages/validators/Validators.tsx
  crates/iota-core/src/execution_cache/writeback_cache.rs
  crates/iota-framework/packages/iota-framework/sources/coin.move
  crates/iota-graphql-rpc/schema.graphql
  crates/iota-graphql-rpc/src/config.rs
  crates/iota-graphql-rpc/tests/snapshots/snapshot_tests__schema_sdl_export.snap
  crates/iota-move-build/src/lib.rs
  crates/iota-network/src/discovery/mod.rs
  crates/iota/src/keytool.rs
  docs/content/references/cli/keytool.mdx
  docs/content/ts-sdk/api/cryptography/classes/PublicKey.md
  docs/content/ts-sdk/api/keypairs/ed25519/classes/Ed25519PublicKey.md
  docs/content/ts-sdk/api/keypairs/secp256k1/classes/Secp256k1PublicKey.md
  docs/content/ts-sdk/api/multisig/classes/MultiSigPublicKey.md
  docs/content/ts-sdk/dapp-kit/rpc-hooks.mdx
  docs/content/ts-sdk/dapp-kit/wallet-hooks/useSignPersonalMessage.mdx
  docs/content/ts-sdk/dapp-kit/wallet-hooks/useSignTransaction.mdx
  docs/examples/move/ctf/README.md
  docs/examples/rust/stardust/basic-output-claim.rs
  docs/examples/rust/stardust/nft-output-claim.rs
  docs/examples/typescript/src/stardust/basic-output-claim.ts
  docs/examples/typescript/src/stardust/nft-output-claim.ts
  scripts/codesearch/search_versions.py
  sdk/graphql-transport/src/generated/queries.ts
  sdk/typescript/src/cryptography/publickey.ts
  sdk/typescript/src/graphql/generated/2024.11/schema.graphql
  sdk/typescript/src/keypairs/ed25519/publickey.ts
  sdk/typescript/src/keypairs/secp256k1/publickey.ts
  sdk/typescript/src/keypairs/secp256r1/publickey.ts
  sdk/typescript/src/multisig/publickey.ts
Labels: documentation, sc-platform, dev-tools, ts-sdk, explorer

#5303 Refactor `KvStoreWorker` in `iota-data-ingestion` to reflect latest changes in `iota-storage`
  crates/iota-data-ingestion/src/main.rs
  crates/iota-data-ingestion/src/workers/kv_store.rs
Labels: sc-platform, infrastructure

#5406 Use an enum for item type
  Cargo.lock
  crates/iota-rest-kv/src/extractors.rs
  crates/iota-rest-kv/src/kv_store_client.rs
  crates/iota-rest-kv/src/types.rs
  crates/iota-storage/Cargo.toml
  crates/iota-storage/src/http_key_value_store.rs
Labels: sc-platform, dev-tools

#5385 fix(explorer): port hardcoded for localnet
  apps/explorer/src/hooks/useEnhancedRpc.ts
Labels: tooling, explorer

#5380 fix(explorer): update view NFT button
  apps/explorer/src/pages/object-result/views/ObjectView.tsx
Labels: tooling, explorer

#5336 refactor(iota-data-ingestion-core): wrap `CheckpointData` in `Arc` to reduce memory footprint
  crates/iota-data-ingestion-core/src/executor.rs
  crates/iota-data-ingestion-core/src/reader.rs
  crates/iota-data-ingestion-core/src/worker_pool.rs
Labels: sc-platform, infrastructure

#5266 refactor(indexer, graphql-rpc): Remove df_object_id and related fields
  crates/iota-graphql-rpc/src/types/dynamic_field.rs
  crates/iota-indexer/migrations/pg/2025-02-07-081500_drop_df_columns/down.sql
  crates/iota-indexer/migrations/pg/2025-02-07-081500_drop_df_columns/up.sql
  crates/iota-indexer/src/models/objects.rs
  crates/iota-indexer/src/schema.rs
  crates/iota-indexer/src/store/indexer_store.rs
  crates/iota-indexer/src/store/pg_indexer_store.rs
  crates/iota-types/src/dynamic_field.rs
Labels: sc-platform, infrastructure

#5328 fix(general): update custom eslint rule to accept current year
  .eslintrc.js
  linting/license-check/rules/license-check.rule.js
Labels: tooling

#5398 fix(devx): Correct Data Wipe Admonition
  docs/content/_snippets/data-wipe.mdx
Labels: documentation, dx-documentation, devx

#5329 refactor: change `Worker` api to take `&CheckpointData`
  crates/iota-analytics-indexer/src/analytics_processor.rs
  crates/iota-analytics-indexer/src/handlers/checkpoint_handler.rs
  crates/iota-analytics-indexer/src/handlers/df_handler.rs
  crates/iota-analytics-indexer/src/handlers/event_handler.rs
  crates/iota-analytics-indexer/src/handlers/move_call_handler.rs
  crates/iota-analytics-indexer/src/handlers/object_handler.rs
  crates/iota-analytics-indexer/src/handlers/package_handler.rs
  crates/iota-analytics-indexer/src/handlers/transaction_handler.rs
  crates/iota-analytics-indexer/src/handlers/transaction_objects_handler.rs
  crates/iota-analytics-indexer/src/handlers/wrapped_object_handler.rs
  crates/iota-analytics-indexer/src/lib.rs
  crates/iota-data-ingestion-core/src/executor.rs
  crates/iota-data-ingestion-core/src/lib.rs
  crates/iota-data-ingestion-core/src/reader.rs
  crates/iota-data-ingestion-core/src/tests.rs
  crates/iota-data-ingestion-core/src/worker_pool.rs
  crates/iota-data-ingestion/src/workers/archival.rs
  crates/iota-data-ingestion/src/workers/blob.rs
  crates/iota-data-ingestion/src/workers/kv_store.rs
  crates/iota-indexer-builder/src/iota_datasource.rs
  crates/iota-indexer/src/handlers/checkpoint_handler.rs
  crates/iota-indexer/src/handlers/objects_snapshot_processor.rs
  examples/custom-indexer/rust/local_reader.rs
  examples/custom-indexer/rust/remote_reader.rs
Labels: sc-platform, infrastructure

#5290 feat(wallet, dashboard): add validator commission
  apps/core/src/hooks/useGetStakingValidatorDetails.ts
  apps/core/src/utils/stake/getValidatorCommission.ts
  apps/core/src/utils/stake/index.ts
  apps/explorer/src/components/validator/ValidatorStats.tsx
  apps/wallet-dashboard/components/dialogs/staking/views/StakedInfo.tsx
  apps/wallet/src/ui/app/staking/delegation-detail/DelegationDetailCard.tsx
  apps/wallet/src/ui/app/staking/stake/ValidatorFormDetail.tsx
Labels: tooling, wallet, explorer, wallet-dashboard

#4651 feat(docs): add sponsored-txs tutorial Part I
  docs/content/developer/iota-101/transactions/sponsored-transactions/use-sponsored-transactions.mdx
  docs/content/developer/tutorials/sponsored-transactions/gas-station-server.mdx
  docs/content/developer/tutorials/sponsored-transactions/media-platform-package.mdx
  docs/content/developer/tutorials/sponsored-transactions/sponsored-txs.mdx
  docs/content/developer/tutorials/sponsored-transactions/transaction-builder.mdx
  docs/content/sidebars/developer.js
  docs/site/static/img/developer/tutorials/sponsored-txs/sponsored-tx-arch.png
Labels: documentation, devx

#5367 fix(iota-json-rpc-types): fix `Display` impl for `IotaTransactionBlockResponse` with empty balance changes
  crates/iota-json-rpc-tests/tests/read_api.rs
  crates/iota-json-rpc-types/src/iota_transaction.rs
Labels: infrastructure, research, core-protocol

#5353 refactor(iota-genesis-builder): Remove template files for native tokens package builder
  Cargo.lock
  crates/iota-core/Cargo.toml
  crates/iota-e2e-tests/Cargo.toml
  crates/iota-genesis-builder/Cargo.toml
  crates/iota-genesis-builder/src/stardust/native_token/package_builder.rs
  crates/iota-genesis-builder/src/stardust/native_token/package_template/Move.toml
  crates/iota-genesis-builder/src/stardust/native_token/package_template/sources/native_token_template.move
  crates/iota-single-node-benchmark/Cargo.toml
Labels: sc-platform, vm-language

#5391 fix(node): Wait for checkpoint service to stop during reconfig
  crates/iota-core/src/checkpoints/mod.rs
  crates/iota-core/src/unit_tests/mysticeti_manager_tests.rs
  crates/iota-node/src/lib.rs
Labels: node, core-protocol

#5400 feat(node): expose underlying byte slice
  crates/iota-core/src/authority.rs
  crates/iota-core/src/rest_index.rs
  crates/iota-types/src/dynamic_field.rs
  crates/iota-types/src/dynamic_field/visitor.rs
  crates/iota-types/src/object/bounded_visitor.rs
Labels: node, core-protocol

#5395 feat(consensus): count missing ancestors and blocks per authority
  consensus/core/src/block_manager.rs
  consensus/core/src/metrics.rs
Labels: consensus, core-protocol

#5399 feat(consensus): small enhancement to the invalid blocks metric
  consensus/core/src/authority_service.rs
  consensus/core/src/block_manager.rs
  consensus/core/src/error.rs
  consensus/core/src/metrics.rs
  consensus/core/src/synchronizer.rs
Labels: consensus, core-protocol

#5375 feat(consensus): add missing blocks per authority metric
  consensus/core/src/metrics.rs
  consensus/core/src/synchronizer.rs
Labels: consensus, core-protocol

#5404 feat(consensus): add metric for interval between proposals
  consensus/core/src/core.rs
  consensus/core/src/metrics.rs
  consensus/core/src/threshold_clock.rs
Labels: consensus, core-protocol

#5409 Consensus/feat/improve logging when receiving blocks
  consensus/config/src/committee.rs
  consensus/core/src/authority_node.rs
  consensus/core/src/authority_service.rs
  consensus/core/src/block_manager.rs
  consensus/core/src/core.rs
  consensus/core/src/dag_state.rs
  consensus/core/src/subscriber.rs
  consensus/core/src/synchronizer.rs
  crates/iota-core/src/consensus_manager/mysticeti_manager.rs
Labels: consensus, core-protocol

#5437 Rename subscriber connection count metrics to be more intuitive.
  consensus/core/src/authority_service.rs
  consensus/core/src/metrics.rs
  consensus/core/src/subscriber.rs
Labels: consensus, core-protocol

#5317 refactor(tooling-core): Remove duplicated `useTransactionData`
  apps/core/src/hooks/index.ts
  apps/core/src/hooks/useTransactionData.ts
Labels: tooling, wallet

#5369 feat(wallet, dashboard): add gas estimation when sending an asset
  apps/core/src/hooks/index.ts
  apps/core/src/hooks/useAssetGasBudgetEstimation.ts
  apps/core/src/hooks/useTransferKioskItem.tsx
  apps/wallet-dashboard/components/dialogs/assets/AssetDialog.tsx
  apps/wallet-dashboard/components/dialogs/assets/views/SendView.tsx
  apps/wallet-dashboard/components/dialogs/send-token/views/ReviewValuesFormView.tsx
  apps/wallet/src/ui/app/pages/home/nft-transfer/TransferNFTForm.tsx
Labels: tooling, wallet, wallet-dashboard

#5448 refactor(protocol): pcr2 more base changes
  crates/iota-core/src/authority.rs
  crates/iota-core/src/authority/authority_store.rs
  crates/iota-types/src/iota_system_state/iota_system_state_summary.rs
Labels: sc-platform, infrastructure

#5449 refactor(json-rpc): support new system state summary
  crates/iota-json-rpc-api/src/governance.rs
  crates/iota-json-rpc/src/coin_api.rs
  crates/iota-json-rpc/src/governance_api.rs
  crates/iota-open-rpc/spec/openrpc.json
Labels: sc-platform, infrastructure

#5438 fix(node): Abort checkpoint service tasks on epoch change
  crates/iota-core/src/checkpoints/mod.rs
  crates/iota-core/src/unit_tests/mysticeti_manager_tests.rs
  crates/iota-node/src/lib.rs
Labels: node, core-protocol

#5436 fix(wallet-dashboard): unable to unstaking multiple stakes in a row
  apps/wallet-dashboard/components/dialogs/unstake/hooks/useUnstakeDialog.ts
Labels: tooling, wallet-dashboard

#5277 feat(protocol): PCR-2 iota-json-rpc* and iota-open-rpc
  crates/iota-core/src/authority.rs
  crates/iota-core/src/authority/authority_store.rs
  crates/iota-json-rpc-api/src/governance.rs
  crates/iota-json-rpc-types/src/iota_transaction.rs
  crates/iota-json-rpc/src/coin_api.rs
  crates/iota-json-rpc/src/governance_api.rs
  crates/iota-open-rpc/spec/openrpc.json
  crates/iota-types/src/iota_system_state/iota_system_state_summary.rs
Labels: research, core-protocol

#5383 fix(explorer): network query parameter isnt added for NFT links
  apps/explorer/src/pages/transaction-result/transaction-summary/ObjectDisplay.tsx
  apps/ui-kit/src/lib/components/molecules/card/CardAction.tsx
Labels: tooling, apps-ui-kit, explorer

#5407 fix(examples): Update first package example dependency rev to `framework/testnet`
  docs/content/developer/getting-started/create-a-package.mdx
  docs/content/references/cli/move.mdx
  docs/examples/move/ctf/challenge_0/Move.toml
  examples/move/first_package/Move.toml
Labels: documentation, sc-platform, vm-language

#5455 refactor(rest-api): use v2 of system state summary
  crates/iota-rest-api/openapi/openapi.json
  crates/iota-rest-api/src/reader.rs
  crates/iota-rest-api/src/system.rs
Labels: sc-platform, infrastructure

#5276 feat(protocol): PCR-2 iota-rest-api
  crates/iota-rest-api/openapi/openapi.json
  crates/iota-rest-api/src/reader.rs
  crates/iota-rest-api/src/system.rs
Labels: research, core-protocol

#5461 feat(protocol): PCR-2 iota-proxy
  crates/iota-proxy/src/peers.rs
  crates/iota-types/src/iota_system_state/iota_system_state_summary.rs
Labels: node, core-protocol

#5453 fix(iota-genesis-builder): add additional checks to verify_basic_output()
  crates/iota-genesis-builder/src/stardust/migration/verification/basic.rs
Labels: sc-platform, vm-language

#5444 fix(iota-genesis-builder): add treasury filtration in order to avoid failing of migration process
  crates/iota-genesis-builder/src/stardust/migration/verification/mod.rs
Labels: sc-platform, vm-language

#5424 feat(wallet): update wallet staking e2e test after allowing unstaking at any time
  apps/wallet/tests/staking.spec.ts
Labels: tooling, wallet

#5402 fix(explorer): wait for elements to load in e2e tests
  apps/explorer/src/pages/transaction-result/TransactionView.tsx
  apps/explorer/tests/address.spec.ts
  apps/explorer/tests/objects.spec.ts
  apps/explorer/tests/transaction.spec.ts
Labels: tooling, explorer

#5387 feat(wallet-dashboard): fix spaces in send form
  apps/wallet-dashboard/components/dialogs/send-token/views/EnterValuesFormView.tsx
Labels: tooling, wallet-dashboard

#5435 feat(wallet & wallet dashboard): avoid rounding balance changes in tx details
  apps/core/src/components/cards/BalanceChanges.tsx
  apps/core/src/components/coin/CoinItem.tsx
Labels: tooling

#5397 feat(wallet-dashboard): improve error message when ledger is not connected
  apps/wallet-dashboard/components/dialogs/send-token/SendTokenDialog.tsx
Labels: tooling, wallet-dashboard

#5467 feat(protocol): PCR-2 iota-sdk
  crates/iota-sdk/examples/governance_api.rs
  crates/iota-sdk/examples/transaction_builder/stake.rs
  crates/iota-sdk/examples/transaction_builder/timelocked_stake.rs
  crates/iota-sdk/src/apis/governance.rs
  crates/iota-types/src/iota_system_state/iota_system_state_summary.rs
Labels: sc-platform, dev-tools

#5477 refactor(indexer): use new system state summary
  crates/iota-indexer/migrations/pg/2023-08-19-044044_checkpoints/up.sql
  crates/iota-indexer/migrations/pg/2025-02-18-124652_checkpoints-add-computation-cost-burned/down.sql
  crates/iota-indexer/migrations/pg/2025-02-18-124652_checkpoints-add-computation-cost-burned/up.sql
  crates/iota-indexer/src/apis/coin_api.rs
  crates/iota-indexer/src/apis/governance_api.rs
  crates/iota-indexer/src/handlers/checkpoint_handler.rs
  crates/iota-indexer/src/models/checkpoints.rs
  crates/iota-indexer/src/models/epoch.rs
  crates/iota-indexer/src/schema.rs
  crates/iota-indexer/src/types.rs
Labels: sc-platform, infrastructure

#5278 feat(protocol): PCR-2 iota-indexer
  crates/iota-indexer/migrations/pg/2025-02-18-124652_checkpoints-add-computation-cost-burned/down.sql
  crates/iota-indexer/migrations/pg/2025-02-18-124652_checkpoints-add-computation-cost-burned/up.sql
  crates/iota-indexer/src/apis/coin_api.rs
  crates/iota-indexer/src/apis/governance_api.rs
  crates/iota-indexer/src/handlers/checkpoint_handler.rs
  crates/iota-indexer/src/models/checkpoints.rs
  crates/iota-indexer/src/models/epoch.rs
  crates/iota-indexer/src/schema.rs
  crates/iota-indexer/src/types.rs
Labels: research, core-protocol

#5478 feat(protocol): PCR-2 iota-bridge-cli/iota-tool
  crates/iota-bridge-cli/src/main.rs
  crates/iota-tool/src/lib.rs
Labels: sc-platform, dev-tools

#5381 feat(wallet): keep only objects that match the supply increase label
  apps/core/src/constants/index.ts
  apps/core/src/constants/vesting.constants.ts
  apps/wallet-dashboard/lib/constants/vesting.constants.ts
  apps/wallet-dashboard/lib/utils/vesting/vesting.ts
  apps/wallet/src/ui/app/components/accounts/AccountBalanceItem.tsx
Labels: tooling, wallet, wallet-dashboard

#5463 feat: CLI upgrade compatibility checks
  crates/iota-core/src/quorum_driver/tests.rs
  crates/iota-types/src/base_types.rs
  crates/iota-types/src/digests.rs
  crates/iota-types/src/dynamic_field/visitor.rs
  crates/iota/src/unit_tests/fixtures/upgrade_errors/all_v1/Move.toml
  crates/iota/src/unit_tests/fixtures/upgrade_errors/all_v1/sources/UpgradeErrors.move
  crates/iota/src/unit_tests/fixtures/upgrade_errors/all_v2/Move.toml
  crates/iota/src/unit_tests/fixtures/upgrade_errors/all_v2/sources/UpgradeErrors.move
  crates/iota/src/unit_tests/fixtures/upgrade_errors/entry_linking_v1/Move.toml
  crates/iota/src/unit_tests/fixtures/upgrade_errors/entry_linking_v1/sources/UpgradeErrors.move
  crates/iota/src/unit_tests/fixtures/upgrade_errors/entry_linking_v2/Move.toml
  crates/iota/src/unit_tests/fixtures/upgrade_errors/entry_linking_v2/sources/UpgradeErrors.move
  crates/iota/src/unit_tests/fixtures/upgrade_errors/friend_linking_v1/Move.toml
  crates/iota/src/unit_tests/fixtures/upgrade_errors/friend_linking_v1/sources/UpgradeErrors.move
  crates/iota/src/unit_tests/fixtures/upgrade_errors/friend_linking_v2/Move.toml
  crates/iota/src/unit_tests/fixtures/upgrade_errors/friend_linking_v2/sources/UpgradeErrors.move
  crates/iota/src/unit_tests/fixtures/upgrade_errors/struct_missing_v1/Move.toml
  crates/iota/src/unit_tests/fixtures/upgrade_errors/struct_missing_v1/sources/UpgradeErrors.move
  crates/iota/src/unit_tests/fixtures/upgrade_errors/struct_missing_v2/Move.toml
  crates/iota/src/unit_tests/fixtures/upgrade_errors/struct_missing_v2/sources/UpgradeErrors.move
  crates/iota/src/unit_tests/snapshots/iota__upgrade_compatibility__upgrade_compatibility_tests__all_fail.snap
  crates/iota/src/unit_tests/snapshots/iota__upgrade_compatibility__upgrade_compatibility_tests__struct_missing.snap
  crates/iota/src/unit_tests/upgrade_compatibility_tests.rs
  crates/iota/src/upgrade_compatibility.rs
Labels: sc-platform, dev-tools

#5359 feat(tooling): polish wallet and dashboard UI
  apps/wallet-dashboard/app/(protected)/activity/page.tsx
  apps/wallet-dashboard/app/(protected)/migration/page.tsx
  apps/wallet-dashboard/app/(protected)/staking/page.tsx
  apps/wallet-dashboard/app/(protected)/vesting/page.tsx
  apps/wallet-dashboard/components/account-balance/AccountBalance.tsx
  apps/wallet-dashboard/components/coins/MyCoins.tsx
  apps/wallet-dashboard/components/migration/MigrationObjectsPanel.tsx
  apps/wallet/src/ui/app/shared/header/Header.tsx
  apps/wallet/src/ui/app/shared/page-main-layout/PageMainLayout.tsx
Labels: tooling, wallet, wallet-dashboard

#5446 fix(move-stdlib): print string instead of bytes
  crates/iota-framework/packages/move-stdlib/sources/unit_test.move
Labels: sc-platform, vm-language

#5466 feat(iota)!: add public_base64_key_with_flag to keytool show
  crates/iota/src/keytool.rs
  crates/iota/src/unit_tests/keytool_tests.rs
  docs/content/developer/advanced/create-review-rating-dao-with-multisig.mdx
  docs/content/developer/cryptography/transaction-auth/multisig.mdx
Labels: documentation, sc-platform, dev-tools

#5226 chore(cli)!: remove useless clap rename
  crates/iota-bridge-cli/src/lib.rs
  crates/iota-move/src/disassemble.rs
  crates/iota-move/src/lib.rs
  crates/iota-move/src/main.rs
  crates/iota-move/src/manage_package.rs
  crates/iota-tool/src/commands.rs
  crates/iota-tool/src/db_tool/mod.rs
  crates/iota-transactional-test-runner/src/args.rs
  crates/iota/src/fire_drill.rs
  crates/iota/src/iota_commands.rs
Labels: sc-platform, dev-tools

#5465 fix(iota-genesis-builder): use getter for protocol parameters to get outputs
  crates/iota-genesis-builder/src/stardust/parse.rs
Labels: sc-platform, vm-language

#5282 feat(protocol): PCR-2 iota-analytics-indexer
  crates/iota-analytics-indexer/src/handlers/checkpoint_handler.rs
  crates/iota-analytics-indexer/src/handlers/transaction_handler.rs
  crates/iota-analytics-indexer/src/store/bq/schemas/checkpoint.sql
  crates/iota-analytics-indexer/src/store/bq/schemas/transaction.sql
  crates/iota-analytics-indexer/src/store/snowflake/schemas/checkpoint.sql
  crates/iota-analytics-indexer/src/store/snowflake/schemas/transaction.sql
  crates/iota-analytics-indexer/src/tables.rs
Labels: infrastructure, research, core-protocol

#5294 Correct MIST/NANO usage
  docs/content/references/cli/client.mdx
Labels: documentation, devx

#5280 feat(protocol): PCR-2 iota-graphql-rpc
  crates/iota-graphql-rpc/schema.graphql
  crates/iota-graphql-rpc/src/context_data/db_data_provider.rs
  crates/iota-graphql-rpc/src/types/checkpoint.rs
  crates/iota-graphql-rpc/src/types/coin_metadata.rs
  crates/iota-graphql-rpc/src/types/epoch.rs
  crates/iota-graphql-rpc/src/types/gas.rs
  crates/iota-graphql-rpc/src/types/system_state_summary.rs
  crates/iota-graphql-rpc/src/types/transaction_block_kind/end_of_epoch.rs
  crates/iota-graphql-rpc/src/types/validator.rs
  crates/iota-graphql-rpc/tests/snapshots/snapshot_tests__schema_sdl_export.snap
  crates/iota-indexer/src/models/checkpoints.rs
Labels: infrastructure, research, core-protocol

#5501 refactor(transactional-test-runner): use new system-state summary type
  crates/iota-transactional-test-runner/src/lib.rs
Labels: sc-platform, infrastructure
